Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Remove internal detail to avoid confusions
  .changeset/mighty-squids-count.md
  package-lock.json
Due: format, validate-changesets

process readiness (#273)
  .changeset/mighty-squids-count.md
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

refactor e2e
  packages/sandbox/package.json
  tests/e2e/_smoke.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/global-setup.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/websocket-connect.test.ts
  tests/e2e/websocket-workflow.test.ts
  vitest.e2e.config.ts
  vitest.e2e.isolated.config.ts
  vitest.e2e.shared.config.ts
Due: format

use deterministic ports and remove skips
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/websocket-workflow.test.ts
Due: format

update workflow
  .github/workflows/pullrequest.yml
Due: format

skip exposed ports test and claude amends
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/global-setup.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/websocket-workflow.test.ts
Due: format

use generate-config
  packages/sandbox/package.json
Due: format

fix new tests
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

unify
  .github/workflows/pullrequest.yml
  packages/sandbox/package.json
  tests/e2e/bucket-mounting.test.ts
  vitest.e2e.config.ts
  vitest.e2e.isolated.config.ts
  vitest.e2e.shared.config.ts
Due: format

consolidate code-interpreter test
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

fix code interpreter e2e
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/helpers/global-sandbox.ts
  vitest.e2e.config.ts
Due: format

fix merge
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

debug logs here we go
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

remove debug logs
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

lower ctx count
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

dont parallize calls maybe?
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

also prepare python container in setup step
  tests/e2e/global-setup.ts
Due: format

update process readiness e2e
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.python
Due: format

update docs
  CLAUDE.md
  CONTRIBUTING.md
  docs/E2E_TESTING.md
Due: format

add file streaming test
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
Due: format

add hidden files and base64 encoding test
  tests/e2e/file-operations-workflow.test.ts
Due: format

complete env override test and poll for process termination
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
Due: format

refactor e2e (#266)
  CLAUDE.md
  CONTRIBUTING.md
  docs/E2E_TESTING.md
  packages/sandbox/package.json
  tests/e2e/_smoke.test.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/global-setup.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.python
  tests/e2e/websocket-connect.test.ts
  tests/e2e/websocket-workflow.test.ts
  vitest.e2e.config.ts
Due: format

Add standalone binary for arbitrary Dockerfile support
  .changeset/standalone-binary-arbitrary-dockerfile.md
  .github/templates/pr-preview-comment.md
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
  packages/sandbox-container/build.ts
  packages/sandbox-container/src/index.ts
  packages/sandbox-container/src/legacy.ts
  packages/sandbox-container/src/main.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox/Dockerfile
  packages/sandbox/startup.sh
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
Due: biome-fix, format, validate-changesets

Move binary to /container-server/sandbox
  .changeset/standalone-binary-arbitrary-dockerfile.md
  .github/templates/pr-preview-comment.md
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
  packages/sandbox/Dockerfile
Due: format, validate-changesets

Add --platform flag to docker create commands
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
Due: format

add ws transport + e2e
  package-lock.json
  packages/sandbox-container/src/handlers/ws-handler.ts
  packages/sandbox-container/src/index.ts
  packages/sandbox-container/tests/handlers/ws-handler.test.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/clients/ws-transport.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/transport.test.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/index.ts
  packages/shared/src/logger/types.ts
  packages/shared/src/types.ts
  packages/shared/src/ws-types.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/websocket-transport.test.ts
Due: biome-fix, format

remove unused
  packages/sandbox/src/clients/transport.ts
Due: biome-fix, format

fix types
  packages/sandbox/src/clients/ws-transport.ts
Due: biome-fix, format

chore: remove ws-transport e2e test (will use existing e2e with WS header)
  tests/e2e/websocket-transport.test.ts
Due: format

fix: WebSocket transport for DO environment + dual transport tests
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/transport.ts
  packages/sandbox/src/clients/ws-transport.ts
  tests/e2e/comprehensive-workflow.test.ts
Due: biome-fix, format

feat: add dual transport (HTTP + WebSocket) testing to e2e tests
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
Due: format

fix: use doStreamFetch for WebSocket streaming in ProcessClient and FileClient
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/process-client.ts
Due: biome-fix, format

Update lockfile
  package-lock.json
Due: format

fix: complete WebSocket transport support for all streaming operations
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/transport.ts
  packages/sandbox/src/interpreter.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

Add bridge and client subpath exports to package.json
  packages/sandbox/package.json
Due: format

Add bridge directory structure with placeholders
  packages/sandbox/src/bridge/create-bridge.ts
  packages/sandbox/src/bridge/index.ts
  packages/sandbox/src/bridge/types.ts
Due: biome-fix, format

Add client directory structure with placeholders
  packages/sandbox/src/client/get-sandbox.ts
  packages/sandbox/src/client/index.ts
  packages/sandbox/src/client/types.ts
Due: biome-fix, format

Add bridge and client entry points to build config
  packages/sandbox/tsdown.config.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
