Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Guard pull request quality configuration
  .github/path-filters.yml
  .github/quality-config.test.ts
  .github/workflows/pr.yml
  .github/workflows/reusable-quality.yml
  .gitignore
  package-lock.json
  package.json
Due: format

Update code owners
  .github/CODEOWNERS
Due: none

Guard pull request quality configuration (#815)
  .github/path-filters.yml
  .github/quality-config.test.ts
  .github/workflows/pr.yml
  .github/workflows/reusable-quality.yml
  .gitignore
  package-lock.json
  package.json
Due: format

Build execution substrate for supervised processes
  packages/sandbox-execution/Dockerfile.test
  packages/sandbox-execution/package.json
  packages/sandbox-execution/scripts/test-in-container.sh
  packages/sandbox-execution/src/command-session.ts
  packages/sandbox-execution/src/command.ts
  packages/sandbox-execution/src/index.ts
  packages/sandbox-execution/src/io/sequenced-byte-log.ts
  packages/sandbox-execution/src/logger.ts
  packages/sandbox-execution/src/process/managed-process-supervisor.ts
  packages/sandbox-execution/src/process/managed-process.ts
  packages/sandbox-execution/src/process/process-log-store.ts
  packages/sandbox-execution/src/process/process-tree.ts
  packages/sandbox-execution/src/process/signals.ts
  packages/sandbox-execution/src/process/stream-drain.ts
  packages/sandbox-execution/src/process/types.ts
  packages/sandbox-execution/src/pty/pty-process.ts
  packages/sandbox-execution/src/pty/types.ts
  packages/sandbox-execution/src/shell-script.ts
  packages/sandbox-execution/src/stateless-command-runner.ts
  packages/sandbox-execution/src/stateless-process-runner.ts
  packages/sandbox-execution/src/terminal.ts
  packages/sandbox-execution/tests/command-session.test.ts
  packages/sandbox-execution/tests/container-init.test.ts
  packages/sandbox-execution/tests/environment.test.ts
  packages/sandbox-execution/tests/managed-process-supervisor.test.ts
  packages/sandbox-execution/tests/process-log-store.test.ts
  packages/sandbox-execution/tests/process-tree.test.ts
  packages/sandbox-execution/tests/pty-process.test.ts
  packages/sandbox-execution/tests/sequenced-byte-log.test.ts
  packages/sandbox-execution/tests/stateless-command-runner.test.ts
  packages/sandbox-execution/tests/stateless-process-runner.test.ts
  packages/sandbox-execution/tests/terminal.test.ts
Due: biome-fix, format

Define shared process contracts and errors
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/index.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
  packages/shared/src/logger/index.ts
  packages/shared/src/logger/logger.ts
  packages/shared/src/logger/types.ts
  packages/shared/src/process-types.ts
  packages/shared/src/pty-types.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  packages/shared/src/types/backup-mounts.ts
  packages/shared/src/types/core.ts
  packages/shared/src/types/filesystem.ts
  packages/shared/src/types/sandbox.ts
  packages/shared/tests/logger.test.ts
  packages/shared/tests/logger/canonical.test.ts
  packages/shared/tests/process-types.test.ts
Due: biome-fix, format

Build execution substrate for supervised processes (#816)
  packages/sandbox-execution/Dockerfile.test
  packages/sandbox-execution/package.json
  packages/sandbox-execution/scripts/test-in-container.sh
  packages/sandbox-execution/src/command-session.ts
  packages/sandbox-execution/src/command.ts
  packages/sandbox-execution/src/index.ts
  packages/sandbox-execution/src/io/sequenced-byte-log.ts
  packages/sandbox-execution/src/logger.ts
  packages/sandbox-execution/src/process/managed-process-supervisor.ts
  packages/sandbox-execution/src/process/managed-process.ts
  packages/sandbox-execution/src/process/process-log-store.ts
  packages/sandbox-execution/src/process/process-tree.ts
  packages/sandbox-execution/src/process/signals.ts
  packages/sandbox-execution/src/process/stream-drain.ts
  packages/sandbox-execution/src/process/types.ts
  packages/sandbox-execution/src/pty/pty-process.ts
  packages/sandbox-execution/src/pty/types.ts
  packages/sandbox-execution/src/shell-script.ts
  packages/sandbox-execution/src/stateless-command-runner.ts
  packages/sandbox-execution/src/stateless-process-runner.ts
  packages/sandbox-execution/src/terminal.ts
  packages/sandbox-execution/tests/command-session.test.ts
  packages/sandbox-execution/tests/container-init.test.ts
  packages/sandbox-execution/tests/environment.test.ts
  packages/sandbox-execution/tests/managed-process-supervisor.test.ts
  packages/sandbox-execution/tests/process-log-store.test.ts
  packages/sandbox-execution/tests/process-tree.test.ts
  packages/sandbox-execution/tests/pty-process.test.ts
  packages/sandbox-execution/tests/sequenced-byte-log.test.ts
  packages/sandbox-execution/tests/stateless-command-runner.test.ts
  packages/sandbox-execution/tests/stateless-process-runner.test.ts
  packages/sandbox-execution/tests/terminal.test.ts
Due: biome-fix, format

Define shared process contracts and errors (#817)
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/index.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
  packages/shared/src/logger/index.ts
  packages/shared/src/logger/logger.ts
  packages/shared/src/logger/types.ts
  packages/shared/src/process-types.ts
  packages/shared/src/pty-types.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  packages/shared/src/types/backup-mounts.ts
  packages/shared/src/types/core.ts
  packages/shared/src/types/filesystem.ts
  packages/shared/src/types/sandbox.ts
  packages/shared/tests/logger.test.ts
  packages/shared/tests/logger/canonical.test.ts
  packages/shared/tests/process-types.test.ts
Due: biome-fix, format

Migrate bridge clients to process resources
  bridge/README.md
  bridge/examples/basic/main.py
  bridge/examples/workspace-chat/backend/main.py
  bridge/script/integration
  bridge/worker/README.md
  bridge/worker/package.json
  bridge/worker/src/__tests__/create.test.ts
  bridge/worker/src/__tests__/exec.test.ts
  bridge/worker/src/__tests__/middleware.test.ts
  bridge/worker/src/__tests__/processes.test.ts
  bridge/worker/src/__tests__/session.test.ts
  bridge/worker/src/__tests__/unmount.test.ts
  packages/sandbox/src/bridge/routes/processes.ts
Due: biome-fix, format

Migrate bridge clients to process resources (#820)
  bridge/README.md
  bridge/examples/basic/main.py
  bridge/examples/workspace-chat/backend/main.py
  bridge/script/integration
  bridge/worker/README.md
  bridge/worker/package.json
  bridge/worker/src/__tests__/create.test.ts
  bridge/worker/src/__tests__/exec.test.ts
  bridge/worker/src/__tests__/middleware.test.ts
  bridge/worker/src/__tests__/processes.test.ts
  bridge/worker/src/__tests__/session.test.ts
  bridge/worker/src/__tests__/unmount.test.ts
  packages/sandbox/src/bridge/routes/processes.ts
Due: biome-fix, format

Migrate E2E workflows to process handles
  tests/e2e/backup-workflow.test.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/coding-agent-process-workflow.test.ts
  tests/e2e/command-response.ts
  tests/e2e/command-timeout.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/helpers/container-lifecycle.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/helpers/process-stream.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/musl.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/parallel-context-creation.test.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/preview-url-restart-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/redirect-proxy-workflow.test.ts
  tests/e2e/rpc-container-control.test.ts
  tests/e2e/rpc-recovery-after-ws-close.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/stateless-execution-workflow.test.ts
  tests/e2e/stdin-workflow.test.ts
  tests/e2e/stream-controller-race.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/types.ts
  tests/e2e/tunnel-named-workflow.test.ts
  tests/e2e/tunnel-quick-workflow.test.ts
  tests/e2e/websocket-workflow.test.ts
Due: format

Migrate E2E workflows to process handles (#822)
  tests/e2e/backup-workflow.test.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/coding-agent-process-workflow.test.ts
  tests/e2e/command-response.ts
  tests/e2e/command-timeout.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/helpers/container-lifecycle.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/helpers/process-stream.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/musl.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/parallel-context-creation.test.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/preview-url-restart-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/redirect-proxy-workflow.test.ts
  tests/e2e/rpc-container-control.test.ts
  tests/e2e/rpc-recovery-after-ws-close.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/stateless-execution-workflow.test.ts
  tests/e2e/stdin-workflow.test.ts
  tests/e2e/stream-controller-race.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/types.ts
  tests/e2e/tunnel-named-workflow.test.ts
  tests/e2e/tunnel-quick-workflow.test.ts
  tests/e2e/websocket-workflow.test.ts
Due: format

Document unified process execution
  .agents/skills/architecture/SKILL.md
  .agents/skills/extensions/SKILL.md
  .agents/skills/process-execution/SKILL.md
  .agents/skills/sandbox-bridge/SKILL.md
  .agents/skills/session-execution/SKILL.md
  .agents/skills/testing/SKILL.md
  .changeset/native-exec-handles.md
  .changeset/remove-default-session-option.md
  .changeset/unified-exec-api.md
  AGENTS.md
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/CONCURRENCY.md
  docs/E2E_TESTING.md
  docs/ERROR_HANDLING.md
  docs/OPENAI_AGENTS.md
  docs/PROCESS_EXECUTION.md
  docs/SESSION_EXECUTION.md
  docs/SESSION_EXECUTION_DEEP_DIVE.md
  docs/STANDALONE_BINARY.md
  packages/sandbox/README.md
  sites/sandbox/src/code-sample.tsx
Due: biome-fix, format, validate-changesets

Document unified process execution (#823)
  .agents/skills/architecture/SKILL.md
  .agents/skills/extensions/SKILL.md
  .agents/skills/process-execution/SKILL.md
  .agents/skills/sandbox-bridge/SKILL.md
  .agents/skills/session-execution/SKILL.md
  .agents/skills/testing/SKILL.md
  .changeset/native-exec-handles.md
  .changeset/remove-default-session-option.md
  .changeset/unified-exec-api.md
  AGENTS.md
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/CONCURRENCY.md
  docs/E2E_TESTING.md
  docs/ERROR_HANDLING.md
  docs/OPENAI_AGENTS.md
  docs/PROCESS_EXECUTION.md
  docs/SESSION_EXECUTION.md
  docs/SESSION_EXECUTION_DEEP_DIVE.md
  docs/STANDALONE_BINARY.md
  packages/sandbox/README.md
  sites/sandbox/src/code-sample.tsx
Due: biome-fix, format, validate-changesets

Run execution lifecycle checks in CI
  .github/path-filters.yml
  .github/quality-config.test.ts
  .github/workflows/reusable-quality.yml
  turbo.json
Due: format

Run execution lifecycle checks in CI (#824)
  .github/path-filters.yml
  .github/quality-config.test.ts
  .github/workflows/reusable-quality.yml
  turbo.json
Due: format

Serialize branch release workflows
  .github/workflows/release.yml
Due: format

Make terminal output assertion deterministic
  packages/sandbox-container/tests/services/terminal-manager.test.ts
Due: biome-fix, format

Declare sandbox execution workspace version
  packages/sandbox-execution/package.json
Due: format

Gate E2E on deployment readiness
  .github/scripts/wait-for-container-rollout.sh
  .github/scripts/wait-for-container-rollout.test.sh
  .github/workflows/pr-privileged.yml
  .github/workflows/release.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-prerelease.yml
Due: format

Clean up failed E2E sandboxes
  tests/e2e/helpers/global-sandbox.ts
Due: format

Clean up E2E readiness sandboxes
  .github/workflows/reusable-e2e.yml
Due: format

Read full container application state
  .github/scripts/wait-for-container-rollout.sh
Due: none

Pull process events across RPC
  .changeset/retain-process-stream-connections.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/processes/process-capability.ts
  packages/sandbox/src/processes/remote-subscription.ts
  packages/sandbox/src/processes/rpc-types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/fixtures/process-capability-rpc.ts
  packages/sandbox/tests/processes/process-capability.test.ts
  packages/sandbox/tests/processes/process-rpc-roundtrip.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format, validate-changesets

Add experimental badge-test worker
  badge-test/.editorconfig
  badge-test/.gitignore
  badge-test/.prettierrc
  badge-test/README.md
  badge-test/package-lock.json
  badge-test/package.json
  badge-test/vitest.config.js
  badge-test/wrangler.jsonc
Due: format

Fence preview and tunnel operations
  packages/sandbox/src/preview/forwarding.ts
  packages/sandbox/src/preview/service.ts
  packages/sandbox/src/preview/state.ts
  packages/sandbox/src/runtime/session-manager.ts
  packages/sandbox/src/runtime/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/lifecycle.ts
  packages/sandbox/src/tunnels/provisioner.ts
  packages/sandbox/src/tunnels/restart.ts
  packages/sandbox/src/tunnels/rpc-target.ts
  packages/sandbox/src/tunnels/sandbox-control-callback.ts
  packages/sandbox/src/tunnels/storage.ts
  packages/sandbox/src/tunnels/tunnel-service.ts
  packages/sandbox/tests/preview-forwarding.test.ts
  packages/sandbox/tests/runtime/session-manager.test.ts
  packages/sandbox/tests/sandbox-control-callback.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/tunnels/helpers.ts
  packages/sandbox/tests/tunnels/tunnel-service-named-cleanup.test.ts
  packages/sandbox/tests/tunnels/tunnel-service-named-recovery.test.ts
  packages/sandbox/tests/tunnels/tunnel-service-named.test.ts
  packages/sandbox/tests/tunnels/tunnel-service-quick-lifecycle.test.ts
  packages/sandbox/tests/tunnels/tunnel-service-quick.test.ts
  packages/sandbox/tests/tunnels/tunnel-service.test.ts
Due: biome-fix, format

Fence backup operations to one runtime
  packages/sandbox/src/backup/backup-service.ts
  packages/sandbox/src/backup/create.ts
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/src/backup/transfer.ts
  packages/sandbox/src/runtime/operation-runner.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/restore-operation-store.test.ts
  packages/sandbox/tests/runtime/operation-runner.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Thread runtime leases through mounts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/lifecycle-cleanup.ts
  packages/sandbox/src/storage-mount/lifecycle.ts
  packages/sandbox/src/storage-mount/operations/context.ts
  packages/sandbox/src/storage-mount/operations/local-sync-mount.ts
  packages/sandbox/src/storage-mount/operations/r2-egress-mount.ts
  packages/sandbox/src/storage-mount/operations/remote-fuse-mount.ts
  packages/sandbox/src/storage-mount/operations/unmount.ts
  packages/sandbox/src/storage-mount/runtime-call.ts
  packages/sandbox/src/storage-mount/service.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/storage-mount-lifecycle-cleanup.test.ts
  packages/sandbox/tests/storage-mount-lifecycle.test.ts
Due: biome-fix, format

Scope extension workflows to runtimes
  extensions/interpreter/src/index.ts
  extensions/interpreter/src/sidecar-api.ts
  extensions/interpreter/src/sidecar/lifecycle.ts
  extensions/interpreter/src/sidecar/pool.ts
  extensions/interpreter/src/sidecar/server.ts
  extensions/interpreter/tests/interpreter.test.ts
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/extensions.test.ts
Due: biome-fix, format

Remove implicit runtime ownership
  .changeset/establish-runtime-incarnations.md
  docs/ARCHITECTURE.md
  docs/ERROR_HANDLING.md
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/current-runtime-identity.ts
  packages/sandbox/src/preview/service.ts
  packages/sandbox/src/preview/state.ts
  packages/sandbox/src/response-retry.ts
  packages/sandbox/src/runtime/bootstrap-probe.ts
  packages/sandbox/src/runtime/lifecycle.ts
  packages/sandbox/src/runtime/operation-runner.ts
  packages/sandbox/src/runtime/session-manager.ts
  packages/sandbox/src/runtime/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/storage.ts
  packages/sandbox/src/tunnels/tunnel-service.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/current-runtime-identity.test.ts
  packages/sandbox/tests/helpers/mock-control-client.ts
  packages/sandbox/tests/local-backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/response-retry.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/runtime/lifecycle.test.ts
  packages/sandbox/tests/runtime/operation-runner.test.ts
  packages/sandbox/tests/runtime/session-manager.test.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/tunnels/tunnel-service-named-cleanup.test.ts
  packages/sandbox/tests/tunnels/tunnel-service-named-recovery.test.ts
  packages/sandbox/tests/tunnels/tunnel-service-named.test.ts
  packages/sandbox/tests/tunnels/tunnel-service-quick-lifecycle.test.ts
  packages/sandbox/tests/tunnels/tunnel-service-quick.test.ts
Due: biome-fix, format, validate-changesets

Add runtime lifecycle regressions
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/runtime-incarnation-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format
