Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Update OpenCode example and e2e worker
  examples/opencode/src/index.ts
  packages/sandbox/tests/wrangler.jsonc
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Bump vitest-pool-workers for DO eviction helpers
  package-lock.json
  package.json
Due: format

Stop persisting OpenCode secrets to durable storage
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/tests/opencode/persistence.test.ts
Due: biome-fix, format

Make OpenCode handle a SandboxExtension
  .changeset/opencode-lifecycle.md
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/client.ts
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/proxy.ts
  packages/sandbox/src/opencode/sandbox.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/client.test.ts
  packages/sandbox/tests/opencode/eviction-fixture.ts
  packages/sandbox/tests/opencode/eviction.test.ts
  packages/sandbox/tests/opencode/lifecycle.test.ts
  packages/sandbox/tests/opencode/persistence.test.ts
  packages/sandbox/tests/opencode/proxy.test.ts
  packages/sandbox/tests/opencode/registry.test.ts
  packages/sandbox/tests/opencode/server.test.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
Due: biome-fix, format, validate-changesets

Fix OpenCode casing in client internals
  packages/sandbox/src/opencode/client.ts
Due: biome-fix, format

Preserve non-fetch handlers in OpenCode proxy wrapper
  packages/sandbox/src/opencode/proxy.ts
  packages/sandbox/tests/opencode/proxy.test.ts
Due: biome-fix, format

Tidy OpenCode example handler
  examples/opencode/src/index.ts
Due: biome-fix, format

Instrument bridge API with custom spans
  .changeset/bridge-custom-spans.md
  bridge/worker/src/__tests__/tracing.test.ts
  bridge/worker/wrangler.jsonc
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/tracing.ts
Due: biome-fix, format, validate-changesets

Scale warm pool in bounded-parallel batches
  .changeset/warm-pool-batched-scale-up.md
  bridge/worker/src/__tests__/warm-pool.test.ts
  bridge/worker/wrangler.jsonc
  packages/sandbox/src/bridge/pool.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/bridge/warm-pool.ts
Due: biome-fix, format, validate-changesets

Seed warm pool ceiling from max-instances var
  .changeset/warm-pool-max-instances.md
  bridge/worker/src/__tests__/warm-pool.test.ts
  bridge/worker/wrangler.jsonc
  packages/sandbox/src/bridge/pool.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/bridge/warm-pool.ts
Due: biome-fix, format, validate-changesets

Refill warm pool eagerly on depletion
  .changeset/warm-pool-eager-refill.md
  bridge/worker/src/__tests__/warm-pool.test.ts
  packages/sandbox/src/bridge/warm-pool.ts
Due: biome-fix, format, validate-changesets

Tune bridge config for tracing and capacity
  bridge/worker/wrangler.jsonc
Due: none

Re-derive pool ceiling after partial-capacity batch
  bridge/worker/src/__tests__/warm-pool.test.ts
  packages/sandbox/src/bridge/warm-pool.ts
Due: biome-fix, format

Document tracing module and new warm pool vars
  bridge/worker/README.md
  packages/sandbox/src/bridge/AGENTS.md
Due: format

Add sandbox container labels option
  .changeset/clever-sandboxes-label.md
  PLAN.md
  packages/sandbox/README.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

align promise response
  examples/authentication/src/index.ts
  examples/claude-code/src/index.ts
  examples/codex-app-server/src/index.ts
  examples/codex/src/index.ts
  examples/s3-mount/src/sandbox.ts
  examples/s3-mount/src/worker.ts
  examples/time-machine/src/index.ts
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/managers/process-manager.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/process-store.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox-container/tests/services/process-store.test.ts
  packages/sandbox-execution/tests/stateless-process-runner.test.ts
  packages/sandbox/src/openai/index.ts
  packages/sandbox/src/process.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-stdin.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/backup-workflow.test.ts
  tests/e2e/command-timeout.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/stdin-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

test: reproduce RPC idle disconnect during pending call
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

fix: keep RPC connection busy while calls are pending
  .changeset/rpc-method-tracking.md
  packages/sandbox/src/container-control/client.ts
Due: biome-fix, format, validate-changesets

Delete PLAN.md
  PLAN.md
Due: format

support extension property calling directly
  examples/code-interpreter/Dockerfile
Due: none

patch tarball load error
  packages/sandbox/src/extensions/index.ts
Due: biome-fix, format

Extract git to extension
  .changeset/git-extension.md
  examples/claude-code/src/index.ts
  examples/codex-app-server/src/index.ts
  examples/codex/src/index.ts
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/security/security-adapter.ts
  packages/sandbox-container/src/security/security-service.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/rpc/sandbox-api-git.test.ts
  packages/sandbox-container/tests/security/security-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox/package.json
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/git/manager.ts
  packages/sandbox/src/git/types.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/git.test.ts
  packages/sandbox/tests/helpers/mock-control-client.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tsdown.config.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

update marketing site example
  sites/sandbox/src/code-sample.tsx
  sites/sandbox/src/sections/playground.tsx
Due: biome-fix, format

patch e2e tests
  tests/e2e/test-worker/index.ts
Due: format

sessionless execution
  .changeset/git-extension.md
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/git/types.ts
  packages/sandbox/tests/git.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Align git extension with command API
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/git.test.ts
Due: biome-fix, format

add authentication handling to extension
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/git/credential-proxy-handler.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/git/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/git.test.ts
Due: biome-fix, format

Run git through unified exec
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/tests/git.test.ts
Due: biome-fix, format

Add tunnel cleanup sweep for abandoned resources
  .changeset/tunnel-reconciler.md
  packages/sandbox/package.json
  packages/sandbox/src/tunnels/cloudflare-api.ts
  packages/sandbox/src/tunnels/index.ts
  packages/sandbox/src/tunnels/inventory.ts
  packages/sandbox/src/tunnels/request.ts
  packages/sandbox/src/tunnels/scheduled-cleanup.ts
  packages/sandbox/src/tunnels/sweep-plan.ts
  packages/sandbox/src/tunnels/sweep.ts
  packages/sandbox/tests/tunnels/cloudflare-api.test.ts
  packages/sandbox/tests/tunnels/inventory.test.ts
  packages/sandbox/tests/tunnels/scheduled-cleanup.test.ts
  packages/sandbox/tests/tunnels/sweep-plan.test.ts
  packages/sandbox/tests/tunnels/sweep.test.ts
  packages/sandbox/tsdown.config.ts
Due: biome-fix, format, validate-changesets

Surface container allocation failures as ContainerUnavailableError
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/response-retry.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/response-retry.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/shared/src/errors/contexts.ts
Due: biome-fix, format, validate-changesets

Export ContainerUnavailableReason for typed error branching
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
Due: biome-fix, format, validate-changesets

Match required quality check names
  .github/workflows/reusable-quality.yml
Due: format

Handle git review edge cases
  .changeset/git-extension.md
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/git/types.ts
  packages/sandbox/tests/git.test.ts
Due: biome-fix, format, validate-changesets

Harden container-unavailable detection and error preference
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-container-unavailable.test.ts
  packages/sandbox/tests/rpc-no-container-instance.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format, validate-changesets

Emit structured CONTAINER_UNAVAILABLE from containerFetch startup
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-no-container-instance.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format, validate-changesets

Start container explicitly before RPC WebSocket upgrade
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
Due: biome-fix, format, validate-changesets

Only report OPERATION_INTERRUPTED for established sessions
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format, validate-changesets

Start container under a short budget with typed errors on the RPC path
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/rpc-no-container-instance.test.ts
Due: biome-fix, format, validate-changesets

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
