Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Harden reusable workflows for fork PRs
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
Due: format

Harden release workflow credentials
  .github/workflows/release.yml
Due: format

Return 503 for all startup errors
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format

Fix listener lifecycle in process streaming
  packages/sandbox-container/src/handlers/process-handler.ts
  packages/sandbox-container/tests/handlers/process-handler.test.ts
Due: biome-fix, format

Buffer WebSocket chunks before controller ready
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

Log response body on E2E init failure
  tests/e2e/helpers/global-sandbox.ts
Due: format

Remove OpenCode CI workflows
  .github/workflows/opencode-review.yml
  .github/workflows/opencode.yml
Due: format

Restrict Bonk to repository members
  .github/workflows/bonk.yml
Due: format

Add persist-credentials: false to remaining workflows
  .github/workflows/performance.yml
  .github/workflows/release.yml
Due: format

Harden CI workflows and add fork PR support (#458)
  .github/path-filters.yml
  .github/workflows/bonk.yml
  .github/workflows/opencode-review.yml
  .github/workflows/opencode.yml
  .github/workflows/performance.yml
  .github/workflows/pr-privileged.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
Due: format

Classify permanent startup errors as HTTP 500
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format

Update vite-sandbox example to be cleaner
  examples/vite-sandbox/sandbox-app/counter.js
  examples/vite-sandbox/sandbox-app/index.html
  examples/vite-sandbox/sandbox-app/src/App.jsx
  examples/vite-sandbox/sandbox-app/src/Counter.tsx
  examples/vite-sandbox/sandbox-app/src/main.jsx
  examples/vite-sandbox/sandbox-app/src/value.js
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/App.jsx
  examples/vite-sandbox/src/Counter.tsx
  examples/vite-sandbox/src/value.js
  examples/vite-sandbox/src/worker.js
  examples/vite-sandbox/value.js
  examples/vite-sandbox/vite.config.js
  examples/vite-sandbox/vite.sandbox-plugin.js
Due: biome-fix, format

Add timeout and credential sanitization to git clone
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
Due: biome-fix, format

Add changeset for E2E flakiness fixes
  .changeset/fix-e2e-flakiness-root-causes.md
Due: format, validate-changesets

Fix CI workflows broken for all PRs
  .github/workflows/pr-privileged.yml
  .github/workflows/pr.yml
Due: format

Merge remove-label into policy to fix skip cascade
  .github/workflows/pr-privileged.yml
Due: format

Tighten CI permissions and fix e2e image gap
  .github/workflows/pr-privileged.yml
  .github/workflows/reusable-quality.yml
Due: format

[WIP] Add local R2 file syncing to sandbox
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add JSDoc comment to getSandbox
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Tweak JSDoc wording
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Use app token for fork PR label removal
  .github/workflows/pr-privileged.yml
Due: format

Simplify JSDoc wording
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Tweak contributing intro wording
  CONTRIBUTING.md
Due: format

Remove changeset
  .changeset/remove-large-binaries.md
Due: format, validate-changesets

Fix root causes of E2E test flakiness (#459)
  .changeset/fix-e2e-flakiness-root-causes.md
  packages/sandbox-container/src/handlers/process-handler.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/tests/handlers/process-handler.test.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  tests/e2e/helpers/global-sandbox.ts
Due: biome-fix, format, validate-changesets

Change local configuration prop
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add Archie and Aron as code owners
  .github/CODEOWNERS
Due: none

test(sandbox): add activity guard unit tests for timeout protection
  packages/sandbox/tests/activity-guard.test.ts
Due: biome-fix, format

fix(sandbox): add activity tracking to prevent container shutdown during operations
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

chore: add changeset for activity timeout guard
  .changeset/activity-timeout-guard.md
Due: format, validate-changesets

Grant id-token permission to bonk workflow
  .github/workflows/bonk.yml
Due: format

Review patches
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Grant id-token permission to bonk workflow (#464)
  .github/workflows/bonk.yml
Due: format

Fix incorrect types
  .changeset/local-mount-sync.md
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Post preview comment on all PRs, not just Docker
  .github/templates/pr-preview-comment.md
  .github/templates/pr-preview-main-comment.md
  .github/workflows/pr-privileged.yml
Due: format

Post preview comment on all PRs, not just Docker (#466)
  .github/templates/pr-preview-comment.md
  .github/templates/pr-preview-main-comment.md
  .github/workflows/pr-privileged.yml
Due: format

Increase bonk workflow timeout to 25 minutes
  .github/workflows/bonk.yml
Due: format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
