Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Fixed handlers for tests
  packages/sandbox-container/src/handlers/pty-handler.ts
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add missing marketplace to CI plugin configuration
  .github/workflows/claude-code-review.yml
Due: format

Fix killProcess not terminating child processes
  .changeset/fix-kill-process-group.md
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format, validate-changesets

Use SDK wait methods in process kill test
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

build.ts: resolve bun PATH robustly in Ubuntu snap (#313)
  packages/sandbox-container/build.ts
Due: biome-fix, format

Switch development tooling from Claude Code to OpenCode
  .claude/settings.json
  .mcp.json
  .opencode/oh-my-opencode.json
  .opencode/skill/git-commit/SKILL.md
  .opencode/skill/session-execution/SKILL.md
  .opencode/skill/testing/SKILL.md
  AGENTS.md
  opencode.json
Due: format

Add fork security checks and migrate sync-docs to OpenCode
  .github/workflows/cleanup.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/pullrequest.yml
  .github/workflows/sync-docs.yml
Due: format

Migrate GitHub workflows to OpenCode
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/opencode-review.yml
  .github/workflows/opencode.yml
Due: format

Switch development tooling from Claude Code to OpenCode (#340)
  .claude/settings.json
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/cleanup.yml
  .github/workflows/opencode-review.yml
  .github/workflows/opencode.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/pullrequest.yml
  .github/workflows/sync-docs.yml
  .mcp.json
  .opencode/oh-my-opencode.json
  .opencode/skill/git-commit/SKILL.md
  .opencode/skill/session-execution/SKILL.md
  .opencode/skill/testing/SKILL.md
  AGENTS.md
  opencode.json
Due: format

Bump package-lock
  package-lock.json
Due: format

Add idempotency check to process kill test
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

fix: repair stale cleanup workflow for current wrangler CLI
  .github/workflows/cleanup-stale.yml
Due: format

Use PR-specific Docker build cache scope to avoid cross-PR cache pollution
  .github/workflows/pullrequest.yml
Due: format

Wait for process exit in killCommand to fix race condition
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Support undefined/null as unset in setEnvVars
  .changeset/fix-undefined-env-vars.md
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/env.ts
  packages/shared/src/index.ts
  packages/shared/src/interpreter-types.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  packages/shared/tests/env.test.ts
  tests/e2e/environment-workflow.test.ts
Due: biome-fix, format, validate-changesets

Add debug logging to router for route registration and matching
  packages/sandbox-container/src/core/router.ts
Due: biome-fix, format

Fix killProcess not terminating child processes (#339)
  .changeset/fix-kill-process-group.md
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format, validate-changesets

Add INFO-level route logging to debug container caching issues
  packages/sandbox-container/src/core/router.ts
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Add retry logic for WebSocket server readiness in e2e tests
  tests/e2e/websocket-connect.test.ts
Due: format

Remove debug logging added during PTY route investigation
  .github/workflows/pullrequest.yml
  packages/sandbox-container/src/core/router.ts
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Fix sync-docs workflow to handle PR bodies with special characters
  .github/workflows/sync-docs.yml
Due: format

Fix sync-docs workflow shell escaping for opencode run
  .github/workflows/sync-docs.yml
Due: format

Relax prefix validation and add bucket name validation
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/validation.ts
  packages/sandbox/tests/storage-mount/validation.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Treat empty prefix as no prefix and improve changeset
  .changeset/stupid-beans-relate.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Add S3FS prefix validation and source building functions (#335)
  .changeset/stupid-beans-relate.md
  package-lock.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/validation.ts
  packages/sandbox/tests/storage-mount/validation.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Update lockfile
  package-lock.json
Due: format

Fix killProcess status not updating when process already exited
  packages/sandbox-container/src/services/process-service.ts
Due: biome-fix, format

Fix killProcess status not updating when process already exited (#343)
  packages/sandbox-container/src/services/process-service.ts
Due: biome-fix, format

Add changeset for killProcess status fix
  .changeset/fix-kill-process-status.md
Due: format, validate-changesets

Remove oh-my-opencode for now
  .opencode/oh-my-opencode.json
  opencode.json
Due: format

Fix flaky E2E test for process termination
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

feat: added env for Cloudflare AI Gateway
  .changeset/add-cloudflare-ai-gateway-support.md
  examples/opencode/README.md
  package-lock.json
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format, validate-changesets

Fix child process killing with /proc tree walker
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Document bash concepts and patterns in session.ts
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Improve documentation maintainability for session execution
  docs/SESSION_EXECUTION.md
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Add changeset for child process killing fix
  .changeset/fix-child-process-killing.md
Due: format, validate-changesets

Fix child process killing and improve session documentation (#348)
  .changeset/fix-child-process-killing.md
  docs/SESSION_EXECUTION.md
  packages/sandbox-container/src/session.ts
Due: biome-fix, format, validate-changesets

Use unique image tags for E2E tests in release workflow
  .github/workflows/release.yml
Due: format

Opus yolo'd here
  docs/FLAKY_KILL_TEST_INVESTIGATION.md
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format
