Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

Bump max instances for ts validator example
  examples/typescript-validator/wrangler.jsonc
Due: none

Add superpowers workflow to Claude agent
  .github/workflows/claude.yml
Due: format

Version Packages (#209)
  .changeset/apache-license.md
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/minimal/Dockerfile
  examples/typescript-validator/Dockerfile
  package-lock.json
  packages/sandbox/CHANGELOG.md
  packages/sandbox/package.json
  packages/sandbox/src/version.ts
  tests/e2e/test-worker/Dockerfile
  tests/integration/Dockerfile
Due: format, validate-changesets

Improve Claude workflows (#211)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: format

Fix workflow configuration issues
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: format

Remove tool restrictions from workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: format

Non-breaking option to fix preview URLs
  .changeset/fix-sandbox-id-case-sensitivity.md
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: format, validate-changesets

Fix Docker build by removing vite-plugin dependency
  .changeset/fix-turbo-prune-lockfile.md
  package-lock.json
  package.json
Due: format, validate-changesets

Fix Docker build by removing vite-plugin dependency (#214)
  .changeset/fix-turbo-prune-lockfile.md
  package-lock.json
  package.json
Due: format, validate-changesets

Restore tool permissions for workflow execution
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: format

Add git branch management to claude.yml allowlist
  .github/workflows/claude.yml
Due: format

Version Packages (#215)
  .changeset/fix-turbo-prune-lockfile.md
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/minimal/Dockerfile
  examples/typescript-validator/Dockerfile
  package-lock.json
  packages/sandbox/CHANGELOG.md
  packages/sandbox/package.json
  packages/sandbox/src/version.ts
  tests/e2e/test-worker/Dockerfile
  tests/integration/Dockerfile
Due: format, validate-changesets

Remove redundant prerelease job from release workflow
  .github/workflows/release.yml
Due: format

Non-breaking option to fix preview URLs (#213)
  .changeset/fix-sandbox-id-case-sensitivity.md
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: format, validate-changesets

Version Packages (#217)
  .changeset/fix-sandbox-id-case-sensitivity.md
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/minimal/Dockerfile
  examples/typescript-validator/Dockerfile
  package-lock.json
  packages/sandbox/CHANGELOG.md
  packages/sandbox/package.json
  packages/sandbox/src/version.ts
  tests/e2e/test-worker/Dockerfile
  tests/integration/Dockerfile
Due: format, validate-changesets

Update lockfile
  package-lock.json
Due: format

Optimize CI workflows for faster PR checks
  .github/workflows/claude-code-review.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
Due: format

Optimize CI workflows for faster PR checks (#218)
  .github/workflows/claude-code-review.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
Due: format

update deps
  .changeset/loose-bats-cross.md
  biome.json
  examples/claude-code/package.json
  examples/code-interpreter/package.json
  examples/minimal/package.json
  examples/typescript-validator/package.json
  package-lock.json
  package.json
  packages/sandbox-container/package.json
  packages/sandbox/tsdown.config.ts
  turbo.json
Due: format, validate-changesets

update deps (#219)
  .changeset/loose-bats-cross.md
  biome.json
  examples/claude-code/package.json
  examples/code-interpreter/package.json
  examples/minimal/package.json
  examples/typescript-validator/package.json
  package-lock.json
  package.json
  packages/sandbox-container/package.json
  packages/sandbox/tsdown.config.ts
  turbo.json
Due: format, validate-changesets

openai agents shell example
  examples/openai-agents/Dockerfile
  examples/openai-agents/README.md
  examples/openai-agents/env.d.ts
  examples/openai-agents/index.html
  examples/openai-agents/package.json
  examples/openai-agents/public/favicon.ico
  examples/openai-agents/public/normalize.css
  examples/openai-agents/src/app.tsx
  examples/openai-agents/src/index.css
  examples/openai-agents/src/index.ts
  examples/openai-agents/tsconfig.json
  examples/openai-agents/vite.config.ts
  examples/openai-agents/wrangler.jsonc
  examples/typescript-validator/index.html
  examples/typescript-validator/src/index.css
  examples/typescript-validator/wrangler.jsonc
  package-lock.json
Due: format

remove dead code
  examples/openai-agents/src/index.ts
Due: format

set a timeout for claude tasks
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: format

set a timeout for claude tasks (#222)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: format

Reduce credential exposure in bucket mounting
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/types.ts
Due: format

Retry container startup failures in SDK
  .changeset/retry-container-startup-failures.md
  packages/sandbox/src/clients/base-client.ts
Due: format, validate-changesets

Add comprehensive unit tests for retry logic
  packages/sandbox/tests/base-client.test.ts
Due: format

Remove fetchWithStartup helper (SDK handles retries)
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/websocket-workflow.test.ts
Due: format

Increase container startup timeouts
  .changeset/container-resiliency.md
  packages/sandbox/src/sandbox.ts
Due: format, validate-changesets

Add user-configurable container timeouts
  .changeset/retry-container-startup-failures.md
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: format, validate-changesets

Fix configuration system bugs
  packages/sandbox/src/sandbox.ts
Due: format

Fix hostname validation and logging
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/provider-detection.ts
Due: format

Remove session token support
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/credential-detection.ts
  packages/sandbox/tests/storage-mount/credential-detection.test.ts
  packages/shared/src/types.ts
Due: format

Extract environment access utility for type safety
  .changeset/container-resiliency.md
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/env.ts
  packages/shared/src/index.ts
Due: format, validate-changesets

Update default formatter
  .vscode/settings.json
Due: format

Fix memory leaks in process management
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/process-store.ts
  packages/sandbox/src/sandbox.ts
Due: format

Add changeset
  .changeset/fix-memory-leaks.md
Due: format, validate-changesets

Fix async cleanup and listener lifecycle
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/process-store.ts
  packages/sandbox/src/sandbox.ts
Due: format

Add S3-compatible bucket mounting (#190)
  .changeset/bucket-mounting.md
  .github/workflows/pullrequest.yml
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/shell-escape.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox/Dockerfile
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/credential-detection.ts
  packages/sandbox/src/storage-mount/errors.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/provider-detection.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/storage-mount/credential-detection.test.ts
  packages/sandbox/tests/storage-mount/provider-detection.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/index.ts
  packages/shared/src/shell-escape.ts
  packages/shared/src/types.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/test-worker/index.ts
  vitest.e2e.config.ts
Due: format, validate-changesets

Use structured logging for disk write failures
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/services/process-store.ts
Due: format
