Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Implement API key authentication middleware
  packages/sandbox/src/bridge/auth.ts
  packages/sandbox/tests/bridge/auth.test.ts
Due: biome-fix, format

Implement bridge route parser
  packages/sandbox/src/bridge/router.ts
  packages/sandbox/tests/bridge/router.test.ts
Due: biome-fix, format

Add CORS handling to bridge router
  packages/sandbox/src/bridge/router.ts
  packages/sandbox/tests/bridge/router.test.ts
Due: biome-fix, format

Implement exec handler for bridge
  packages/sandbox/src/bridge/handlers/exec.ts
  packages/sandbox/tests/bridge/handlers/exec.test.ts
Due: biome-fix, format

Add handler dispatch and placeholder handlers
  packages/sandbox/src/bridge/handlers/code.ts
  packages/sandbox/src/bridge/handlers/files.ts
  packages/sandbox/src/bridge/handlers/git.ts
  packages/sandbox/src/bridge/handlers/index.ts
  packages/sandbox/src/bridge/handlers/ports.ts
  packages/sandbox/src/bridge/handlers/processes.ts
  packages/sandbox/src/bridge/handlers/sessions.ts
Due: biome-fix, format

Wire up createBridge with auth, routing, and dispatch
  packages/sandbox/src/bridge/create-bridge.ts
  packages/sandbox/tests/bridge/create-bridge.test.ts
Due: biome-fix, format

Improve session initialization to check storage first
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add OpenCode integration for Sandbox SDK
  examples/opencode/.dev.vars.example
  examples/opencode/.gitignore
  examples/opencode/Dockerfile
  examples/opencode/README.md
  examples/opencode/package.json
  examples/opencode/src/index.ts
  examples/opencode/tsconfig.json
  examples/opencode/worker-configuration.d.ts
  examples/opencode/wrangler.jsonc
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/opencode/fetch.ts
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/fetch.test.ts
  packages/sandbox/tests/opencode/opencode.test.ts
  packages/sandbox/tsdown.config.ts
Due: biome-fix, format

Add changeset
  .changeset/add-opencode-integration.md
Due: format, validate-changesets

Improve type safety and test coverage for OpenCode integration
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format

Add changeset for session initialization fix
  .changeset/improve-session-initialization.md
Due: format, validate-changesets

Remove redundant storage check from session initialization
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add OpenCode container variant and improve startup reliability
  .github/workflows/pkg-pr-new.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  examples/opencode/package.json
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/test-worker/Dockerfile.opencode
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format

Improve OpenCode type safety and add internal logging
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/fetch.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
Due: biome-fix, format

Use RESOURCE_BUSY error code for session conflicts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Use error code instead of string matching for session conflicts
  .changeset/improve-session-initialization.md
  CLAUDE.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Add SESSION_ALREADY_EXISTS error code for session conflicts
  CLAUDE.md
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format

Improve session initialization to check storage first (#281)
  .changeset/improve-session-initialization.md
  CLAUDE.md
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format, validate-changesets

Remove createSandboxFetch and inline the one-liner
  examples/opencode/src/index.ts
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/opencode/fetch.ts
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/tests/opencode/fetch.test.ts
  packages/sandbox/tests/opencode/opencode.test.ts
  tests/e2e/opencode-workflow.test.ts
Due: biome-fix, format

Implement HTTP bridge handlers and client SDK
  .changeset/sandbox-bridge-implementation.md
  examples/bridge/.gitignore
  examples/bridge/Dockerfile
  examples/bridge/README.md
  examples/bridge/package.json
  examples/bridge/src/index.ts
  examples/bridge/tsconfig.json
  examples/bridge/worker-configuration.d.ts
  examples/bridge/wrangler.jsonc
  packages/sandbox/src/bridge/handlers/code.ts
  packages/sandbox/src/bridge/handlers/files.ts
  packages/sandbox/src/bridge/handlers/git.ts
  packages/sandbox/src/bridge/handlers/ports.ts
  packages/sandbox/src/bridge/handlers/processes.ts
  packages/sandbox/src/bridge/handlers/sessions.ts
  packages/sandbox/src/client/get-sandbox.ts
  packages/sandbox/src/client/http-client.ts
  packages/sandbox/src/client/index.ts
  packages/sandbox/src/client/sandbox-client.ts
  packages/sandbox/tests/bridge/create-bridge.test.ts
  packages/sandbox/tests/bridge/handlers/code.test.ts
  packages/sandbox/tests/bridge/handlers/exec.test.ts
  packages/sandbox/tests/bridge/handlers/files.test.ts
  packages/sandbox/tests/bridge/handlers/git.test.ts
  packages/sandbox/tests/bridge/handlers/ports.test.ts
  packages/sandbox/tests/bridge/handlers/processes.test.ts
  packages/sandbox/tests/bridge/handlers/sessions.test.ts
  packages/sandbox/tests/client/get-sandbox.test.ts
  packages/sandbox/tests/client/http-client.test.ts
  packages/sandbox/tests/client/sandbox-client.test.ts
Due: biome-fix, format, validate-changesets

Export bridge building blocks for power users
  packages/sandbox/src/bridge/index.ts
Due: biome-fix, format

Add custom headers support to client SDK
  packages/sandbox/src/client/get-sandbox.ts
  packages/sandbox/src/client/http-client.ts
  packages/sandbox/src/client/types.ts
  packages/sandbox/tests/client/http-client.test.ts
Due: biome-fix, format

Add sandbox CLI for bridge deployment and management
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/cli/commands/add-container.ts
  packages/sandbox/src/cli/commands/delete.ts
  packages/sandbox/src/cli/commands/deploy.ts
  packages/sandbox/src/cli/commands/eject.ts
  packages/sandbox/src/cli/commands/generate-key.ts
  packages/sandbox/src/cli/commands/info.ts
  packages/sandbox/src/cli/commands/list-containers.ts
  packages/sandbox/src/cli/commands/list.ts
  packages/sandbox/src/cli/commands/login.ts
  packages/sandbox/src/cli/commands/logout.ts
  packages/sandbox/src/cli/commands/rotate-key.ts
  packages/sandbox/src/cli/index.ts
  packages/sandbox/src/cli/lib/api-key.ts
  packages/sandbox/src/cli/lib/config.ts
  packages/sandbox/src/cli/lib/index.ts
  packages/sandbox/src/cli/lib/templates.ts
  packages/sandbox/src/cli/lib/ui.ts
  packages/sandbox/src/cli/lib/wrangler.ts
  packages/sandbox/tsdown.config.ts
Due: biome-fix, format

Update `gitCheckout` method to make `options` parameter optional
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Added changeset
  .changeset/funny-beans-exist.md
Due: format, validate-changesets

fix workspace bug
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/session.test.ts
  tests/e2e/workspace-deletion-workflow.test.ts
Due: biome-fix, format

Align OpenCode API with SDK conventions
  examples/opencode/Dockerfile
  examples/opencode/package.json
  examples/opencode/src/index.ts
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format

Fix `options` parameter types for `gitCheckout` (#286)
  .changeset/funny-beans-exist.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

fallback to tmp
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/session.test.ts
  tests/e2e/workspace-deletion-workflow.test.ts
Due: biome-fix, format

fallbac to homedir instead of /tmp
  packages/sandbox-container/src/session.ts
  tests/e2e/workspace-deletion-workflow.test.ts
Due: biome-fix, format

Fix workspace bug in sandbox container
  .changeset/sixty-walls-serve.md
Due: format, validate-changesets

clear tests
  packages/sandbox-container/tests/session.test.ts
  tests/e2e/workspace-deletion-workflow.test.ts
Due: biome-fix, format

minor nits
  packages/sandbox-container/tests/session.test.ts
Due: biome-fix, format

Delete tests/e2e/workspace-deletion-workflow.test.ts
  tests/e2e/workspace-deletion-workflow.test.ts
Due: format

fix workspace bug (#289)
  .changeset/sixty-walls-serve.md
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/session.test.ts
Due: biome-fix, format, validate-changesets

Add config validation and test coverage for OpenCode integration
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format

Add per-session mutex locking to prevent race conditions
  .changeset/session-locking.md
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
Due: biome-fix, format, validate-changesets

Add error handling for concurrent server retry path
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format

Simplify locking tests and add E2E concurrency test
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
Due: biome-fix, format

Address code review feedback
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format
