Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Narrow WebSocket E2E init setup
  tests/e2e/test-worker/index.ts
  tests/e2e/websocket-connect.test.ts
Due: format

Migrate code interpreter to external extension
  docs/EXTENSIBLE_SANDBOX_PROPOSAL.md
  examples/code-interpreter/src/index.ts
  packages/sandbox/package.json
  packages/sandbox/src/code-interpreter/index.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/interpreter.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/security.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tsdown.config.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

patch sse bugs
  packages/sandbox/src/code-interpreter/index.ts
Due: biome-fix, format

remove missed dead code
  packages/sandbox/src/code-interpreter/index.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

update example model
  examples/code-interpreter/src/index.ts
Due: biome-fix, format

Reuse interpreter per sandbox in example
  examples/code-interpreter/src/index.ts
Due: biome-fix, format

add changeset
  .changeset/extract-code-interpreter.md
Due: format, validate-changesets

Add CONTAINER_UNAVAILABLE admission failure contract (#753)
  .changeset/surface-container-unavailable.md
  docs/ERROR_HANDLING.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  tests/e2e/helpers/container-unavailable-retry.test.ts
  tests/e2e/helpers/container-unavailable-retry.ts
  tests/e2e/setup-container-unavailable-retry.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/websocket-connect.test.ts
  vitest.e2e.config.ts
Due: biome-fix, format, validate-changesets

migrate to RPC support
  .changeset/extract-code-interpreter.md
  docs/EXTENSIBLE_SANDBOX_PROPOSAL.md
  examples/code-interpreter/src/index.ts
  packages/sandbox/src/code-interpreter/index.ts
  packages/sandbox/src/container-control/client.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

fix stale metadata requests
  .changeset/improve-credential-proxy-head-cache.md
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets

support RpcTarget
  packages/sandbox/src/code-interpreter/index.ts
  packages/sandbox/tests/code-interpreter.test.ts
Due: biome-fix, format

patch duplicate output bug
  packages/sandbox/src/code-interpreter/index.ts
  packages/sandbox/tests/code-interpreter.test.ts
Due: biome-fix, format

Use AwsClient for proxy signing
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
Due: biome-fix, format

Fix stale file route docs in bridge worker README
  bridge/worker/README.md
Due: format

Ignore exec AbortSignal when RPC flag is unset
  .changeset/exec-abortsignal-rpc.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/abortsignal-rpc.test.ts
  packages/sandbox/tests/src/index.ts
  packages/sandbox/vitest.config.ts
Due: biome-fix, format, validate-changesets

Update bridge/worker/README.md
  bridge/worker/README.md
Due: format

Fix stale file route docs in bridge worker README (#771)
  bridge/worker/README.md
Due: format

Fix next Docker prerelease publishing
  .github/reusable-prerelease.test.sh
  .github/workflows/reusable-prerelease.yml
Due: format

Classify stable container unavailability
  .changeset/stable-container-unavailable.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/session-init.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format, validate-changesets

Classify stable container unavailability
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format

Surface interrupted RPC operations
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format

Retry safe E2E sandbox initialization
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/index.ts
Due: format

Classify platform update interruptions
  packages/sandbox/src/index.ts
  packages/sandbox/src/platform-errors.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/platform-errors.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Refine stable lifecycle changeset
  .changeset/stable-container-unavailable.md
Due: format, validate-changesets

Recover stable backup restores
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox-lifetime.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup-restore-lifecycle.test.ts
  packages/sandbox/tests/operation-interrupted-error.test.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
  packages/sandbox/tests/sandbox-lifetime.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format

Recover stable quick tunnels
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/sandbox-control-callback.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/sandbox-control-callback.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Document stable runtime recovery
  .changeset/stable-runtime-recovery.md
  packages/sandbox/tests/local-backup.test.ts
Due: biome-fix, format, validate-changesets

Fence stable quick tunnel runs
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-handler.test.ts
Due: biome-fix, format

Simplify stable runtime recovery
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/session-init.ts
  packages/sandbox/src/tunnels/lifecycle.ts
  packages/sandbox/src/tunnels/restart.ts
  packages/sandbox/src/tunnels/storage.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/tunnels-handler-lifecycle.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
Due: biome-fix, format

Implement SandboxExtension framework
  .agents/skills/extensions/SKILL.md
  .changeset/add-sandbox-extensions.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/extensions/bridge.ts
  packages/sandbox-container/src/extensions/echo-sidecar.ts
  packages/sandbox-container/src/extensions/extension-host.ts
  packages/sandbox-container/src/extensions/index.ts
  packages/sandbox-container/src/extensions/protocol.ts
  packages/sandbox-container/src/extensions/types.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/extensions/extension-host.test.ts
  packages/sandbox-container/tests/extensions/protocol.test.ts
  packages/sandbox/package.json
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/tests/extensions.test.ts
  packages/sandbox/tsdown.config.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format, validate-changesets

patch respawn bug
  packages/sandbox-container/src/extensions/extension-host.ts
Due: biome-fix, format

update comments
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/extensions/bridge.ts
  packages/sandbox-container/src/extensions/echo-sidecar.ts
  packages/sandbox-container/src/extensions/protocol.ts
  packages/sandbox-container/tests/extensions/extension-host.test.ts
  packages/sandbox/src/extensions/index.ts
Due: biome-fix, format

throw on no sidecar passed
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/tests/extensions.test.ts
Due: biome-fix, format

address devin comments
  .changeset/add-sandbox-extensions.md
  packages/sandbox-container/src/extensions/extension-host.ts
  packages/sandbox-container/src/extensions/provision.ts
  packages/sandbox-container/tests/extensions/extension-host.test.ts
  packages/sandbox-container/tests/extensions/fixtures/demo-sidecar/src/sidecar.ts
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/tests/extensions.test.ts
Due: biome-fix, format, validate-changesets

stream tarball extraction
  packages/sandbox-container/package.json
  packages/sandbox-container/src/extensions/provision.ts
Due: biome-fix, format

protect bin traversal
  packages/sandbox-container/src/extensions/extension-host.ts
  packages/sandbox-container/src/extensions/provision.ts
Due: biome-fix, format

Improve sidecar handling via tar & bun
  .agents/skills/extensions/SKILL.md
  .changeset/add-sandbox-extensions.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/extensions/bridge.ts
  packages/sandbox-container/src/extensions/capnweb-bridge.ts
  packages/sandbox-container/src/extensions/echo-sidecar.ts
  packages/sandbox-container/src/extensions/extension-host.ts
  packages/sandbox-container/src/extensions/index.ts
  packages/sandbox-container/src/extensions/protocol.ts
  packages/sandbox-container/src/extensions/provision.ts
  packages/sandbox-container/src/extensions/socket-transport.ts
  packages/sandbox-container/src/extensions/types.ts
  packages/sandbox-container/tests/extensions/extension-host.test.ts
  packages/sandbox-container/tests/extensions/fixtures/demo-sidecar/package.json
  packages/sandbox-container/tests/extensions/fixtures/demo-sidecar/src/sidecar.ts
  packages/sandbox-container/tests/extensions/protocol.test.ts
  packages/sandbox-container/tsconfig.json
  packages/sandbox/package.json
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/sidecar/index.ts
  packages/sandbox/src/sidecar/socket-transport.ts
  packages/sandbox/tests/extensions.test.ts
  packages/sandbox/tsdown.config.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  tests/e2e/sessionless-execution-workflow.test.ts
Due: biome-fix, format, validate-changesets

address PR comments
  packages/sandbox-container/src/extensions/extension-host.ts
  packages/sandbox-container/src/extensions/provision.ts
  packages/sandbox-container/src/extensions/socket-transport.ts
  packages/sandbox-container/tests/extensions/extension-host.test.ts
  packages/sandbox/src/sidecar/socket-transport.ts
Due: biome-fix, format

chore: sync package-lock with next
  package-lock.json
Due: format
