Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Test control server exit recovery
  tests/e2e/runtime-incarnation-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Fix E2E readiness smoke probe command payload
  .github/workflows/reusable-e2e.yml
Due: format

Normalize command before execute
  .github/workflows/reusable-e2e.yml
  tests/e2e/test-worker/index.ts
Due: format

Fix E2E readiness smoke probe command (#832)
  tests/e2e/test-worker/index.ts
Due: format

Add Devin outposts example
  .agents/skills/examples/SKILL.md
  examples/devin-outpost/.dev.vars.example
  examples/devin-outpost/.dockerignore
  examples/devin-outpost/.gitignore
  examples/devin-outpost/Dockerfile
  examples/devin-outpost/README.md
  examples/devin-outpost/bin/devin-checkpoint
  examples/devin-outpost/bin/start-devin-worker
  examples/devin-outpost/package.json
  examples/devin-outpost/src/env.d.ts
  examples/devin-outpost/src/index.ts
  examples/devin-outpost/src/lifecycle.ts
  examples/devin-outpost/src/persistence.ts
  examples/devin-outpost/src/reconcile.ts
  examples/devin-outpost/tests/index.test.ts
  examples/devin-outpost/tests/mocks/cloudflare-workers.ts
  examples/devin-outpost/tsconfig.json
  examples/devin-outpost/tsconfig.test.json
  examples/devin-outpost/vitest.config.ts
  examples/devin-outpost/worker-configuration.d.ts
  examples/devin-outpost/wrangler.jsonc
  package-lock.json
  packages/sandbox/README.md
Due: biome-fix, format

Improve Devin Outpost README
  examples/devin-outpost/README.md
Due: format

Move Devin template to repository root
  .agents/skills/examples/SKILL.md
  biome.json
  devin/.dev.vars.example
  devin/.dockerignore
  devin/.gitignore
  devin/Dockerfile
  devin/README.md
  devin/bin/devin-checkpoint
  devin/bin/start-devin-worker
  devin/package.json
  devin/src/env.d.ts
  devin/src/index.ts
  devin/src/lifecycle.ts
  devin/src/persistence.ts
  devin/src/reconcile.ts
  devin/test/index.test.ts
  devin/test/mocks/cloudflare-workers.ts
  devin/tsconfig.json
  devin/tsconfig.test.json
  devin/vitest.config.ts
  devin/worker-configuration.d.ts
  devin/wrangler.jsonc
  package-lock.json
  package.json
  packages/sandbox/README.md
Due: format

Describe Devin deployment bindings
  devin/package.json
Due: format

Update Devin Outpost example
  examples/devin-outpost/.dev.vars.example
  examples/devin-outpost/README.md
  examples/devin-outpost/bin/start-devin-worker
  examples/devin-outpost/package.json
  examples/devin-outpost/src/index.ts
  examples/devin-outpost/src/lifecycle.ts
  examples/devin-outpost/src/reconcile.ts
  examples/devin-outpost/test/index.test.ts
  examples/devin-outpost/test/mocks/cloudflare-workers.ts
  examples/devin-outpost/tsconfig.test.json
  examples/devin-outpost/vitest.config.ts
  examples/devin-outpost/worker-configuration.d.ts
  examples/devin-outpost/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Ignore inherited Devin status names
  devin/src/lifecycle.ts
  devin/test/index.test.ts
Due: format

Remove redundant Devin environment types
  devin/src/env.d.ts
Due: format

Add Devin Outpost template (#831)
  biome.json
  devin/.dev.vars.example
  devin/.dockerignore
  devin/.gitignore
  devin/Dockerfile
  devin/README.md
  devin/bin/devin-checkpoint
  devin/bin/start-devin-worker
  devin/package.json
  devin/src/index.ts
  devin/src/lifecycle.ts
  devin/src/persistence.ts
  devin/src/reconcile.ts
  devin/test/index.test.ts
  devin/test/mocks/cloudflare-workers.ts
  devin/tsconfig.json
  devin/tsconfig.test.json
  devin/vitest.config.ts
  devin/worker-configuration.d.ts
  devin/wrangler.jsonc
  package-lock.json
  package.json
Due: format

Fix runtime execution regressions
  .changeset/fix-execution-defaults.md
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/bridge/openapi/lifecycle.ts
  packages/sandbox/src/bridge/warm-pool.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/warm-pool.test.ts
  tests/e2e/runtime-incarnation-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Upgrade container lifecycle handling
  .changeset/fix-execution-defaults.md
  examples/codex-app-server/package.json
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Stabilize sandbox proxy transports
  .changeset/stabilize-sandbox-proxies.md
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/preview/proxy-request.ts
  packages/sandbox/src/processes/remote-subscription.ts
  packages/sandbox/src/processes/rpc-types.ts
  packages/sandbox/src/processes/sandbox-process.ts
  packages/sandbox/src/pty/index.ts
  packages/sandbox/src/pty/proxy.ts
  packages/sandbox/src/pty/rpc-types.ts
  packages/sandbox/src/pty/terminal-capability.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/sandbox/tests/processes/sandbox-process.test.ts
  packages/sandbox/tests/pty-proxy.test.ts
  packages/sandbox/tests/sandbox-activity-gate.test.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/backup-workflow.test.ts
  tests/e2e/browser/terminal-addon.spec.ts
  tests/e2e/coding-agent-process-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/pty.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/websocket-connect.test.ts
Due: biome-fix, format, validate-changesets

Stabilize lifecycle regression workflows
  .changeset/stabilize-sandbox-proxies.md
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/sandbox-activity-gate.test.ts
  tests/e2e/coding-agent-process-workflow.test.ts
  tests/e2e/pty.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Track checkpoint presence in the session DO
  devin/src/index.ts
  devin/src/persistence.ts
  devin/test/index.test.ts
Due: format

Add Sandbox reconstruction harness
  bridge/worker/package.json
  examples/collaborative-terminal/package.json
  examples/openai-agents/package.json
  examples/time-machine/tsconfig.json
  examples/typescript-validator/package.json
  examples/vite-sandbox/package.json
  package-lock.json
  package.json
  packages/sandbox/package.json
  packages/sandbox/tests-harness/README.md
  packages/sandbox/tests-harness/reconstruction.test.ts
  packages/sandbox/tests-harness/worker.ts
  packages/sandbox/tests-harness/wrangler.jsonc
  packages/sandbox/tsconfig.json
  packages/sandbox/vitest.harness.config.ts
  sites/sandbox/package.json
Due: biome-fix, format

Stabilize E2E deployment reuse
  .github/reusable-e2e.test.sh
  .github/workflows/reusable-e2e.yml
Due: format

Add reproduction test for stale preview URL after restart
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Reactivate exposed ports on container restart
  .changeset/preview-url-survives-restart.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Reconcile delayed runtime stops
  packages/sandbox/src/runtime/lifecycle.ts
  packages/sandbox/tests/runtime/lifecycle.test.ts
  packages/sandbox/tests/runtime/operation-runner.test.ts
Due: biome-fix, format

Wire pending stop reconciliation
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-activity-gate.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/helpers/container-lifecycle.ts
Due: biome-fix, format

Accept both terminal container stop statuses
  tests/e2e/runtime-incarnation-workflow.test.ts
Due: format

Bump E2E deploy hash for CI rerun
  tests/e2e/test-worker/generate-config.sh
Due: none

Bump E2E deploy hash again
  tests/e2e/test-worker/generate-config.sh
Due: none

Add common tooling to devin container image
  devin/Dockerfile
Due: none

Add common tooling to devin container image (#836)
  devin/Dockerfile
Due: none

Add isolated browser test containers
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Parallelize isolated browser tests
  tests/e2e/browser/playwright.config.ts
  tests/e2e/browser/terminal-addon.spec.ts
Due: format

Integrate browser container readiness
  .github/scripts/wait-for-container-rollout.sh
  .github/scripts/wait-for-container-rollout.test.sh
  .github/workflows/reusable-e2e.yml
Due: format

Fix browser test import order
  tests/e2e/browser/terminal-addon.spec.ts
Due: format

Bound browser test concurrency
  tests/e2e/browser/playwright.config.ts
Due: format

Bootstrap Wrangler in rollout checks
  .github/scripts/wait-for-container-rollout.sh
  .github/scripts/wait-for-container-rollout.test.sh
Due: none

Reduce browser cold-start pressure
  tests/e2e/browser/playwright.config.ts
Due: format

Limit browser cold starts to one
  tests/e2e/browser/playwright.config.ts
Due: format

Avoid orphaned browser configuration
  tests/e2e/test-worker/index.ts
Due: format

Restore parallel browser coverage
  tests/e2e/browser/playwright.config.ts
Due: format

Clarify release notes for callers
  .changeset/add-sandbox-extensions.md
  .changeset/establish-runtime-incarnations.md
  .changeset/fix-execution-defaults.md
  .changeset/stabilize-sandbox-proxies.md
Due: format, validate-changesets
