Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

add e2e test for redirects
  tests/e2e/redirect-proxy-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
Due: format

Add desktop environment container runtime
  packages/sandbox-container/build.ts
  packages/sandbox-container/native/desktop-wrapper/go.mod
  packages/sandbox-container/native/desktop-wrapper/main.go
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/desktop-handler.ts
  packages/sandbox-container/src/managers/desktop-manager.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/desktop-service.ts
  packages/sandbox-container/src/workers/desktop-worker.ts
  packages/shared/src/desktop-types.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/errors/types.ts
  packages/shared/src/index.ts
Due: biome-fix, format

Add desktop environment SDK client
  .changeset/desktop-environment.md
  packages/sandbox/Dockerfile
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Add desktop environment tests
  packages/sandbox-container/tests/handlers/desktop-handler.test.ts
  packages/sandbox-container/tests/services/desktop-service.test.ts
  packages/sandbox/tests/desktop-client.test.ts
  tests/e2e/desktop-environment.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format

Add desktop viewer example
  examples/desktop/.gitignore
  examples/desktop/Dockerfile
  examples/desktop/assets/set-wallpaper.desktop
  examples/desktop/assets/set-wallpaper.sh
  examples/desktop/assets/wallpaper.png
  examples/desktop/index.html
  examples/desktop/package.json
  examples/desktop/src/App.tsx
  examples/desktop/src/api/client.ts
  examples/desktop/src/components/DesktopViewer.tsx
  examples/desktop/src/components/Header.tsx
  examples/desktop/src/hooks/useDesktop.ts
  examples/desktop/src/index.css
  examples/desktop/src/main.tsx
  examples/desktop/tsconfig.app.json
  examples/desktop/tsconfig.json
  examples/desktop/tsconfig.worker.json
  examples/desktop/vite.config.ts
  examples/desktop/worker-configuration.d.ts
  examples/desktop/workers/app.ts
  examples/desktop/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Fix proxy redirect responses from sandbox (#421)
  .changeset/proxy-redirects.md
  packages/sandbox/src/request-handler.ts
  tests/e2e/redirect-proxy-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
Due: biome-fix, format, validate-changesets

Detect stale container state and abort DO for recovery
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format

Update lockfile
  package-lock.json
Due: format

Route watch E2E through SDK surface
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/sandbox.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

inject local ca certificate into docker build context
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
Due: format

add docker build script & error handle build
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
  packages/sandbox/scripts/docker-local.sh
Due: format

Use SDK watch bridge without new public API
  packages/sandbox/src/sandbox.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Remove unused watch stop endpoint and reduce stream logging verbosity
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/file-watch.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Scope stream cancellation to owning WebSocket connection
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
Due: biome-fix, format

change mimeType split functionality
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

Use native file read operations (#402)
  .changeset/native-file-read-performance.md
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  tests/e2e/test-worker/startup-test.sh
Due: biome-fix, format, validate-changesets

copy readStream mimeType split to read
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: biome-fix, format

add changeset
  .changeset/split-read-mimetype.md
Due: format, validate-changesets

Split mimeType in file reads (#430)
  .changeset/split-read-mimetype.md
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: biome-fix, format, validate-changesets

Add a websocket example
  examples/websocket-tunnel/.gitignore
  examples/websocket-tunnel/Dockerfile
  examples/websocket-tunnel/README.md
  examples/websocket-tunnel/package.json
  examples/websocket-tunnel/public/index.html
  examples/websocket-tunnel/public/template.html
  examples/websocket-tunnel/server.js
  examples/websocket-tunnel/src/index.ts
  examples/websocket-tunnel/tsconfig.json
  examples/websocket-tunnel/worker-configuration.d.ts
  examples/websocket-tunnel/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Address review: parseSSEStream abort, watch readiness, include/exclude validation
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/sse-parser.ts
  packages/sandbox/tests/sse-parser.test.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Add changeset
  .changeset/stale-container-state-recovery.md
Due: format, validate-changesets

Detect stale persisted container state and abort DO for recovery (#427)
  .changeset/stale-container-state-recovery.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format, validate-changesets

Simplify non-existent path error test
  tests/e2e/file-watch-workflow.test.ts
Due: format

ci: use ubuntu-22.04-16core for heavy CI jobs
  .github/workflows/performance.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
Due: format

Simplify stop-watch test: remove manual watching detection
  tests/e2e/file-watch-workflow.test.ts
Due: format

Revert "ci: use ubuntu-22.04-16core for heavy CI jobs"
  .github/workflows/performance.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
Due: format

Inject CA certificate into Docker build locally (#429)
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
  packages/sandbox/scripts/docker-local.sh
Due: format

Add example of vite running a dev server in a sandbox
  examples/vite-sandbox/.gitignore
  examples/vite-sandbox/Dockerfile
  examples/vite-sandbox/package.json
  examples/vite-sandbox/src/index.ts
  examples/vite-sandbox/tsconfig.json
  examples/vite-sandbox/vite-app/counter.js
  examples/vite-sandbox/vite-app/index.html
  examples/vite-sandbox/vite-app/package.json
  examples/vite-sandbox/vite-app/src/main.js
  examples/vite-sandbox/worker-configuration.d.ts
  examples/vite-sandbox/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

WIP: Use vite to serve dev server in vite-sandbox example
  examples/vite-sandbox/package.json
  examples/vite-sandbox/src/index.ts
  examples/vite-sandbox/vite-app/package.json
  examples/vite-sandbox/vite-app/vite.config.js
  examples/vite-sandbox/vite.config.js
  package-lock.json
Due: biome-fix, format

Enforce that the hostname on the websocket connection is correct
  examples/vite-sandbox/src/index.ts
Due: biome-fix, format

Update .changeset/empty-poets-serve.md
  .changeset/empty-poets-serve.md
Due: format, validate-changesets

FIxed small review comments
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox/src/clients/watch-client.ts
Due: biome-fix, format

wip
  biome.json
  examples/vite-sandbox/Dockerfile
  examples/vite-sandbox/index.html
  examples/vite-sandbox/package.json
  examples/vite-sandbox/sandbox-app/counter.js
  examples/vite-sandbox/sandbox-app/package.json
  examples/vite-sandbox/sandbox-app/src/App.jsx
  examples/vite-sandbox/sandbox-app/src/main.jsx
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/App.jsx
  examples/vite-sandbox/src/index.js
  examples/vite-sandbox/src/index.ts
  examples/vite-sandbox/src/main.jsx
  examples/vite-sandbox/tsconfig.json
  examples/vite-sandbox/vite-app/counter.js
  examples/vite-sandbox/vite-app/package.json
  examples/vite-sandbox/vite-app/src/main.js
  examples/vite-sandbox/vite-app/vite.config.js
  examples/vite-sandbox/vite.config.js
  examples/vite-sandbox/worker-configuration.d.ts
  examples/vite-sandbox/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Add backup exclude options and e2e coverage
  .changeset/backup-exclude-patterns.md
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Add desktop viewer example (#425)
  examples/desktop/.gitignore
  examples/desktop/Dockerfile
  examples/desktop/assets/set-wallpaper.desktop
  examples/desktop/assets/set-wallpaper.sh
  examples/desktop/assets/wallpaper.png
  examples/desktop/index.html
  examples/desktop/package.json
  examples/desktop/src/App.tsx
  examples/desktop/src/api/client.ts
  examples/desktop/src/components/DesktopViewer.tsx
  examples/desktop/src/components/Header.tsx
  examples/desktop/src/hooks/useDesktop.ts
  examples/desktop/src/index.css
  examples/desktop/src/main.tsx
  examples/desktop/tsconfig.app.json
  examples/desktop/tsconfig.json
  examples/desktop/tsconfig.worker.json
  examples/desktop/vite.config.ts
  examples/desktop/worker-configuration.d.ts
  examples/desktop/workers/app.ts
  examples/desktop/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Add desktop environment tests (#424)
  examples/desktop/.gitignore
  examples/desktop/Dockerfile
  examples/desktop/assets/set-wallpaper.desktop
  examples/desktop/assets/set-wallpaper.sh
  examples/desktop/assets/wallpaper.png
  examples/desktop/index.html
  examples/desktop/package.json
  examples/desktop/src/App.tsx
  examples/desktop/src/api/client.ts
  examples/desktop/src/components/DesktopViewer.tsx
  examples/desktop/src/components/Header.tsx
  examples/desktop/src/hooks/useDesktop.ts
  examples/desktop/src/index.css
  examples/desktop/src/main.tsx
  examples/desktop/tsconfig.app.json
  examples/desktop/tsconfig.json
  examples/desktop/tsconfig.worker.json
  examples/desktop/vite.config.ts
  examples/desktop/worker-configuration.d.ts
  examples/desktop/workers/app.ts
  examples/desktop/wrangler.jsonc
  package-lock.json
  packages/sandbox-container/tests/handlers/desktop-handler.test.ts
  packages/sandbox-container/tests/services/desktop-service.test.ts
  packages/sandbox/tests/desktop-client.test.ts
  tests/e2e/desktop-environment.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format

Add desktop environment SDK client (#423)
  .changeset/desktop-environment.md
  examples/desktop/.gitignore
  examples/desktop/Dockerfile
  examples/desktop/assets/set-wallpaper.desktop
  examples/desktop/assets/set-wallpaper.sh
  examples/desktop/assets/wallpaper.png
  examples/desktop/index.html
  examples/desktop/package.json
  examples/desktop/src/App.tsx
  examples/desktop/src/api/client.ts
  examples/desktop/src/components/DesktopViewer.tsx
  examples/desktop/src/components/Header.tsx
  examples/desktop/src/hooks/useDesktop.ts
  examples/desktop/src/index.css
  examples/desktop/src/main.tsx
  examples/desktop/tsconfig.app.json
  examples/desktop/tsconfig.json
  examples/desktop/tsconfig.worker.json
  examples/desktop/vite.config.ts
  examples/desktop/worker-configuration.d.ts
  examples/desktop/workers/app.ts
  examples/desktop/wrangler.jsonc
  package-lock.json
  packages/sandbox-container/tests/handlers/desktop-handler.test.ts
  packages/sandbox-container/tests/services/desktop-service.test.ts
  packages/sandbox/Dockerfile
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/desktop-client.test.ts
  tests/e2e/desktop-environment.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format, validate-changesets
