Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Grant release E2E permissions
  .github/reusable-workflow-permissions.test.ts
  .github/workflows/release.yml
  .github/workflows/reusable-prerelease.yml
Due: format

Grant release E2E permissions (#842)
  .github/reusable-workflow-permissions.test.ts
  .github/workflows/release.yml
  .github/workflows/reusable-prerelease.yml
Due: format

Grant release E2E permissions (#843)
  .github/reusable-workflow-permissions.test.ts
  .github/workflows/release.yml
  .github/workflows/reusable-prerelease.yml
Due: format

Pin bridge template to next package line
  .github/workflows/bridge.yml
  .github/workflows/reusable-bridge-e2e.yml
  bridge/AGENTS.md
  bridge/README.md
  bridge/worker/Dockerfile
  bridge/worker/README.md
  bridge/worker/package.json
  bridge/worker/scripts/link-workspace-sandbox.sh
  package-lock.json
Due: format

Poll Devin sessions more frequently within each cron schedule
  devin/README.md
  devin/package.json
  devin/src/index.ts
  devin/test/index.test.ts
  devin/worker-configuration.d.ts
  devin/wrangler.jsonc
Due: format

Keep reconcile polling after failures
  devin/src/index.ts
  devin/test/index.test.ts
Due: format

Poll Devin sessions more frequently within each cron schedule (#847)
  devin/README.md
  devin/package.json
  devin/src/index.ts
  devin/test/index.test.ts
  devin/worker-configuration.d.ts
  devin/wrangler.jsonc
Due: format

Harden RPC interruption and retry budgets
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/response-retry.ts
  packages/sandbox/tests/response-retry.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Rewrite user-facing changeset notes
  .changeset/destroy-never-admitted.md
  .changeset/rpc-method-tracking.md
  .changeset/surface-container-unavailable.md
Due: format, validate-changesets

Type interruption rebinding without casts
  packages/sandbox/src/container-control/client.ts
Due: biome-fix, format

Fix for race condition in RPC connection (#799)
  .changeset/destroy-never-admitted.md
  .changeset/rpc-method-tracking.md
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/bridge/warm-pool.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/container-control/tracing.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/platform-errors.ts
  packages/sandbox/src/response-retry.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/platform-errors.test.ts
  packages/sandbox/tests/response-retry.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/rpc-container-unavailable.test.ts
  packages/sandbox/tests/rpc-no-container-instance.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/tracing.test.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
Due: biome-fix, format, validate-changesets

Keep the bridge on the stable release line
  .agents/skills/sandbox-bridge/SKILL.md
  bridge/AGENTS.md
  bridge/README.md
  bridge/worker/README.md
Due: format

Keep the bridge on the stable release line (#856)
  .agents/skills/sandbox-bridge/SKILL.md
  bridge/AGENTS.md
  bridge/README.md
  bridge/worker/README.md
Due: format

Install wrangler before E2E rollout checks
  .github/reusable-e2e.test.sh
  .github/workflows/reusable-e2e.yml
Due: format

Parse npm pack JSON across npm versions
  .github/npm-package-prep.test.ts
  .github/npm-package-prep.ts
Due: format

Accept keyed npm pack JSON objects
  .github/npm-package-prep.test.ts
  .github/npm-package-prep.ts
Due: format

Accept npm version object JSON shapes
  .github/release-platform.test.ts
  .github/release-platform.ts
Due: format

Accept array-shaped npm version JSON
  .github/release-platform.test.ts
  .github/release-platform.ts
Due: format

Use app token for stable release mutations
  .github/workflows/reconcile-stable-release.yml
  .github/workflows/release.yml
Due: format

Use GITHUB_TOKEN for release artifact writes
  .github/workflows/reconcile-stable-release.yml
  .github/workflows/release.yml
Due: format

Backport preview package publisher
  .github/npm-package-prep.test.ts
  .github/npm-package-prep.ts
  .github/publish-preview-package.test.ts
  .github/publish-preview-package.ts
Due: format

Backport preview package publisher (#861)
  .github/npm-package-prep.test.ts
  .github/npm-package-prep.ts
  .github/publish-preview-package.test.ts
  .github/publish-preview-package.ts
Due: format

Fix restore archive part assembly command
  .changeset/accelerate-backup-restores.md
  packages/sandbox-container/src/services/backup/transfer-operations.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format, validate-changesets

Fix restore archive part assembly command (#860)
  .changeset/accelerate-backup-restores.md
  packages/sandbox-container/src/services/backup/transfer-operations.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format, validate-changesets

Run nightly performance tests on next
  .github/workflows/performance.yml
Due: format

Fix credential proxy copy scope
  .changeset/secure-credential-proxy-copy-source.md
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix credential proxy copy scope
  .changeset/secure-credential-proxy-copy-source.md
  packages/sandbox/src/storage-mount/outbound/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix credential proxy copy scope (#866)
  .changeset/secure-credential-proxy-copy-source.md
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix credential proxy copy scope (#867)
  .changeset/secure-credential-proxy-copy-source.md
  packages/sandbox/src/storage-mount/outbound/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix stable release promotion flow
  .github/reconcile-workflow.test.sh
  .github/release-identity.test.ts
  .github/release-identity.ts
  .github/release-plan.test.ts
  .github/release-plan.ts
  .github/release-platform.test.ts
  .github/release-platform.ts
  .github/release-tooling.md
  .github/stable-release-engine.test.ts
  .github/stable-release-engine.ts
  .github/test/release-platform-fake.ts
  .github/workflows/reconcile-stable-release.yml
  docs/RELEASE.md
Due: format

Fix stable release promotion flow (#869)
  .github/reconcile-workflow.test.sh
  .github/release-identity.test.ts
  .github/release-identity.ts
  .github/release-plan.test.ts
  .github/release-plan.ts
  .github/release-platform.test.ts
  .github/release-platform.ts
  .github/release-tooling.md
  .github/stable-release-engine.test.ts
  .github/stable-release-engine.ts
  .github/test/release-platform-fake.ts
  .github/workflows/reconcile-stable-release.yml
  docs/RELEASE.md
Due: format

Fix promotion branch creation
  .changeset/fix-stable-latest-channel.md
  .github/promote-references.test.ts
  .github/promote-references.ts
Due: format, validate-changesets

Promote public refs to 0.12.6
  DOCKER_README.md
  bridge/worker/Dockerfile
  bridge/worker/README.md
  examples/alpine/Dockerfile
  examples/authentication/Dockerfile
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/codex-app-server/Dockerfile
  examples/codex-app-server/README.md
  examples/codex/Dockerfile
  examples/collaborative-terminal/Dockerfile
  examples/git-repo-per-sandbox/Dockerfile
  examples/minimal/Dockerfile
  examples/openai-agents/Dockerfile
  examples/opencode/Dockerfile
  examples/s3-mount/Dockerfile
  examples/time-machine/Dockerfile
  examples/typescript-validator/Dockerfile
  examples/vite-sandbox/Dockerfile
  examples/websocket-tunnel/Dockerfile
Due: format

Retry stable release reinspection
  .github/stable-release-engine.test.ts
  .github/stable-release-engine.ts
Due: format

Fix R2 mount object key decoding
  .changeset/decode-mounted-r2-object-keys.md
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix R2 mount object key decoding
  .changeset/decode-mounted-r2-object-keys.md
  packages/sandbox/src/storage-mount/outbound/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix R2 copy source prefix scoping
  .changeset/secure-r2-copy-source-prefix.md
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
Due: biome-fix, format, validate-changesets
