Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Cleanup tests
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
  packages/sandbox/tests/transport.test.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Remove working documents
  ISSUES.md
  TRANSPORT.md
Due: format

Simplify transport config to env var only
  .changeset/websocket-transport.md
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Use stub.fetch() for WebSocket transport connection
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/transport.test.ts
Due: biome-fix, format

Remove redundant plugin config from workflow
  .github/workflows/claude-code-review.yml
Due: format

Revert "Remove redundant plugin config from workflow"
  .github/workflows/claude-code-review.yml
Due: format

Optimize CI: build Docker once, fix cleanup for transport variants
  .github/workflows/cleanup-stale.yml
  .github/workflows/cleanup.yml
  .github/workflows/pullrequest.yml
Due: format

Fix WebSocket transport error handling
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

Simplify CI Docker builds
  .github/workflows/pullrequest.yml
Due: format

Optimize CI with buildx cache and CF registry
  .github/workflows/cleanup-stale.yml
  .github/workflows/cleanup.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  tests/e2e/test-worker/Dockerfile.standalone
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Parallelize Docker image builds in CI
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
Due: format

Add WebSocket transport (#253)
  .changeset/websocket-transport.md
  .github/workflows/cleanup-stale.yml
  .github/workflows/cleanup.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/index.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/interpreter.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/transport.test.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/index.ts
  packages/shared/src/ws-types.ts
  tests/e2e/helpers/wrangler-runner.ts
  tests/e2e/test-worker/Dockerfile.standalone
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
  tests/e2e/websocket-connect.test.ts
Due: biome-fix, format, validate-changesets

Improve changeset and route comments
  .changeset/hip-avocados-sin.md
  packages/sandbox-container/src/routes/setup.ts
Due: biome-fix, format, validate-changesets

Replace polling with SSE streaming for waitForPort
  .changeset/hip-avocados-sin.md
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Restore plugin configuration in code review workflow
  .github/workflows/claude-code-review.yml
Due: format

Add tests for SSE port-watch endpoint
  packages/sandbox-container/tests/handlers/port-handler.test.ts
Due: biome-fix, format

Replace polling with SSE streaming for waitForPort (#305)
  .changeset/hip-avocados-sin.md
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Keep websocket transport as a patch upgrade
  .changeset/websocket-transport.md
Due: format, validate-changesets

Add weekly downloads badge to readme
  packages/sandbox/README.md
Due: format

Add PTY types to shared package
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  packages/shared/src/ws-types.ts
Due: biome-fix, format

Add PtyManager for container PTY lifecycle
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/sandbox-container/tests/managers/pty-manager.test.ts
Due: biome-fix, format

Add PTY handler and route registration
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/pty-handler.ts
  packages/sandbox-container/src/routes/setup.ts
Due: biome-fix, format

Add PTY message handling to WebSocket adapter
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
Due: biome-fix, format

Add PTY methods to transport interface
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

Add PtyClient for SDK PTY operations
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/pty-client.ts
  packages/sandbox/tests/pty-client.test.ts
Due: biome-fix, format

Add pty namespace to Sandbox class
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add E2E tests for PTY workflow
  tests/e2e/pty-workflow.test.ts
Due: format

Add changeset for PTY support
  .changeset/pty-support.md
Due: format, validate-changesets

Update lockfile
  package-lock.json
Due: format

Add reproduction test for issue #309 spawn ENOENT
  examples/minimal/Dockerfile
  examples/minimal/src/index.ts
Due: biome-fix, format

Skip PTY tests when PTY allocation fails
  packages/sandbox-container/tests/managers/pty-manager.test.ts
Due: biome-fix, format

Fix pty manager tests
  packages/sandbox-container/tests/managers/pty-manager.test.ts
Due: biome-fix, format

fix any types, logger
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  packages/sandbox/src/clients/pty-client.ts
Due: biome-fix, format

fix silent logging
  packages/sandbox-container/src/handlers/pty-handler.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/pty-workflow.test.ts
Due: biome-fix, format

Add authentication proxy example
  examples/authentication/.dev.vars.example
  examples/authentication/.gitignore
  examples/authentication/Dockerfile
  examples/authentication/README.md
  examples/authentication/package.json
  examples/authentication/src/index.ts
  examples/authentication/src/proxy/errors.ts
  examples/authentication/src/proxy/handler.ts
  examples/authentication/src/proxy/index.ts
  examples/authentication/src/proxy/token.ts
  examples/authentication/src/proxy/types.ts
  examples/authentication/src/services/anthropic/README.md
  examples/authentication/src/services/anthropic/index.ts
  examples/authentication/src/services/github/README.md
  examples/authentication/src/services/github/index.ts
  examples/authentication/src/services/index.ts
  examples/authentication/src/services/r2/README.md
  examples/authentication/src/services/r2/index.ts
  examples/authentication/tsconfig.json
  examples/authentication/worker-configuration.d.ts
  examples/authentication/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

fix pty tests for resizing
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/sandbox/src/clients/pty-client.ts
  packages/sandbox/src/sandbox.ts
  tests/e2e/pty-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

update claude review yml
  .github/workflows/claude-code-review.yml
Due: format

revert review change
  .github/workflows/claude-code-review.yml
Due: format
