Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Use descriptive wide event names for dashboard readability
  packages/sandbox-container/src/middleware/logging.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Include status code in HTTP log message, drop redundant fields
  packages/sandbox-container/src/middleware/logging.ts
Due: biome-fix, format

Improve DX with new Dockerfile.desktop image
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
Due: none

Improve DX with new Dockerfile.desktop image (#451)
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
Due: none

Fix null pointer in shellExitedPromise during concurrent session destroy
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format

Add changeset for shellExitedPromise fix
  .changeset/fix-shell-exited-promise-null-pointer.md
Due: format, validate-changesets

Add tests for destroy-during-streaming race condition
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
Due: biome-fix, format

Refine session-destroyed detection and race tests
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
Due: biome-fix, format

Preserve shell-termination error propagation
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Handle explicit exit commands as shell termination
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Fix transport retry budget exceeding before container startup completes (#449)
  .changeset/fix-transport-retry-budget.md
  package-lock.json
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Add typed errors for shell exit classification
  packages/sandbox-container/src/errors.ts
Due: biome-fix, format

Fix remaining race conditions in session destruction
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
Due: biome-fix, format

Update changeset to reflect actual user-facing behavior
  .changeset/fix-shell-exited-promise-null-pointer.md
Due: format, validate-changesets

Fix null pointer in shellExitedPromise during concurrent session destroy (#452)
  .changeset/fix-shell-exited-promise-null-pointer.md
  packages/sandbox-container/src/errors.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format, validate-changesets

Propagate timeouts to exec level correctly
  packages/sandbox-container/src/handlers/session-handler.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
  tests/e2e/command-timeout.test.ts
Due: biome-fix, format

Add changeset
  .changeset/propagate-command-timeouts.md
Due: format, validate-changesets

Remove debug log
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Split unrelated Docker fixes
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
Due: none

Change condition checks
  packages/sandbox-container/src/handlers/session-handler.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Remove rebase issues
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
Due: none

Add certificate addition to opencode container
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
Due: none

Add canonical log lines across all container services
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/router.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/middleware/logging.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/middleware/logging.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/port-service.test.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/base-client.test.ts
  packages/shared/src/logger/logger.ts
Due: biome-fix, format

Remove logging-best-practices skill from codebase
  .agents/skills/logging-best-practices/README.md
  .agents/skills/logging-best-practices/SKILL.md
  .agents/skills/logging-best-practices/rules/context.md
  .agents/skills/logging-best-practices/rules/pitfalls.md
  .agents/skills/logging-best-practices/rules/structure.md
  .agents/skills/logging-best-practices/rules/wide-events.md
Due: format

Remove logging-best-practices skill from Claude and Windsurf
  .claude/skills/logging-best-practices
  .windsurf/skills/logging-best-practices
Due: none

Remove logging-best-practices skill from .pi
  .pi/skills/logging-best-practices
Due: none

Use larger runners for CI build, test, and perf jobs
  .github/workflows/performance.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-quality.yml
Due: format

Use larger runners for CI build, test, and perf jobs (#457)
  .github/workflows/performance.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-quality.yml
Due: format

Review fixes: rename to git prefix, fix parsing bugs, add validation and tests
  .changeset/git-commands.md
  docs/STANDALONE_BINARY.md
  package-lock.json
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/managers/git-status-fixtures.test.ts
  packages/sandbox/README.md
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Fix e2e test to use new createTestSandbox helper API
  tests/e2e/git-operations-workflow.test.ts
Due: format

Add certificate addition to opencode container (#454)
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
Due: none

Strip pr.yml to basic-only pipeline
  .github/path-filters.yml
  .github/workflows/pr.yml
Due: format

Fix debounce deadlock in waitForLogPattern
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add privileged CI pipeline for fork PRs
  .github/workflows/pr-privileged.yml
Due: format
