Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Add OpenCode integration for Sandbox SDK (#282)
  .changeset/add-opencode-integration.md
  .github/workflows/pkg-pr-new.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  examples/opencode/.dev.vars.example
  examples/opencode/.gitignore
  examples/opencode/Dockerfile
  examples/opencode/README.md
  examples/opencode/package.json
  examples/opencode/src/index.ts
  examples/opencode/tsconfig.json
  examples/opencode/worker-configuration.d.ts
  examples/opencode/wrangler.jsonc
  package-lock.json
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
  packages/sandbox/tsdown.config.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/test-worker/Dockerfile.opencode
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format, validate-changesets

Clean up orphaned locks on session creation failure
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Remove redundant double-check in getOrCreateSession
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Fix GitManager to return valid ErrorCode enum values
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
Due: biome-fix, format

Fix my longest living pet peeve
  packages/sandbox/src/clients/base-client.ts
Due: biome-fix, format

Add opencode container cleanup to E2E teardown script
  scripts/cleanup-test-deployment.sh
Due: none

Update lockfile
  package-lock.json
Due: format

Fix signal handling and refactor server lifecycle
  packages/sandbox-container/src/legacy.ts
  packages/sandbox-container/src/main.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Switch base images from Alpine to glibc for binary compat
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
Due: format

Add E2E tests for standalone binary pattern
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  scripts/cleanup-test-deployment.sh
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/test-worker/Dockerfile.standalone
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/startup-test.sh
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Document standalone binary pattern and dependencies
  docs/STANDALONE_BINARY.md
Due: format

Suppress lint warnings in thenable tests
  packages/sandbox-container/tests/runtime/thenable.test.ts
Due: biome-fix, format

Add CMD passthrough docs and release checksums
  .github/workflows/release.yml
  docs/STANDALONE_BINARY.md
Due: format

Add standalone binary for arbitrary Dockerfile support (#280)
  .changeset/standalone-binary-arbitrary-dockerfile.md
  .github/templates/pr-preview-comment.md
  .github/workflows/pkg-pr-new.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  docs/STANDALONE_BINARY.md
  packages/sandbox-container/build.ts
  packages/sandbox-container/src/index.ts
  packages/sandbox-container/src/legacy.ts
  packages/sandbox-container/src/main.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
  packages/sandbox/startup.sh
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  scripts/cleanup-test-deployment.sh
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/test-worker/Dockerfile.standalone
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/startup-test.sh
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format, validate-changesets

Update examples list in README
  packages/sandbox/README.md
Due: format

Add per-session mutex locking to prevent race conditions (#290)
  .changeset/session-locking.md
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
Due: biome-fix, format, validate-changesets

Fixed processing spinner stoke color
  sites/sandbox/src/sections/features.tsx
Due: biome-fix, format

testing circuit breaker
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/circuit-breaker.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/request-queue.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/circuit-breaker.test.ts
  packages/sandbox/tests/request-queue.test.ts
Due: biome-fix, format

update lock
  package-lock.json
Due: format

update docs
  packages/sandbox/src/clients/circuit-breaker.ts
Due: biome-fix, format

improve PID management in Session class
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

revert circuit and queue changes
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/circuit-breaker.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/request-queue.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/circuit-breaker.test.ts
  packages/sandbox/tests/request-queue.test.ts
Due: biome-fix, format

use wait for in the test
  packages/sandbox-container/src/session.ts
  tests/e2e/comprehensive-workflow.test.ts
Due: biome-fix, format

Fix race condition for PID retrieval
  .changeset/clean-pans-switch.md
Due: format, validate-changesets

Use proper HTTP status codes for container startup errors
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/git-client.test.ts
  packages/sandbox/tests/port-client.test.ts
  packages/sandbox/tests/utility-client.test.ts
Due: biome-fix, format

Replace arbitrary setTimeout waits with proper waitFor patterns
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/websocket-workflow.test.ts
Due: format

Add error handling documentation
  docs/ERROR_HANDLING.md
Due: format

Improve CI workflow maintainability
  .github/workflows/performance.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  package.json
  tests/perf/helpers/concurrent-runner.ts
  tests/perf/helpers/perf-sandbox-manager.ts
  tests/perf/scenarios/cold-start.test.ts
  tests/perf/scenarios/concurrent-creation.test.ts
Due: format

Add waitForExit() method to Process interface and tests
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Optimize perf workflow and improve test robustness
  .github/workflows/performance.yml
  docs/PERF_TESTING.md
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/perf/scenarios/concurrent-creation.test.ts
Due: format

Add typed metadata interfaces for metrics collection
  tests/perf/helpers/metrics-collector.ts
Due: format

fix error handling for unexpected stream terminations in Sandbox class
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Fix Flaky PID Retrieval (#296)
  .changeset/clean-pans-switch.md
  package-lock.json
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/session.ts
  tests/e2e/comprehensive-workflow.test.ts
Due: biome-fix, format, validate-changesets

Fix FIFO cleanup and improve error logging
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Unblock orphaned FIFO reader on timeout
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Add Bun setup to performance-tests job
  .github/workflows/performance.yml
Due: format

Simplify waitForExit to return only exit code
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
