Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Stream backup uploads to reduce memory use
  .changeset/backup-upload-streaming.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Improve backup error for local R2 mismatch
  .changeset/improve-backup-error-message.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

fix(opencode): check /global/health returns 200 before marking server ready
  .changeset/fix-opencode-flaky-test.md
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format, validate-changesets

Bump backup transfer timeouts to 30 minutes
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Stream backup uploads for large archives (#417)
  .changeset/backup-upload-streaming.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

fix(opencode): check /global/health returns 200 before marking server ready (#419)
  .changeset/fix-opencode-flaky-test.md
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format, validate-changesets

Create empty-poets-serve.md
  .changeset/empty-poets-serve.md
Due: format, validate-changesets

Potential fix for code scanning alert no. 42: Incomplete string escaping or encoding
  packages/sandbox-container/src/services/watch-service.ts
Due: biome-fix, format

fixes for claude review
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

update tests to verify regex format for default and custom excludes
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

Fix error handling and type safety in WatchService and FileWatch classes. Update tests to validate new event parsing logic and ensure proper handling of inotifywait output.
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/sandbox.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

feat: add file watching capabilities with inotify support
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox/Dockerfile
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Acquire stream reader synchronously before async execution
  packages/sandbox-container/src/handlers/ws-adapter.ts
Due: biome-fix, format

Refactored and cleaned
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox/src/file-watch.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

Fix WebSocket blocking issue for SSE streaming responses
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
Due: biome-fix, format

Added timeouts for event propagation
  tests/e2e/file-watch-workflow.test.ts
Due: format

Timing changes help account for the additional buffering
  tests/e2e/file-watch-workflow.test.ts
Due: format

Small ws transport related fixes
  packages/sandbox-container/src/handlers/ws-adapter.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

Add debug logging and stream tracking for WebSocket streaming
  packages/sandbox-container/src/handlers/ws-adapter.ts
Due: biome-fix, format

Refactor WatchService tests to validate combined regex patterns for default and custom excludes
  packages/sandbox-container/tests/services/watch-service.test.ts
Due: biome-fix, format

Wait for first message before returning WebSocket stream
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

Fix exclude test timeout in file watch E2E
  tests/e2e/file-watch-workflow.test.ts
Due: format

Add timeout to waitForWatchesEstablished to prevent hanging
  packages/sandbox-container/src/services/watch-service.ts
Due: biome-fix, format

Wait for inotifywait watches to be established before signaling ready
  packages/sandbox-container/src/services/watch-service.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

Fix file watch E2E test timeout race condition
  tests/e2e/file-watch-workflow.test.ts
Due: format

Isolate file-watch e2e sessions per test
  tests/e2e/file-watch-workflow.test.ts
Due: format

Harden file watch stream lifecycle
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Remove low-level watch API to simplify public interface
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/file-stream.ts
  packages/sandbox/src/file-watch.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/sse-parser.ts
  packages/shared/src/index.ts
  packages/shared/src/sse.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Stabilize explicit watch stop e2e test
  tests/e2e/file-watch-workflow.test.ts
Due: format

Stabilize file-watch error and stop e2e cases
  tests/e2e/file-watch-workflow.test.ts
Due: format

Stabilize websocket e2e flake handling
  packages/sandbox-container/src/handlers/watch-handler.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

Treat ESRCH as success when stopping already-gone watch process
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
Due: biome-fix, format

Improve backup error for local R2 mismatch (#418)
  .changeset/improve-backup-error-message.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Add typed Git workflows and parsing coverage
  .changeset/git-commands.md
  docs/GIT_OPERATIONS_DESIGN_NOTE.md
  docs/STANDALONE_BINARY.md
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/tests/fixtures/git-status/au-ua-dd-conflicts.txt
  packages/sandbox-container/tests/fixtures/git-status/copy-rename.txt
  packages/sandbox-container/tests/fixtures/git-status/detached-head.txt
  packages/sandbox-container/tests/fixtures/git-status/merge-conflict.txt
  packages/sandbox-container/tests/fixtures/git-status/quoted-space-paths.txt
  packages/sandbox-container/tests/fixtures/git-status/submodule-like-status.txt
  packages/sandbox-container/tests/fixtures/git-status/upstream-gone.txt
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/managers/git-status-fixtures.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox/README.md
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/git-client.test.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Remove duplicated Git API tiers section
  packages/sandbox/README.md
Due: format

Refine git flow and add minimal e2e coverage
  docs/GIT_OPERATIONS_DESIGN_NOTE.md
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/managers/git-branch-commands.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/managers/git-working-tree-commands.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  tests/e2e/git-operations-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Update JS Docs to better reflect token requirements for tokens for exposePort() (#409)
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Isolate file watch e2e sandbox
  tests/e2e/file-watch-workflow.test.ts
Due: format

fix proxyToSandbox proxying redirects
  .changeset/proxy-redirects.md
  packages/sandbox/src/request-handler.ts
Due: biome-fix, format, validate-changesets

Harden desktop feature and add viewer example
  examples/desktop/.gitignore
  examples/desktop/Dockerfile
  examples/desktop/assets/set-wallpaper.desktop
  examples/desktop/assets/set-wallpaper.sh
  examples/desktop/assets/wallpaper.png
  examples/desktop/index.html
  examples/desktop/package.json
  examples/desktop/src/App.tsx
  examples/desktop/src/api/client.ts
  examples/desktop/src/components/DesktopViewer.tsx
  examples/desktop/src/components/Header.tsx
  examples/desktop/src/hooks/useDesktop.ts
  examples/desktop/src/index.css
  examples/desktop/src/main.tsx
  examples/desktop/tsconfig.app.json
  examples/desktop/tsconfig.json
  examples/desktop/tsconfig.worker.json
  examples/desktop/vite.config.ts
  examples/desktop/worker-configuration.d.ts
  examples/desktop/workers/app.ts
  examples/desktop/wrangler.jsonc
  package-lock.json
  packages/sandbox-container/build.ts
  packages/sandbox-container/native/desktop-wrapper/main.go
  packages/sandbox-container/src/managers/desktop-manager.ts
  packages/sandbox-container/src/services/desktop-service.ts
  packages/sandbox-container/src/workers/desktop-worker.ts
  packages/sandbox/Dockerfile
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
