Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Uppercase RPC in identifiers, prune redundant conversion, trim changeset
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/bridge/warm-pool.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Surface never-connected teardown as retryable ContainerUnavailableError
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Make destroy() a no-op when the container was never admitted
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
  packages/shared/src/errors/contexts.ts
Due: biome-fix, format, validate-changesets

Guard connect teardown, stamp causes, and trace the RPC path
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/container-control/tracing.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Namespace RPC spans under sandbox.rpc.* with sandbox identifiers
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Include operation in the sandbox.rpc.call span name
  packages/sandbox/src/container-control/client.ts
Due: biome-fix, format

Resolve sandbox trace identifiers lazily via a single callback
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
Due: biome-fix, format

Add release artifact orchestration
  .agents/skills/changesets/SKILL.md
  .github/changeset-publish.ts
  .github/release-command-runner.ts
  .github/release-orchestrator.test.ts
  .github/release-orchestrator.ts
  .github/release-state.test.ts
  .github/release-state.ts
  .github/release-tooling.md
  .github/reusable-prerelease.test.sh
  .github/workflows/backfill-release-artifacts.yml
  .github/workflows/release.yml
  .github/workflows/reusable-prerelease.yml
Due: format

Rank teardown causes as weak so the real failure wins
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Wrap the whole connect retry loop in one span
  packages/sandbox/src/container-control/connection.ts
Due: biome-fix, format

Harden git extension auth proxy
  docs/STANDALONE_BINARY.md
  examples/code-interpreter/Dockerfile
  packages/sandbox/src/extensions/http-proxy-handler.ts
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/git/credential-proxy-handler.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/git/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/git.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

Stamp wrapped cause chain on RPC error spans
  .changeset/surface-container-unavailable.md
  packages/sandbox/src/container-control/tracing.ts
  packages/sandbox/tests/tracing.test.ts
Due: biome-fix, format, validate-changesets

Clear stale connect-attempt cause on session establish
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Consolidate platform admission-error matching into one helper
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/platform-errors.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/platform-errors.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format

Add release artifact orchestration (#800)
  .agents/skills/changesets/SKILL.md
  .github/changeset-publish.ts
  .github/release-command-runner.ts
  .github/release-orchestrator.test.ts
  .github/release-orchestrator.ts
  .github/release-state.test.ts
  .github/release-state.ts
  .github/release-tooling.md
  .github/reusable-prerelease.test.sh
  .github/workflows/backfill-release-artifacts.yml
  .github/workflows/release.yml
  .github/workflows/reusable-prerelease.yml
Due: format

Skip already released stable versions
  .github/detect-stable-release-needed.sh
  .github/detect-stable-release-needed.test.sh
  .github/reusable-prerelease.test.sh
  .github/workflows/release.yml
Due: format

Skip already released stable versions (#805)
  .github/detect-stable-release-needed.sh
  .github/detect-stable-release-needed.test.sh
  .github/reusable-prerelease.test.sh
  .github/workflows/release.yml
Due: format

Add sandbox container labels option (#798)
  .changeset/clever-sandboxes-label.md
  packages/sandbox/README.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Extract preview URL core module
  packages/sandbox/src/preview/forwarding.ts
  packages/sandbox/src/preview/protocol.ts
  packages/sandbox/src/preview/route.ts
  packages/sandbox/src/preview/service.ts
  packages/sandbox/src/preview/state.ts
  packages/sandbox/src/preview/url.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/preview-forwarding.test.ts
  packages/sandbox/tests/preview-route.test.ts
Due: biome-fix, format

Simplify preview URL core module
  packages/sandbox/src/preview/protocol.ts
  packages/sandbox/src/preview/proxy-request.ts
  packages/sandbox/src/preview/service.ts
  packages/sandbox/src/preview/token.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/preview-protocol.test.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
Due: biome-fix, format

Extract preview URL handling into a core module (#797)
  packages/sandbox/src/preview-proxy-protocol.ts
  packages/sandbox/src/preview/forwarding.ts
  packages/sandbox/src/preview/protocol.ts
  packages/sandbox/src/preview/proxy-request.ts
  packages/sandbox/src/preview/route.ts
  packages/sandbox/src/preview/service.ts
  packages/sandbox/src/preview/state.ts
  packages/sandbox/src/preview/token.ts
  packages/sandbox/src/preview/url.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/preview-forwarding.test.ts
  packages/sandbox/tests/preview-protocol.test.ts
  packages/sandbox/tests/preview-route.test.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
Due: biome-fix, format

Extract bucket mounts into a core service module
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/lifecycle-cleanup.ts
  packages/sandbox/src/storage-mount/lifecycle.ts
  packages/sandbox/src/storage-mount/operation-queue.ts
  packages/sandbox/src/storage-mount/operations/context.ts
  packages/sandbox/src/storage-mount/operations/fuse-cleanup.ts
  packages/sandbox/src/storage-mount/operations/local-sync-mount.ts
  packages/sandbox/src/storage-mount/operations/r2-egress-mount.ts
  packages/sandbox/src/storage-mount/operations/remote-fuse-mount.ts
  packages/sandbox/src/storage-mount/operations/unmount.ts
  packages/sandbox/src/storage-mount/outbound/container-proxy.ts
  packages/sandbox/src/storage-mount/outbound/index.ts
  packages/sandbox/src/storage-mount/outbound/params.ts
  packages/sandbox/src/storage-mount/outbound/r2-egress-handler.ts
  packages/sandbox/src/storage-mount/outbound/s3-credential-proxy-handler.ts
  packages/sandbox/src/storage-mount/registry.ts
  packages/sandbox/src/storage-mount/s3fs/host.ts
  packages/sandbox/src/storage-mount/s3fs/index.ts
  packages/sandbox/src/storage-mount/s3fs/support-files.ts
  packages/sandbox/src/storage-mount/service.ts
  packages/sandbox/src/storage-mount/validation/credentials.ts
  packages/sandbox/src/storage-mount/validation/index.ts
  packages/sandbox/src/storage-mount/validation/provider.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/storage-mount-lifecycle-cleanup.test.ts
  packages/sandbox/tests/storage-mount/credential-detection.test.ts
  packages/sandbox/tests/storage-mount/provider-detection.test.ts
Due: biome-fix, format

Extract bucket mounts into a core service module (#807)
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/lifecycle-cleanup.ts
  packages/sandbox/src/storage-mount/lifecycle.ts
  packages/sandbox/src/storage-mount/operation-queue.ts
  packages/sandbox/src/storage-mount/operations/context.ts
  packages/sandbox/src/storage-mount/operations/fuse-cleanup.ts
  packages/sandbox/src/storage-mount/operations/local-sync-mount.ts
  packages/sandbox/src/storage-mount/operations/r2-egress-mount.ts
  packages/sandbox/src/storage-mount/operations/remote-fuse-mount.ts
  packages/sandbox/src/storage-mount/operations/unmount.ts
  packages/sandbox/src/storage-mount/outbound/container-proxy.ts
  packages/sandbox/src/storage-mount/outbound/index.ts
  packages/sandbox/src/storage-mount/outbound/params.ts
  packages/sandbox/src/storage-mount/outbound/r2-egress-handler.ts
  packages/sandbox/src/storage-mount/outbound/s3-credential-proxy-handler.ts
  packages/sandbox/src/storage-mount/registry.ts
  packages/sandbox/src/storage-mount/s3fs/host.ts
  packages/sandbox/src/storage-mount/s3fs/index.ts
  packages/sandbox/src/storage-mount/s3fs/support-files.ts
  packages/sandbox/src/storage-mount/service.ts
  packages/sandbox/src/storage-mount/validation/credentials.ts
  packages/sandbox/src/storage-mount/validation/index.ts
  packages/sandbox/src/storage-mount/validation/provider.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/storage-mount-lifecycle-cleanup.test.ts
  packages/sandbox/tests/storage-mount/credential-detection.test.ts
  packages/sandbox/tests/storage-mount/provider-detection.test.ts
Due: biome-fix, format

support extension property calling directly
  examples/code-interpreter/Dockerfile
Due: none

patch tarball load error
  packages/sandbox/src/extensions/index.ts
Due: biome-fix, format

Extract git to extension
  .changeset/git-extension.md
  examples/claude-code/src/index.ts
  examples/codex-app-server/src/index.ts
  examples/codex/src/index.ts
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/security/security-adapter.ts
  packages/sandbox-container/src/security/security-service.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/rpc/sandbox-api-git.test.ts
  packages/sandbox-container/tests/security/security-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox/package.json
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/git/manager.ts
  packages/sandbox/src/git/types.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/git.test.ts
  packages/sandbox/tests/helpers/mock-control-client.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tsdown.config.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

sessionless execution
  .changeset/git-extension.md
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/git/types.ts
  packages/sandbox/tests/git.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

patch e2e tests
  tests/e2e/test-worker/index.ts
Due: format

update marketing site example
  sites/sandbox/src/code-sample.tsx
  sites/sandbox/src/sections/playground.tsx
Due: biome-fix, format

Run git through unified exec
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/tests/git.test.ts
Due: biome-fix, format

Handle git review edge cases
  .changeset/git-extension.md
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/git/types.ts
  packages/sandbox/tests/git.test.ts
Due: biome-fix, format, validate-changesets

Align git extension with command API
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/git.test.ts
Due: biome-fix, format

add authentication handling to extension
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/git/credential-proxy-handler.ts
  packages/sandbox/src/git/index.ts
  packages/sandbox/src/git/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/outbound/container-proxy.ts
  packages/sandbox/src/storage-mount/outbound/index.ts
  packages/sandbox/tests/git.test.ts
Due: biome-fix, format

Fix storage mount import order
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Move extensions into their own directory
  .agents/skills/extensions/SKILL.md
  .changeset/extensions-out-of-src.md
  extensions/git/src/index.ts
  extensions/git/src/manager.ts
  extensions/git/src/types.ts
  extensions/git/tests/git.test.ts
  extensions/interpreter/build.ts
  extensions/interpreter/src/index.ts
  extensions/interpreter/src/sidecar-api.ts
  extensions/interpreter/src/sidecar/executors/javascript/node_executor.ts
  extensions/interpreter/src/sidecar/executors/python/ipython_executor.py
  extensions/interpreter/src/sidecar/executors/shared/code-transformer.test.ts
  extensions/interpreter/src/sidecar/executors/shared/code-transformer.ts
  extensions/interpreter/src/sidecar/executors/shared/thenable.test.ts
  extensions/interpreter/src/sidecar/executors/shared/thenable.ts
  extensions/interpreter/src/sidecar/pool-concurrency.test.ts
  extensions/interpreter/src/sidecar/pool.ts
  extensions/interpreter/src/sidecar/server.ts
  extensions/interpreter/src/tgz-module.ts
  extensions/interpreter/src/types.ts
  extensions/interpreter/tests/interpreter.test.ts
  packages/sandbox/package.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/outbound/container-proxy.ts
  packages/sandbox/src/storage-mount/outbound/git-credential-proxy-handler.ts
  packages/sandbox/src/storage-mount/outbound/index.ts
  packages/sandbox/tsconfig.json
  packages/sandbox/tsconfig.sidecar.json
  packages/sandbox/tsdown.config.ts
  packages/sandbox/vitest.config.ts
Due: biome-fix, format, validate-changesets

update biome linter
  biome.json
  extensions/git/src/index.ts
Due: format

Tune bridge config for tracing and capacity
  bridge/worker/wrangler.jsonc
Due: none

Scale warm pool in bounded-parallel batches
  .changeset/warm-pool-batched-scale-up.md
  bridge/worker/src/__tests__/warm-pool.test.ts
  bridge/worker/wrangler.jsonc
  packages/sandbox/src/bridge/pool.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/bridge/warm-pool.ts
Due: biome-fix, format, validate-changesets

Refill warm pool eagerly on depletion
  .changeset/warm-pool-eager-refill.md
  bridge/worker/src/__tests__/warm-pool.test.ts
  packages/sandbox/src/bridge/warm-pool.ts
Due: biome-fix, format, validate-changesets

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
