Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Stabilize OpenCode lifecycle E2E
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Cleanup stale OpenCode processes in E2E
  tests/e2e/opencode-workflow.test.ts
Due: format

Relax flaky WS E2E timing thresholds
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

Retry transient OpenCode process endpoints
  tests/e2e/opencode-workflow.test.ts
Due: format

Isolate lifecycle E2E sandboxes
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
Due: format

Harden websocket init startup detection
  tests/e2e/test-worker/index.ts
  tests/e2e/websocket-connect.test.ts
Due: format

Wait for websocket server ports in init
  tests/e2e/test-worker/index.ts
Due: format

Harden OpenCode startup and E2E lifecycle
  packages/sandbox/src/opencode/opencode.ts
  tests/e2e/opencode-workflow.test.ts
Due: biome-fix, format

Fix OpenCode proxy E2E port handling
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Harden OpenCode E2E process lookup
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Stabilize OpenCode E2E sandbox isolation
  packages/sandbox/tests/opencode/opencode.test.ts
  tests/e2e/opencode-workflow.test.ts
Due: biome-fix, format

Revert chunked-read plumbing from file API
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox/src/clients/file-client.ts
  packages/shared/src/request-types.ts
Due: biome-fix, format

Replace base64 backup transfer with presigned R2 URLs
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add presigned URL config to test and example wrangler configs
  examples/time-machine/wrangler.jsonc
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Update changeset to reflect presigned URL transfer approach
  .changeset/add-backup-restore-api.md
Due: format, validate-changesets

Use Bun native writes for files
  packages/sandbox-container/package.json
  packages/sandbox-container/scripts/benchmark-write.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/process-store.test.ts
Due: biome-fix, format

Add changeset for writeFile performance
  .changeset/native-file-write-performance.md
Due: format, validate-changesets

Speed up E2E git clone coverage
  .github/workflows/pullrequest.yml
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  tests/e2e/git-clone-workflow.test.ts
Due: biome-fix, format

Stabilize OpenCode E2E startup flow
  tests/e2e/global-setup.ts
  tests/e2e/opencode-workflow.test.ts
Due: format

Harden presigned URL backup implementation
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Use backup session for container API calls too
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

add support for cwd
  .changeset/native-file-read-performance.md
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/test-worker/startup-test.sh
Due: biome-fix, format, validate-changesets

Add R2 credentials as wrangler secrets for backup E2E
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
Due: format

fix incorrect error response
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

Add proxyToOpencodeServer for headless proxying (#403)
  .changeset/proxy-opencode-server.md
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/tests/opencode/opencode.test.ts
  tests/e2e/global-setup.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/websocket-connect.test.ts
Due: biome-fix, format, validate-changesets

Speed up E2E git clone coverage (#406)
  .github/workflows/pullrequest.yml
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  tests/e2e/git-clone-workflow.test.ts
Due: biome-fix, format

use bun for file reads
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

remove debug log
  packages/sandbox/src/clients/file-client.ts
Due: biome-fix, format
