Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Pass GitLogger to GitService to preserve credential sanitization in logs
  packages/sandbox-container/src/core/container.ts
Due: biome-fix, format

Fix backup error log levels
  packages/sandbox-container/src/services/backup-service.ts
Due: biome-fix, format

atomic exit code writing
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Redact git credentials in cloneRepository outer catch block
  packages/sandbox-container/src/services/git-service.ts
Due: biome-fix, format

sigterm patch
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Fix websocket headers and backup logs
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Update packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

Update packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/git-service.ts
Due: biome-fix, format

Use Bun.write() instead of writer implementation
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: biome-fix, format

Harden supervisor controller edge cases
  packages/sandbox-container/src/main.ts
  packages/sandbox-container/tests/main.test.ts
Due: biome-fix, format

Fix tests
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: biome-fix, format

Clean up PR test resources eagerly
  .github/workflows/cleanup.yml
  .github/workflows/pr-privileged.yml
Due: format

Fix flaky tests for git clone workflow e2e tests
  tests/e2e/git-clone-workflow.test.ts
Due: format

Fix flaky tests for git clone workflow
  tests/e2e/git-clone-workflow.test.ts
Due: format

Preserve PR images for failed reruns
  .github/workflows/pr-privileged.yml
Due: format

Update packages/sandbox-container/tests/main.test.ts
  packages/sandbox-container/tests/main.test.ts
Due: biome-fix, format

fix: sort imports in main.test.ts
  packages/sandbox-container/tests/main.test.ts
Due: biome-fix, format

Bump version in the Dockerfile
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.desktop
  tests/e2e/test-worker/Dockerfile.musl
  tests/e2e/test-worker/Dockerfile.opencode
  tests/e2e/test-worker/Dockerfile.python
  tests/e2e/test-worker/Dockerfile.standalone
Due: none

Bump wrangler to 4.76.0
  examples/alpine/package.json
  examples/authentication/package.json
  examples/claude-code/package.json
  examples/code-interpreter/package.json
  examples/collaborative-terminal/package.json
  examples/desktop/package.json
  examples/minimal/package.json
  examples/openai-agents/package.json
  examples/opencode/package.json
  examples/time-machine/package.json
  examples/typescript-validator/package.json
  package-lock.json
  package.json
  packages/sandbox/package.json
  sites/sandbox/package.json
Due: format

Add changeset
  .changeset/smooth-carpets-rule.md
Due: format, validate-changesets

Redact high-entropy env var values from logs and error messages
  package-lock.json
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/entropy.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/tests/entropy.test.ts
Due: biome-fix, format

Scope redaction to env var paths and use AUTO-REDACTED marker
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/shared/src/request-types.ts
Due: biome-fix, format

Add sensitiveKeys option to setEnvVars for explicit redaction
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Pass through the default
  package-lock.json
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/shared/src/entropy.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Incorporate scuffi's feedback
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/entropy.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Simplify setEnvVars API to use a single sensitive boolean
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Better names etc
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/entropy.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Narrow redaction behaviour to logging surfaces
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/command-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/env.ts
  packages/shared/src/index.ts
Due: biome-fix, format

Update documentation for redaction clarity
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/entropy.ts
  packages/shared/src/types.ts
Due: biome-fix, format

address bonk issues
  .changeset/env-var-redaction-review-fixes.md
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
  packages/shared/tests/entropy.test.ts
Due: biome-fix, format, validate-changesets

add newline
  .gitignore
Due: none

Add a new transport based on captnweb
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/clients/transport/capnweb-transport.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/index.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/tests/capnweb-transport.test.ts
Due: biome-fix, format

wire-up DO->Container path
  .changeset/env-var-redaction-review-fixes.md
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/tests/command-client.test.ts
  packages/shared/src/request-types.ts
Due: biome-fix, format, validate-changesets

Add capnweb transport with native RPC API (Stages 2-4)
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/bun-ws-shim.ts
  packages/sandbox-container/src/handlers/capnweb-bridge.ts
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/handlers/bun-ws-shim.test.ts
  packages/sandbox-container/tests/handlers/capnweb-bridge.test.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/sandbox.ts
  tests/e2e/capnweb-transport.test.ts
Due: biome-fix, format

Use uppercase acronyms in new identifiers
  .devbox/plan.md
  packages/sandbox-container/src/handlers/capnweb-bridge.ts
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/handlers/capnweb-bridge.test.ts
  packages/sandbox/src/clients/transport/capnweb-transport.ts
  packages/sandbox/src/clients/transport/index.ts
Due: biome-fix, format

Use uppercase RPC in identifiers, add style guide
  AGENTS.md
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Add examples/stream-upload
  examples/stream-upload/.gitignore
  examples/stream-upload/Dockerfile
  examples/stream-upload/README.md
  examples/stream-upload/package.json
  examples/stream-upload/src/index.ts
  examples/stream-upload/test-upload.sh
  examples/stream-upload/tsconfig.json
  examples/stream-upload/worker-configuration.d.ts
  examples/stream-upload/wrangler.jsonc
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
