Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Revert process killing changes that broke releases
  .changeset/fix-child-process-killing.md
  .changeset/fix-kill-process-status.md
  docs/SESSION_EXECUTION.md
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/minimal/Dockerfile
  examples/openai-agents/Dockerfile
  examples/opencode/Dockerfile
  examples/typescript-validator/Dockerfile
  package-lock.json
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/CHANGELOG.md
  packages/sandbox/package.json
  packages/sandbox/src/version.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.opencode
  tests/e2e/test-worker/Dockerfile.python
  tests/e2e/test-worker/Dockerfile.standalone
Due: biome-fix, format, validate-changesets

Revert process killing changes that broke releases (#350)
  .changeset/fix-child-process-killing.md
  .changeset/fix-kill-process-status.md
  docs/SESSION_EXECUTION.md
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/minimal/Dockerfile
  examples/openai-agents/Dockerfile
  examples/opencode/Dockerfile
  examples/typescript-validator/Dockerfile
  package-lock.json
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/CHANGELOG.md
  packages/sandbox/package.json
  packages/sandbox/src/version.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.opencode
  tests/e2e/test-worker/Dockerfile.python
  tests/e2e/test-worker/Dockerfile.standalone
Due: biome-fix, format, validate-changesets

Update lockfile
  package-lock.json
Due: format

Fix docs sync workflow failing due to shell escaping
  .github/workflows/sync-docs.yml
Due: format

Fix OpenCode review permission pattern to allow gh api commands
  .github/workflows/opencode-review.yml
Due: format

Support undefined/null as unset in setEnvVars (#342)
  .changeset/fix-undefined-env-vars.md
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/env.ts
  packages/shared/src/index.ts
  packages/shared/src/interpreter-types.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  packages/shared/tests/env.test.ts
  tests/e2e/environment-workflow.test.ts
Due: biome-fix, format, validate-changesets

Fix empty token validation and clean up token handling
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/port-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/request-types.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Remove misleading constant-time comparison comment
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Use timing-safe comparison for token validation
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Remove redundant comments in token validation
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Downgrade changeset from minor to patch
  .changeset/custom-port-tokens.md
Due: format, validate-changesets

Add custom token support to exposePort for stable preview URLs (#329)
  .changeset/custom-port-tokens.md
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Downgrade changeset to patch
  .changeset/add-cloudflare-ai-gateway-support.md
Due: format, validate-changesets

Update package-lock.json
  package-lock.json
Due: format

feat: added env for Cloudflare AI Gateway (#347)
  .changeset/add-cloudflare-ai-gateway-support.md
  examples/opencode/README.md
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format, validate-changesets

Fix lint errors and align env type signatures
  examples/collaborative-terminal/src/index.ts
  examples/openai-agents/package.json
  examples/typescript-validator/package.json
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/clients/pty-client.ts
  sites/sandbox/package.json
Due: biome-fix, format

Fix preview URL parsing for sandbox IDs with hyphens
  .changeset/custom-port-tokens.md
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/process-readiness-workflow.test.ts
Due: biome-fix, format, validate-changesets

Expose port 9093 in test Dockerfiles for custom token test
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.python
Due: none

Fix preview URL parsing for sandbox IDs with hyphens (#352)
  .changeset/custom-port-tokens.md
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.python
Due: biome-fix, format, validate-changesets

Bump changeset to minor
  .changeset/custom-port-tokens.md
Due: format, validate-changesets

Add breaking change note
  .changeset/custom-port-tokens.md
Due: format, validate-changesets

Add session execution deep dive documentation
  docs/SESSION_EXECUTION_DEEP_DIVE.md
Due: format

fix opencode terminal connection
  examples/opencode/src/index.ts
Due: biome-fix, format

Refactored and cleaned
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox/src/file-watch.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

Small ws transport related fixes
  packages/sandbox-container/src/handlers/ws-adapter.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

Timing changes help account for the additional buffering
  tests/e2e/file-watch-workflow.test.ts
Due: format

Fix WebSocket blocking issue for SSE streaming responses
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
Due: biome-fix, format

Add debug logging and stream tracking for WebSocket streaming
  packages/sandbox-container/src/handlers/ws-adapter.ts
Due: biome-fix, format

Acquire stream reader synchronously before async execution
  packages/sandbox-container/src/handlers/ws-adapter.ts
Due: biome-fix, format

Wait for inotifywait watches to be established before signaling ready
  packages/sandbox-container/src/services/watch-service.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

Add timeout to waitForWatchesEstablished to prevent hanging
  packages/sandbox-container/src/services/watch-service.ts
Due: biome-fix, format

Wait for first message before returning WebSocket stream
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

move request handling code to proxyToOpencode
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format

fix opencode home path
  examples/opencode/Dockerfile
Due: none

fix: remove redundant git clone
  examples/opencode/src/index.ts
Due: biome-fix, format

send heartbeat events to keep container alive
  packages/sandbox/src/clients/pty-client.ts
  packages/sandbox/tests/pty-client.test.ts
Due: biome-fix, format

Fix Opencode workflow not marking old reviews as outdated
  .github/workflows/opencode-review.yml
Due: format

Remove changes that also marked Claude Code reviews as outdateD
  .github/workflows/opencode-review.yml
Due: format

Adding temporary file to test changes
  testfile.md
Due: format
