Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Use unique worker per perf run with automatic cleanup
  .github/workflows/performance.yml
Due: format

Fix perf health check to parse JSON response
  tests/perf/global-setup.ts
Due: format

Use streamProcessLogs instead of polling for waitForExit
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
Due: biome-fix, format

Add changeset for waitForExit feature
  .changeset/add-wait-for-exit.md
Due: format, validate-changesets

fix changeset
  .changeset/clean-pans-switch.md
Due: format, validate-changesets

Update clean-pans-switch.md
  .changeset/clean-pans-switch.md
Due: format, validate-changesets

exit code fallback
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add waitForExit() method to Process interface (#299)
  .changeset/add-wait-for-exit.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Use waitForExit instead of polling loop in session isolation test
  tests/e2e/session-state-isolation-workflow.test.ts
Due: format

Add tests for containerFetch error classification
  docs/ERROR_HANDLING.md
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format

Improve error handling and test reliability (#301)
  .changeset/clean-pans-switch.md
  docs/ERROR_HANDLING.md
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/git-client.test.ts
  packages/sandbox/tests/port-client.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/utility-client.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/websocket-workflow.test.ts
Due: biome-fix, format, validate-changesets

Add changesets for recent patches
  .changeset/add-wait-for-exit.md
  .changeset/http-status-error-handling.md
Due: format, validate-changesets

Update lockfile
  package-lock.json
Due: format

update ws example
  sites/sandbox/src/code-sample.tsx
Due: biome-fix, format

update ws example (#304)
  sites/sandbox/src/code-sample.tsx
Due: biome-fix, format

Fix incorrect merge
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

remove logging middleware from freq used routes
  packages/sandbox-container/src/routes/setup.ts
Due: biome-fix, format

Remove logging middleware from routes
  .changeset/hip-avocados-sin.md
Due: format, validate-changesets

Fix WebSocket transport issues
  packages/sandbox-container/src/handlers/ws-handler.ts
  packages/sandbox-container/src/index.ts
  packages/sandbox/src/clients/ws-transport.ts
Due: biome-fix, format

Document code comment best practices
  CLAUDE.md
Due: format

Add changeset for WebSocket transport
  .changeset/websocket-transport.md
Due: format, validate-changesets

Document changeset writing best practices
  CLAUDE.md
Due: format

Simplify port token storage by using DO storage directly
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add architecture and concurrency documentation
  docs/ARCHITECTURE.md
  docs/CONCURRENCY.md
Due: format

Update session execution docs and fix stale code comment
  docs/SESSION_EXECUTION.md
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Improve code review accuracy with architecture docs and skills
  .claude/skills/session-execution/SKILL.md
  .github/workflows/claude-code-review.yml
Due: format

Integrate WebSocket handler into server module
  packages/sandbox-container/src/index.ts
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Refactor workflows and documentation into skills
  .claude/settings.json
  .claude/skills/git-commit/SKILL.md
  .claude/skills/session-execution/SKILL.md
  .claude/skills/testing/SKILL.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  CLAUDE.md
Due: format

Refactor transport configuration and add CI matrix
  .github/workflows/pullrequest.yml
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format

Remove unused integration tests directory
  package-lock.json
  package.json
  tests/integration/.gitignore
  tests/integration/Dockerfile
  tests/integration/README.md
  tests/integration/app/components/LaTeXRenderer.tsx
  tests/integration/app/components/MarkdownRenderer.tsx
  tests/integration/app/index.tsx
  tests/integration/app/style.css
  tests/integration/index.html
  tests/integration/package.json
  tests/integration/public/favicon.ico
  tests/integration/shared/examples.ts
  tests/integration/src/endpoints/createTestBinary.ts
  tests/integration/src/endpoints/execute.ts
  tests/integration/src/endpoints/executeStream.ts
  tests/integration/src/endpoints/fileDelete.ts
  tests/integration/src/endpoints/fileList.ts
  tests/integration/src/endpoints/fileMove.ts
  tests/integration/src/endpoints/fileRead.ts
  tests/integration/src/endpoints/fileReadStream.ts
  tests/integration/src/endpoints/fileRename.ts
  tests/integration/src/endpoints/gitCheckout.ts
  tests/integration/src/endpoints/index.ts
  tests/integration/src/endpoints/mkdir.ts
  tests/integration/src/endpoints/notebook.ts
  tests/integration/src/endpoints/ports.ts
  tests/integration/src/endpoints/processGet.ts
  tests/integration/src/endpoints/processKill.ts
  tests/integration/src/endpoints/processList.ts
  tests/integration/src/endpoints/processLogs.ts
  tests/integration/src/endpoints/processStart.ts
  tests/integration/src/endpoints/templates.ts
  tests/integration/src/endpoints/websocketInit.ts
  tests/integration/src/http.ts
  tests/integration/src/index.ts
  tests/integration/tsconfig.json
  tests/integration/vite.config.ts
  tests/integration/wrangler.jsonc
Due: format

Simplify port token storage and improve documentation (#306)
  .claude/settings.json
  .claude/skills/git-commit/SKILL.md
  .claude/skills/session-execution/SKILL.md
  .claude/skills/testing/SKILL.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/CONCURRENCY.md
  docs/SESSION_EXECUTION.md
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Remove unused integration tests directory (#307)
  package-lock.json
  package.json
  tests/integration/.gitignore
  tests/integration/Dockerfile
  tests/integration/README.md
  tests/integration/app/components/LaTeXRenderer.tsx
  tests/integration/app/components/MarkdownRenderer.tsx
  tests/integration/app/index.tsx
  tests/integration/app/style.css
  tests/integration/index.html
  tests/integration/package.json
  tests/integration/public/favicon.ico
  tests/integration/shared/examples.ts
  tests/integration/src/endpoints/createTestBinary.ts
  tests/integration/src/endpoints/execute.ts
  tests/integration/src/endpoints/executeStream.ts
  tests/integration/src/endpoints/fileDelete.ts
  tests/integration/src/endpoints/fileList.ts
  tests/integration/src/endpoints/fileMove.ts
  tests/integration/src/endpoints/fileRead.ts
  tests/integration/src/endpoints/fileReadStream.ts
  tests/integration/src/endpoints/fileRename.ts
  tests/integration/src/endpoints/gitCheckout.ts
  tests/integration/src/endpoints/index.ts
  tests/integration/src/endpoints/mkdir.ts
  tests/integration/src/endpoints/notebook.ts
  tests/integration/src/endpoints/ports.ts
  tests/integration/src/endpoints/processGet.ts
  tests/integration/src/endpoints/processKill.ts
  tests/integration/src/endpoints/processList.ts
  tests/integration/src/endpoints/processLogs.ts
  tests/integration/src/endpoints/processStart.ts
  tests/integration/src/endpoints/templates.ts
  tests/integration/src/endpoints/websocketInit.ts
  tests/integration/src/http.ts
  tests/integration/src/index.ts
  tests/integration/tsconfig.json
  tests/integration/vite.config.ts
  tests/integration/wrangler.jsonc
Due: format

Fix resource leaks and type safety in WebSocket transport
  .changeset/websocket-transport.md
  packages/sandbox-container/src/server.ts
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/clients/ws-transport.ts
  packages/sandbox/src/interpreter.ts
  packages/sandbox/src/sandbox.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Fix null check for stored transport in constructor
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Improve WebSocket transport robustness and documentation
  packages/sandbox-container/src/handlers/ws-handler.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/clients/ws-transport.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/ws-types.ts
Due: biome-fix, format

Unify Transport abstraction and clean up API surface
  ISSUES.md
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/transport.ts
  packages/sandbox/tests/transport.test.ts
  tests/e2e/helpers/wrangler-runner.ts
  tests/e2e/websocket-connect.test.ts
Due: biome-fix, format

Refactor transport layer for cleaner separation of concerns
  TRANSPORT.md
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/index.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/tests/transport.test.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/logger/types.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
