Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

fix(examples): use sandbox aliases
  .github/changeset-version.ts
  examples/alpine/Dockerfile
  examples/authentication/Dockerfile
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/codex-app-server/Dockerfile
  examples/codex-app-server/README.md
  examples/collaborative-terminal/Dockerfile
  examples/minimal/Dockerfile
  examples/openai-agents/Dockerfile
  examples/opencode/Dockerfile
  examples/time-machine/Dockerfile
  examples/typescript-validator/Dockerfile
  examples/vite-sandbox/Dockerfile
  examples/websocket-tunnel/Dockerfile
  packages/sandbox-container/tests/release/example-dockerfiles.test.ts
Due: biome-fix, format

Improve handling of transport errors when using RPC transport (#655)
  packages/sandbox-container/tests/rpc/websocket-termination.test.ts
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/src/container-connection.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format

bug reproduction
  examples/head-content-length-bug/Dockerfile
  examples/head-content-length-bug/README.md
  examples/head-content-length-bug/package.json
  examples/head-content-length-bug/src/index.ts
  examples/head-content-length-bug/tsconfig.json
  examples/head-content-length-bug/worker-configuration.d.ts
  examples/head-content-length-bug/wrangler.jsonc
Due: biome-fix, format

Break AGENTS.md out into smaller skills
  .agents/skills/architecture/SKILL.md
  .agents/skills/changesets/SKILL.md
  .agents/skills/coding-standards/SKILL.md
  .agents/skills/examples/SKILL.md
  .agents/skills/git-commit/SKILL.md
  .agents/skills/logging/SKILL.md
  .agents/skills/session-execution/SKILL.md
  .agents/skills/testing/SKILL.md
  AGENTS.md
Due: format

feat: add NODE_VERSION build arg to sandbox Dockerfile (#610)
  packages/sandbox/Dockerfile
Due: none

Break AGENTS.md out into smaller skills (#657)
  .agents/skills/architecture/SKILL.md
  .agents/skills/changesets/SKILL.md
  .agents/skills/coding-standards/SKILL.md
  .agents/skills/examples/SKILL.md
  .agents/skills/git-commit/SKILL.md
  .agents/skills/logging/SKILL.md
  .agents/skills/session-execution/SKILL.md
  .agents/skills/testing/SKILL.md
  AGENTS.md
Due: format

Use rpc transport in bridge worker (#651)
  bridge/harness/AGENTS.md
  bridge/harness/README.md
  bridge/harness/pyproject.toml
  bridge/harness/script/start
  bridge/harness/src/config.py
  bridge/harness/src/main.py
  bridge/harness/uv.lock
  bridge/script/integration
  bridge/worker/wrangler.jsonc
Due: format

Add bridge test suite to CI
  .github/workflows/bridge.yml
  .github/workflows/pr-privileged.yml
  .github/workflows/reusable-bridge-e2e.yml
Due: format

Remove old bridge test
  bridge/worker/src/__tests__/middleware.test.ts
Due: format

Add sandbox-bridge skill
  .agents/skills/sandbox-bridge/SKILL.md
Due: format

Add experimental capnweb RPC interface to @cloudflare/sandbox/bridge
  packages/sandbox/src/bridge/AGENTS.md
  packages/sandbox/src/bridge/bridge-sandbox.ts
  packages/sandbox/src/bridge/helpers.ts
  packages/sandbox/src/bridge/index.ts
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/rpc-api.ts
  packages/sandbox/src/bridge/rpc-types.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/tests/bridge-rpc.test.ts
  packages/sandbox/tests/bridge-test-helpers.ts
Due: biome-fix, format

Add sandbox-bridge skill (#663)
  .agents/skills/sandbox-bridge/SKILL.md
Due: format

Add @cloudflare/sandbox/bridge-client subpath
  .changeset/bridge-rpc-api.md
  packages/sandbox/package.json
  packages/sandbox/src/bridge-client/index.ts
  packages/sandbox/tests/bridge-client.test.ts
  packages/sandbox/tsdown.config.ts
Due: biome-fix, format, validate-changesets

Wire experimental RPC endpoint into the cloudflare-sandbox-bridge Worker
  bridge/script/integration
  bridge/worker/.dev.vars.example
  bridge/worker/README.md
  bridge/worker/package.json
  bridge/worker/src/index.ts
  bridge/worker/worker-configuration.d.ts
  bridge/worker/wrangler.jsonc
Due: format

Clarify container control ownership
  .agents/skills/architecture/SKILL.md
  packages/sandbox-container/src/control-plane/AGENTS.md
  packages/sandbox-container/src/control-plane/README.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/control-plane/index.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/AGENTS.md
  packages/sandbox/src/clients/transport/README.md
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/index.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/container-control/AGENTS.md
  packages/sandbox/src/container-control/README.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/container-control/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/rpc-container-control.test.ts
Due: biome-fix, format

Update AGENTS.md with improved changeset guidance
  .agents/skills/changesets/SKILL.md
  package.json
Due: format

Add changeset for new rpc transport
  .changeset/introducing-rpc-transport.md
Due: format, validate-changesets

Clarify container control ownership (#665)
  .agents/skills/architecture/SKILL.md
  packages/sandbox-container/src/control-plane/AGENTS.md
  packages/sandbox-container/src/control-plane/README.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/control-plane/index.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/AGENTS.md
  packages/sandbox/src/clients/transport/README.md
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/index.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/container-control/AGENTS.md
  packages/sandbox/src/container-control/README.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/container-control/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/rpc-container-control.test.ts
Due: biome-fix, format

Add isolated exec mode
  .changeset/reset-shell-session.md
  docs/SESSION_EXECUTION.md
  docs/SESSION_EXECUTION_DEEP_DIVE.md
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-terminated-session.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Resolve isolated exec merge
  packages/sandbox/src/clients/command-client.ts
Due: biome-fix, format

Address isolated exec review feedback
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-terminated-session.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Notes added by 'git notes add'
  04a5204bc397a26382a93ed8bf75a925a56fd5d4
Due: none

Detect and surface s3fs mount failures
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Add changeset for s3fs mount failure surfacing
  .changeset/surface-s3fs-mount-failures.md
Due: format, validate-changesets

Stop s3fs mount script hanging on the daemon's pipe
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Improve backup/restore transfer speeds with parallelization
  .changeset/improve-backup-restore-speeds.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

fix backup issues
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

pipefail parallel restore downloads
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

pass backup session for upload
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Add changeset for RPC transport (#647)
  .agents/skills/changesets/SKILL.md
  .changeset/introducing-rpc-transport.md
  package.json
Due: format, validate-changesets

add compress prop validation
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

final bonk fixes
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

use Bun for backup file read
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format

change compression prop type
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Run s3fs mount script in a subshell
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Add no-session exec option
  .changeset/reset-shell-session.md
  docs/SESSION_EXECUTION.md
  docs/SESSION_EXECUTION_DEEP_DIVE.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/managers/process-manager.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Reject sessionId: false for streaming exec
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Improve backup/restore transfer speeds with parallelization (#666)
  .changeset/improve-backup-restore-speeds.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
