Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

fix: remove camelcase cloudflareAIGateway provider completely
  .changeset/khaki-bobcats-tie.md
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format, validate-changesets

fix: fix all mentions in docs/comments
  examples/opencode/README.md
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format

Fix: Opencode <> Cloudflare AI Gateway integration (#393)
  .changeset/khaki-bobcats-tie.md
  examples/opencode/README.md
  examples/opencode/src/index.ts
  examples/opencode/worker-configuration.d.ts
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format, validate-changesets

Add benchmark infrastructure for R2 backup demo
  examples/minimal/Dockerfile
  examples/minimal/wrangler.jsonc
  package-lock.json
Due: format

Add R2 backup benchmark with four transfer strategies
  examples/minimal/src/index.ts
Due: biome-fix, format

Document benchmark findings in README
  examples/minimal/README.md
Due: format

Add squashfs, overlayfs, and restore benchmarks to backup demo
  examples/minimal/Dockerfile
  examples/minimal/README.md
  examples/minimal/src/index.ts
Due: biome-fix, format

Fix restore benchmarks and document results
  examples/minimal/README.md
  examples/minimal/src/index.ts
Due: biome-fix, format

Add production benchmark results on standard-4 instance
  examples/minimal/README.md
  examples/minimal/wrangler.jsonc
Due: format

Add aws4fetch and R2 credential config for presigned URL restore
  examples/minimal/package.json
  examples/minimal/wrangler.jsonc
  package-lock.json
Due: format

Add presigned URL restore strategies for direct R2-to-container download
  examples/minimal/src/index.ts
Due: biome-fix, format

Document presigned restore benchmarks
  examples/minimal/README.md
Due: format

Add aria2c, squashfuse, and LZ4 benchmark strategies
  examples/minimal/Dockerfile
  examples/minimal/src/index.ts
Due: biome-fix, format

Document new restore benchmarks and squashfuse
  examples/minimal/README.md
Due: format

Add multi-run benchmarks with page-cache drops
  examples/minimal/README.md
  examples/minimal/src/index.ts
Due: biome-fix, format

Add overlay incremental snapshots and isolated sandbox benchmarks
  examples/minimal/README.md
  examples/minimal/src/index.ts
  examples/minimal/wrangler.jsonc
Due: biome-fix, format

Fix backup restore and stale E2E test expectations
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/sandbox.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
Due: biome-fix, format

Unmount FUSE before re-downloading backup archive
  packages/sandbox/src/sandbox.ts
  tests/e2e/file-operations-workflow.test.ts
Due: biome-fix, format

Ensure clean upper layer on repeated backup restores
  packages/sandbox-container/src/services/backup-service.ts
Due: biome-fix, format

Add diagnostic logging to backup COW test
  tests/e2e/backup-workflow.test.ts
Due: format

Use unique mount base per restore to avoid stale upper layer
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/sandbox.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format

Skip archive re-download when file already exists
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Fix WS stream timeout killing long-running streams
  .changeset/fix-ws-stream-timeout.md
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Add targeted diagnostic for backup COW test
  tests/e2e/backup-workflow.test.ts
Due: format

setup initial benchmark
  packages/sandbox/Dockerfile
  tests/e2e/file-transfer-benchmark.test.ts
Due: format

Remove diagnostic logging from backup COW test
  tests/e2e/backup-workflow.test.ts
Due: format

use bun for file reads
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

Add contents: write permission to bonk workflow
  .github/workflows/bonk.yml
Due: format

Add contents: write permission to bonk workflow (#401)
  .github/workflows/bonk.yml
Due: format

check file size before transfer attempt
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox/Dockerfile
  packages/sandbox/src/clients/file-client.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  tests/e2e/file-transfer-benchmark.test.ts
Due: biome-fix, format

Remove low-level watch API to simplify public interface
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/file-stream.ts
  packages/sandbox/src/file-watch.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/sse-parser.ts
  packages/shared/src/index.ts
  packages/shared/src/sse.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

remove debug log
  packages/sandbox/src/clients/file-client.ts
Due: biome-fix, format

Add raw OpenCode server proxy helper
  .changeset/proxy-opencode-server.md
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format, validate-changesets

Add E2E coverage for OpenCode server proxy
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Add fuse-overlayfs and presigned PUT benchmarks
  examples/minimal/Dockerfile
  examples/minimal/README.md
  examples/minimal/src/index.ts
Due: biome-fix, format

Use id in restore backup result
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Support nested waitForPort options
  tests/e2e/test-worker/index.ts
Due: format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
