Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Version computeOptionsHash output with a v1: prefix
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-handler-named.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
Due: biome-fix, format

Retry quick-tunnel provisioning on shortId collision
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-handler.test.ts
Due: biome-fix, format

Reuse cloudflared release in musl image
  packages/sandbox/Dockerfile
Due: none

Address code review feedback on named-tunnel API
  .changeset/named-tunnels.md
  packages/sandbox/src/tunnels/cloudflare-api.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels/cloudflare-api.test.ts
Due: biome-fix, format, validate-changesets

Match real Cloudflare tag-quota error in fallback heuristic
  packages/sandbox/src/tunnels/cloudflare-api.ts
  packages/sandbox/tests/tunnels/cloudflare-api.test.ts
Due: biome-fix, format

Type fetcher mocks so .mock.calls is indexable
  packages/sandbox/tests/tunnels/cloudflare-api.test.ts
  packages/sandbox/tests/tunnels/credentials.test.ts
Due: biome-fix, format

Formatting
  packages/sandbox/src/index.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: biome-fix, format

docs: clarify Sandbox workspace boundaries
  bridge/worker/README.md
  examples/collaborative-terminal/README.md
  examples/collaborative-terminal/app/routes/room.tsx
  examples/collaborative-terminal/src/index.ts
  examples/collaborative-terminal/workers/app.ts
  examples/collaborative-terminal/workers/room.ts
  examples/openai-agents/src/app.tsx
  examples/typescript-validator/worker/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Reuse cloudflared release in musl image (#721)
  packages/sandbox/Dockerfile
Due: none

Preserve named-tunnel metadata on unsolicited cloudflared exit
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-handler.test.ts
Due: biome-fix, format

Use stored accountId/zoneId on destroy when config has drifted
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-handler-named.test.ts
Due: biome-fix, format

Allow multiple collaborative terminal rooms
  examples/collaborative-terminal/README.md
  examples/collaborative-terminal/wrangler.jsonc
Due: format

Update capnweb to 0.8.0 (#715)
  .changeset/capnweb-0-8.md
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/lib/capnweb-bun.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox-container/tests/rpc/websocket-termination.test.ts
  packages/sandbox/package.json
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format, validate-changesets

Bundle cloudflared with the musl/alpine build (#714)
  .changeset/container-image-musl-cloudflared.md
  packages/sandbox/Dockerfile
  packages/sandbox/README.md
Due: format, validate-changesets

docs: clarify Sandbox workspace boundaries (#723)
  bridge/worker/README.md
  examples/collaborative-terminal/README.md
  examples/collaborative-terminal/app/routes/room.tsx
  examples/collaborative-terminal/src/index.ts
  examples/collaborative-terminal/workers/app.ts
  examples/collaborative-terminal/workers/room.ts
  examples/collaborative-terminal/wrangler.jsonc
  examples/openai-agents/src/app.tsx
  examples/typescript-validator/worker/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Implement sessionless execution mode (#706)
  .changeset/sessionless-execution.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tsconfig.json
  packages/shared/package.json
  packages/shared/src/internal.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Apply suggestion from @aron-cf
  examples/vite-sandbox/wrangler.jsonc
Due: none

Accept unregistered application error codes in RPC
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Update vite-sandbox to use new tunnels API (#712)
  examples/collaborative-terminal/package.json
  examples/desktop/package.json
  examples/openai-agents/package.json
  examples/typescript-validator/package.json
  examples/vite-sandbox/README.md
  examples/vite-sandbox/package.json
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/worker.js
  examples/vite-sandbox/vite.config.js
  examples/vite-sandbox/wrangler.jsonc
  package-lock.json
  sites/sandbox/package.json
Due: biome-fix, format

Allow more time for trycloudflare DNS to propagate in E2E
  tests/e2e/tunnel-quick-workflow.test.ts
Due: format

Allow more time for trycloudflare DNS to propagate in E2E (#728)
  tests/e2e/tunnel-quick-workflow.test.ts
Due: format

Remove unused function
  tests/e2e/tunnel-quick-workflow.test.ts
Due: format

Add support for named tunnels (#722)
  .changeset/named-tunnels.md
  examples/websocket-tunnel/.dev.vars.example
  examples/websocket-tunnel/README.md
  examples/websocket-tunnel/src/index.ts
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/managers/tunnel-manager.ts
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/security.ts
  packages/sandbox/src/tunnels/cloudflare-api.ts
  packages/sandbox/src/tunnels/credentials.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/security.test.ts
  packages/sandbox/tests/tunnels-handler-named.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
  packages/sandbox/tests/tunnels/cloudflare-api.test.ts
  packages/sandbox/tests/tunnels/credentials.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  tests/e2e/helpers/fetch-with-retry.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/tunnel-named-workflow.test.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: biome-fix, format, validate-changesets

Clean up preview URL E2E tests
  tests/e2e/helpers/container-lifecycle.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/preview-url-restart-workflow.test.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Enforce preview URL runtime activation
  .changeset/stale-preview-urls.md
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/current-runtime-identity.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/preview-proxy-protocol.ts
  packages/sandbox/src/preview-url.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/current-runtime-identity.test.ts
  packages/sandbox/tests/request-handler.test.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/helpers/container-lifecycle.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/preview-url-restart-workflow.test.ts
  turbo.json
Due: biome-fix, format, validate-changesets

Raise E2E sandbox instance cap
  tests/e2e/test-worker/wrangler.template.jsonc
Due: none

Configure E2E warm pool in wrangler
  .github/workflows/reusable-e2e.yml
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Reconcile tunnel lifecycle with runtime stops
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/tunnels-handler-named.test.ts
Due: biome-fix, format

Restore R2 egress handler registration
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

Remove preview containers dependency
  examples/codex-app-server/package.json
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/preview-forwarding.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/preview-forwarding.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Enforce preview URL runtime activation (#708)
  .changeset/stale-preview-urls.md
  .github/workflows/reusable-e2e.yml
  examples/codex-app-server/package.json
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/current-runtime-identity.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/preview-forwarding.ts
  packages/sandbox/src/preview-proxy-protocol.ts
  packages/sandbox/src/preview-url.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/current-runtime-identity.test.ts
  packages/sandbox/tests/preview-forwarding.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/request-handler.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/tunnels-handler-named.test.ts
  tests/e2e/helpers/container-lifecycle.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/preview-url-restart-workflow.test.ts
  tests/e2e/test-worker/wrangler.template.jsonc
  turbo.json
Due: biome-fix, format, validate-changesets

Align preview port APIs with forwarding
  .changeset/stale-preview-urls.md
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Align preview port APIs with forwarding (#709)
  .changeset/stale-preview-urls.md
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Remove container-local preview port registry
  .agents/skills/architecture/SKILL.md
  .changeset/stale-preview-urls.md
  docs/ARCHITECTURE.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/managers/port-manager.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  packages/sandbox-container/tests/managers/port-manager.test.ts
  packages/sandbox-container/tests/services/port-service.test.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/port-client.test.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/errors/types.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Remove container-local preview port registry (#710)
  .agents/skills/architecture/SKILL.md
  .changeset/stale-preview-urls.md
  docs/ARCHITECTURE.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/managers/port-manager.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  packages/sandbox-container/tests/managers/port-manager.test.ts
  packages/sandbox-container/tests/services/port-service.test.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/port-client.test.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/errors/types.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Fix Office file binary detection
  .changeset/fix-office-file-binary-detection.md
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: biome-fix, format, validate-changesets

Clarify encoded file size limit
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

Fix Office file binary detection (#730)
  .changeset/fix-office-file-binary-detection.md
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: biome-fix, format, validate-changesets

Implement egress interception for S3 mounts
  .changeset/credential-proxy-mount.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Implement missing egress handler
  .changeset/credential-proxy-mount.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets
