Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Idempotent persist-first setContainerTimeouts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Restore baseUrl from storage on DO cold start
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Make setKeepAlive idempotent and persist-first
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Make setSleepAfter idempotent and persist-first
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Use Promise.all to await both setSandboxName writes
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Remove unused baseUrl option from SandboxOptions
  .changeset/config-setter-idempotency.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Tighten setter doc comments and consolidate tests
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Persist containerTimeouts on first explicit set
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Tighten changeset wording
  .changeset/config-setter-idempotency.md
Due: format, validate-changesets

Add configure() idempotency regression tests
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Make setSandboxName atomic and persist-first
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Add changeset for config setter idempotency
  .changeset/config-setter-idempotency.md
Due: format, validate-changesets

Enable traces in e2e test worker
  tests/e2e/test-worker/wrangler.template.jsonc
Due: none

Use allSettled in desktop shutdown to avoid raising
  packages/sandbox-container/src/managers/desktop-manager.ts
Due: biome-fix, format

Type the desktop worker IPC protocol
  packages/sandbox-container/src/services/desktop-service.ts
  packages/sandbox-container/src/workers/desktop-worker.ts
  packages/shared/src/desktop-worker-protocol.ts
  packages/shared/src/index.ts
Due: biome-fix, format

Fix unhandled promise rejection in desktop service
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Refactor desktop to use child process rather than subprocess
  packages/sandbox-container/src/services/desktop-service.ts
  packages/sandbox-container/src/workers/desktop-worker.ts
Due: biome-fix, format

Log desktop worker stream reader failures
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Treat "stopping" the same as "inactive" in desktop
  packages/sandbox-container/src/managers/desktop-manager.ts
Due: biome-fix, format

Ensure desktop is runing after a stop before worker is spawned
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Refactor desktop e2e tests
  tests/e2e/desktop-environment.test.ts
Due: format

Fix desktop stop hanging on blocked processes
  packages/sandbox-container/src/managers/desktop-manager.ts
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Warn rather than error in bun server
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Surface desktop worker stderr and allow overriding DISPLAY
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Avoid nulling a newer desktop worker during cleanup
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Localize desktop worker stdout buffer
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Reword changeset in user-facing terms
  .changeset/coalesce-default-session-init.md
Due: format, validate-changesets

Invalidate session init when container stops
  .changeset/coalesce-default-session-init.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Share in-flight default session init
  .changeset/coalesce-default-session-init.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Clean up existing Biome lint warnings
  bridge/examples/workspace-chat/frontend/src/styles.css
  bridge/worker/src/__tests__/warm-pool.test.ts
  examples/codex-app-server/public/index.html
  packages/sandbox/src/bridge/helpers.ts
  packages/sandbox/src/bridge/index.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/shared/tests/logger/canonical.test.ts
Due: biome-fix, format

Use null-prototype map for codex example item store
  examples/codex-app-server/public/index.html
Due: none

Add backup/restore & mount performance tests
  .github/workflows/performance.yml
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/perf/helpers/constants.ts
  tests/perf/helpers/perf-sandbox-manager.ts
  tests/perf/scenarios/backup-restore.test.ts
  tests/perf/scenarios/bucket-mounting.test.ts
  turbo.json
Due: format

Update backup test names to include sizes
  tests/perf/scenarios/backup-restore.test.ts
Due: format

increase backup test archive sizes
  tests/perf/scenarios/backup-restore.test.ts
Due: format

Use TEST_WORKER_URL to extract transport
  tests/e2e/test-worker/generate-config.sh
  vitest.e2e.config.ts
Due: format

Use headers to define sandbox transport in e2e tests
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
  vitest.e2e.config.ts
Due: format

Make transport configurable per instance
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add changeset for new transport option
  .changeset/get-sandbox-with-transport.md
Due: format, validate-changesets

Add changelog entry for #617
  .changeset/desktop-process-management.md
Due: format, validate-changesets

Hoist performance workflow secret into env
  .github/workflows/performance.yml
Due: format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
