Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Pin examples to Sandbox SDK 0.12
  bridge/worker/package.json
  examples/alpine/package.json
  examples/authentication/package.json
  examples/claude-code/package.json
  examples/code-interpreter/package.json
  examples/codex-app-server/package.json
  examples/codex/package.json
  examples/collaborative-terminal/package.json
  examples/git-repo-per-sandbox/package.json
  examples/minimal/package.json
  examples/openai-agents/package.json
  examples/opencode/package.json
  examples/s3-mount/package.json
  examples/time-machine/package.json
  examples/typescript-validator/package.json
  examples/vite-sandbox/package.json
  examples/websocket-tunnel/package.json
  package-lock.json
Due: format

Add a minimal starter example
  README.md
  examples/minimal/Dockerfile
  examples/minimal/README.md
  examples/minimal/package.json
  examples/minimal/src/index.ts
  examples/minimal/tsconfig.json
  examples/minimal/wrangler.jsonc
Due: biome-fix, format

Add a Devin Outposts template
  README.md
  devin/.dev.vars.example
  devin/Dockerfile
  devin/README.md
  devin/bin/start-devin-worker
  devin/package.json
  devin/src/devin-api.ts
  devin/src/env.ts
  devin/src/index.ts
  devin/src/session.ts
  devin/tsconfig.json
  devin/wrangler.jsonc
  knip.json
Due: format

Run the OpenAI executor on Container Instances
  openai/agents-api/package-lock.json
  openai/agents-api/package.json
  openai/agents-api/src/executor-environment.ts
  openai/agents-api/test/executor-environment.node.test.ts
  openai/agents-api/worker-configuration.d.ts
  openai/agents-api/wrangler.jsonc
Due: format

Make the README a landing page for the docs
  README.md
  packages/sandbox/README.md
Due: format

Ship the license with the package
  LICENSE
  packages/sandbox/LICENSE
  packages/sandbox/package.json
Due: format

Keep example state and archives out of /run
  docs/run-background-processes.md
  docs/share-a-port.md
  examples/backup-workspace/src/index.ts
  examples/process-workspace/src/processes.ts
  examples/share-workspace/src/index.ts
Due: biome-fix, format

Link example READMEs to the Sandbox docs
  examples/artifact-workspace/README.md
  examples/backup-workspace/README.md
  examples/checkpoint-workspace/README.md
  examples/coding-agents/README.md
  examples/minimal/README.md
  examples/outbound-workspace/README.md
  examples/preview-workspace/README.md
  examples/process-workspace/README.md
  examples/share-workspace/README.md
  examples/terminal-workspace/README.md
  examples/workspace/README.md
Due: format

Stop declaring unused ports in example images
  examples/artifact-workspace/Dockerfile
  examples/checkpoint-workspace/Dockerfile
  examples/minimal/Dockerfile
  examples/preview-workspace/Dockerfile
  examples/workspace/Dockerfile
  packages/sandbox/tests/fixtures/s3-lifecycle/Dockerfile
Due: none

Remove user docs now on developers.cloudflare.com
  docs/about-sandboxes.md
  docs/back-up-a-directory.md
  docs/checkpoint-a-workspace.md
  docs/control-outbound-requests.md
  docs/files.md
  docs/get-started.md
  docs/migrate/README.md
  docs/migrate/api-map.md
  docs/migrate/background-processes.md
  docs/migrate/backups.md
  docs/migrate/bucket-mounts.md
  docs/migrate/commands-and-files.md
  docs/migrate/outbound-network.md
  docs/migrate/ports-and-tunnels.md
  docs/migrate/terminals.md
  docs/migrate/your-own-durable-object.md
  docs/open-a-terminal.md
  docs/preview-a-web-app.md
  docs/run-a-coding-agent.md
  docs/run-background-processes.md
  docs/s3-mounts-api.md
  docs/s3-mounts.md
  docs/share-a-port.md
Due: format

Explain the repository architecture
  docs/architecture.md
  packages/sandbox/README.md
Due: format

Document the shim protocol
  docs/shim-protocol.md
  packages/sandbox/README.md
Due: format

Explain the S3 mounts design
  docs/s3-mounts-design.md
  packages/sandbox/README.md
Due: format

Document how to test changes
  docs/testing.md
  packages/sandbox/README.md
Due: format

Document how to write examples
  docs/examples.md
  packages/sandbox/README.md
Due: format

Name both tags of the shim donor image
  images/sandbox-tools/README.md
Due: format

Reject bad Files options and report a missing cwd
  docs/architecture.md
  docs/shim-protocol.md
  packages/sandbox/src/files/command.ts
  packages/sandbox/src/files/files.ts
  packages/sandbox/src/files/read-directory.ts
  packages/sandbox/src/files/read-file.ts
  packages/sandbox/src/files/stat-file.ts
  packages/sandbox/src/files/write-file.ts
  packages/sandbox/tests/mkdir.test.ts
  packages/sandbox/tests/read-directory.test.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/remove.test.ts
  packages/sandbox/tests/rename.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
  packages/sandbox/tests/stat-file.test.ts
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Always mount S3 buckets with nomixupload
  crates/sandbox-tools/src/s3_mount/linux_mount.rs
  crates/sandbox-tools/src/s3_mount/model.rs
  docs/s3-mounts-design.md
  packages/sandbox/src/s3-mounts/request.ts
  packages/sandbox/tests/s3-mounts.integration.test.ts
  packages/sandbox/tests/s3-mounts.test.ts
Due: biome-fix, format

Send example credentials only over HTTPS
  examples/coding-agents/shared/outbound.ts
  examples/outbound-workspace/README.md
  examples/outbound-workspace/src/index.ts
Due: biome-fix, format

Follow process logs as server-sent events
  examples/process-workspace/README.md
  examples/process-workspace/src/processes.ts
Due: biome-fix, format

Tell a wait timeout from a killed process
  examples/process-workspace/src/processes.ts
Due: biome-fix, format

Answer a body that is not JSON with 400
  examples/coding-agents/shared/handler.ts
  examples/outbound-workspace/src/index.ts
  examples/process-workspace/src/index.ts
Due: biome-fix, format

Keep checkpoint-workspace running between requests
  examples/checkpoint-workspace/src/index.ts
Due: biome-fix, format

Reject agent prompts too long for one argument
  examples/coding-agents/README.md
  examples/coding-agents/shared/handler.ts
Due: biome-fix, format

Read the exit code again before a task is lost
  examples/coding-agents/shared/sandbox.ts
Due: biome-fix, format

Back up a directory to R2 and restore it anywhere
  Cargo.lock
  crates/sandbox-tools/Cargo.toml
  crates/sandbox-tools/src/directory_backup/capture.rs
  crates/sandbox-tools/src/directory_backup/extract.rs
  crates/sandbox-tools/src/directory_backup/lifeline.rs
  crates/sandbox-tools/src/directory_backup/mod.rs
  crates/sandbox-tools/src/directory_backup/sys.rs
  crates/sandbox-tools/src/directory_backup/tests.rs
  crates/sandbox-tools/src/directory_backup/transfer.rs
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/protocol.rs
  crates/sandbox-tools/tests/directory_backup.rs
  docs/architecture.md
  docs/examples.md
  docs/shim-protocol.md
  examples/backup-workspace/Dockerfile
  examples/backup-workspace/README.md
  examples/backup-workspace/src/index.ts
  examples/backup-workspace/wrangler.jsonc
  packages/sandbox/README.md
  packages/sandbox/src/directory-backups/contracts.ts
  packages/sandbox/src/directory-backups/directory-backup-gateway.ts
  packages/sandbox/src/directory-backups/directory-backups.ts
  packages/sandbox/src/directory-backups/gateway.ts
  packages/sandbox/src/directory-backups/protocol.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/shared/errors.ts
  packages/sandbox/tests/directory-backup-gateway.test.ts
  packages/sandbox/tests/directory-backups.test.ts
  packages/sandbox/tests/errors.test.ts
  packages/sandbox/tests/packed-api.test.ts
  packages/sandbox/tests/public-api.test.ts
  packages/sandbox/tests/r2-bucket-double.ts
  packages/sandbox/tests/shim-contract.test.mjs
Due: biome-fix, format

Share option validation between package modules
  packages/sandbox/src/files/files.ts
  packages/sandbox/src/shared/options.ts
Due: biome-fix, format

Add a release workflow
  .github/workflows/release.yml
  docs/releasing.md
  images/sandbox-tools/DOCKER_HUB.md
  images/sandbox-tools/README.md
  packages/sandbox/README.md
Due: format

Carry backup failures inside I/O errors
  crates/sandbox-tools/src/directory_backup/capture.rs
  crates/sandbox-tools/src/directory_backup/extract.rs
  crates/sandbox-tools/src/directory_backup/mod.rs
  crates/sandbox-tools/src/directory_backup/tests.rs
  crates/sandbox-tools/src/directory_backup/transfer.rs
Due: none

Dispatch directory-backup like every other command
  crates/sandbox-tools/src/main.rs
Due: none

Follow backup aborts through the shared session
  packages/sandbox/src/directory-backups/protocol.ts
  packages/sandbox/src/s3-mounts/protocol.ts
  packages/sandbox/src/shared/shim.ts
  packages/sandbox/tests/directory-backups.test.ts
Due: biome-fix, format

Move the gateway HTTP client into its own module
  crates/sandbox-tools/src/directory_backup/transfer.rs
  crates/sandbox-tools/src/http.rs
  crates/sandbox-tools/src/main.rs
Due: none

Split a restore into its target and new directory
  crates/sandbox-tools/src/directory_backup/mod.rs
  crates/sandbox-tools/src/directory_backup/restore.rs
Due: none

Test a newline inside a PAX path record
  crates/sandbox-tools/src/directory_backup/extract.rs
  crates/sandbox-tools/src/directory_backup/tests.rs
Due: none

Send every directory-backup frame as one typed message
  crates/sandbox-tools/src/directory_backup/capture.rs
  crates/sandbox-tools/src/directory_backup/mod.rs
  crates/sandbox-tools/src/directory_backup/restore.rs
  crates/sandbox-tools/src/directory_backup/transfer.rs
Due: none

Simplify the DirectoryBackups gateway and backup flow
  packages/sandbox/src/directory-backups/directory-backup-gateway.ts
  packages/sandbox/src/directory-backups/directory-backups.ts
  packages/sandbox/src/directory-backups/gateway.ts
  packages/sandbox/tests/directory-backups.test.ts
Due: biome-fix, format

Correct directory backup comments and test doubles
  crates/sandbox-tools/src/directory_backup/extract.rs
  crates/sandbox-tools/src/directory_backup/lifeline.rs
  crates/sandbox-tools/src/directory_backup/tests.rs
  examples/backup-workspace/src/index.ts
  packages/sandbox/tests/r2-bucket-double.ts
Due: biome-fix, format

Keep the backup gateway's props out of the public API
  packages/sandbox/src/index.ts
  packages/sandbox/tests/directory-backups.test.ts
Due: biome-fix, format

Link DirectoryBackups to its reference page
  packages/sandbox/README.md
Due: format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
