Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Fix heredoc commands hanging due to indentation of terminator (#446)
  .changeset/fix-heredoc-indentation.md
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/session.test.ts
Due: biome-fix, format, validate-changesets

pin bun version via .bun-version, add setup-bun to build, add job permissions
  .bun-version
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-quality.yml
  docker-bake.hcl
  packages/sandbox/Dockerfile
Due: format

Tie transport retry budget to startup timeouts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add changeset
  .changeset/fix-transport-retry-budget.md
Due: format, validate-changesets

switch Docker build cache from CF registry to GHCR with per-target refs
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  docker-bake.hcl
Due: format

use npx for wrangler commands in CI workflows
  .github/workflows/performance.yml
  .github/workflows/reusable-build.yml
Due: format

Use real readiness probe for OpenCode
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format

Centralize watch process lifecycle
  packages/sandbox-container/src/services/watch-service.ts
Due: biome-fix, format

Use smaller repo for git clone E2E tests
  tests/e2e/git-clone-workflow.test.ts
Due: format

remove broken rharkor/caching-for-turbo action
  .github/workflows/performance.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-quality.yml
Due: format

Isolate E2E tests with per-file sandboxes
  tests/e2e/_smoke.test.ts
  tests/e2e/backup-workflow.test.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/desktop-environment.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/global-setup.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/musl.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/pty.test.ts
  tests/e2e/redirect-proxy-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/websocket-connect.test.ts
  tests/e2e/websocket-workflow.test.ts
  vitest.e2e.config.ts
Due: format

Fix CI job failures and bump actions to latest
  .github/workflows/performance.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-quality.yml
Due: format

Fix missing vitest imports and stale refs
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/pty.test.ts
Due: format

Route cleanup through correct sandbox namespace
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/websocket-connect.test.ts
Due: format

Bump wrangler, containers, and fix audit vulnerabilities
  .changeset/bump-containers-and-wrangler.md
  examples/alpine/package.json
  examples/authentication/package.json
  examples/claude-code/package.json
  examples/code-interpreter/package.json
  examples/collaborative-terminal/package.json
  examples/desktop/package.json
  examples/minimal/package.json
  examples/openai-agents/package.json
  examples/opencode/package.json
  examples/time-machine/package.json
  examples/typescript-validator/package.json
  package-lock.json
  package.json
  packages/sandbox/package.json
  sites/sandbox/package.json
Due: format, validate-changesets

Inject worker secrets after E2E deploy
  .github/workflows/reusable-e2e.yml
Due: format

Fix wrangler secret bulk command syntax
  .github/workflows/reusable-e2e.yml
Due: format

Restore file-ops tests mangled by migration
  tests/e2e/file-operations-workflow.test.ts
Due: format

Add deploy hash to health endpoint
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/types.ts
Due: format

Add content-addressed skip logic to CI
  .github/workflows/pr.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
Due: format

Rewrite changeset to describe SDK fixes
  .changeset/bump-containers-and-wrangler.md
  .changeset/fix-readiness-and-watch-lifecycle.md
Due: format, validate-changesets

Fix Docker preview comment on PRs
  .github/templates/pr-preview-comment.md
  .github/workflows/pr.yml
Due: format

Add musl and desktop to Docker Hub preview
  .github/templates/pr-preview-comment.md
  .github/workflows/pr.yml
Due: format

Rename index.js to worker.js for clarity
  examples/vite-sandbox/src/worker.js
  examples/vite-sandbox/wrangler.jsonc
Due: biome-fix, format

Add README for vite-sandbox example
  examples/vite-sandbox/README.md
  examples/vite-sandbox/vite.config.js
Due: biome-fix, format

Fix SSE stream race condition in process log handler
  packages/sandbox-container/src/handlers/process-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  packages/sandbox-container/tests/handlers/process-handler.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Update changeset for SSE race condition fix
  .changeset/fix-readiness-and-watch-lifecycle.md
Due: format, validate-changesets

Fix path-filter gaps and wait failure masking
  .github/workflows/pr.yml
  .github/workflows/reusable-build.yml
Due: format

Use shallow clones for CI checkouts
  .github/workflows/performance.yml
  .github/workflows/pr.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-quality.yml
Due: format

Extract sandbox plugin into separate file
  examples/vite-sandbox/src/worker.js
  examples/vite-sandbox/vite.config.js
  examples/vite-sandbox/vite.sandbox-plugin.js
Due: biome-fix, format

Cache node_modules across CI jobs
  .github/workflows/performance.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-quality.yml
Due: format

Fix node_modules cache for npm workspaces
  .github/workflows/performance.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-quality.yml
  examples/desktop/package.json
  package-lock.json
Due: format

Add CI pipeline documentation
  docs/CI.md
Due: format

Align zod version across workspace
  examples/code-interpreter/package.json
Due: format

Pin default Bun version to 1.3 in docker-bake
  docker-bake.hcl
Due: none

Remove stale beta release references from AGENTS.md
  AGENTS.md
Due: format

Update lockfile for zod v4 in code-interpreter example
  package-lock.json
Due: format

Fix cleanup workflow failing to list containers
  .github/workflows/cleanup.yml
Due: format

Prevent multi-line log splitting in dashboard
  packages/sandbox-container/src/server.ts
  packages/shared/src/logger/logger.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
