Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

feat: add file watching capabilities with inotify support
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox/Dockerfile
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Create empty-poets-serve.md
  .changeset/empty-poets-serve.md
Due: format, validate-changesets

Potential fix for code scanning alert no. 42: Incomplete string escaping or encoding
  packages/sandbox-container/src/services/watch-service.ts
Due: biome-fix, format

fixes for claude review
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

update tests to verify regex format for default and custom excludes
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

add depth option for shallow cloning in git operations
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/validation/schemas.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/git-client.test.ts
  packages/shared/src/types.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Create nice-ads-behave.md
  .changeset/nice-ads-behave.md
Due: format, validate-changesets

minor nits based on claude review coms
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
Due: biome-fix, format

Validate depth option in GitClient to ensure it is a positive integer; add tests for zero, negative, and non-integer values.
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/tests/git-client.test.ts
Due: biome-fix, format

Fix error handling and type safety in WatchService and FileWatch classes. Update tests to validate new event parsing logic and ensure proper handling of inotifywait output.
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/sandbox.ts
  tests/e2e/file-watch-workflow.test.ts
Due: biome-fix, format

Refactor WatchService tests to validate combined regex patterns for default and custom excludes
  packages/sandbox-container/tests/services/watch-service.test.ts
Due: biome-fix, format

Added timeouts for event propagation
  tests/e2e/file-watch-workflow.test.ts
Due: format

Add custom token support to exposePort for stable preview URLs
  .changeset/custom-port-tokens.md
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/port-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/request-types.ts
Due: biome-fix, format, validate-changesets

Remove 16-character limitation for custom tokens
  .changeset/custom-port-tokens.md
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/port-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/request-types.ts
Due: biome-fix, format, validate-changesets

Set maximum token length to 16 characters
  .changeset/custom-port-tokens.md
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/request-types.ts
Due: biome-fix, format, validate-changesets

Fix vuln deps
  package-lock.json
Due: format

Fix openai-agents example missing SDK dependency
  examples/openai-agents/package.json
  examples/openai-agents/tsconfig.json
Due: format

Update lockfile for openai-agents SDK dependency
  package-lock.json
Due: format

Update lockfile
  package-lock.json
Due: format

Simplify comment and changeset wording
  .changeset/fix-sleepafter-rpc-timing.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Fix sleepAfter option via getSandbox() being ignored (#323)
  .changeset/fix-sleepafter-rpc-timing.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Clean up dead code and consolidate shared types
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/handlers/process-handler.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/validation/request-validator.ts
  packages/sandbox-container/src/validation/schemas.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/validation/request-validator.test.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/tests/git-client.test.ts
  packages/shared/src/git.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/tests/git.test.ts
Due: biome-fix, format

implement signal handling for Ctrl+C, Ctrl+Z, and Ctrl+\ in the PTY manager
  examples/collaborative-terminal/Dockerfile
  examples/collaborative-terminal/src/App.tsx
  examples/collaborative-terminal/src/index.ts
  examples/collaborative-terminal/wrangler.jsonc
  packages/sandbox-container/src/managers/pty-manager.ts
Due: biome-fix, format

Potential fix for code scanning alert no. 43: Insecure randomness
  examples/collaborative-terminal/src/index.ts
Due: biome-fix, format

Remove outdated comment referencing deleted schemas
  packages/shared/src/request-types.ts
Due: biome-fix, format

Clean up dead code and consolidate shared types (#330)
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/handlers/process-handler.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/validation/request-validator.ts
  packages/sandbox-container/src/validation/schemas.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/validation/request-validator.test.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/tests/git-client.test.ts
  packages/shared/src/git.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/tests/git.test.ts
Due: biome-fix, format

Fix ReDoS vulnerability and improve changeset description
  .changeset/nice-ads-behave.md
  packages/shared/src/git.ts
Due: biome-fix, format, validate-changesets

add depth option for shallow cloning in git operations (#326)
  .changeset/nice-ads-behave.md
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/handlers/process-handler.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/validation/request-validator.ts
  packages/sandbox-container/src/validation/schemas.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/validation/request-validator.test.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/git-client.test.ts
  packages/shared/src/git.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  packages/shared/tests/git.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Add S3FS prefix validation and source building functions
  package-lock.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/validation.ts
  packages/sandbox/tests/storage-mount/validation.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Update changeset for S3FS prefix validation
  .changeset/stupid-beans-relate.md
Due: format, validate-changesets

Address PR feedback: Fix validation ordering and add token collision prevention
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

fix: handle potential undefined value for envVars
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Changes based on review comments
  examples/collaborative-terminal/src/index.ts
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/pty-handler.ts
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  packages/sandbox/src/clients/pty-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/pty-client.test.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Update dependencies and improve PTY handling in collaborative terminal example
  examples/collaborative-terminal/Dockerfile
  examples/collaborative-terminal/package.json
  examples/collaborative-terminal/src/index.ts
  examples/collaborative-terminal/wrangler.jsonc
  package-lock.json
  packages/sandbox-container/src/managers/pty-manager.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Update PTY workflow tests to expect correct HTTP status codes for error responses
  tests/e2e/pty-workflow.test.ts
Due: format

extractPtyId method to retrieve PTY IDs from responses, and update handleRegularResponse to return parsed body for further processing
  packages/sandbox-container/src/handlers/ws-adapter.ts
Due: biome-fix, format

Update PTY workflow tests to expect 'message' field in error responses instead of 'error'
  tests/e2e/pty-workflow.test.ts
Due: format

Propagate SIGTERM to child processes in killProcess
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

changeset
  .changeset/olive-lands-do.md
Due: format, validate-changesets

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
