Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Fix e2e tests
  tests/e2e/control-port-workflow.test.ts
Due: format

Mr Devin you are the boss
  .changeset/fix-pty-env-null-bytes.md
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/session-manager-pty.test.ts
Due: biome-fix, format, validate-changesets

Mom AI and dad AI are fighting
  packages/sandbox-container/tests/services/session-manager-pty.test.ts
Due: biome-fix, format

Document custom env vars in opencode example README
  .changeset/add-opencode-custom-env.md
  examples/opencode/README.md
  examples/opencode/src/index.ts
Due: biome-fix, format, validate-changesets

Add custom env var support to OpenCode integration
  .changeset/add-opencode-custom-env.md
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format, validate-changesets

fix: read env -0 output from temp file to preserve null bytes (#489)
  .changeset/fix-pty-env-null-bytes.md
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/session-manager-pty.test.ts
Due: biome-fix, format, validate-changesets

Add custom env var support to OpenCode integration (#363)
  .changeset/add-opencode-custom-env.md
  examples/opencode/README.md
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format, validate-changesets

Add persistent file watch state
  .changeset/persistent-watch-state.md
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Bonk changes
  packages/sandbox-container/src/config.ts
  packages/sandbox-container/src/security/security-service.ts
  packages/sandbox-container/tests/security/security-service.test.ts
  packages/sandbox/Dockerfile
Due: biome-fix, format

Forward persistent watch owner IDs
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Refine persistent watch leases
  .changeset/persistent-watch-state.md
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Remove unneeded test + provide templating for control port in docker files
  docker-bake.hcl
  examples/claude-code/Dockerfile
  examples/openai-agents/Dockerfile
  packages/sandbox-container/tests/config.test.ts
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
  tests/e2e/test-worker/Dockerfile.musl
  tests/e2e/test-worker/Dockerfile.standalone
Due: biome-fix, format

Polish persistent watch compatibility
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/tests/watch-client.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Update markdown files
  AGENTS.md
  docs/STANDALONE_BINARY.md
Due: format

Fix flaky tests for command timeout tests
  tests/e2e/command-timeout.test.ts
Due: format

Fix background process termination
  .changeset/process-group-kill-fix.md
  docs/SESSION_EXECUTION.md
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/session.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format, validate-changesets

Add waitForExit support for background processes
  packages/sandbox-container/src/handlers/process-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/handlers/process-handler.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Temporarily add logs to investigate
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Handle descendant kill races in session shutdown
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Fall back to pid-based process termination
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/process-service.test.ts
Due: biome-fix, format

Remove old logs and increase timeout to prevent flakiness
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Redact high-entropy env var values from logs and error messages
  package-lock.json
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/entropy.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/tests/entropy.test.ts
Due: biome-fix, format

Scope redaction to env var paths and use AUTO-REDACTED marker
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/shared/src/request-types.ts
Due: biome-fix, format

Add sensitiveKeys option to setEnvVars for explicit redaction
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Fix websocket recovery and sandbox setup
  .changeset/fix-websocket-reconnect-and-config-cache.md
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format, validate-changesets

Bonk comments
  tests/e2e/command-timeout.test.ts
Due: format

Bump wrangler to 0.74.0
  package-lock.json
  package.json
Due: format

Read AWS credentials from process as last resort
  packages/sandbox/src/storage-mount/credential-detection.ts
Due: biome-fix, format

Pass DO env instead of accessing process directly
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/credential-detection.ts
Due: biome-fix, format

Pass explicit variables
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Auto detect R2 credentials
  .changeset/detect-env-credentials.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/credential-detection.ts
Due: biome-fix, format, validate-changesets

<3 bonk
  packages/sandbox/src/storage-mount/credential-detection.ts
Due: biome-fix, format

Refocus file watches on change checks
  .changeset/persistent-watch-state.md
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/watch-client.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

add tests for new logic
  package-lock.json
  packages/sandbox/tests/storage-mount/credential-detection.test.ts
Due: biome-fix, format

Persist sleepAfter to DO storage
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

fix: terminate process trees on kill
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

fix killCommand bugs
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

update zombie process issue
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

address bonk issues
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

patch helper
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
