Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Notes added by 'git notes add'
  eb70af4f91a5357dde755ae1ed56dd43340061c0
Due: none

Notes added by 'git notes add'
  5071a2db8489afc51a63da35acf2f4b33b04f22c
Due: none

Notes added by 'git notes add'
  0a1b6caf3df67f54e3d742fff9a6cb4c140f9af5
Due: none

Notes added by 'git notes add'
  0a1b6caf3df67f54e3d742fff9a6cb4c140f9af5
  2ade65bc03175311fb66c7a30ee9a2205a762388
  4034668a42d26e2a0bb9aed195c26132acac97f2
  629b522696e04aa83f005050f5e834f42163dec7
  e97fcc660b22f81a1a1472158b863573a2a9e111
Due: none

Notes added by 'git notes add'
  082778ab7dec13a7ffc335b995dd1e80b8d5f2da
  266b762fae9f1364ddccb034c78fc55ece16bc60
  2f6203110edc2be1d602ddd9db1dfb2dd82d21b9
  629b522696e04aa83f005050f5e834f42163dec7
Due: none

Notes added by 'git notes add'
  266b762fae9f1364ddccb034c78fc55ece16bc60
  370425668b26b5278303d25a05141e2d42166be9
  e9d71a227a9d9e19b55601bd5cf014fdf8fe538c
Due: none

remove arrayBuffer from multipart upload
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
Due: biome-fix, format

fix 0 len uploads + dual mount bug
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

Add regression test for stuck RPC connection
  tests/e2e/rpc-recovery-after-ws-close.test.ts
Due: format

Assert disconnect() unbinds WebSocket listeners
  packages/sandbox/tests/container-connection.test.ts
Due: biome-fix, format

Drop wasEverConnected gate from busy-poll
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Recover RPC session after hang
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
Due: biome-fix, format

Unbind WebSocket listeners on disconnect
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/tests/container-connection.test.ts
Due: biome-fix, format

Recover RPC stream after OOM error (#698)
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  tests/e2e/rpc-recovery-after-ws-close.test.ts
Due: biome-fix, format

Update websocket-tunnel example to use quick tunnels
  examples/websocket-tunnel/README.md
  examples/websocket-tunnel/server.js
  examples/websocket-tunnel/src/index.ts
  examples/websocket-tunnel/worker-configuration.d.ts
  examples/websocket-tunnel/wrangler.jsonc
Due: biome-fix, format

set durable_object_offset_instances in wrangler
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/e2e/test-worker/wrangler.template.jsonc
Due: none

Fix getProcess() throwing error in RPC transport
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Implement SandboxAPI interfaces on HTTP sub-clients
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/clients/watch-client.ts
Due: biome-fix, format

Fix getProcessStatus return type across all layers
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox/src/clients/desktop-client.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Fix type() options to use delay instead of delayMs
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/tests/desktop-client.test.ts
Due: biome-fix, format

Stub listSessions on HTTP client as RPC-only
  packages/sandbox/src/clients/utility-client.ts
Due: biome-fix, format

Fix screenshotRegion signature to match SandboxDesktopAPI
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/tests/desktop-client.test.ts
Due: biome-fix, format

Add example using s3-mount with STS credentials
  examples/s3-mount/.dev.vars.example
  examples/s3-mount/.gitignore
  examples/s3-mount/Dockerfile
  examples/s3-mount/README.md
  examples/s3-mount/package.json
  examples/s3-mount/public/index.html
  examples/s3-mount/scripts/setup
  examples/s3-mount/scripts/test
  examples/s3-mount/src/credentials.ts
  examples/s3-mount/src/index.ts
  examples/s3-mount/src/sandbox.ts
  examples/s3-mount/src/worker.ts
  examples/s3-mount/tsconfig.json
  examples/s3-mount/worker-configuration.d.ts
  examples/s3-mount/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Update README.md
  examples/s3-mount/README.md
Due: format

Add s3-mount example with short-lived credential injection (#704)
  examples/s3-mount/.dev.vars.example
  examples/s3-mount/.gitignore
  examples/s3-mount/Dockerfile
  examples/s3-mount/README.md
  examples/s3-mount/package.json
  examples/s3-mount/public/index.html
  examples/s3-mount/scripts/setup
  examples/s3-mount/scripts/test
  examples/s3-mount/src/credentials.ts
  examples/s3-mount/src/index.ts
  examples/s3-mount/src/sandbox.ts
  examples/s3-mount/src/worker.ts
  examples/s3-mount/tsconfig.json
  examples/s3-mount/worker-configuration.d.ts
  examples/s3-mount/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Fix getProcess() throwing error in RPC transport (#702)
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Fix getProcess() throwing error in RPC transport
  examples/websocket-tunnel/worker-configuration.d.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

implement sessionless exec path
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

patch test issues
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

fix sessionless inconsistencies
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

fix issues + add e2e tests
  .changeset/sessionless-execution.md
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

fix execStream bug
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/process-service.test.ts
Due: biome-fix, format

biome fix
  tests/e2e/sessionless-execution-workflow.test.ts
Due: format

fix e2e test
  tests/e2e/test-worker/index.ts
Due: format

Update websocket-tunnel example to use quick tunnels (#700)
  examples/websocket-tunnel/README.md
  examples/websocket-tunnel/server.js
  examples/websocket-tunnel/src/index.ts
  examples/websocket-tunnel/worker-configuration.d.ts
  examples/websocket-tunnel/wrangler.jsonc
Due: biome-fix, format

Fix tunnels RPC when using vite-plugin
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
Due: biome-fix, format

fixup! Attempt to fix tunnels rpc
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

fixup! Attempt to fix tunnels rpc
  packages/sandbox/src/tunnels/tunnels-handler.ts
Due: biome-fix, format

fixup! Fix tunnels RPC when using vite-plugin
  packages/sandbox/src/tunnels/tunnels-handler.ts
Due: biome-fix, format
