Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

remove turbo in workflow
  .github/workflows/performance.yml
  turbo.json
Due: format

Add env passthrough
  .github/workflows/performance.yml
  turbo.json
Due: format

remove ubuntu mirror
  packages/sandbox/Dockerfile
Due: none

call validatePrefix at API level
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

test less tests
  .github/workflows/performance.yml
Due: format

Persist port tokens across container restarts
  .changeset/persist-port-tokens-across-restarts.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Auto re-expose ports after container restart
  .changeset/auto-reexpose-ports-on-recovery.md
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Preview URLs survive container restarts
  .changeset/preview-urls-survive-container-restarts.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Add E2E test and exposePort() JSDoc for restart survival
  packages/sandbox/src/sandbox.ts
  tests/e2e/preview-url-restart-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

destroy() clears portTokens from storage
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Update wrangler types
  examples/claude-code/worker-configuration.d.ts
Due: biome-fix, format

Pass new perf worker variable
  .github/workflows/performance.yml
  tests/perf/scenarios/backup-restore.test.ts
  tests/perf/scenarios/bucket-mounting.test.ts
  turbo.json
Due: format

Add capnweb e2e CI step
  .github/workflows/reusable-e2e.yml
Due: format

Consolidate all transport types
  .github/workflows/reusable-e2e.yml
Due: format

Allow run-e2e label to force running e2e tests
  .github/path-filters.yml
  .github/workflows/pr-privileged.yml
Due: format

Fix capacity fixes
  .github/workflows/reusable-e2e.yml
Due: format

Fix changeset scope and trim release-note copy
  .changeset/preview-urls-survive-container-restarts.md
Due: format, validate-changesets

Simplify onStart restore and batch the exposed-port check
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Test onStart error handling and snapshot restore
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Lock in destroy() ordering against stale-read race
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Trim redundant port-restoration tests and docblock
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/preview-url-restart-workflow.test.ts
Due: biome-fix, format

Revert preview URL restart persistence
  .changeset/preview-urls-survive-container-restarts.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/preview-url-restart-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Pass keepAlive only when explicitly set
  tests/e2e/test-worker/index.ts
Due: format

Refactor createTestSandbox and test helpers
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/helpers/test-fixtures.ts
Due: format

Add abort timers to e2e HTTP requests
  tests/e2e/backup-workflow.test.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/desktop-environment.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/parallel-context-creation.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/pty.test.ts
  tests/e2e/redirect-proxy-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/websocket-connect.test.ts
  tests/e2e/websocket-workflow.test.ts
Due: format

Use .resolves for JSON body assertions
  tests/e2e/_smoke.test.ts
  tests/e2e/backup-workflow.test.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/command-timeout.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/desktop-environment.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/musl.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
Due: format

Remove unused imports and add workers-types
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/command-timeout.test.ts
  tests/e2e/desktop-environment.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/musl.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/tsconfig.json
Due: format

Fix SSE timeout and streaming test robustness
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
Due: format

Add validatePortToken unit tests
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Skip container round-trip in validatePortToken
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Assert validatePortToken skips isPortExposed
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Add changeset for validatePortToken fast path
  .changeset/validate-port-token-skip-container.md
Due: format, validate-changesets

Revoke preview token before container unexpose RPC
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Cover unexpose race fix in the changeset
  .changeset/validate-port-token-skip-container.md
Due: format, validate-changesets

Polish comments and tests per project conventions
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Skip orphaned ports in getExposedPorts
  .changeset/validate-port-token-skip-container.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Fix code-interpreter type check
  examples/code-interpreter/src/index.ts
Due: biome-fix, format

Remove capnweb from integration test matrix
  .github/workflows/reusable-e2e.yml
Due: format

Attempt to prewarm e2e containers
  .github/workflows/reusable-e2e.yml
Due: format

Bump capacity guard budgets in CI
  .github/workflows/reusable-e2e.yml
Due: format
