Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

setup initial benchmark
  packages/sandbox/Dockerfile
  tests/e2e/file-transfer-benchmark.test.ts
Due: format

check file size before transfer attempt
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox/Dockerfile
  packages/sandbox/src/clients/file-client.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  tests/e2e/file-transfer-benchmark.test.ts
Due: biome-fix, format

move pwd resolution to getFileMetadata
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

fix incorrect error response
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

Update JS Docs to better reflect token requirements for tokens for exposePort()
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Update lockfile
  package-lock.json
Due: format

Use Bun native writes for files
  packages/sandbox-container/package.json
  packages/sandbox-container/scripts/benchmark-write.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/process-store.test.ts
Due: biome-fix, format

Add changeset for writeFile performance
  .changeset/native-file-write-performance.md
Due: format, validate-changesets

Remove temporary write benchmark script
  packages/sandbox-container/scripts/benchmark-write.ts
Due: biome-fix, format

Drop bench:write package script
  packages/sandbox-container/package.json
Due: format

fix stateless decoder issue
  .changeset/native-file-read-performance.md
  packages/sandbox-container/src/services/file-service.ts
  tests/e2e/streaming-operations-workflow.test.ts
Due: biome-fix, format, validate-changesets

Pass sessionId and normalize write paths
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: biome-fix, format

Use native file writes in FileService (#404)
  .changeset/native-file-write-performance.md
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/process-store.test.ts
Due: biome-fix, format, validate-changesets

Omit undefined encoding in write handler
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
Due: biome-fix, format

Add changeset for write handler encoding fix
  .changeset/write-handler-omit-undefined-encoding.md
Due: format, validate-changesets

Omit undefined encoding in write handler (#412)
  .changeset/write-handler-omit-undefined-encoding.md
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
Due: biome-fix, format, validate-changesets

resolve pwd paths and simplify base64 conversion
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

block session whilst reading file
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox/src/errors/index.ts
Due: biome-fix, format

remove redundant pipe
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

fix stream flush issue
  packages/sandbox-container/src/services/file-service.ts
Due: biome-fix, format

Revert package-lock drift on process-tree branch
  package-lock.json
Due: format

Escalate kill in non-wait destroy
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

Add desktop error codes, contexts, and suggestions
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/errors/types.ts
Due: biome-fix, format

Add shared desktop environment types
  packages/shared/src/desktop-types.ts
  packages/shared/src/index.ts
Due: biome-fix, format

Add DesktopClient to SDK
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/index.ts
Due: biome-fix, format

Add unit tests for DesktopClient
  packages/sandbox/tests/desktop-client.test.ts
Due: biome-fix, format

Add Go robotgo wrapper for desktop.so
  packages/sandbox-container/native/desktop-wrapper/go.mod
  packages/sandbox-container/native/desktop-wrapper/main.go
Due: none

Add FFI worker thread for desktop operations
  packages/sandbox-container/src/workers/desktop-worker.ts
Due: biome-fix, format

Add desktop error classes and adapter mapping
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
Due: biome-fix, format

Add DesktopManager for display stack lifecycle
  packages/sandbox-container/src/managers/desktop-manager.ts
Due: biome-fix, format

Add desktop getter and stream URL to Sandbox
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add DesktopService with worker thread management
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Add DesktopHandler for desktop HTTP endpoints
  packages/sandbox-container/src/handlers/desktop-handler.ts
Due: biome-fix, format

Add desktop target stage to Dockerfile
  packages/sandbox/Dockerfile
Due: none

Register desktop service and routes in container
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Add unit tests for desktop handler and service
  packages/sandbox-container/tests/handlers/desktop-handler.test.ts
  packages/sandbox-container/tests/services/desktop-service.test.ts
Due: biome-fix, format

Add changeset for desktop environment feature
  .changeset/desktop-environment.md
Due: format, validate-changesets

Fix Docker desktop build: Go 1.24, worker compilation, path resolution
  packages/sandbox-container/build.ts
  packages/sandbox-container/native/desktop-wrapper/main.go
  packages/sandbox-container/src/services/desktop-service.ts
  packages/sandbox/Dockerfile
Due: biome-fix, format

Add E2E tests for desktop environment
  tests/e2e/desktop-environment.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
