Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Fix TOCTOU race and rename artifacts example
  examples/git-repo-per-sandbox/src/index.ts
  examples/git-repo-per-sandbox/wrangler.jsonc
Due: biome-fix, format

Consolidate into a single commit endpoint
  examples/git-repo-per-sandbox/README.md
  examples/git-repo-per-sandbox/src/index.ts
Due: biome-fix, format

Add git-repo-per-sandbox example (#584)
  examples/git-repo-per-sandbox/.gitignore
  examples/git-repo-per-sandbox/Dockerfile
  examples/git-repo-per-sandbox/README.md
  examples/git-repo-per-sandbox/package.json
  examples/git-repo-per-sandbox/src/index.ts
  examples/git-repo-per-sandbox/tsconfig.json
  examples/git-repo-per-sandbox/worker-configuration.d.ts
  examples/git-repo-per-sandbox/wrangler.jsonc
  package-lock.json
  packages/sandbox/README.md
Due: biome-fix, format

Retry transient WebSocket upgrades
  .changeset/retry-websocket-upgrades.md
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/server.test.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/response-retry.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/response-retry.test.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format, validate-changesets

Retry transient WebSocket upgrades (#748)
  .changeset/retry-websocket-upgrades.md
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/server.test.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/response-retry.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/response-retry.test.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format, validate-changesets

Make sandbox control use RPC only
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Remove sandbox transport selection
  examples/s3-mount/wrangler.jsonc
  examples/vite-sandbox/wrangler.jsonc
  examples/websocket-tunnel/README.md
  examples/websocket-tunnel/wrangler.jsonc
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Delete legacy SDK route clients
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/AGENTS.md
  packages/sandbox/src/clients/transport/README.md
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/index.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/container-control/README.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/command-client.test.ts
  packages/sandbox/tests/file-client.test.ts
  packages/sandbox/tests/git-client.test.ts
  packages/sandbox/tests/port-client.test.ts
  packages/sandbox/tests/process-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/transport.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
  packages/sandbox/tests/utility-client.test.ts
  packages/sandbox/tests/watch-client.test.ts
  packages/sandbox/tests/ws-transport.test.ts
  tests/e2e/bucket-mounting.test.ts
Due: biome-fix, format

Remove legacy container control routes
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/router.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/handlers/base-handler.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/handlers/interpreter-handler.ts
  packages/sandbox-container/src/handlers/misc-handler.ts
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/handlers/process-handler.ts
  packages/sandbox-container/src/handlers/session-handler.ts
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/middleware/cors.ts
  packages/sandbox-container/src/middleware/logging.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/handlers/interpreter-handler.test.ts
  packages/sandbox-container/tests/handlers/misc-handler.test.ts
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  packages/sandbox-container/tests/handlers/process-handler.test.ts
  packages/sandbox-container/tests/handlers/session-handler.test.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
  packages/sandbox-container/tests/middleware/logging.test.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Update tests and docs for RPC-only control
  .agents/skills/architecture/SKILL.md
  .changeset/remove-legacy-sandbox-transports.md
  docs/ARCHITECTURE.md
  docs/ERROR_HANDLING.md
  docs/SESSION_EXECUTION_DEEP_DIVE.md
  packages/sandbox-container/src/control-plane/AGENTS.md
  packages/sandbox-container/src/control-plane/README.md
  packages/sandbox/README.md
  packages/sandbox/src/container-control/AGENTS.md
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/ws-types.ts
Due: biome-fix, format, validate-changesets

Remove stale transport references
  packages/sandbox/src/tunnels/sandbox-control-callback.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/sandbox-control-callback.test.ts
Due: biome-fix, format

Implement proxy mount read caching
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format

update exec return
  .changeset/exec-process-api.md
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/exec-process.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/exec-process.test.ts
  packages/sandbox/tests/openai-shell-editor.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Move S3 mount smoke test out of unit suite
  examples/s3-mount/package.json
Due: format

Move Codex app integration test out of unit suite
  examples/codex-app-server/package.json
Due: format

patch e2e tests
  packages/sandbox/src/exec-process.ts
  packages/sandbox/tests/exec-process.test.ts
Due: biome-fix, format

update buffered exec default behaviour
  packages/sandbox/src/exec-process.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/exec-process.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Remove stale E2E transport gates
  .agents/skills/examples/SKILL.md
  examples/s3-mount/worker-configuration.d.ts
  examples/websocket-tunnel/worker-configuration.d.ts
  packages/sandbox/README.md
  packages/shared/src/types.ts
  tests/e2e/backup-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/rpc-container-control.test.ts
  tests/e2e/rpc-recovery-after-ws-close.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/tunnel-named-workflow.test.ts
  tests/e2e/tunnel-quick-workflow.test.ts
  vitest.e2e.config.ts
Due: biome-fix, format

Harden RPC control lifecycle
  packages/sandbox-container/src/server.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/helpers/mock-control-client.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format

Remove E2E transport matrix
  .github/workflows/cleanup.yml
  .github/workflows/reusable-e2e.yml
  turbo.json
Due: format

Remove stale RPC cleanup exports
  packages/sandbox-container/src/core/types.ts
  packages/sandbox/src/container-control/index.ts
Due: biome-fix, format

Fix E2E matrix removal fallout
  .github/workflows/cleanup.yml
  .github/workflows/reusable-e2e.yml
  turbo.json
Due: format

Remove E2E transport matrix (#752)
  .github/workflows/cleanup.yml
  .github/workflows/reusable-e2e.yml
Due: format

Revert "Remove E2E transport matrix"
  .github/workflows/cleanup.yml
  .github/workflows/reusable-e2e.yml
  turbo.json
Due: format

Remove stale E2E transport env
  .github/workflows/reusable-e2e.yml
  turbo.json
Due: format

Tighten transport-cleanup docs and changeset
  .agents/skills/architecture/SKILL.md
  .changeset/remove-legacy-sandbox-transports.md
  docs/ARCHITECTURE.md
  docs/ERROR_HANDLING.md
  docs/SESSION_EXECUTION_DEEP_DIVE.md
  packages/sandbox-container/src/control-plane/AGENTS.md
  packages/sandbox-container/src/control-plane/README.md
  packages/sandbox/src/container-control/AGENTS.md
  packages/sandbox/src/container-control/README.md
Due: format, validate-changesets

Drop historical framing from transport docs
  .agents/skills/architecture/SKILL.md
  docs/ARCHITECTURE.md
  packages/sandbox-container/src/control-plane/README.md
  packages/sandbox/src/container-control/README.md
Due: format

Remove stale RPC transport guards
  bridge/worker/wrangler.jsonc
  packages/sandbox-container/src/services/file-service.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Refresh tunnel lifecycle docs
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
Due: biome-fix, format

Add prerelease channel releases
  .github/README.md
  .github/install-crane.sh
  .github/login-release-registries.sh
  .github/prerelease-channel.test.ts
  .github/prerelease-channel.ts
  .github/publish-sandbox-images.sh
  .github/publish-sandbox-images.test.sh
  .github/test-release-tools.sh
  .github/workflows/release-next.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-prerelease.yml
  package.json
Due: format

Allow next release E2E permissions
  .github/workflows/release-next.yml
Due: format

Allow next release E2E permissions (#754)
  .github/workflows/release-next.yml
Due: format

Rename GitHub release tooling doc
  .github/release-tooling.md
Due: format

Use generic prerelease workflow
  .github/release-tooling.md
  .github/workflows/prerelease.yml
  .github/workflows/reusable-prerelease.yml
Due: format

Route prereleases through release workflow
  .github/release-tooling.md
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/reusable-prerelease.yml
Due: format

Add CONTAINER_UNAVAILABLE admission failure contract
  .changeset/surface-container-unavailable.md
  docs/ERROR_HANDLING.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  tests/e2e/helpers/container-unavailable-retry.test.ts
  tests/e2e/helpers/container-unavailable-retry.ts
  tests/e2e/setup-container-unavailable-retry.ts
  tests/e2e/test-worker/index.ts
  vitest.e2e.config.ts
Due: biome-fix, format, validate-changesets

Restore E2E fetch retry after helper test
  tests/e2e/helpers/container-unavailable-retry.test.ts
Due: format

Classify exhausted RPC upgrades as unavailable
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/tests/container-connection.test.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
