Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

fix execStream issue
  packages/sandbox-container/src/managers/process-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/managers/process-manager.test.ts
Due: biome-fix, format

bonk fixes
  packages/sandbox-container/src/managers/process-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/managers/process-manager.test.ts
Due: biome-fix, format

Update some comments + changeset
  .changeset/process-tree-kill.md
  packages/sandbox-container/src/session.ts
Due: biome-fix, format, validate-changesets

Remove duplicate kill logic
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

Refactor writeFile path to handle files of any size
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/process-store.test.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/file-client.test.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add changeset
  .changeset/add-write-file-stream.md
Due: format, validate-changesets

Add examples for file upload to test large files
  examples/stream-upload/.gitignore
  examples/stream-upload/Dockerfile
  examples/stream-upload/README.md
  examples/stream-upload/package.json
  examples/stream-upload/src/index.ts
  examples/stream-upload/test-upload.sh
  examples/stream-upload/tsconfig.json
  examples/stream-upload/worker-configuration.d.ts
  examples/stream-upload/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Fix patch message
  .changeset/add-write-file-stream.md
Due: format, validate-changesets

Revert unnecessary change to test
  packages/sandbox-container/tests/services/process-store.test.ts
Due: biome-fix, format

Add chromium base image + example
  .changeset/chromium-image-variant.md
  .github/workflows/cleanup.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  docker-bake.hcl
  examples/browser-automation/.gitignore
  examples/browser-automation/Dockerfile
  examples/browser-automation/README.md
  examples/browser-automation/package.json
  examples/browser-automation/src/index.ts
  examples/browser-automation/tsconfig.json
  examples/browser-automation/wrangler.jsonc
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
  tests/e2e/test-worker/Dockerfile.chromium
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format, validate-changesets

Add chromium specific test
  .changeset/chromium-image-variant.md
  examples/browser-automation/wrangler.jsonc
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
  tests/e2e/chromium-browser-workflow.test.ts
  tests/e2e/helpers/global-sandbox.ts
Due: format, validate-changesets

Update wrangler + usage
  .changeset/chromium-image-variant.md
  examples/browser-automation/README.md
  examples/browser-automation/package.json
  package-lock.json
  tests/e2e/test-worker/index.ts
Due: format, validate-changesets

Reduce waitIntervalMS default from 1000ms to 300ms
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Create yellow-impalas-camp.md
  .changeset/yellow-impalas-camp.md
Due: format, validate-changesets

Fix broken websocket transport and retries
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/tests/file-client.test.ts
  packages/sandbox/tests/transport.test.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Add lifecycle event log and listEvents API
  .changeset/lifecycle-events-pr1.md
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Catch lifecycle event errors in destroy() to prevent blocking container destruction
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Make lifecycle event recording in startProcess best-effort to avoid orphaning running processes
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add E2E coverage for lifecycle events
  tests/e2e/lifecycle-events-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Add session lifecycle events
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
  tests/e2e/lifecycle-events-workflow.test.ts
Due: biome-fix, format

Serialize all lifecycle event writes through the queue
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add webhook delivery for lifecycle events
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/lifecycle-events-workflow.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/types.ts
Due: biome-fix, format

Catch lifecycle event error in unexposePort to avoid failing after port is already unexposed
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Catch lifecycle event error in exposePort to avoid failing after port is already exposed
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Catch lifecycle event error in startProcessCallbackStream to avoid skipping onExit callback
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Document lifecycle event orchestration patterns
  docs/LIFECYCLE_EVENTS.md
  examples/minimal/README.md
  examples/minimal/src/index.ts
  packages/sandbox/README.md
Due: biome-fix, format

Make sandbox.created lifecycle event best-effort to avoid blocking initialization
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Fix alarm handling and duplicate test route
  packages/sandbox/src/sandbox.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Make lifecycle event recording best-effort at all call sites
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Use Container schedule() API for webhook retry alarms
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Route all lifecycle event writes through the serialization queue
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Make sandbox.destroyed event recording best-effort in destroy()
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Make sandbox.created event recording best-effort in constructor
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Write seq counter and event data atomically to prevent log gaps
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Set lifecycleEventsInitialized flag after event write, not before
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Fix NaN afterSeq and lost process.exited events on stream failure
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add wrangler types
  examples/browser-automation/worker-configuration.d.ts
Due: biome-fix, format

Websocket transport uses HTTP for file writes
  packages/sandbox/src/clients/file-client.ts
Due: biome-fix, format
