Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Disable default sessions for bridge sandbox routes
  packages/sandbox/src/bridge/routes.ts
Due: biome-fix, format

Update documentation and add changeset
  .agents/skills/sandbox-bridge/SKILL.md
  .changeset/silver-poets-kick.md
  bridge/worker/README.md
  packages/sandbox/src/bridge/openapi.ts
Due: biome-fix, format, validate-changesets

Disable default sessions for bridge sandbox routes (#778)
  .agents/skills/sandbox-bridge/SKILL.md
  .changeset/silver-poets-kick.md
  bridge/worker/README.md
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
Due: biome-fix, format, validate-changesets

Implement Sandbox extension framework (#766)
  .agents/skills/extensions/SKILL.md
  .changeset/add-sandbox-extensions.md
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/extensions/capnweb-bridge.ts
  packages/sandbox-container/src/extensions/extension-host.ts
  packages/sandbox-container/src/extensions/index.ts
  packages/sandbox-container/src/extensions/provision.ts
  packages/sandbox-container/src/extensions/socket-transport.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/extensions/extension-host.test.ts
  packages/sandbox-container/tests/extensions/fixtures/demo-sidecar/package.json
  packages/sandbox-container/tests/extensions/fixtures/demo-sidecar/src/sidecar.ts
  packages/sandbox-container/tsconfig.json
  packages/sandbox/package.json
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/sidecar/index.ts
  packages/sandbox/src/sidecar/socket-transport.ts
  packages/sandbox/tests/extensions.test.ts
  packages/sandbox/tsdown.config.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  tests/e2e/sessionless-execution-workflow.test.ts
Due: biome-fix, format, validate-changesets

fix typecheck issues
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

move sidecar script to extension scope
  packages/sandbox/tsconfig.json
  packages/sandbox/tsconfig.sidecar.json
Due: format

improve resolution of sidecars
  packages/sandbox/src/interpreter/sidecar/pool.ts
Due: biome-fix, format

add Bun to typecheck stage
  .github/workflows/reusable-quality.yml
Due: format

update example model
  examples/code-interpreter/src/index.ts
Due: biome-fix, format

Rebase + change for new extension framework
  biome.json
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox/src/interpreter/build.ts
  packages/sandbox/src/interpreter/index.ts
  packages/sandbox/src/interpreter/sidecar-api.ts
  packages/sandbox/src/interpreter/sidecar-package.generated.ts
  packages/sandbox/src/interpreter/sidecar/server.ts
  packages/sandbox/src/interpreter/tgz-module.ts
  packages/sandbox/tests/interpreter.test.ts
  packages/sandbox/tsconfig.json
  packages/sandbox/tsdown.config.ts
  packages/sandbox/vitest.config.ts
Due: biome-fix, format

address devin comment
  .agents/skills/extensions/SKILL.md
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

update changeset
  .changeset/interpreter-extension.md
Due: format, validate-changesets

update skill
  .agents/skills/extensions/SKILL.md
Due: format

support extension property calling directly
  examples/code-interpreter/Dockerfile
  examples/code-interpreter/src/index.ts
  packages/sandbox/src/interpreter/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

patch tarball load error
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/tests/extensions.test.ts
Due: biome-fix, format

patch rpc response error
  .changeset/interpreter-extension.md
  packages/sandbox/src/interpreter/index.ts
  packages/sandbox/src/interpreter/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/interpreter.test.ts
Due: biome-fix, format, validate-changesets

patch e2e test
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Surface in-flight transport interruptions
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
Due: biome-fix, format

address PR comments
  examples/code-interpreter/Dockerfile
  packages/sandbox-container/build.ts
  packages/sandbox/package.json
  packages/sandbox/src/extensions/index.ts
  packages/sandbox/src/interpreter/build.ts
  packages/sandbox/src/interpreter/sidecar/executors/javascript/node_executor.ts
  packages/sandbox/src/interpreter/tgz-module.ts
Due: biome-fix, format

Update .changeset/stable-container-unavailable.md
  .changeset/stable-container-unavailable.md
Due: format, validate-changesets

Classify DO storage startup resets
  packages/sandbox/src/platform-errors.ts
  packages/sandbox/tests/platform-errors.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Classify stable container unavailability (#780)
  .changeset/stable-container-unavailable.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/platform-errors.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/session-init.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/platform-errors.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Update .changeset/stable-backup-restore-recovery.md
  .changeset/stable-backup-restore-recovery.md
Due: format, validate-changesets

Recover stable backup restores
  .changeset/stable-backup-restore-recovery.md
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/src/sandbox-lifetime.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/operation-interrupted-error.test.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
  packages/sandbox/tests/sandbox-lifetime.test.ts
Due: biome-fix, format, validate-changesets

Recover stable backup restores (#781)
  .changeset/stable-backup-restore-recovery.md
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/src/sandbox-lifetime.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/operation-interrupted-error.test.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
  packages/sandbox/tests/sandbox-lifetime.test.ts
Due: biome-fix, format, validate-changesets

Shorten tunnel run ids to base32
  packages/sandbox/src/tunnels/lifecycle.ts
  packages/sandbox/src/tunnels/random-id.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-random-id.test.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: biome-fix, format

Fence quick tunnel legacy runs
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-handler-lifecycle.test.ts
Due: biome-fix, format

Recover stable quick tunnels
  .changeset/stable-quick-tunnel-recovery.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/lifecycle.ts
  packages/sandbox/src/tunnels/restart.ts
  packages/sandbox/src/tunnels/sandbox-control-callback.ts
  packages/sandbox/src/tunnels/storage.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/sandbox-control-callback.test.ts
  packages/sandbox/tests/tunnels-handler-lifecycle.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format, validate-changesets

Add 5GB backup/restore benchmark test
  tests/perf/scenarios/backup-restore.test.ts
Due: format

Add 5GB backup/restore benchmark test (#787)
  tests/perf/scenarios/backup-restore.test.ts
Due: format

Recover stable quick tunnels (#782)
  .changeset/stable-quick-tunnel-recovery.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/lifecycle.ts
  packages/sandbox/src/tunnels/random-id.ts
  packages/sandbox/src/tunnels/restart.ts
  packages/sandbox/src/tunnels/sandbox-control-callback.ts
  packages/sandbox/src/tunnels/storage.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/sandbox-control-callback.test.ts
  packages/sandbox/tests/tunnels-handler-lifecycle.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
  packages/sandbox/tests/tunnels-random-id.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: biome-fix, format, validate-changesets

Add release artifact backfill workflow
  .github/reusable-prerelease.test.sh
  .github/workflows/backfill-release-artifacts.yml
  .github/workflows/release.yml
Due: format

Add release artifact backfill workflow (#793)
  .github/reusable-prerelease.test.sh
  .github/workflows/backfill-release-artifacts.yml
  .github/workflows/release.yml
Due: format

Recover interrupted backup restores
  .changeset/restore-lifecycle-recovery.md
  packages/sandbox/scripts/docker-local.sh
  packages/sandbox/src/durable-operation-records.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/sandbox-incarnation.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/backup-restore-operation-record.test.ts
  packages/sandbox/tests/durable-operation-records.test.ts
  packages/sandbox/tests/local-backup-restore-operation-record.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/operation-interrupted-error.test.ts
  packages/sandbox/tests/sandbox-destroy-incarnation.test.ts
  packages/sandbox/tests/sandbox-incarnation.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  tests/e2e/backup-workflow.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format, validate-changesets

Decompose backup lifecycle service
  packages/sandbox/src/backup/backup-service.ts
  packages/sandbox/src/backup/constants.ts
  packages/sandbox/src/backup/create.ts
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/src/backup/transfer.ts
  packages/sandbox/src/backup/validation.ts
  packages/sandbox/src/durable-operation-records.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/backup-restore-operation-record.test.ts
  packages/sandbox/tests/local-backup-restore-operation-record.test.ts
  packages/sandbox/tests/restore-operation-store.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Split restore lifecycle checkpoints
  packages/sandbox/src/backup/backup-service.ts
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/src/backup/transfer.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup-restore-lifecycle.test.ts
Due: biome-fix, format

Refine backup restore lifecycle
  packages/sandbox/scripts/docker-local.sh
  packages/sandbox/src/backup/backup-service.ts
  packages/sandbox/src/backup/constants.ts
  packages/sandbox/src/backup/restore-fault-injection.ts
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/src/sandbox-incarnation.ts
  packages/sandbox/src/sandbox-lifetime.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/local-backup-restore-lifecycle.test.ts
  packages/sandbox/tests/operation-interrupted-error.test.ts
  packages/sandbox/tests/restore-operation-store.test.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
  packages/sandbox/tests/sandbox-lifetime.test.ts
  packages/shared/src/errors/contexts.ts
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Reconcile stable lifecycle recovery
  .changeset/restore-lifecycle-recovery.md
  packages/sandbox/src/backup/backup-service.ts
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/platform-errors.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/local-backup-restore-lifecycle.test.ts
  packages/sandbox/tests/platform-errors.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/suggestions.ts
  tests/e2e/helpers/container-unavailable-retry.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets
