Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Enable HTTPS interception and disable direct internet access
  examples/codex-app-server/package.json
  examples/codex-app-server/src/index.ts
  package-lock.json
Due: biome-fix, format

Revert @cloudflare/sandbox to workspace reference
  examples/codex-app-server/package.json
  package-lock.json
Due: format

Upgrade to stable SDK releases and use setEnvVars API
  examples/codex-app-server/.dev.vars.example
  examples/codex-app-server/Dockerfile
  examples/codex-app-server/package.json
  examples/codex-app-server/src/index.ts
  examples/codex-app-server/test-egress.mjs
  examples/codex-app-server/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Fix github.com egress handler for HTTPS interception
  examples/codex-app-server/src/index.ts
Due: biome-fix, format

Update README for HTTPS interception and network isolation
  examples/codex-app-server/README.md
Due: format

Bump base image to 0.8.10 and revert max_instances to 1
  examples/codex-app-server/Dockerfile
  examples/codex-app-server/wrangler.jsonc
Due: none

Fix README: update base image version and remove preview package note
  examples/codex-app-server/README.md
Due: format

Rename WARM_POOL to WarmPool
  bridge/worker/src/__tests__/helpers.ts
  bridge/worker/src/__tests__/warm-pool.test.ts
  bridge/worker/src/index.ts
  bridge/worker/wrangler.jsonc
Due: format

Add push permission for library publish
  .github/workflows/release.yml
Due: format

Add mounting & backup/restore performance tests
  .github/workflows/performance.yml
  package.json
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/perf/helpers/constants.ts
  tests/perf/helpers/metrics-collector.ts
  tests/perf/helpers/perf-sandbox-manager.ts
  tests/perf/scenarios/backup-restore.test.ts
  tests/perf/scenarios/bucket-mounting.test.ts
  turbo.json
Due: format

Add mounting & backup/restore performance tests
  .github/workflows/performance.yml
  package.json
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/perf/helpers/constants.ts
  tests/perf/helpers/metrics-collector.ts
  tests/perf/helpers/perf-sandbox-manager.ts
  tests/perf/helpers/report-generator.ts
  tests/perf/scenarios/backup-restore.test.ts
  tests/perf/scenarios/bucket-mounting.test.ts
  turbo.json
Due: format

Pass metadata into performance tests
  tests/perf/helpers/report-generator.ts
  turbo.json
Due: format

Persist runtime identity from placement ID
  .changeset/runtime-identity-api.md
  packages/sandbox-container/src/handlers/misc-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/tests/handlers/misc-handler.test.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/utility-client.test.ts
  packages/shared/src/types.ts
  tests/e2e/test-worker/types.ts
Due: biome-fix, format, validate-changesets

Split heavy & regular perf tests
  .github/workflows/performance-heavy.yml
  package.json
  packages/sandbox/package.json
  tests/e2e/test-worker/wrangler.perf-heavy.template.jsonc
  turbo.json
Due: format

Extract bridge into @cloudflare/sandbox/bridge
  bridge/AGENTS.md
  bridge/worker/README.md
  bridge/worker/src/__tests__/bridge-app.ts
  bridge/worker/src/__tests__/destroy.test.ts
  bridge/worker/src/__tests__/exec.test.ts
  bridge/worker/src/__tests__/hydrate.test.ts
  bridge/worker/src/__tests__/middleware.test.ts
  bridge/worker/src/__tests__/mount.test.ts
  bridge/worker/src/__tests__/persist.test.ts
  bridge/worker/src/__tests__/pty.test.ts
  bridge/worker/src/__tests__/read.test.ts
  bridge/worker/src/__tests__/resolveWorkspacePath.test.ts
  bridge/worker/src/__tests__/session.test.ts
  bridge/worker/src/__tests__/shellQuote.test.ts
  bridge/worker/src/__tests__/unmount.test.ts
  bridge/worker/src/__tests__/warm-pool.test.ts
  bridge/worker/src/__tests__/write.test.ts
  bridge/worker/src/index.ts
  packages/sandbox/package.json
  packages/sandbox/src/bridge/AGENTS.md
  packages/sandbox/src/bridge/README.md
  packages/sandbox/src/bridge/helpers.ts
  packages/sandbox/src/bridge/index.ts
  packages/sandbox/src/bridge/openapi-html.ts
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/pool.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/bridge/warm-pool.ts
  packages/sandbox/tsdown.config.ts
Due: biome-fix, format

Update bridge/examples/basic
  bridge/examples/basic/main.py
Due: none

Stabilize runtime identity API
  .changeset/runtime-identity-api.md
  packages/sandbox-container/src/handlers/misc-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/tests/handlers/misc-handler.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
  tests/e2e/runtime-identity-workflow.test.ts
Due: biome-fix, format, validate-changesets

Simplify runtime identity lookup
  .changeset/runtime-identity-api.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/runtime-identity-workflow.test.ts
Due: biome-fix, format, validate-changesets

Retry identity fetch after idle restart in E2E
  tests/e2e/runtime-identity-workflow.test.ts
Due: format

Surface last error in waitForCondition timeout
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/runtime-identity-workflow.test.ts
Due: format

Avoid WebSocket in startup version check
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

add git-repo-per-sandbox example
  examples/git-repo-per-sandbox/.gitignore
  examples/git-repo-per-sandbox/Dockerfile
  examples/git-repo-per-sandbox/README.md
  examples/git-repo-per-sandbox/package.json
  examples/git-repo-per-sandbox/src/index.ts
  examples/git-repo-per-sandbox/tsconfig.json
  examples/git-repo-per-sandbox/worker-configuration.d.ts
  examples/git-repo-per-sandbox/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Reset transport state after sandbox sleep
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/runtime-identity-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
Due: biome-fix, format

Rename idle restart identity test
  tests/e2e/runtime-identity-workflow.test.ts
Due: format

Handle lost connection after container restart
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format

Fix Devin Review bugs: lazy identity capture, safer error handling, no stack trace exposure
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Fix test failures: update mock setup and assertions for lazy identity capture
  packages/sandbox/tests/sandbox-error-handling.test.ts
  tests/e2e/runtime-identity-workflow.test.ts
Due: biome-fix, format

Fix inflight request leak in ensureRuntimeIdentity
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Increase E2E identity-after-restart retry timeout to 30s
  tests/e2e/runtime-identity-workflow.test.ts
Due: format

Add changeset for @cloudflare/sandbox/bridge
  .changeset/add-bridge.md
Due: format, validate-changesets

Remove outdated @ts-expect-error
  examples/code-interpreter/src/index.ts
Due: biome-fix, format

Handle dash-prefixed filenames safely
  examples/git-repo-per-sandbox/src/index.ts
Due: biome-fix, format

Align Artifacts binding example
  examples/git-repo-per-sandbox/README.md
  examples/git-repo-per-sandbox/src/index.ts
  examples/git-repo-per-sandbox/worker-configuration.d.ts
  examples/git-repo-per-sandbox/wrangler.jsonc
Due: biome-fix, format

Fix escaped biome errors
  bridge/examples/workspace-chat/frontend/src/client.tsx
  bridge/examples/workspace-chat/frontend/src/styles.css
  examples/code-interpreter/src/index.ts
  packages/sandbox-container/tests/services/session-manager-pty.test.ts
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Resolve check and format issues across repo
  .github/ISSUE_TEMPLATE/bug_report.md
  bridge/examples/workspace-chat/frontend/index.html
  bridge/examples/workspace-chat/frontend/src/client.tsx
  bridge/examples/workspace-chat/frontend/src/styles.css
  bridge/script/integration
  bridge/worker/src/__tests__/warm-pool.test.ts
  examples/codex-app-server/public/index.html
  examples/codex-app-server/test-egress.mjs
  examples/codex-app-server/test.mjs
  examples/collaborative-terminal/app/app.css
  examples/collaborative-terminal/index.html
  examples/desktop/src/index.css
  examples/openai-agents/env.d.ts
  examples/opencode/wrangler.jsonc
  examples/vite-sandbox/sandbox-app/index.html
  examples/vite-sandbox/sandbox-app/src/App.jsx
  examples/vite-sandbox/sandbox-app/src/Counter.jsx
  examples/vite-sandbox/sandbox-app/src/main.jsx
  examples/vite-sandbox/src/App.jsx
  examples/vite-sandbox/src/Counter.jsx
  examples/vite-sandbox/src/main.jsx
  examples/websocket-tunnel/public/index.html
  examples/websocket-tunnel/public/template.html
  packages/sandbox-container/src/handlers/base-handler.ts
  packages/sandbox-container/tests/services/session-manager-pty.test.ts
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/bridge/helpers.ts
  packages/sandbox/src/bridge/index.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/desktop-types.ts
  packages/shared/tests/logger/canonical.test.ts
Due: biome-fix, format

Fix local R2 mounts prefix handling
  .changeset/fix-local-mount-prefix.md
  packages/sandbox/Dockerfile
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-mount-sync.test.ts
Due: biome-fix, format, validate-changesets
