Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Add exposed-port endpoint to Sandbox Bridge
  .changeset/bridge-exposed-port-tunnels.md
  bridge/worker/README.md
  bridge/worker/src/__tests__/exposed-port.test.ts
  bridge/worker/src/__tests__/helpers.ts
  packages/sandbox/src/bridge/AGENTS.md
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
Due: biome-fix, format, validate-changesets

Allow backup bucket URL override
  .changeset/backup-bucket-endpoint.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

patch regex
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Use URL acronym in backup helpers
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Allow backup bucket URL override (#733)
  .changeset/backup-bucket-endpoint.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Fix proxy handler errors
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format

patch zero len bugs
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format

Rename bridge endpoint to tunnel
  .changeset/bridge-exposed-port-tunnels.md
  bridge/worker/README.md
  bridge/worker/src/__tests__/helpers.ts
  bridge/worker/src/__tests__/tunnel.test.ts
  packages/sandbox/src/bridge/AGENTS.md
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
Due: biome-fix, format, validate-changesets

Add exposed-port endpoint to Sandbox Bridge (#732)
  .changeset/bridge-exposed-port-tunnels.md
  bridge/worker/README.md
  bridge/worker/src/__tests__/helpers.ts
  bridge/worker/src/__tests__/tunnel.test.ts
  packages/sandbox/src/bridge/AGENTS.md
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
Due: biome-fix, format, validate-changesets

patch gcs writes
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format

Stabilize Playwright browser caching
  .github/workflows/reusable-e2e.yml
Due: format

address PR comments
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format

fix password file issue
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

fix stale proxy issue
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format

Patch startProcess() leaves phantom running process
  .changeset/fix-process-startup-phantom.md
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/process-service.test.ts
Due: biome-fix, format, validate-changesets

Patch startProcess() leaves phantom running process (#737)
  .changeset/fix-process-startup-phantom.md
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/process-service.test.ts
Due: biome-fix, format, validate-changesets

Implement egress interception for S3 mounts (#727)
  .changeset/credential-proxy-mount.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Patch intercept catch-all mounts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

add changeset
  .changeset/fix-catch-all-mount-proxy.md
Due: format, validate-changesets

Align React Router dev dependency
  examples/collaborative-terminal/package.json
  package-lock.json
Due: format

Fix Vitest 4 test compatibility
  bridge/worker/vitest.config.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/command-client.test.ts
  packages/sandbox/tests/desktop-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/tunnels-handler-named.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
  packages/sandbox/vitest.config.ts
Due: biome-fix, format

add git-repo-per-sandbox example
  examples/git-repo-per-sandbox/.gitignore
  examples/git-repo-per-sandbox/Dockerfile
  examples/git-repo-per-sandbox/README.md
  examples/git-repo-per-sandbox/package.json
  examples/git-repo-per-sandbox/src/index.ts
  examples/git-repo-per-sandbox/tsconfig.json
  examples/git-repo-per-sandbox/worker-configuration.d.ts
  examples/git-repo-per-sandbox/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Handle dash-prefixed filenames safely
  examples/git-repo-per-sandbox/src/index.ts
Due: biome-fix, format

Align Artifacts binding example
  examples/git-repo-per-sandbox/README.md
  examples/git-repo-per-sandbox/src/index.ts
  examples/git-repo-per-sandbox/worker-configuration.d.ts
  examples/git-repo-per-sandbox/wrangler.jsonc
Due: biome-fix, format

Update Artifacts repo example
  examples/git-repo-per-sandbox/README.md
  examples/git-repo-per-sandbox/src/index.ts
Due: biome-fix, format

Finish git repo per sandbox example
  examples/git-repo-per-sandbox/README.md
  examples/git-repo-per-sandbox/package.json
  examples/git-repo-per-sandbox/src/index.ts
  examples/git-repo-per-sandbox/worker-configuration.d.ts
  package-lock.json
  packages/sandbox/README.md
Due: biome-fix, format

Add Codex app-server WebSocket auth
  examples/codex-app-server/README.md
  examples/codex-app-server/src/index.ts
Due: biome-fix, format

Add Codex app-server WebSocket auth (#746)
  examples/codex-app-server/README.md
  examples/codex-app-server/src/index.ts
Due: biome-fix, format

update tests
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

Fix S3/R2 mount credential proxy when catch-all handler defined (#736)
  .changeset/fix-catch-all-mount-proxy.md
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

add changeset
  .changeset/remove-desktop-client.md
  DOCKER_README.md
  docs/CI.md
  package-lock.json
  packages/sandbox/scripts/docker-local.sh
Due: format, validate-changesets

update openapi spec
  packages/sandbox/src/bridge/openapi.ts
Due: biome-fix, format

Fix bridge dropping credentialProxy property
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

update readme
  bridge/worker/README.md
Due: format

add regression test
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

Fix bridge dropping credentialProxy property (#744)
  bridge/worker/README.md
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

Regenerate lockfile with example workspace, preserve cross-platform deps
  package-lock.json
Due: format

Update examples/git-repo-per-sandbox/Dockerfile
  examples/git-repo-per-sandbox/Dockerfile
Due: none

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
