Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

use env variable for consistency
  .github/workflows/performance.yml
Due: format

Update GitHub actions to simplify transport
  .github/workflows/reusable-e2e.yml
Due: format

Use TEST_SANDBOX_ID in generated ids
  tests/e2e/helpers/test-fixtures.ts
Due: format

Ensure generate-config.sh is backwards compatible for now
  tests/e2e/test-worker/generate-config.sh
Due: none

Update Artifacts repo example
  examples/git-repo-per-sandbox/README.md
  examples/git-repo-per-sandbox/src/index.ts
Due: biome-fix, format

ci: add Semgrep OSS scanning workflow
  .github/workflows/semgrep.yml
Due: format

Update .github/workflows/semgrep.yml
  .github/workflows/semgrep.yml
Due: format

Fix semgrep cron to run weekly, not ~10x/month
  .github/workflows/semgrep.yml
Due: format

Bump @astrojs/react to ^5.0.4 for Astro 6 compatibility
  package-lock.json
  sites/sandbox/package.json
Due: format

Address review: cut TTL, make cache configurable, add TTL + eviction tests
  .changeset/cache-token-validation.md
  packages/sandbox/src/index.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/tests/request-handler.test.ts
Due: biome-fix, format, validate-changesets

Cache preview URL token validation at the Worker level
  .changeset/cache-token-validation.md
  packages/sandbox/src/request-handler.ts
  packages/sandbox/tests/request-handler.test.ts
Due: biome-fix, format, validate-changesets

Document cache-driven revocation propagation on exposePort()
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Update .changeset/cache-token-validation.md
  .changeset/cache-token-validation.md
Due: format, validate-changesets

Remove legacy support for transport in generate_config.sh
  tests/e2e/test-worker/generate-config.sh
Due: none

Surface SESSION_TERMINATED when a session's shell exits
  .changeset/session-terminated.md
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/session-manager-dead-session.test.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  tests/e2e/session-state-isolation-workflow.test.ts
Due: biome-fix, format, validate-changesets

Close two follow-up gaps in the SESSION_TERMINATED fix
  .changeset/session-terminated.md
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/session-manager-dead-session.test.ts
Due: biome-fix, format, validate-changesets

Document hung-teardown semantics of destroy() coalescing
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Tighten inflightDestroy cleanup comment
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Coalesce concurrent destroy() calls
  .changeset/coalesce-concurrent-destroy.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Add interceptHttps backup restore diagnostic test
  packages/sandbox/src/sandbox.ts
  tests/e2e/backup-intercept-https.test.ts
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format

Align shell-exit e2e tests with SESSION_TERMINATED
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Update .changeset/session-terminated.md
  .changeset/session-terminated.md
Due: format, validate-changesets

Update packages/sandbox-container/tests/services/session-manager-dead-session.test.ts
  packages/sandbox-container/tests/services/session-manager-dead-session.test.ts
Due: biome-fix, format

Update packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Align session-terminated naming
  .changeset/session-terminated.md
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/session-manager-terminated-session.test.ts
Due: biome-fix, format, validate-changesets

Fix code interpreter model typecheck
  examples/code-interpreter/src/index.ts
Due: biome-fix, format

Export SessionTerminatedError
  packages/sandbox/src/index.ts
Due: biome-fix, format

Use ci image tag over main
  .github/workflows/release.yml
Due: format

Redeploy release E2E on workflow changes
  .github/workflows/release.yml
Due: format

refactor(sandbox-container): timeout env parsing allows nan values to propagate
  packages/sandbox-container/src/config.ts
Due: biome-fix, format

Add capnweb dependency and shared RPC types
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox/package.json
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add container-side RPC server and WebSocket endpoint
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/desktop-handler.ts
  packages/sandbox-container/src/handlers/interpreter-handler.ts
  packages/sandbox-container/src/lib/capnweb-bun.ts
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/interpreter-service.ts
  tooling/typescript-config/bun.json
Due: biome-fix, format

Integrate RPC transport into Sandbox DO
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add SDK transport layer and container connection
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/container-connection.ts
  packages/sandbox/src/interpreter.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/security.ts
  packages/sandbox/tsconfig.json
Due: biome-fix, format

Add success field to desktop and interpreter types
  packages/sandbox-container/src/services/desktop-service.ts
  packages/sandbox-container/src/workers/desktop-worker.ts
  packages/sandbox-container/tests/handlers/desktop-handler.test.ts
  packages/sandbox-container/tests/handlers/interpreter-handler.test.ts
  packages/shared/src/desktop-types.ts
  packages/shared/src/interpreter-types.ts
Due: biome-fix, format
