Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

update package-lock
  package-lock.json
Due: format

Make getSandbox and SandboxEnv generic for subclasses
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add changeset
  .changeset/generic-sandbox-types.md
Due: format, validate-changesets

use correct image tag
  examples/minimal/Dockerfile
Due: none

use correct image tag
  examples/code-interpreter/Dockerfile
Due: none

sandbox id max length 63
  examples/code-interpreter/src/index.ts
Due: biome-fix, format

Update packages/sandbox-container/tests/runtime/thenable.test.ts
  packages/sandbox-container/tests/runtime/thenable.test.ts
Due: biome-fix, format

Fix process callbacks, PID capture, and getLogs race
  .changeset/fix-process-callbacks.md
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/process-store.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

add variable hoisting for const, let, and var; timeout handling for async; update tests
  .changeset/top-level-await.md
  packages/sandbox-container/src/runtime/executors/javascript/node_executor.ts
  packages/sandbox-container/src/runtime/executors/shared/code-transformer.ts
  packages/sandbox-container/tests/runtime/code-transformer.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
Due: biome-fix, format, validate-changesets

small nits to tests and some checks
  packages/sandbox-container/src/runtime/executors/shared/code-transformer.ts
  packages/sandbox-container/tests/runtime/code-transformer.test.ts
Due: biome-fix, format

Add E2E test for PID and immediate logs
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

top-level await (#261)
  .changeset/top-level-await.md
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/runtime/executors/javascript/node_executor.ts
  packages/sandbox-container/src/runtime/executors/shared/code-transformer.ts
  packages/sandbox-container/src/runtime/executors/shared/thenable.ts
  packages/sandbox-container/tests/runtime/code-transformer.test.ts
  packages/sandbox-container/tests/runtime/thenable.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
Due: biome-fix, format, validate-changesets

Update release workflow permissions
  .github/workflows/release.yml
Due: format

Use shell command in minimal example
  examples/minimal/src/index.ts
Due: biome-fix, format

Use base image for minimal example
  examples/minimal/Dockerfile
Due: none

Use correct image tag in the example (#265)
  examples/code-interpreter/Dockerfile
  examples/code-interpreter/src/index.ts
  examples/minimal/src/index.ts
Due: biome-fix, format

fix for trusted publishing
  .github/workflows/release.yml
Due: format

Use PID check to await streaming for completed commands
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

revert changes
  .github/workflows/release.yml
Due: format

Introduced a new `/server` endpoint to start a server and return its preview URL; added `waitFor` method to processes, allowing them to wait for specific conditions (log patterns or port availability)
  packages/sandbox/README.md
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

minor fix
  packages/sandbox/tests/process-readiness.test.ts
Due: biome-fix, format

claude had things to say
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

always wait for port
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

fix for the tests
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

use tcp instead
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  tests/e2e/process-readiness-workflow.test.ts
Due: biome-fix, format

Add warning log when PID file not created within timeout
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

fix for trusted publishing (#272)
  .github/workflows/release.yml
Due: format

Refactor Claude code review for deterministic pre/post-processing
  .github/workflows/claude-code-review.yml
Due: format

Auto-minimize outdated Claude bot reviews
  .github/workflows/claude-code-review.yml
Due: format

Fix process callbacks, PID capture, and getLogs race (#267)
  .changeset/fix-process-callbacks.md
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/process-store.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format, validate-changesets

Fix type error when extending Sandbox class (#264)
  .changeset/generic-sandbox-types.md
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Update lockfile
  package-lock.json
Due: format

Revert "update package-lock"
  package-lock.json
Due: format

Fix /api/ping endpoint to return health status (#263)
  .changeset/honest-facts-think.md
  packages/sandbox-container/src/handlers/misc-handler.ts
Due: biome-fix, format, validate-changesets

got rid of a few patterns, added a few new patterns
  packages/sandbox/README.md
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

small nits on top
  packages/sandbox/README.md
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/errors/contexts.ts
Due: biome-fix, format

some directional changes
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

more nits and picks
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

add changeset
  .changeset/mighty-squids-count.md
Due: format, validate-changesets
