Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Change local configuration prop
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Use correct path methods
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Fix incorrect types
  .changeset/local-mount-sync.md
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Simplify loop
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add backOff & watch tests
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/tests/local-mount-sync.test.ts
Due: biome-fix, format

Use resolve instead of concatenation
  packages/sandbox/src/local-mount-sync.ts
Due: biome-fix, format

Fix timeout stopping
  packages/sandbox/src/local-mount-sync.ts
Due: biome-fix, format

Remove transport timeout config from public API
  .changeset/fix-ws-stream-timeout.md
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Use path.join
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/tests/local-mount-sync.test.ts
Due: biome-fix, format

Fix WS stream timeout killing long-running streams (#400)
  .changeset/fix-ws-stream-timeout.md
  package-lock.json
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format, validate-changesets

Add error handling to sync
  packages/sandbox/src/index.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/credential-detection.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

fix type errors
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Update packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Capture session cwd for PTY and add changeset
  .changeset/pty-inherit-session-state.md
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format, validate-changesets

Pass session env vars to PTY on creation (#470)
  .changeset/pty-inherit-session-state.md
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format, validate-changesets

feat(backup): rename useGitignore to gitignore and add excludes option
  .changeset/backup-exclude-patterns.md
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Update packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/backup-service.ts
Due: biome-fix, format

feat(backup): add gitignore and excludes options to createBackup (#474)
  .changeset/backup-exclude-patterns.md
  package-lock.json
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Fix sandbox supervisor shutdown on inactivity
  .changeset/swift-bats-wonder.md
  packages/sandbox-container/src/main.ts
  packages/sandbox-container/tests/main.test.ts
Due: biome-fix, format, validate-changesets

Add flaky test detector workflow
  .github/workflows/flaky-test-detector.yml
Due: format

fix: terminate process trees on kill
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

Support local R2 bucket mounting (#468)
  .changeset/local-mount-sync.md
  packages/sandbox/src/index.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/credential-detection.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

fix killCommand bugs
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

update zombie process issue
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

address bonk issues
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

fix: read env -0 output from temp file to preserve null bytes
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Make container control plane port configurable via SANDBOX_CONTROL_PORT env var
  packages/sandbox-container/src/config.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/security/security-service.ts
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

fix: sanitize sessionId in temp file path
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Address ask-bonk review comments and add PTY env inheritance tests
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/session-manager-pty.test.ts
Due: biome-fix, format

Small adjustments
  packages/sandbox-container/tests/services/session-manager-pty.test.ts
Due: biome-fix, format

Review feedback plus adding changeset
  .changeset/fix-pty-env-null-bytes.md
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/session-manager-pty.test.ts
Due: biome-fix, format, validate-changesets

Refactor to incoporate https://github.com/cloudflare/workers-sdk/pull/12794
  examples/vite-sandbox/package.json
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/value.js
  examples/vite-sandbox/src/worker.js
  examples/vite-sandbox/vite.config.js
  examples/vite-sandbox/vite.sandbox-plugin.js
  examples/vite-sandbox/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Reset packages to published values
  examples/vite-sandbox/package.json
  package-lock.json
Due: format

Propagate configurable control port through SDK and shared types
  packages/sandbox-container/src/config.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/pty/proxy.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/security.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Update Dockerfiles
  examples/claude-code/Dockerfile
  examples/openai-agents/Dockerfile
  packages/sandbox/Dockerfile
  tests/e2e/test-worker/Dockerfile.musl
  tests/e2e/test-worker/Dockerfile.standalone
Due: none

Add tests
  packages/sandbox-container/tests/config.test.ts
  packages/sandbox/tests/configurable-port.test.ts
  packages/sandbox/tests/request-handler.test.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
Due: biome-fix, format

Update existing tests
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/handlers/interpreter-handler.test.ts
  packages/sandbox-container/tests/handlers/misc-handler.test.ts
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  packages/sandbox-container/tests/handlers/process-handler.test.ts
  packages/sandbox-container/tests/handlers/session-handler.test.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox-container/tests/security/security-service.test.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/command-client.test.ts
  packages/sandbox/tests/configurable-port.test.ts
  packages/sandbox/tests/desktop-client.test.ts
  packages/sandbox/tests/file-client.test.ts
  packages/sandbox/tests/git-client.test.ts
  packages/sandbox/tests/port-client.test.ts
  packages/sandbox/tests/process-client.test.ts
  packages/sandbox/tests/request-handler.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/security.test.ts
  packages/sandbox/tests/transport.test.ts
  packages/sandbox/tests/utility-client.test.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Add e2e tests
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  tests/e2e/control-port-workflow.test.ts
Due: biome-fix, format

Add changeset
  .changeset/configurable-control-port.md
Due: format, validate-changesets
