Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Add shared types for new SandboxTunnelsAPI
  packages/sandbox-container/src/server.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Implement RPC interface for new TunnelService
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/managers/tunnel-manager.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
Due: biome-fix, format

Add support for Cloudflare tunnels to Sandbox interface
  packages/sandbox/README.md
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-handler.test.ts
Due: biome-fix, format

Add changeset for new tunnels API
  .changeset/quick-tunnels.md
Due: format, validate-changesets

Add E2E tests for new tunnels API
  tests/e2e/test-worker/index.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: format

Update tests/e2e/tunnel-quick-workflow.test.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: format

implement execute service for one shot execution
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/handlers/base-handler.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox-container/tests/services/process-store.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format

feat: Adds codex in sandbox example
  examples/codex/.dev.vars.example
  examples/codex/.gitignore
  examples/codex/Dockerfile
  examples/codex/README.md
  examples/codex/package.json
  examples/codex/src/index.ts
  examples/codex/tsconfig.json
  examples/codex/worker-configuration.d.ts
  examples/codex/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Support credential-less R2 mounting
  .changeset/r2-egress-mount.md
  bridge/worker/README.md
  bridge/worker/src/__tests__/mount.test.ts
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/src/storage-mount/validation.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/storage-mount/validation.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

fix dynamic outbound intercept handlers
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  tests/e2e/bucket-mounting.test.ts
Due: biome-fix, format

remove inline egress handler
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

fix various egress bugs
  bridge/worker/src/__tests__/mount.test.ts
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  tests/e2e/bucket-mounting.test.ts
Due: biome-fix, format

fix regex issues
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
Due: biome-fix, format

address bonk comments
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

feat: Adds codex in sandbox example (#696)
  examples/codex/.dev.vars.example
  examples/codex/.gitignore
  examples/codex/Dockerfile
  examples/codex/README.md
  examples/codex/package.json
  examples/codex/src/index.ts
  examples/codex/tsconfig.json
  examples/codex/worker-configuration.d.ts
  examples/codex/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Refactor tunnels.create() to idempotent tunnels.get()
  .changeset/quick-tunnels.md
  packages/sandbox/README.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: biome-fix, format, validate-changesets

address PR comments
  bridge/worker/README.md
  bridge/worker/src/__tests__/mount.test.ts
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/src/storage-mount/validation.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
Due: biome-fix, format

export containerproxy from e2e worker
  tests/e2e/test-worker/index.ts
Due: format

address PR comments
  bridge/worker/README.md
  bridge/worker/src/__tests__/mount.test.ts
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

change r2 upload path to fixedlengthstream
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
Due: biome-fix, format

Add queue mechanism to the tunnel handlers
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-handler.test.ts
Due: biome-fix, format

export from containers
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

update e2e worker wrangler
  tests/e2e/test-worker/index.ts
Due: format

Update DO state when cloudflared process exits
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/managers/tunnel-manager.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/sandbox-control-callback.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/sandbox-control-callback.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: biome-fix, format

Replace capnweb with RPC in user facing strings
  packages/sandbox-container/src/server.ts
  packages/sandbox/src/container-control/client.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format

Notes added by 'git notes add'
  6a1b462224e8a677b095fa4173b550f1eff07761
Due: none

Notes added by 'git notes add'
  35b4b685752c57e659d431928d70671eec8d0c71
Due: none

Notes added by 'git notes add'
  35b4b685752c57e659d431928d70671eec8d0c71
  d585662764bb5fe8fbeec15d91da0ee69a9720bc
Due: none

Notes added by 'git notes add'
  99161d2c7c3ebf5d744896d8ced0180a6f6f4483
Due: none

Notes added by 'git notes add'
  cb7ce90c66d7c40eefce9cad631e2f8bb618d517
Due: none

Notes added by 'git notes add'
  7a42306c58d62568c04e36ee9ad83ebd0b5f6b8c
Due: none

Notes added by 'git notes add'
  511cd4dffe6732942d649dafa3c3e3354d33d40f
Due: none

Notes added by 'git notes add'
  4c229265f620db8331c255f359f3dd93bbee8aa4
  511cd4dffe6732942d649dafa3c3e3354d33d40f
  5e30131b60d1f61e1351a54749598c81e60bdaf0
  65383578181a21c19f7a3af8ba64db0c7da7f287
  da82c8d92c16b4ff5b648c4e7a300d59f3aebbcc
Due: none

Notes added by 'git notes add'
  3938ae977d46fb2dcda55091607244272c3ff68b
  546ad1723b91f05402d6d02492023ab9542e27d8
  a4971bb0e6de0f10d8a86ecac2da5bdffa57da0e
  da82c8d92c16b4ff5b648c4e7a300d59f3aebbcc
Due: none

Notes added by 'git notes add'
  546ad1723b91f05402d6d02492023ab9542e27d8
  b10924472cdbd6b0967c0865ea61f81e6b800cac
  b87f3f1205da2779d0d749395d293304418719a6
Due: none

Add support for Cloudflare tunnels (#695)
  .changeset/quick-tunnels.md
  DOCKER_README.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/managers/tunnel-manager.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
  packages/sandbox/Dockerfile
  packages/sandbox/README.md
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/sandbox-control-callback.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/sandbox-control-callback.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/tunnels-handler.test.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: biome-fix, format, validate-changesets

Notes added by 'git notes add'
  49dfbe861b7090229d3886b8246c185760f1d717
Due: none

Notes added by 'git notes add'
  8fe786a202d66e96c531e39e884d8e8d6452d9ec
Due: none

Notes added by 'git notes add'
  2b781d67c112a62183ebfb4fe1ce8c3abe848a31
Due: none

Notes added by 'git notes add'
  8fe786a202d66e96c531e39e884d8e8d6452d9ec
  cfc62e2f176295cbda031f596f967de154195813
Due: none

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
