Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Removing test file
  testfile.md
Due: format

Muhammad/fix oc workflow file (#359)
  .github/workflows/opencode-review.yml
Due: format

Add stdin support to exec()
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add changeset for stdin support
  .changeset/stdin-support.md
Due: format, validate-changesets

Add custom env var support to OpenCode integration
  .changeset/add-opencode-custom-env.md
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format, validate-changesets

Document custom env vars in opencode example README
  examples/opencode/README.md
Due: format

Update lockfile
  package-lock.json
Due: format

fix: retry HTTP 500 during container startup, not just 503
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/tests/transport.test.ts
Due: biome-fix, format

Refactor code-interpreter to use workers-ai-provider
  examples/code-interpreter/.dev.vars.example
  examples/code-interpreter/README.md
  examples/code-interpreter/package.json
  examples/code-interpreter/src/index.ts
  examples/code-interpreter/worker-configuration.d.ts
  examples/code-interpreter/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

bump sdk to the newest version
  examples/opencode/package.json
  examples/opencode/src/index.ts
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format

Create bump-opencode-sdk.md
  .changeset/bump-opencode-sdk.md
Due: format, validate-changesets

add hearbeats to avoid container eviction
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Add new features to landing page
  sites/sandbox/src/sections/features.tsx
Due: biome-fix, format

Working but slow snapshots
  examples/r2-snapshots/.gitignore
  examples/r2-snapshots/Dockerfile
  examples/r2-snapshots/mise.toml
  examples/r2-snapshots/package.json
  examples/r2-snapshots/src/index.ts
  examples/r2-snapshots/tsconfig.json
  examples/r2-snapshots/worker-configuration.d.ts
  examples/r2-snapshots/wrangler.jsonc
  package-lock.json
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/snapshot-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/snapshot-service.ts
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/snapshot-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-snapshot/index.ts
  packages/sandbox/src/storage-snapshot/presigned-urls.ts
  packages/sandbox/src/storage-snapshot/types.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Working with squashfs
  Dockerfile.r2-snapshots
  examples/r2-snapshots/Dockerfile
  examples/r2-snapshots/src/index.ts
  examples/r2-snapshots/wrangler.jsonc
  packages/sandbox-container/src/services/snapshot-service.ts
  packages/sandbox/Dockerfile
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add PTY terminal WebSocket passthrough for browser clients
  .changeset/pty-support.md
  package-lock.json
  package.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/pty-ws-handler.ts
  packages/sandbox-container/src/pty.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/src/utils/ring-buffer.ts
  packages/sandbox-container/tests/handlers/pty-ws-handler.test.ts
  packages/sandbox-container/tests/pty.test.ts
  packages/sandbox-container/tests/utils/ring-buffer.test.ts
  packages/sandbox/package.json
  packages/sandbox/src/index.ts
  packages/sandbox/src/pty/index.ts
  packages/sandbox/src/pty/proxy.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/xterm/addon.ts
  packages/sandbox/src/xterm/index.ts
  packages/sandbox/src/xterm/types.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tsdown.config.ts
  packages/shared/src/index.ts
  packages/shared/src/pty-types.ts
  packages/shared/src/types.ts
  tests/e2e/pty.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Add comprehensive E2E tests for PTY terminal feature
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  .opencode/skill/testing/SKILL.md
  AGENTS.md
  CONTRIBUTING.md
  docs/E2E_TESTING.md
  package-lock.json
  package.json
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
  tests/e2e/browser/playwright.config.ts
  tests/e2e/browser/terminal-addon.spec.ts
  tests/e2e/browser/tsconfig.json
  tests/e2e/pty.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/tsconfig.json
  turbo.json
Due: format

Allow port 8787 in exposePort()
  .changeset/port-validation-fix.md
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/security.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/security.test.ts
Due: biome-fix, format, validate-changesets

Add tests and infrastructure for PTY terminal
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  .opencode/skill/testing/SKILL.md
  AGENTS.md
  CONTRIBUTING.md
  docs/E2E_TESTING.md
  package.json
  packages/sandbox-container/tests/handlers/pty-ws-handler.test.ts
  packages/sandbox-container/tests/pty.test.ts
  packages/sandbox-container/tests/utils/ring-buffer.test.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/process-readiness.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/browser/playwright.config.ts
  tests/e2e/browser/terminal-addon.spec.ts
  tests/e2e/browser/tsconfig.json
  tests/e2e/pty.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/tsconfig.json
  turbo.json
Due: biome-fix, format

Refactor SandboxAddon to use connect(target)
  packages/sandbox/src/xterm/addon.ts
  packages/sandbox/src/xterm/index.ts
  packages/sandbox/src/xterm/types.ts
Due: biome-fix, format

Add collaborative terminal example
  examples/collaborative-terminal/.gitignore
  examples/collaborative-terminal/.vscode/settings.json
  examples/collaborative-terminal/Dockerfile
  examples/collaborative-terminal/README.md
  examples/collaborative-terminal/app/app.css
  examples/collaborative-terminal/app/components/Terminal.client.tsx
  examples/collaborative-terminal/app/components/UserAvatars.tsx
  examples/collaborative-terminal/app/entry.server.tsx
  examples/collaborative-terminal/app/hooks/useActiveRooms.ts
  examples/collaborative-terminal/app/hooks/usePresence.ts
  examples/collaborative-terminal/app/root.tsx
  examples/collaborative-terminal/app/routes.ts
  examples/collaborative-terminal/app/routes/home.tsx
  examples/collaborative-terminal/app/routes/room.tsx
  examples/collaborative-terminal/app/types.ts
  examples/collaborative-terminal/app/utils/names.ts
  examples/collaborative-terminal/index.html
  examples/collaborative-terminal/package.json
  examples/collaborative-terminal/public/favicon.ico
  examples/collaborative-terminal/react-router.config.ts
  examples/collaborative-terminal/src/App.tsx
  examples/collaborative-terminal/src/index.ts
  examples/collaborative-terminal/src/main.tsx
  examples/collaborative-terminal/tsconfig.cloudflare.json
  examples/collaborative-terminal/tsconfig.json
  examples/collaborative-terminal/tsconfig.node.json
  examples/collaborative-terminal/vite.config.ts
  examples/collaborative-terminal/workers/app.ts
  examples/collaborative-terminal/workers/registry.ts
  examples/collaborative-terminal/workers/room.ts
  examples/collaborative-terminal/workers/types/protocol.ts
  examples/collaborative-terminal/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Update collaborative-terminal README for new API
  examples/collaborative-terminal/README.md
Due: format

Add build/** to turbo output cache
  turbo.json
Due: format

Clear bash startup warning in container PTY
  packages/sandbox-container/src/pty.ts
Due: biome-fix, format

Add collaborative terminal example and refine xterm addon (#376)
  examples/collaborative-terminal/.gitignore
  examples/collaborative-terminal/.vscode/settings.json
  examples/collaborative-terminal/Dockerfile
  examples/collaborative-terminal/README.md
  examples/collaborative-terminal/app/app.css
  examples/collaborative-terminal/app/components/Terminal.client.tsx
  examples/collaborative-terminal/app/components/UserAvatars.tsx
  examples/collaborative-terminal/app/entry.server.tsx
  examples/collaborative-terminal/app/hooks/useActiveRooms.ts
  examples/collaborative-terminal/app/hooks/usePresence.ts
  examples/collaborative-terminal/app/root.tsx
  examples/collaborative-terminal/app/routes.ts
  examples/collaborative-terminal/app/routes/home.tsx
  examples/collaborative-terminal/app/routes/room.tsx
  examples/collaborative-terminal/app/types.ts
  examples/collaborative-terminal/app/utils/names.ts
  examples/collaborative-terminal/index.html
  examples/collaborative-terminal/package.json
  examples/collaborative-terminal/public/favicon.ico
  examples/collaborative-terminal/react-router.config.ts
  examples/collaborative-terminal/src/App.tsx
  examples/collaborative-terminal/src/index.ts
  examples/collaborative-terminal/src/main.tsx
  examples/collaborative-terminal/tsconfig.cloudflare.json
  examples/collaborative-terminal/tsconfig.json
  examples/collaborative-terminal/tsconfig.node.json
  examples/collaborative-terminal/vite.config.ts
  examples/collaborative-terminal/workers/app.ts
  examples/collaborative-terminal/workers/registry.ts
  examples/collaborative-terminal/workers/room.ts
  examples/collaborative-terminal/workers/types/protocol.ts
  examples/collaborative-terminal/wrangler.jsonc
  package-lock.json
  packages/sandbox-container/src/pty.ts
  packages/sandbox/src/xterm/addon.ts
  packages/sandbox/src/xterm/index.ts
  packages/sandbox/src/xterm/types.ts
  turbo.json
Due: biome-fix, format

Pass missing env vars to release E2E tests
  .github/workflows/release.yml
Due: format

Pass worker secrets for bucket mounting in release E2E
  .github/workflows/release.yml
Due: format

Revert package-lock.json to main
  package-lock.json
Due: format

enforce code owner approval on all PRs
  .github/CODEOWNERS
Due: none

enforce code owner approval on all PRs (#379)
  .github/CODEOWNERS
Due: none

Add background to feature animation elements
  sites/sandbox/src/sections/features.tsx
Due: biome-fix, format

Add new feature sections to landing page (#380)
  sites/sandbox/src/sections/features.tsx
Due: biome-fix, format

update the testimonials (#314)
  sites/sandbox/src/sections/testimonials.tsx
Due: biome-fix, format

Add Bonk workflow
  .github/workflows/bonk.yml
Due: format

Disable automatic docs sync workflow
  .github/workflows/sync-docs.yml
Due: format

Add Bonk workflow (#382)
  .github/workflows/bonk.yml
  .github/workflows/sync-docs.yml
Due: format

feat: build musl standalone binary alongside glibc
  packages/sandbox-container/build.ts
Due: biome-fix, format
