Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Support streaming file writes via capnweb pipe
  package-lock.json
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/capnweb-transport.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add ContainerConnection and cleanup plan
  capnweb-cleanup-plan.md
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox/src/container-connection.ts
Due: biome-fix, format

Wire ContainerConnection into Sandbox DO, add unit tests
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
Due: biome-fix, format

Fix stream-upload example Dockerfile to use current image tag
  examples/stream-upload/Dockerfile
Due: none

Rename bridge RPC methods to avoid fetch naming conflict
  packages/sandbox-container/src/handlers/capnweb-bridge.ts
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/handlers/capnweb-bridge.test.ts
  packages/sandbox/src/clients/transport/capnweb-transport.ts
  packages/sandbox/src/container-connection.ts
  packages/sandbox/tests/capnweb-transport.test.ts
Due: biome-fix, format

Update plan trackers to reflect current state
  .devbox/plan.md
  capnweb-cleanup-plan.md
Due: format

Reduce comprehensive-workflow flakiness with retry and decoupled env setup
  tests/e2e/comprehensive-workflow.test.ts
Due: format

Add a websocket example
  examples/websocket-tunnel/.gitignore
  examples/websocket-tunnel/Dockerfile
  examples/websocket-tunnel/README.md
  examples/websocket-tunnel/package.json
  examples/websocket-tunnel/public/index.html
  examples/websocket-tunnel/public/template.html
  examples/websocket-tunnel/server.js
  examples/websocket-tunnel/src/index.ts
  examples/websocket-tunnel/tsconfig.json
  examples/websocket-tunnel/worker-configuration.d.ts
  examples/websocket-tunnel/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Align wrangler version with workspace
  examples/websocket-tunnel/package.json
Due: format

Add example of vite running a dev server in a sandbox
  examples/vite-sandbox/.gitignore
  examples/vite-sandbox/Dockerfile
  examples/vite-sandbox/README.md
  examples/vite-sandbox/index.html
  examples/vite-sandbox/package.json
  examples/vite-sandbox/sandbox-app/index.html
  examples/vite-sandbox/sandbox-app/package.json
  examples/vite-sandbox/sandbox-app/src/App.jsx
  examples/vite-sandbox/sandbox-app/src/Counter.jsx
  examples/vite-sandbox/sandbox-app/src/main.jsx
  examples/vite-sandbox/sandbox-app/src/value.js
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/App.jsx
  examples/vite-sandbox/src/Counter.jsx
  examples/vite-sandbox/src/main.jsx
  examples/vite-sandbox/src/value.js
  examples/vite-sandbox/src/worker.js
  examples/vite-sandbox/value.js
  examples/vite-sandbox/vite.config.js
  examples/vite-sandbox/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Update examples/vite-sandbox/Dockerfile
  examples/vite-sandbox/Dockerfile
Due: none

Align dependency versions across workspace
  examples/collaborative-terminal/package.json
  examples/desktop/package.json
  examples/openai-agents/package.json
  examples/typescript-validator/package.json
  examples/vite-sandbox/package.json
  package-lock.json
  sites/sandbox/package.json
Due: format

Add sanitize helpers, relocate redactCredentials
  packages/shared/src/git.ts
  packages/shared/src/index.ts
  packages/shared/src/logger/sanitize.ts
  packages/shared/tests/git.test.ts
  packages/shared/tests/logger/sanitize.test.ts
Due: biome-fix, format

Anchor sensitive param regex to query strings
  packages/shared/src/index.ts
  packages/shared/src/logger/sanitize.ts
  packages/shared/tests/logger/sanitize.test.ts
Due: biome-fix, format

Add OutputMode to replace boolean pretty flag
  packages/shared/src/logger/index.ts
  packages/shared/src/logger/logger.ts
  packages/shared/src/logger/types.ts
  packages/shared/tests/logger.test.ts
Due: biome-fix, format

Add canonical event helpers for structured logging
  packages/shared/src/index.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
  packages/shared/src/logger/index.ts
  packages/shared/tests/logger/canonical.test.ts
Due: biome-fix, format

Remove logSuccess/logError from all DO clients
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/tests/git-client.test.ts
Due: biome-fix, format

Migrate DO canonical events to logCanonicalEvent()
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Fix command outcome semantics: non-zero exitCode is error
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Migrate container canonical events to logCanonicalEvent()
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Demote HTTP middleware logs to debug, migrate process events
  packages/sandbox-container/src/middleware/logging.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/middleware/logging.test.ts
Due: biome-fix, format

Fix double-redaction and improve CanonicalEventPayload type safety
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
Due: biome-fix, format

Auto-derive errorMessage, extend buildMessage context
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
  packages/shared/tests/logger/canonical.test.ts
Due: biome-fix, format

Fix missing root exports for SDK errors
  .changeset/export-root-error-classes.md
  packages/sandbox/src/index.ts
  packages/sandbox/tests/public-exports.test.ts
Due: biome-fix, format, validate-changesets

Clean up canonical event fields and add error coverage
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Migrate bucket.mount/unmount to logCanonicalEvent
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Type exec state accumulator, migrate backup events, add errorMessage tracking
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Fix credential leak in errorMessage and logging gaps
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/tests/logger/canonical.test.ts
Due: biome-fix, format

Update containers & export proxy
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/index.ts
Due: biome-fix, format

Fix credential leak in error objects, outcome semantics, and coverage gaps
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/tests/logger/canonical.test.ts
Due: biome-fix, format

Fix git token leak, demote middleware duplicates, clean up stale logs
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/middleware/logging.ts
  packages/sandbox-container/src/security/security-service.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/middleware/logging.test.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/git.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
Due: biome-fix, format

Close remaining git token leak and duplicate log
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/git-service.ts
Due: biome-fix, format

Log command completions at info, not error
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Respect SANDBOX_LOG_FORMAT across all components, forward to container
  packages/sandbox/src/sandbox.ts
  packages/shared/src/logger/index.ts
  packages/shared/tests/logger.test.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format

Fix backup cleanup session ID and version.check log level
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Demote background process output to debug, fix session noise
  packages/sandbox-container/src/main.ts
  packages/sandbox-container/src/managers/desktop-manager.ts
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Add changeset
  .changeset/update-containers-sdk.md
Due: format, validate-changesets

Use unique backup session IDs to prevent collision
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Centralize severity policy in resolveLogLevel
  packages/shared/src/index.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
  packages/shared/src/logger/index.ts
  packages/shared/tests/logger/canonical.test.ts
Due: biome-fix, format

Add origin metadata to execute paths on DO side
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
