Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Add E2E tests and test worker updates for RPC transport
  tests/e2e/capnweb-transport.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/tsconfig.json
Due: format

Update bridge integration script for external deployments
  bridge/script/integration
Due: none

Add uppercase acronym casing convention to style guide
  AGENTS.md
Due: format

Add unit tests for RPC transport
  packages/sandbox/src/container-connection.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/security.test.ts
Due: biome-fix, format

Fix production backup restore mounts
  .changeset/restore-backup-mount-paths.md
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Fix restore test spy scope
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Materialize production backup restores
  .changeset/restore-backup-mount-paths.md
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Fix dropped backup options on RPC transport
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Use capnweb stats to track in-flight RPC work
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Tear down stale RPC connection when WebSocket drops mid-stream
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Skip RPC connection teardown while WebSocket upgrade is in flight
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Run the rpc transport e2e tests
  .github/workflows/reusable-e2e.yml
Due: format

Cover placement ID capture in capnweb E2E suite
  tests/e2e/capnweb-transport.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Carry container placement ID through RPC transport
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Expose container placement ID on the sandbox
  .changeset/placement-id-api.md
  packages/sandbox-container/src/handlers/session-handler.ts
  packages/sandbox-container/tests/handlers/session-handler.test.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Update packages/sandbox/src/sandbox.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Normalize globstar exclude patterns for backups
  .changeset/backup-globstar-excludes.md
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/backup.ts
Due: biome-fix, format, validate-changesets

fix(examples): use published image aliases
  .github/changeset-version.ts
  examples/alpine/Dockerfile
  examples/authentication/Dockerfile
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/codex-app-server/Dockerfile
  examples/codex-app-server/README.md
  examples/collaborative-terminal/Dockerfile
  examples/minimal/Dockerfile
  examples/openai-agents/Dockerfile
  examples/opencode/Dockerfile
  examples/time-machine/Dockerfile
  examples/typescript-validator/Dockerfile
  examples/vite-sandbox/Dockerfile
  examples/websocket-tunnel/Dockerfile
Due: format

support multiple mid-pattern globstars
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/shared/src/backup.ts
Due: biome-fix, format

Pin Bonk opencode version
  .github/workflows/bonk.yml
Due: format

Clean-up the bridge harness so it works with agents 0.14
  bridge/harness/AGENTS.md
  bridge/harness/README.md
  bridge/harness/pyproject.toml
  bridge/harness/script/start
  bridge/harness/src/config.py
  bridge/harness/src/main.py
  bridge/harness/uv.lock
Due: format

Add --help flag to the bridge/script/integration
  bridge/script/integration
Due: none

Update bridge worker to use rpc transport by default
  bridge/worker/wrangler.jsonc
Due: none

Serialize Bonk per pull request
  .github/workflows/bonk.yml
Due: format

Pass keepAlive only when explicitly set
  tests/e2e/test-worker/index.ts
Due: format

Refactor createTestSandbox and test helpers
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/helpers/test-fixtures.ts
Due: format

Add abort timers to e2e HTTP requests
  tests/e2e/_smoke.test.ts
  tests/e2e/backup-workflow.test.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/desktop-environment.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/musl.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/parallel-context-creation.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/pty.test.ts
  tests/e2e/redirect-proxy-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/websocket-connect.test.ts
  tests/e2e/websocket-workflow.test.ts
Due: format

Remove unused imports
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/command-timeout.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/musl.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/standalone-binary-workflow.test.ts
Due: format

Use .resolves for JSON body assertions
  tests/e2e/backup-workflow.test.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/command-timeout.test.ts
  tests/e2e/comprehensive-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/musl.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/process-readiness-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/standalone-binary-workflow.test.ts
Due: format

Fix translateRPCError mishandling non-JSON errors
  packages/sandbox-container/tests/rpc/websocket-termination.test.ts
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Fail DeferredTransport on binary WebSocket frames
  packages/sandbox/src/container-connection.ts
  packages/sandbox/tests/container-connection.test.ts
Due: biome-fix, format

Add RPCTransportError for WebSocket failures
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format

Classify RPC transport errors by error.name first
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/suggestions.ts
Due: biome-fix, format

fixup! Add RPCTransportError for WebSocket failures
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

fixup! Fix translateRPCError mishandling non-JSON errors
  packages/sandbox-container/tests/rpc/websocket-termination.test.ts
Due: biome-fix, format

fixup! Add RPCTransportError for WebSocket failures
  packages/sandbox/src/index.ts
Due: biome-fix, format

fixup! Fail DeferredTransport on binary WebSocket frames
  packages/sandbox/src/container-connection.ts
  packages/sandbox/tests/container-connection.test.ts
Due: biome-fix, format

fixup! Add RPCTransportError for WebSocket failures
  packages/sandbox/src/clients/rpc-sandbox-client.ts
Due: biome-fix, format

fixup! Add RPCTransportError for WebSocket failures
  packages/sandbox/src/errors/classes.ts
Due: biome-fix, format

fixup! Add RPCTransportError for WebSocket failures
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format
