Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, validate-changesets

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Move env setting + cleanup method out of buildFIFOScript
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: format

fix: doc websocket connection method
  sites/sandbox/src/code-sample.tsx
Due: format

Fix type errors
  tests/e2e/environment-workflow.test.ts
Due: format

add environment variables and working directory support to command exec (#204)
  .changeset/neat-shirts-bathe.md
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/src/validation/schemas.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format, validate-changesets

fix: doc websocket connection method (#241)
  sites/sandbox/src/code-sample.tsx
Due: format

Update lockfile
  package-lock.json
Due: format

add getFileMetadata method in FileService to get only metadata, without reading the whole file + tests
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: format

add integration test
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: format

Remove unimplemented parameters from API
  packages/sandbox-container/src/validation/schemas.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
Due: format

Add changeset for API cleanup
  .changeset/remove-unimplemented-params.md
Due: format, validate-changesets

fix code duplications, add NaN checks
  packages/sandbox-container/src/services/file-service.ts
Due: format

Fix typecheck issues after parameter cleanup
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/validation/schemas.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: format

Testing worker builds for website
  sites/sandbox/src/globals.css
Due: none

Add getFileMetadata method in FileService
  .changeset/fresh-adults-wait.md
Due: format, validate-changesets

add getFileMetadata method in FileService to get only metadata (#243)
  .changeset/fresh-adults-wait.md
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
Due: format, validate-changesets

Remove multi-arch Docker image support
  .changeset/remove-multi-arch.md
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
  CLAUDE.md
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/minimal/Dockerfile
  examples/openai-agents/Dockerfile
  examples/typescript-validator/Dockerfile
  packages/sandbox/package.json
  tests/integration/Dockerfile
Due: format, validate-changesets

Fix pre-commit hook for package.json files
  lefthook.yml
Due: format

Fix base images in examples
  examples/code-interpreter/Dockerfile
  examples/openai-agents/Dockerfile
Due: none

Add Docker setup guide link to README
  packages/sandbox/README.md
Due: format

fix JS and TS executors to await Promise in context execution
  packages/sandbox-container/src/runtime/executors/javascript/node_executor.ts
  packages/sandbox-container/src/runtime/executors/typescript/ts_executor.ts
Due: format

adding tests to verify promise resolution
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

fix small nits
  packages/sandbox-container/src/runtime/executors/javascript/node_executor.ts
  packages/sandbox-container/src/runtime/executors/typescript/ts_executor.ts
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Update executor to await Promises in context execution
  .changeset/heavy-bananas-dream.md
Due: format, validate-changesets

update tests
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Fix code context state isolation
  .changeset/fix-code-context-isolation.md
  packages/sandbox-container/src/interpreter-service.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox/Dockerfile
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
Due: format, validate-changesets

Improve context isolation reliability and safety
  packages/sandbox-container/src/interpreter-service.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox/Dockerfile
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Simplify error handling and improve test coverage
  packages/sandbox-container/src/interpreter-service.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Use promise-based locking for concurrent execution
  packages/sandbox-container/src/runtime/process-pool.ts
  tests/e2e/test-worker/Dockerfile
Due: format

Revert Dockerfile and improve concurrency test
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
Due: format

Update dependencies
  biome.json
  examples/claude-code/package.json
  examples/code-interpreter/package.json
  examples/minimal/package.json
  examples/openai-agents/package.json
  examples/typescript-validator/package.json
  lefthook.yml
  package-lock.json
  package.json
  packages/sandbox-container/package.json
  packages/sandbox/package.json
  sites/sandbox/package.json
Due: format

Serialize execution per code context
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/handlers/interpreter-handler.ts
  packages/sandbox-container/src/interpreter-service.ts
  packages/sandbox-container/src/mime-processor.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/services/interpreter-service.ts
  packages/sandbox-container/tests/handlers/interpreter-handler.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
Due: format

Fix test-worker dockerfile
  tests/e2e/test-worker/Dockerfile
Due: none

Remove multi-arch Docker image support (#245)
  .changeset/remove-multi-arch.md
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
  CLAUDE.md
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/minimal/Dockerfile
  examples/openai-agents/Dockerfile
  examples/typescript-validator/Dockerfile
  lefthook.yml
  packages/sandbox/README.md
  packages/sandbox/package.json
  tests/integration/Dockerfile
Due: format, validate-changesets

add ws transport + e2e
  package-lock.json
  packages/sandbox-container/src/handlers/ws-handler.ts
  packages/sandbox-container/src/index.ts
  packages/sandbox-container/tests/handlers/ws-handler.test.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport.ts
  packages/sandbox/src/clients/types.ts
  packages/sandbox/src/clients/ws-transport.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/transport.test.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/index.ts
  packages/shared/src/logger/types.ts
  packages/shared/src/types.ts
  packages/shared/src/ws-types.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/websocket-transport.test.ts
Due: format

Create changeset
  .changeset/tough-buttons-arrive.md
Due: format, validate-changesets

Update dependencies (#251)
  .changeset/tough-buttons-arrive.md
  biome.json
  examples/claude-code/package.json
  examples/code-interpreter/package.json
  examples/minimal/package.json
  examples/openai-agents/package.json
  examples/typescript-validator/package.json
  package-lock.json
  package.json
  packages/sandbox-container/package.json
  packages/sandbox/package.json
  sites/sandbox/package.json
Due: format, validate-changesets

remove unused
  packages/sandbox/src/clients/transport.ts
Due: format

fix types
  packages/sandbox/src/clients/ws-transport.ts
Due: format

Add pool locking and executor health checks
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/services/interpreter-service.ts
Due: format

Fix executor leak and stateless execution race
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/services/interpreter-service.ts
Due: format

Path conditions:
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
