Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Update .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-e2e.yml
Due: format

Fix broken capacity guard
  .github/workflows/reusable-e2e.yml
Due: format

Refactor desktop e2e tests
  tests/e2e/desktop-environment.test.ts
  tests/e2e/helpers/global-sandbox.ts
Due: format

Treat "stopping" the same as "inactive" in desktop
  packages/sandbox-container/src/managers/desktop-manager.ts
Due: biome-fix, format

Comment out screenshot code
  tests/e2e/desktop-environment.test.ts
Due: format

Fix desktop stop hanging on blocked processes
  packages/sandbox-container/src/managers/desktop-manager.ts
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Ensure desktop is runing after a stop before worker is spawned
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Add traces
  tests/e2e/test-worker/wrangler.template.jsonc
Due: none

Fix unhandled promise rejection
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Warn on unhandled promise rejection
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Refactor desktop to use child process rather than subprocess
  packages/sandbox-container/src/services/desktop-service.ts
  packages/sandbox-container/src/workers/desktop-worker.ts
Due: biome-fix, format

More tweaks
  packages/sandbox-container/src/managers/desktop-manager.ts
Due: biome-fix, format

Use docker hash for e2e images
  .github/workflows/pr-privileged.yml
Due: format

Reduce durable_object_offset_instances to 10 per app
  .github/workflows/reusable-e2e.yml
Due: format

Ignore flakey test for stopping desktop
  tests/e2e/desktop-environment.test.ts
  tests/e2e/helpers/global-sandbox.ts
Due: format

Restructure streaming tests to improve reliability
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
Due: format

Make transport configurable per instance
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Use headers to define sandbox transport in e2e tests
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/test-worker/index.ts
Due: format

Use headers to define sandbox transport in e2e tests
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
  vitest.e2e.config.ts
Due: format

Update GitHub actions to simplify transport
  .github/workflows/reusable-e2e.yml
Due: format

fix: use proper cancel() method, add catch+finally for stream cleanup
  packages/sandbox-container/src/handlers/execute-handler.ts
Due: biome-fix, format

Remove TEST_TRANSPORT file workaround
  tests/e2e/test-worker/generate-config.sh
  vitest.e2e.config.ts
Due: format

run typegen
  examples/authentication/src/index.ts
  examples/authentication/worker-configuration.d.ts
  examples/authentication/wrangler.jsonc
Due: biome-fix, format

Update authentication example to use egress interception
  examples/authentication/.dev.vars.example
  examples/authentication/README.md
  examples/authentication/package.json
  examples/authentication/src/index.ts
  examples/authentication/src/proxy/errors.ts
  examples/authentication/src/proxy/handler.ts
  examples/authentication/src/proxy/index.ts
  examples/authentication/src/proxy/token.ts
  examples/authentication/src/proxy/types.ts
  examples/authentication/src/services/anthropic/index.ts
  examples/authentication/src/services/github/index.ts
  examples/authentication/src/services/index.ts
  examples/authentication/src/services/r2/index.ts
  examples/authentication/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

remove promise.resolve
  examples/authentication/src/services/anthropic/index.ts
Due: biome-fix, format

Support local R2 backup/restore flow
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

add changeset
  .changeset/local-backup-restore-r2-bindings.md
Due: format, validate-changesets

add error handling for restore failure
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-backup.test.ts
Due: biome-fix, format

update missed paths
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

update usage example
  examples/time-machine/.dev.vars.example
  examples/time-machine/README.md
  examples/time-machine/src/index.ts
  examples/time-machine/worker-configuration.d.ts
  examples/time-machine/wrangler.jsonc
Due: biome-fix, format

Remove redundant cleanup code
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

extract constants & paths for local parity
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Call BenchBox webhook for nightly performance summary
  .github/workflows/performance.yml
  tests/perf/helpers/report-generator.ts
Due: format

Always call notifier webhook
  .github/workflows/performance.yml
Due: format

Add credentials for Zero Trust
  .github/workflows/performance.yml
  turbo.json
Due: format

Update notifier hook var check
  .github/workflows/performance.yml
Due: format

Retry CF registry credential requests
  .github/cf-registry-login.sh
  .github/workflows/pr-privileged.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
Due: format

Make setBaseUrl persist-first
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
