Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

fixup! Attempt to fix tunnels rpc
  packages/sandbox/src/tunnels/tunnels-handler.ts
Due: biome-fix, format

Fix tunnels RPC when using vite-plugin
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
Due: biome-fix, format

fixup! Attempt to fix tunnels rpc
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

fixup! Fix tunnels RPC when using vite-plugin
  packages/sandbox/src/tunnels/tunnels-handler.ts
Due: biome-fix, format

remove configurable session passing
  .changeset/sessionless-execution.md
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Enforce preview URL runtime activation
  .changeset/stale-preview-urls.md
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/current-runtime-identity.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/preview-proxy-protocol.ts
  packages/sandbox/src/preview-url.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/current-runtime-identity.test.ts
  packages/sandbox/tests/request-handler.test.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/helpers/container-lifecycle.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/preview-url-restart-workflow.test.ts
  turbo.json
Due: biome-fix, format, validate-changesets

patch e2e test worker
  tests/e2e/test-worker/index.ts
Due: format

Revert "Fix type() options to use delay instead of delayMs"
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/tests/desktop-client.test.ts
Due: biome-fix, format

Map desktop.type delayMs to RPC wire delay
  .changeset/desktop-type-delay-mapping.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox/src/container-control/client.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format, validate-changesets

Restore desktop screenshot bytes and positional region signature
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/tests/desktop-client.test.ts
  packages/shared/src/desktop-types.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Add changeset for desktop fixes
  .changeset/rpc-desktop-interface.md
Due: format, validate-changesets

Bundle cloudflared with the musl/alpine build
  .changeset/container-image-musl-cloudflared.md
  packages/sandbox/Dockerfile
  packages/sandbox/README.md
Due: format, validate-changesets

Implement no credential R2 binding mount support (#691)
  .changeset/r2-egress-mount.md
  bridge/worker/README.md
  bridge/worker/src/__tests__/mount.test.ts
  packages/sandbox/src/bridge/openapi.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/src/storage-mount/validation.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/storage-mount/validation.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format, validate-changesets

Delete .changeset/desktop-type-delay-mapping.md
  .changeset/desktop-type-delay-mapping.md
Due: format, validate-changesets

Use delayMs end-to-end for desktop.type
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox/src/container-control/client.ts
Due: biome-fix, format

Raise E2E sandbox instance cap
  tests/e2e/test-worker/wrangler.template.jsonc
Due: none

Clean up preview URL E2E tests
  tests/e2e/helpers/container-lifecycle.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/preview-url-restart-workflow.test.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Align preview port APIs with forwarding
  .changeset/stale-preview-urls.md
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/preview-url-lifecycle.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Remove container-local preview port registry
  .agents/skills/architecture/SKILL.md
  .changeset/stale-preview-urls.md
  docs/ARCHITECTURE.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/port-handler.ts
  packages/sandbox-container/src/managers/port-manager.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  packages/sandbox-container/tests/managers/port-manager.test.ts
  packages/sandbox-container/tests/services/port-service.test.ts
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/port-client.test.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/errors/types.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Update vite-sandbox to use new tunnels API
  examples/vite-sandbox/package.json
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/worker.js
  examples/vite-sandbox/vite.config.js
  examples/vite-sandbox/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Clean-up error
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/worker.js
Due: biome-fix, format

Update README.md
  examples/vite-sandbox/README.md
Due: format

Bump vite-plugin to 1.37.2 everywhere
  examples/collaborative-terminal/package.json
  examples/desktop/package.json
  examples/openai-agents/package.json
  examples/typescript-validator/package.json
  package-lock.json
  sites/sandbox/package.json
Due: format

Install certificates in musl step
  packages/sandbox/Dockerfile
Due: none

Upgrade capnweb to 0.8.0
  .changeset/capnweb-0-8.md
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/lib/capnweb-bun.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox-container/tests/rpc/websocket-termination.test.ts
  packages/sandbox/package.json
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format, validate-changesets

Fix inconsistent interfaces between HTTP and RPC clients (#703)
  .changeset/rpc-desktop-interface.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/desktop-client.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/clients/port-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/tests/desktop-client.test.ts
  packages/shared/src/desktop-types.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format, validate-changesets

Convert service error into an Error object in control-plane
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
Due: biome-fix, format

implement sessionless exec path
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

fix issues + add e2e tests
  .changeset/sessionless-execution.md
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

fix sessionless inconsistencies
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

patch test issues
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

fix execStream bug
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/process-service.test.ts
Due: biome-fix, format

fix e2e test
  tests/e2e/test-worker/index.ts
Due: format

biome fix
  tests/e2e/sessionless-execution-workflow.test.ts
Due: format

dont persist in DO + change sentinel value
  .changeset/sessionless-execution.md
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tsconfig.json
  packages/shared/package.json
  packages/shared/src/internal.ts
  packages/shared/src/types.ts
  tests/e2e/sessionless-execution-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

fix sentinel leaking
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/sessionless-execution-workflow.test.ts
Due: biome-fix, format

rebase
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

fix exec options merging bugs
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/tests/services/execution-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format
