Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

feat: include musl binary in published Docker images
  packages/sandbox/Dockerfile
Due: none

feat: update minimal example to use Alpine base image
  examples/minimal/Dockerfile
Due: none

feat: add Alpine standalone Dockerfile and fix startup script shebang
  tests/e2e/test-worker/Dockerfile.standalone-alpine
  tests/e2e/test-worker/startup-test.sh
Due: none

feat: wire Alpine standalone into E2E test infrastructure
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

test: add E2E test for standalone musl binary on Alpine
  tests/e2e/standalone-alpine.test.ts
Due: format

ci: add Alpine standalone to CI pipelines and publish musl binary
  .changeset/musl-binary-support.md
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  packages/sandbox/package.json
Due: format, validate-changesets

Fix file watch E2E test timeout race condition
  tests/e2e/file-watch-workflow.test.ts
Due: format

fix: revert minimal example, create examples/alpine, remove gcompat
  examples/alpine/.gitignore
  examples/alpine/Dockerfile
  examples/alpine/package.json
  examples/alpine/src/index.ts
  examples/alpine/tsconfig.json
  examples/alpine/worker-configuration.d.ts
  examples/alpine/wrangler.jsonc
  examples/minimal/Dockerfile
  package-lock.json
  tests/e2e/test-worker/Dockerfile.standalone-alpine
Due: biome-fix, format

Add standalone-alpine to test worker type list
  tests/e2e/test-worker/index.ts
Due: format

Add musl target stage to Dockerfile
  packages/sandbox/Dockerfile
Due: none

Simplify alpine example to use musl image variant
  examples/alpine/Dockerfile
Due: none

Fix exclude test timeout in file watch E2E
  tests/e2e/file-watch-workflow.test.ts
Due: format

Rename SandboxStandaloneAlpine to SandboxMusl
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/musl.test.ts
  tests/e2e/standalone-alpine.test.ts
  tests/e2e/test-worker/Dockerfile.musl
  tests/e2e/test-worker/Dockerfile.standalone-alpine
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Add feature parity deps to musl image
  packages/sandbox/Dockerfile
Due: none

Update CI workflows for musl image variant
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
Due: format

Align dependency versions across workspace
  examples/alpine/package.json
  examples/authentication/package.json
  examples/claude-code/package.json
  examples/code-interpreter/package.json
  examples/collaborative-terminal/package.json
  examples/minimal/package.json
  examples/opencode/package.json
  examples/typescript-validator/package.json
  package-lock.json
  package.json
  packages/sandbox/package.json
  sites/sandbox/package.json
Due: format

Update standalone binary docs for musl image
  .changeset/musl-binary-support.md
  docs/STANDALONE_BINARY.md
Due: format, validate-changesets

Refactor code-interpreter to use workers-ai-provider (#365)
  examples/code-interpreter/.dev.vars.example
  examples/code-interpreter/README.md
  examples/code-interpreter/package.json
  examples/code-interpreter/src/index.ts
  examples/code-interpreter/worker-configuration.d.ts
  examples/code-interpreter/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Use patch for all changesets during beta
  .changeset/musl-binary-support.md
  AGENTS.md
Due: format, validate-changesets

Allow port 8787 in exposePort() (#377)
  .changeset/port-validation-fix.md
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/security.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/security.test.ts
Due: biome-fix, format, validate-changesets

Add musl image variant for Alpine-based containers (#383)
  .changeset/musl-binary-support.md
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  AGENTS.md
  docs/STANDALONE_BINARY.md
  examples/alpine/.gitignore
  examples/alpine/Dockerfile
  examples/alpine/package.json
  examples/alpine/src/index.ts
  examples/alpine/tsconfig.json
  examples/alpine/worker-configuration.d.ts
  examples/alpine/wrangler.jsonc
  examples/authentication/package.json
  examples/claude-code/package.json
  examples/collaborative-terminal/package.json
  examples/minimal/package.json
  examples/opencode/package.json
  examples/typescript-validator/package.json
  package-lock.json
  package.json
  packages/sandbox-container/build.ts
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
  sites/sandbox/package.json
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/musl.test.ts
  tests/e2e/test-worker/Dockerfile.musl
  tests/e2e/test-worker/generate-config.sh
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/startup-test.sh
  tests/e2e/test-worker/wrangler.template.jsonc
Due: biome-fix, format, validate-changesets

Fix Version Packages PR checks on bot-created PRs
  .github/workflows/release.yml
Due: format

Fix Version Packages PR checks on bot-created PRs (#385)
  .github/workflows/release.yml
Due: format

bump sdk to the newest version
  examples/opencode/package.json
  examples/opencode/src/index.ts
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format

Create bump-opencode-sdk.md
  .changeset/bump-opencode-sdk.md
Due: format, validate-changesets

Fix fetch signature in OpencodeClientFactory
  package-lock.json
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format

Revert "Fix Version Packages PR checks on bot-created PRs (#385)"
  .github/workflows/release.yml
Due: format

Revert "Fix Version Packages PR checks on bot-created PRs (#385)" (#386)
  .github/workflows/release.yml
Due: format

fix: terminate process trees on kill
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

Add changeset for background process kill fix
  .changeset/process-tree-kill.md
Due: format, validate-changesets

address bonk
  package-lock.json
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

Use process-group kill for commands
  packages/sandbox-container/src/session.ts
Due: biome-fix, format

Fix fetch() this binding in getSandbox() proxy
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
Due: biome-fix, format

Add changeset
  .changeset/fix-getsandbox-fetch-binding.md
Due: format, validate-changesets

Fix fetch() this binding in getSandbox() proxy (#390)
  .changeset/fix-getsandbox-fetch-binding.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
Due: biome-fix, format, validate-changesets

Fix CI cleanup scripts leaving orphaned resources
  .github/workflows/cleanup-stale.yml
  .github/workflows/cleanup.yml
  scripts/cleanup-test-deployment.sh
Due: format

Fix CI cleanup scripts leaving orphaned resources (#391)
  .github/workflows/cleanup-stale.yml
  .github/workflows/cleanup.yml
  scripts/cleanup-test-deployment.sh
Due: format

bump opencode sdk to the newest version, and use /v2 of the sdk (#366)
  .changeset/bump-opencode-sdk.md
  examples/opencode/package.json
  examples/opencode/src/index.ts
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format, validate-changesets

fix: opencode cli <> sdk provider name discripency for ai gateway
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format

feat: added instructions for cloudflare ai gateway unified billing integration
  examples/opencode/README.md
  examples/opencode/src/index.ts
  examples/opencode/worker-configuration.d.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
