Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Fix port fallback gaps for WebSocket transport and long-lived client holders (#535)
  .changeset/fix-port-fallback-gaps.md
  packages/sandbox/src/interpreter.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format, validate-changesets

Fix git-client test port after cherry-pick
  packages/sandbox/tests/git-client.test.ts
Due: biome-fix, format

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: format

Require containers 0.2.1 for stream activity
  .changeset/quiet-stream-sleepafter.md
  package-lock.json
  packages/sandbox/package.json
  tests/e2e/helpers/global-sandbox.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format, validate-changesets

Trim quiet stream assertion output
  tests/e2e/streaming-operations-workflow.test.ts
Due: format

Add idle sleepAfter regression test
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Avoid rearming idle sleepAfter in test
  tests/e2e/streaming-operations-workflow.test.ts
Due: format

Reduce idle sleepAfter test flakiness
  tests/e2e/streaming-operations-workflow.test.ts
Due: format

Disconnect idle WebSocket transport
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

Bump containers to 0.2.2
  .changeset/quiet-stream-sleepafter.md
  package-lock.json
  packages/sandbox/package.json
Due: format, validate-changesets

Add automated Docker Hub description sync
  .github/workflows/release.yml
  DOCKER_README.md
Due: format

Add continue-on-error to Docker Hub description step
  .github/workflows/release.yml
Due: format

Use canonical log events in WatchService
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox/src/clients/watch-client.ts
Due: biome-fix, format

Clean up executor lock on registration failure
  packages/sandbox-container/src/runtime/process-pool.ts
Due: biome-fix, format

Add changeset
  .changeset/parallel-context-creation.md
Due: format, validate-changesets

Remove redundant concurrency tests
  packages/sandbox-container/tests/runtime/process-pool-concurrency.test.ts
  tests/e2e/parallel-context-creation.test.ts
Due: biome-fix, format

Don't fail precommit if there are no files to lint
  lefthook.yml
Due: format

Update OpenCode example to use pre-built image
  examples/opencode/Dockerfile
  examples/opencode/package.json
  examples/opencode/worker-configuration.d.ts
  examples/opencode/wrangler.jsonc
Due: biome-fix, format

Bump go-builder to Go 1.25 for image 0.38.0
  packages/sandbox/Dockerfile
Due: none

Add changeset for CVE-2026-33809 fix
  .changeset/fix-tiff-oom-cve.md
Due: format, validate-changesets

Add missing CI retry helper
  .github/crane-copy-retry.sh
Due: none

Run and store perf test metric results in D1 everyday
  .github/workflows/performance.yml
  package.json
  tests/perf/helpers/concurrent-runner.ts
  tests/perf/helpers/constants.ts
  tests/perf/helpers/perf-sandbox-manager.ts
  tests/perf/scenarios/burst-startup.test.ts
  tests/perf/scenarios/file-io.test.ts
  tests/perf/schema.sql
  tests/perf/scripts/ingest-to-d1.ts
Due: format

Update documentation for EXPOSE usability
  .changeset/update-expose-docs.md
  AGENTS.md
  docs/E2E_TESTING.md
  examples/alpine/Dockerfile
  examples/authentication/Dockerfile
  examples/collaborative-terminal/Dockerfile
  examples/minimal/Dockerfile
  examples/openai-agents/Dockerfile
  examples/time-machine/Dockerfile
  examples/typescript-validator/Dockerfile
  examples/vite-sandbox/Dockerfile
  examples/websocket-tunnel/Dockerfile
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.desktop
  tests/e2e/test-worker/Dockerfile.opencode
  tests/e2e/test-worker/Dockerfile.python
Due: format, validate-changesets

Update e2e testing doc
  docs/E2E_TESTING.md
Due: format

remove changeset
  .changeset/update-expose-docs.md
Due: format, validate-changesets

ci: update build configuration
  package.json
Due: format

docs: fix trailing whitespace
  README.md
Due: format

fix: break circular await in WebSocket transport on cold container start
  .changeset/fix-ws-transport-reentrant-deadlock.md
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format, validate-changesets

Apply suggestion from @devin-ai-integration[bot]
  .changeset/fix-ws-transport-reentrant-deadlock.md
Due: format, validate-changesets

refactor: deduplicate HTTP request logic into BaseTransport
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

Update packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

Allow backups in /app
  .changeset/allow-app-backups.md
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Centralize backup path allowlist
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tsconfig.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tsconfig.json
  packages/shared/package.json
  packages/shared/src/backup.ts
Due: biome-fix, format

Simplify backup restore inputs
  .changeset/allow-app-backups.md
  examples/time-machine/src/index.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Keep backup restore API stable
  .changeset/allow-app-backups.md
  examples/time-machine/src/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

fix perf test ci setup
  .github/workflows/performance.yml
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/perf/global-setup.ts
  vitest.perf.config.ts
Due: format

update perf report aggregation
  tests/perf/global-setup.ts
  tests/perf/global-teardown.ts
  tests/perf/helpers/perf-test-fixture.ts
  tests/perf/helpers/report-generator.ts
  tests/perf/scripts/ingest-to-d1.ts
Due: format

Centralize re-entrancy guard and add cycle test
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format
