Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Seed warm pool ceiling from max-instances var
  .changeset/warm-pool-max-instances.md
  bridge/worker/src/__tests__/warm-pool.test.ts
  bridge/worker/wrangler.jsonc
  packages/sandbox/src/bridge/pool.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/bridge/warm-pool.ts
Due: biome-fix, format, validate-changesets

Document tracing module and new warm pool vars
  bridge/worker/README.md
  packages/sandbox/src/bridge/AGENTS.md
Due: format

Instrument bridge API with custom spans
  .changeset/bridge-custom-spans.md
  bridge/worker/src/__tests__/tracing.test.ts
  bridge/worker/wrangler.jsonc
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/tracing.ts
Due: biome-fix, format, validate-changesets

Re-derive pool ceiling after partial-capacity batch
  bridge/worker/src/__tests__/warm-pool.test.ts
  packages/sandbox/src/bridge/warm-pool.ts
Due: biome-fix, format

Preserve exec thenable methods
  .changeset/preserve-exec-thenable-methods.md
  examples/vite-sandbox/src/worker.js
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

update comment
  examples/vite-sandbox/src/worker.js
Due: biome-fix, format

Capture container exit code and stop reason on onStop disconnect cause
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-destroy-lifetime.test.ts
  packages/shared/src/errors/contexts.ts
Due: biome-fix, format

Align RPC instance-get budget with platform 8s default
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Harden RPC client callbacks and deferred-disconnect cleanup
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
Due: biome-fix, format

Preserve exec thenable methods (#810)
  .changeset/preserve-exec-thenable-methods.md
  examples/vite-sandbox/src/worker.js
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

remove changeset
  .changeset/extensions-out-of-src.md
Due: format, validate-changesets

update biome linter
  biome.json
  extensions/git/src/index.ts
Due: format

Move extensions into their own directory
  .agents/skills/extensions/SKILL.md
  .changeset/extensions-out-of-src.md
  extensions/git/src/index.ts
  extensions/git/src/manager.ts
  extensions/git/src/types.ts
  extensions/git/tests/git.test.ts
  extensions/interpreter/build.ts
  extensions/interpreter/src/index.ts
  extensions/interpreter/src/sidecar-api.ts
  extensions/interpreter/src/sidecar/executors/javascript/node_executor.ts
  extensions/interpreter/src/sidecar/executors/python/ipython_executor.py
  extensions/interpreter/src/sidecar/executors/shared/code-transformer.test.ts
  extensions/interpreter/src/sidecar/executors/shared/code-transformer.ts
  extensions/interpreter/src/sidecar/executors/shared/thenable.test.ts
  extensions/interpreter/src/sidecar/executors/shared/thenable.ts
  extensions/interpreter/src/sidecar/pool-concurrency.test.ts
  extensions/interpreter/src/sidecar/pool.ts
  extensions/interpreter/src/sidecar/server.ts
  extensions/interpreter/src/tgz-module.ts
  extensions/interpreter/src/types.ts
  extensions/interpreter/tests/interpreter.test.ts
  packages/sandbox/package.json
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/outbound/container-proxy.ts
  packages/sandbox/src/storage-mount/outbound/git-credential-proxy-handler.ts
  packages/sandbox/src/storage-mount/outbound/index.ts
  packages/sandbox/tsconfig.json
  packages/sandbox/tsconfig.sidecar.json
  packages/sandbox/tsdown.config.ts
  packages/sandbox/vitest.config.ts
Due: biome-fix, format, validate-changesets

Update OpenCode example to the lifecycle surface
  .changeset/opencode-lifecycle.md
  examples/opencode/src/index.ts
Due: biome-fix, format, validate-changesets

Add OpenCode lifecycle handle
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/tests/opencode/lifecycle.test.ts
Due: biome-fix, format

Add OpenCode client builder
  packages/sandbox/src/opencode/client.ts
  packages/sandbox/tests/opencode/client.test.ts
Due: biome-fix, format

Add curried OpenCode Worker proxy
  packages/sandbox/src/opencode/proxy.ts
  packages/sandbox/tests/opencode/proxy.test.ts
Due: biome-fix, format

Re-ensure OpenCode servers across container starts
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/src/opencode/sandbox.ts
  packages/sandbox/tests/opencode/registry.test.ts
Due: biome-fix, format

Migrate OpenCode e2e worker to the lifecycle handle
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Align bridge worker vitest-pool-workers version
  bridge/worker/package.json
  package-lock.json
Due: format

Test OpenCode persistence across DO eviction
  packages/sandbox/tests/opencode/eviction-fixture.ts
  packages/sandbox/tests/opencode/eviction-worker.ts
  packages/sandbox/tests/opencode/eviction.test.ts
  packages/sandbox/tests/wrangler.jsonc
  packages/sandbox/tsconfig.json
Due: biome-fix, format

Make OpenCode handle a SandboxExtension
  .changeset/opencode-lifecycle.md
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/client.ts
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/proxy.ts
  packages/sandbox/src/opencode/sandbox.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/client.test.ts
  packages/sandbox/tests/opencode/eviction-fixture.ts
  packages/sandbox/tests/opencode/eviction.test.ts
  packages/sandbox/tests/opencode/lifecycle.test.ts
  packages/sandbox/tests/opencode/persistence.test.ts
  packages/sandbox/tests/opencode/proxy.test.ts
  packages/sandbox/tests/opencode/registry.test.ts
  packages/sandbox/tests/opencode/server.test.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
Due: biome-fix, format, validate-changesets

Bump vitest-pool-workers for DO eviction helpers
  package-lock.json
  package.json
Due: format

Make OpenCode re-ensure best-effort on container start
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/tests/opencode/registry.test.ts
Due: biome-fix, format

Tidy OpenCode example handler
  examples/opencode/src/index.ts
Due: biome-fix, format

Update OpenCode example and e2e worker
  examples/opencode/src/index.ts
  packages/sandbox/tests/wrangler.jsonc
  tests/e2e/test-worker/index.ts
Due: biome-fix, format

Remove deprecated OpenCode free-function surface
  .changeset/opencode-lifecycle.md
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/server.test.ts
Due: biome-fix, format, validate-changesets

Preserve non-fetch handlers in OpenCode proxy wrapper
  packages/sandbox/src/opencode/proxy.ts
  packages/sandbox/tests/opencode/proxy.test.ts
Due: biome-fix, format

Fix OpenCode casing in client internals
  packages/sandbox/src/opencode/client.ts
Due: biome-fix, format

Track the OpenCode server by a named process
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/lifecycle.test.ts
  packages/sandbox/tests/opencode/persistence.test.ts
  packages/sandbox/tests/opencode/server.test.ts
Due: biome-fix, format

Persist OpenCode desired-state across DO eviction
  .changeset/opencode-lifecycle.md
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/tests/opencode/persistence.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Normalize killed process status in E2E worker
  tests/e2e/test-worker/index.ts
Due: format

Escape directory in OpenCode serve command
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/tests/opencode/eviction.test.ts
  packages/sandbox/tests/opencode/lifecycle.test.ts
  packages/sandbox/tests/opencode/persistence.test.ts
  packages/sandbox/tests/opencode/server.test.ts
Due: biome-fix, format

Stop persisting OpenCode secrets to durable storage
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/tests/opencode/persistence.test.ts
Due: biome-fix, format

Update package-lock.json
  package-lock.json
Due: format

Move OpenCode into extensions layout
  extensions/opencode/src/client.ts
  extensions/opencode/src/index.ts
  extensions/opencode/src/lifecycle.ts
  extensions/opencode/src/opencode.ts
  extensions/opencode/src/proxy.ts
  extensions/opencode/src/types.ts
  extensions/opencode/tests/client.test.ts
  extensions/opencode/tests/eviction-fixture.ts
  extensions/opencode/tests/eviction-worker.ts
  extensions/opencode/tests/eviction.test.ts
  extensions/opencode/tests/lifecycle.test.ts
  extensions/opencode/tests/persistence.test.ts
  extensions/opencode/tests/proxy.test.ts
  extensions/opencode/tests/server.test.ts
  packages/sandbox/tests/wrangler.jsonc
  packages/sandbox/tsdown.config.ts
Due: biome-fix, format

Improve scaling of bridge warm pool under load (#786)
  .changeset/bridge-custom-spans.md
  .changeset/warm-pool-batched-scale-up.md
  .changeset/warm-pool-eager-refill.md
  .changeset/warm-pool-max-instances.md
  bridge/worker/README.md
  bridge/worker/src/__tests__/tracing.test.ts
  bridge/worker/src/__tests__/warm-pool.test.ts
  bridge/worker/wrangler.jsonc
  packages/sandbox/src/bridge/AGENTS.md
  packages/sandbox/src/bridge/pool.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/tracing.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/bridge/warm-pool.ts
Due: biome-fix, format, validate-changesets

Migrate OpenCode to an extension (#788)
  .changeset/opencode-lifecycle.md
  bridge/worker/package.json
  examples/opencode/src/index.ts
  extensions/opencode/src/client.ts
  extensions/opencode/src/index.ts
  extensions/opencode/src/lifecycle.ts
  extensions/opencode/src/opencode.ts
  extensions/opencode/src/proxy.ts
  extensions/opencode/src/types.ts
  extensions/opencode/tests/client.test.ts
  extensions/opencode/tests/eviction-fixture.ts
  extensions/opencode/tests/eviction-worker.ts
  extensions/opencode/tests/eviction.test.ts
  extensions/opencode/tests/lifecycle.test.ts
  extensions/opencode/tests/persistence.test.ts
  extensions/opencode/tests/proxy.test.ts
  extensions/opencode/tests/server.test.ts
  package-lock.json
  package.json
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/tests/wrangler.jsonc
  packages/sandbox/tsconfig.json
  packages/sandbox/tsdown.config.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Port main updates to next
  .agents/skills/changesets/SKILL.md
  .changeset/bridge-custom-spans.md
  .changeset/clever-sandboxes-label.md
  .changeset/remove-default-session-option.md
  .changeset/warm-pool-batched-scale-up.md
  .changeset/warm-pool-eager-refill.md
  .changeset/warm-pool-max-instances.md
  .github/changeset-publish.ts
  .github/detect-stable-release-needed.sh
  .github/detect-stable-release-needed.test.sh
  .github/release-command-runner.ts
  .github/release-orchestrator.test.ts
  .github/release-orchestrator.ts
  .github/release-state.test.ts
  .github/release-state.ts
  .github/release-tooling.md
  .github/reusable-prerelease.test.sh
  .github/workflows/backfill-release-artifacts.yml
  .github/workflows/release.yml
  .github/workflows/reusable-prerelease.yml
  bridge/examples/workspace-chat/frontend/package-lock.json
  bridge/worker/README.md
  bridge/worker/src/__tests__/tracing.test.ts
  bridge/worker/src/__tests__/warm-pool.test.ts
  bridge/worker/wrangler.jsonc
  packages/sandbox/CHANGELOG.md
  packages/sandbox/README.md
  packages/sandbox/src/bridge/AGENTS.md
  packages/sandbox/src/bridge/pool.ts
  packages/sandbox/src/bridge/routes.ts
  packages/sandbox/src/bridge/tracing.ts
  packages/sandbox/src/bridge/types.ts
  packages/sandbox/src/bridge/warm-pool.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
  tests/perf/scenarios/backup-restore.test.ts
Due: biome-fix, format, validate-changesets

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
