Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Add container directory creation
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/mkdir.rs
  docs/sandbox.md
  examples/files/README.md
  examples/files/src/index.ts
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/file-command.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/read-directory.ts
  packages/sandbox/src/stat-file.ts
  packages/sandbox/tests/mkdir.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
Due: biome-fix, format

Add container path renaming
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/rename.rs
  crates/sandbox-tools/tests/shim.rs
  docs/sandbox.md
  examples/files/Dockerfile
  examples/files/README.md
  examples/files/src/index.ts
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/file-command.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/read-directory.ts
  packages/sandbox/src/read-file.ts
  packages/sandbox/src/stat-file.ts
  packages/sandbox/src/write-file.ts
  packages/sandbox/tests/errors.test.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/rename.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
Due: biome-fix, format

Add container path removal
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/mkdir.rs
  crates/sandbox-tools/src/remove.rs
  crates/sandbox-tools/src/rename.rs
  crates/sandbox-tools/src/test_support.rs
  crates/sandbox-tools/tests/shim.rs
  docs/sandbox.md
  examples/files/Dockerfile
  examples/files/README.md
  examples/files/src/index.ts
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/remove.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
Due: biome-fix, format

Minimize public error surface
  docs/sandbox.md
  packages/sandbox/src/errors.ts
  packages/sandbox/src/file-command.ts
  packages/sandbox/src/file-type.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/read-directory.ts
  packages/sandbox/src/read-file.ts
  packages/sandbox/src/shim.ts
  packages/sandbox/src/stat-file.ts
  packages/sandbox/src/write-file.ts
  packages/sandbox/tests/errors.test.ts
  packages/sandbox/tests/mkdir.test.ts
  packages/sandbox/tests/read-directory.test.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/remove.test.ts
  packages/sandbox/tests/rename.test.ts
  packages/sandbox/tests/stat-file.test.ts
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Minimize public filesystem surface
  docs/sandbox.md
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/read-file.ts
  packages/sandbox/src/write-file.ts
Due: biome-fix, format

Configure Knip checks
  knip.json
  package-lock.json
  package.json
  packages/sandbox/tests/helpers.ts
Due: biome-fix, format

Document container start and image reuse
  README.md
  docs/about-sandboxes.md
  docs/how-to-use-a-sandbox.md
  docs/sandbox.md
Due: format

Compose Files with native Containers
  .gitignore
  README.md
  docs/about-sandboxes.md
  docs/how-to-use-a-sandbox.md
  docs/sandbox.md
  examples/files/README.md
  examples/files/src/index.ts
  examples/files/wrangler.jsonc
  examples/instance-lifecycle/Dockerfile
  examples/instance-lifecycle/README.md
  examples/instance-lifecycle/src/index.ts
  examples/instance-lifecycle/wrangler.jsonc
  examples/snapshot-restore/README.md
  examples/snapshot-restore/src/index.ts
  examples/snapshot-restore/wrangler.jsonc
  knip.json
  package.json
  packages/sandbox/package.json
  packages/sandbox/src/file-command.ts
  packages/sandbox/src/files.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/read-directory.ts
  packages/sandbox/src/read-file.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/shim.ts
  packages/sandbox/src/stat-file.ts
  packages/sandbox/src/write-file.ts
  packages/sandbox/tests/helpers.ts
  packages/sandbox/tests/mkdir.test.ts
  packages/sandbox/tests/public-api.test.ts
  packages/sandbox/tests/read-directory.test.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/remove.test.ts
  packages/sandbox/tests/rename.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
  packages/sandbox/tests/stat-file.test.ts
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Document request-scoped command execution
  README.md
  docs/about-sandboxes.md
  docs/how-to-run-a-command.md
  docs/how-to-use-a-sandbox.md
  examples/command-exec/Dockerfile
  examples/command-exec/README.md
  examples/command-exec/src/index.ts
  examples/command-exec/wrangler.jsonc
  package.json
Due: biome-fix, format

Document native HTTP service forwarding
  README.md
  docs/about-sandboxes.md
  docs/how-to-forward-http.md
  docs/how-to-use-a-sandbox.md
  examples/service-forwarding/Dockerfile
  examples/service-forwarding/README.md
  examples/service-forwarding/server.mjs
  examples/service-forwarding/src/index.ts
  examples/service-forwarding/wrangler.jsonc
  knip.json
  package.json
Due: biome-fix, format

Document a one-client live terminal
  README.md
  docs/about-sandboxes.md
  docs/how-to-open-a-live-terminal.md
  docs/how-to-use-a-sandbox.md
  examples/live-terminal/Dockerfile
  examples/live-terminal/README.md
  examples/live-terminal/src/index.ts
  examples/live-terminal/wrangler.jsonc
  package.json
Due: biome-fix, format

Explain cancelled exec as unknown effect
  docs/about-sandboxes.md
  docs/how-to-run-a-command.md
Due: format

Explain native HTTP streaming and cookies
  docs/about-sandboxes.md
  docs/how-to-forward-http.md
  examples/service-forwarding/README.md
  examples/service-forwarding/server.mjs
Due: format

Explain live PTY pass-through and ownership
  docs/about-sandboxes.md
  docs/how-to-open-a-live-terminal.md
  examples/live-terminal/src/index.ts
Due: biome-fix, format

Add Agents API executor
  .github/path-filters.yml
  .github/workflows/openai-agents-api.yml
  .github/workflows/reusable-quality.yml
  biome.json
  openai/agents-api/.dev.vars.example
  openai/agents-api/.dockerignore
  openai/agents-api/.gitignore
  openai/agents-api/Dockerfile
  openai/agents-api/README.md
  openai/agents-api/bin/start-executor
  openai/agents-api/package.json
  openai/agents-api/src/executor-environment.ts
  openai/agents-api/src/index.ts
  openai/agents-api/src/openai-session.ts
  openai/agents-api/test/container-entrypoint.node.test.ts
  openai/agents-api/test/executor-environment.node.test.ts
  openai/agents-api/test/index.node.test.ts
  openai/agents-api/test/mocks/cloudflare-workers.ts
  openai/agents-api/test/openai-session.node.test.ts
  openai/agents-api/test/worker.workers.test.ts
  openai/agents-api/tsconfig.json
  openai/agents-api/tsconfig.test.json
  openai/agents-api/vitest.config.ts
  openai/agents-api/vitest.node.config.ts
  openai/agents-api/worker-configuration.d.ts
  openai/agents-api/wrangler.jsonc
  package-lock.json
  package.json
Due: format

Update README.md
  openai/agents-api/README.md
Due: format

Add Agents API executor (#906)
  .github/path-filters.yml
  .github/workflows/openai-agents-api.yml
  .github/workflows/reusable-quality.yml
  biome.json
  openai/agents-api/.dev.vars.example
  openai/agents-api/.dockerignore
  openai/agents-api/.gitignore
  openai/agents-api/Dockerfile
  openai/agents-api/README.md
  openai/agents-api/bin/start-executor
  openai/agents-api/package.json
  openai/agents-api/src/executor-environment.ts
  openai/agents-api/src/index.ts
  openai/agents-api/src/openai-session.ts
  openai/agents-api/test/container-entrypoint.node.test.ts
  openai/agents-api/test/executor-environment.node.test.ts
  openai/agents-api/test/index.node.test.ts
  openai/agents-api/test/mocks/cloudflare-workers.ts
  openai/agents-api/test/openai-session.node.test.ts
  openai/agents-api/test/worker.workers.test.ts
  openai/agents-api/tsconfig.json
  openai/agents-api/tsconfig.test.json
  openai/agents-api/vitest.config.ts
  openai/agents-api/vitest.node.config.ts
  openai/agents-api/worker-configuration.d.ts
  openai/agents-api/wrangler.jsonc
  package-lock.json
  package.json
Due: format

Add example to OpenAI Agents API reference worker
  openai/agents-api/.dockerignore
  openai/agents-api/basic/.dev.vars.example
  openai/agents-api/basic/.gitignore
  openai/agents-api/basic/README.md
  openai/agents-api/basic/package.json
  openai/agents-api/basic/src/agent-task.ts
  openai/agents-api/basic/src/index.ts
  openai/agents-api/basic/src/session-manager.ts
  openai/agents-api/basic/src/types.ts
  openai/agents-api/basic/test/agent-task.workers.test.ts
  openai/agents-api/basic/test/app.workers.test.ts
  openai/agents-api/basic/test/worker.workers.test.ts
  openai/agents-api/basic/tsconfig.json
  openai/agents-api/basic/vitest.config.ts
  openai/agents-api/basic/wrangler.jsonc
  openai/agents-api/src/executor-environment.ts
  openai/agents-api/test/executor-environment.node.test.ts
Due: format

Add example to OpenAI Agents API reference worker (#909)
  openai/agents-api/.dockerignore
  openai/agents-api/basic/.dev.vars.example
  openai/agents-api/basic/.gitignore
  openai/agents-api/basic/README.md
  openai/agents-api/basic/package.json
  openai/agents-api/basic/src/agent-task.ts
  openai/agents-api/basic/src/index.ts
  openai/agents-api/basic/src/session-manager.ts
  openai/agents-api/basic/src/types.ts
  openai/agents-api/basic/test/agent-task.workers.test.ts
  openai/agents-api/basic/test/app.workers.test.ts
  openai/agents-api/basic/test/worker.workers.test.ts
  openai/agents-api/basic/tsconfig.json
  openai/agents-api/basic/vitest.config.ts
  openai/agents-api/basic/wrangler.jsonc
  openai/agents-api/src/executor-environment.ts
  openai/agents-api/test/executor-environment.node.test.ts
Due: format

Add diagram to OpenAI Agents API
  openai/agents-api/README.md
Due: format

Add diagram to OpenAI Agents API (#910)
  openai/agents-api/README.md
Due: format

Organize source files by capability
  crates/sandbox-tools/src/files/file_type.rs
  crates/sandbox-tools/src/files/mkdir.rs
  crates/sandbox-tools/src/files/mod.rs
  crates/sandbox-tools/src/files/read_directory.rs
  crates/sandbox-tools/src/files/read_file.rs
  crates/sandbox-tools/src/files/remove.rs
  crates/sandbox-tools/src/files/rename.rs
  crates/sandbox-tools/src/files/stat_file.rs
  crates/sandbox-tools/src/files/write_file.rs
  crates/sandbox-tools/src/main.rs
  packages/sandbox/src/files/command.ts
  packages/sandbox/src/files/content.ts
  packages/sandbox/src/files/file-type.ts
  packages/sandbox/src/files/files.ts
  packages/sandbox/src/files/read-directory.ts
  packages/sandbox/src/files/read-file.ts
  packages/sandbox/src/files/stat-file.ts
  packages/sandbox/src/files/write-file.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/shared/errors.ts
  packages/sandbox/src/shared/node-os.d.ts
  packages/sandbox/src/shared/shim.ts
  packages/sandbox/tests/errors.test.ts
  packages/sandbox/tests/mkdir.test.ts
  packages/sandbox/tests/read-directory.test.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/remove.test.ts
  packages/sandbox/tests/rename.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
  packages/sandbox/tests/stat-file.test.ts
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Fix unsafe backup excludes
  .changeset/fix-backup-nested-excludes.md
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/backup.ts
  packages/shared/src/types.ts
  packages/shared/tests/backup.test.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Trust runtime CA for backup uploads
  .changeset/fix-intercepted-multipart-backups.md
  packages/sandbox-container/src/cert.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/cert.test.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format, validate-changesets

Fix local bucket watches outside workspace
  .changeset/fix-local-data-mount-watch.md
  .github/workflows/reusable-quality.yml
  packages/sandbox-container/src/config.ts
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
  packages/sandbox-container/tests/routes/setup.test.ts
  packages/sandbox-container/tests/services/watch-service.integration.test.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/src/watch-capability.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/watch-client.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/internal.ts
Due: biome-fix, format, validate-changesets

Fix local bucket mount synchronization
  .changeset/fix-local-mount-large-transfers.md
  packages/sandbox-container/src/services/files/write-operations.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/local-mount-transfer.ts
  packages/sandbox/src/storage-mount/operations/local-sync-mount.ts
  packages/sandbox/src/storage-mount/service.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/storage-mount-lifecycle-cleanup.test.ts
  packages/shared/src/atomic-write-path.ts
  packages/shared/src/index.ts
  packages/shared/tests/atomic-write-path.test.ts
Due: biome-fix, format, validate-changesets

Preserve backup sessions on download failure
  .changeset/preserve-backup-restore-session.md
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Clarify S3 lifecycle semantics
  crates/sandbox-tools/src/s3_mount/gateway_probe.rs
  crates/sandbox-tools/src/s3_mount/mod.rs
  crates/sandbox-tools/tests/shim.rs
  docs/s3-mounts.md
  packages/sandbox/src/s3-mounts/s3-mounts.ts
  packages/sandbox/tests/s3-gateway.test.ts
  packages/sandbox/tests/s3-mounts.integration.test.ts
  packages/sandbox/tests/s3-mounts.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
Due: biome-fix, format

Expose ports in local Container images
  docs/get-started.md
  docs/s3-mounts.md
  examples/checkpoint-workspace/Dockerfile
  examples/workspace/Dockerfile
  packages/sandbox/tests/fixtures/s3-lifecycle/Dockerfile
Due: format

Prevent local file stream deadlocks
  packages/sandbox/src/files/read-file.ts
  packages/sandbox/tests/read-file.test.ts
Due: biome-fix, format

Add native local S3 smoke test
  knip.json
  package.json
  packages/sandbox/tests/fixtures/s3-lifecycle/Dockerfile
  packages/sandbox/tests/fixtures/s3-native-local/worker-configuration.d.ts
  packages/sandbox/tests/fixtures/s3-native-local/worker.ts
  packages/sandbox/tests/fixtures/s3-native-local/wrangler.jsonc
  packages/sandbox/tests/s3-native-local.integration.test.ts
Due: biome-fix, format

Add S3 artifact workspace example
  README.md
  docs/s3-mounts.md
  examples/artifact-workspace/Dockerfile
  examples/artifact-workspace/README.md
  examples/artifact-workspace/src/index.ts
  examples/artifact-workspace/worker-configuration.d.ts
  examples/artifact-workspace/wrangler.jsonc
  package.json
Due: biome-fix, format

Clarify S3 mount intended use
  docs/about-sandboxes.md
  docs/s3-mounts.md
  examples/artifact-workspace/README.md
  packages/sandbox/src/s3-mounts/s3-mounts.ts
Due: biome-fix, format

Rewrite sandbox docs for readers
  README.md
  docs/about-sandboxes.md
  docs/get-started.md
  docs/s3-mounts-api.md
  docs/s3-mounts.md
  examples/artifact-workspace/README.md
  examples/checkpoint-workspace/README.md
  examples/workspace/README.md
  packages/sandbox/README.md
  packages/sandbox/src/s3-mounts/contracts.ts
  packages/sandbox/src/s3-mounts/s3-mounts.ts
Due: biome-fix, format

Fix local mount synchronization
  .changeset/local-mount-large-files.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/handlers/file-handler.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/file-stream.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/file-client.test.ts
  packages/sandbox/tests/file-stream.test.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/local-mount.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Return 404 for missing streamed files
  bridge/worker/src/__tests__/helpers.ts
  bridge/worker/src/__tests__/read.test.ts
  packages/sandbox/src/bridge/helpers.ts
  packages/sandbox/src/bridge/routes.ts
Due: biome-fix, format

Trust runtime CA for backup uploads (#896)
  .changeset/fix-intercepted-multipart-backups.md
  packages/sandbox-container/src/cert.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/backup/transfer-operations.ts
  packages/sandbox-container/tests/cert.test.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format, validate-changesets

Trust runtime CA for backup uploads (#895)
  .changeset/fix-intercepted-multipart-backups.md
  packages/sandbox-container/src/cert.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/cert.test.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format, validate-changesets
