Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Fix R2 copy source prefix scoping
  .changeset/secure-r2-copy-source-prefix.md
  packages/sandbox/src/storage-mount/outbound/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix R2 copy source prefix scoping (#879)
  .changeset/secure-r2-copy-source-prefix.md
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix R2 copy source prefix scoping (#880)
  .changeset/secure-r2-copy-source-prefix.md
  packages/sandbox/src/storage-mount/outbound/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix R2 mount object key decoding (#878)
  .changeset/decode-mounted-r2-object-keys.md
  packages/sandbox/src/storage-mount/outbound/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
Due: biome-fix, format, validate-changesets

Fix R2 mount object key decoding (#877)
  .changeset/decode-mounted-r2-object-keys.md
  packages/sandbox/src/storage-mount/r2-egress-handler.ts
  packages/sandbox/tests/r2-egress-handler.test.ts
Due: biome-fix, format, validate-changesets

Establish Sandbox SDK foundation
  .gitignore
  Cargo.lock
  Cargo.toml
  LICENSE
  crates/sandbox-tools/Cargo.toml
  crates/sandbox-tools/src/main.rs
  images/sandbox-tools/Dockerfile
  package-lock.json
  package.json
  packages/sandbox/package.json
  packages/sandbox/src/index.ts
  tsconfig.json
  vite.config.ts
Due: biome-fix, format

Add streaming file reads
  crates/sandbox-tools/src/main.rs
  package-lock.json
  package.json
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-files.test.ts
  tsconfig.json
  vite.config.ts
Due: biome-fix, format

Add deployed read file example
  Dockerfile.e2e
  examples/read-file/src/index.ts
  examples/read-file/wrangler.jsonc
  package.json
  tsconfig.json
Due: biome-fix, format

Enforce anti-slop lint rules
  packages/sandbox/src/container-files.ts
  tools/oxlint/anti-slop/index.ts
  tools/oxlint/anti-slop/rules/no-chained-type-assertions.ts
  tools/oxlint/anti-slop/rules/no-conditional-empty-object-spread.ts
  tools/oxlint/anti-slop/rules/no-known-value-widening.ts
  tools/oxlint/anti-slop/rules/no-module-mocking.ts
  tools/oxlint/anti-slop/rules/no-object-parameters.ts
  tools/oxlint/anti-slop/rules/no-reflect-apply.ts
  tools/oxlint/anti-slop/rules/no-reflect-get.ts
  tools/oxlint/anti-slop/rules/no-runtime-typeof.ts
  tools/oxlint/anti-slop/rules/no-shape-in-symbol-names.ts
  tools/oxlint/anti-slop/rules/no-unknown-parameters.ts
  tools/oxlint/anti-slop/rules/no-unknown-returns.ts
  tools/oxlint/anti-slop/rules/no-unknown-type-aliases.ts
  tools/oxlint/anti-slop/rules/no-unsafe-dictionary-type.ts
  tools/oxlint/anti-slop/rules/no-widen-then-assert.ts
  tools/oxlint/anti-slop/rules/require-safety-comment-for-type-assertion.ts
  tools/oxlint/anti-slop/shared/dictionary-types.ts
  tools/oxlint/anti-slop/shared/lexical-type-parameters.ts
  tools/oxlint/anti-slop/shared/reflect-method.ts
  vite.config.ts
Due: biome-fix, format

Decompose streaming file reads
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/read_file.rs
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/framed-read.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/container-files.test.ts
Due: biome-fix, format

Define structured Sandbox errors
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/framed-read.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/container-files.test.ts
Due: biome-fix, format

Trust runtime CA for backup uploads
  .changeset/fix-intercepted-multipart-backups.md
  packages/sandbox-container/src/cert.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/cert.test.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format, validate-changesets

Trust runtime CA for backup uploads
  .changeset/fix-intercepted-multipart-backups.md
  packages/sandbox-container/src/cert.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/backup/transfer-operations.ts
  packages/sandbox-container/tests/cert.test.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format, validate-changesets

Fix local bucket watches outside workspace
  .changeset/fix-local-data-mount-watch.md
  .github/workflows/reusable-quality.yml
  packages/sandbox-container/src/config.ts
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox-container/tests/routes/setup.test.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox-container/tests/services/watch-service.integration.test.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/src/watch-capability.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/watch-client.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/internal.ts
Due: biome-fix, format, validate-changesets

Preserve backup sessions on download failure
  .changeset/preserve-backup-restore-session.md
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Harden streaming file reads
  crates/sandbox-tools/src/read_file.rs
  examples/read-file/src/index.ts
  package.json
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/framed-read.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-files.test.ts
  packages/sandbox/tests/errors.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
  tsconfig.json
Due: biome-fix, format

Fix local mount synchronization
  .changeset/local-mount-large-files.md
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/local-mount.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Prevent backup exclude overmatching
  .changeset/fix-nested-backup-excludes.md
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/backup/archive-operations.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/backup/create.ts
  packages/sandbox/src/backup/validation.ts
  packages/sandbox/tests/backup-validation.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/backup.ts
  packages/shared/src/types/backup-mounts.ts
  packages/shared/tests/backup.test.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Fix unsafe backup excludes
  .changeset/fix-backup-nested-excludes.md
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/backup.ts
  packages/shared/src/types.ts
  packages/shared/tests/backup.test.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Fix local bucket mount synchronization
  .changeset/fix-local-mount-large-transfers.md
  packages/sandbox-container/src/services/files/write-operations.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/local-mount-transfer.ts
  packages/sandbox/src/storage-mount/operations/local-sync-mount.ts
  packages/sandbox/src/storage-mount/service.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/r2-egress-mount.test.ts
  packages/sandbox/tests/storage-mount-lifecycle-cleanup.test.ts
  packages/shared/src/atomic-write-path.ts
  packages/shared/src/index.ts
  packages/shared/tests/atomic-write-path.test.ts
Due: biome-fix, format, validate-changesets

Add named sandbox cleanup
  examples/read-file/src/index.ts
Due: biome-fix, format

Test shim on Linux AMD64
  crates/sandbox-tools/src/read_file.rs
  images/sandbox-tools/Dockerfile
  package.json
Due: format

Generalize Sandbox file errors
  examples/read-file/src/index.ts
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/framed-read.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/container-files.test.ts
  packages/sandbox/tests/errors.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
Due: biome-fix, format

Align file reads with Linux semantics
  crates/sandbox-tools/src/read_file.rs
  packages/sandbox/src/container-files.ts
  packages/sandbox/tests/container-files.test.ts
Due: biome-fix, format

Add streaming file writes
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/write_file.rs
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/framed-read.ts
  packages/sandbox/src/framed-write.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/shim-contract.test.mjs
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Demonstrate streaming file writes
  examples/read-file/src/index.ts
Due: biome-fix, format

Consolidate sandbox shim protocol
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/protocol.rs
  crates/sandbox-tools/src/read_file.rs
  crates/sandbox-tools/src/test_support.rs
  crates/sandbox-tools/src/write_file.rs
  crates/sandbox-tools/tests/shim.rs
Due: none

Unify sandbox shim builds
  .gitignore
  Dockerfile
  Dockerfile.e2e
  examples/read-file/wrangler.jsonc
  package.json
Due: format

Consolidate file transport
  examples/read-file/src/index.ts
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/file-content.ts
  packages/sandbox/src/framed-read.ts
  packages/sandbox/src/framed-write.ts
  packages/sandbox/src/read-file.ts
  packages/sandbox/src/shim.ts
  packages/sandbox/src/write-file.ts
  packages/sandbox/tests/helpers.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Frame streamed file reads
  Dockerfile
  crates/sandbox-tools/src/protocol.rs
  crates/sandbox-tools/src/read_file.rs
  crates/sandbox-tools/src/write_file.rs
  crates/sandbox-tools/tests/shim.rs
  packages/sandbox/src/errors.ts
  packages/sandbox/src/read-file.ts
  packages/sandbox/src/shim.ts
  packages/sandbox/src/write-file.ts
  packages/sandbox/tests/helpers.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Use native streams for file transport
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/protocol.rs
  crates/sandbox-tools/src/read_file.rs
  crates/sandbox-tools/src/write_file.rs
  crates/sandbox-tools/tests/shim.rs
  examples/read-file/wrangler.jsonc
  packages/sandbox/src/errors.ts
  packages/sandbox/src/node-os.d.ts
  packages/sandbox/src/read-file.ts
  packages/sandbox/src/shim.ts
  packages/sandbox/src/write-file.ts
  packages/sandbox/tests/errors.test.ts
  packages/sandbox/tests/helpers.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Log file example failures
  examples/read-file/src/index.ts
Due: biome-fix, format

Simplify filesystem transport
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/protocol.rs
  crates/sandbox-tools/src/read_file.rs
  crates/sandbox-tools/src/write_file.rs
  crates/sandbox-tools/tests/shim.rs
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/read-file.ts
  packages/sandbox/src/shim.ts
  packages/sandbox/src/write-file.ts
  packages/sandbox/tests/errors.test.ts
  packages/sandbox/tests/helpers.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Add runtime interoperability examples
  examples/instance-lifecycle/Dockerfile
  examples/instance-lifecycle/README.md
  examples/instance-lifecycle/src/index.ts
  examples/instance-lifecycle/wrangler.jsonc
  examples/read-write-files/Dockerfile
  examples/read-write-files/README.md
  examples/read-write-files/src/index.ts
  examples/read-write-files/wrangler.jsonc
  examples/snapshot-restore/Dockerfile
  examples/snapshot-restore/README.md
  examples/snapshot-restore/src/index.ts
  examples/snapshot-restore/wrangler.jsonc
  images/sandbox-tools/Dockerfile
  images/sandbox-tools/README.md
  package.json
Due: biome-fix, format

Add repository README
  README.md
Due: format

Move SDK usage into product docs
  README.md
  docs/about-sandboxes.md
  docs/how-to-use-a-sandbox.md
  docs/sandbox.md
Due: format

Remove example debug logging
  examples/read-write-files/src/index.ts
  examples/snapshot-restore/src/index.ts
Due: biome-fix, format

Add container file metadata
  crates/sandbox-tools/src/file_type.rs
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/protocol.rs
  crates/sandbox-tools/src/stat_file.rs
  crates/sandbox-tools/tests/shim.rs
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/file-query.ts
  packages/sandbox/src/file-type.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/read-file.ts
  packages/sandbox/src/shim.ts
  packages/sandbox/src/stat-file.ts
  packages/sandbox/src/write-file.ts
  packages/sandbox/tests/helpers.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/stat-file.test.ts
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Add container directory listing
  README.md
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/read_directory.rs
  crates/sandbox-tools/tests/shim.rs
  docs/about-sandboxes.md
  docs/how-to-use-a-sandbox.md
  docs/sandbox.md
  examples/files/Dockerfile
  examples/files/README.md
  examples/files/src/index.ts
  examples/files/wrangler.jsonc
  examples/read-write-files/README.md
  examples/read-write-files/src/index.ts
  package.json
  packages/sandbox/src/container-files.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/read-directory.ts
  packages/sandbox/tests/read-directory.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
Due: biome-fix, format
