Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Refactor to single-layer executor locking
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/services/interpreter-service.ts
Due: biome-fix, format

Add test for concurrent context execution isolation
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

close stream before releasing lock
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/file-stream.ts
  packages/sandbox/src/sse-parser.ts
Due: biome-fix, format

Fix concurrent context test by creating contexts sequentially
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Remove output size limit for command execution (#256)
  .changeset/remove-output-size-limit.md
  docs/SESSION_EXECUTION.md
  package-lock.json
  packages/sandbox-container/src/config.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/session.test.ts
Due: biome-fix, format, validate-changesets

Fix code context state isolation (#249)
  .changeset/fix-code-context-isolation.md
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/handlers/interpreter-handler.ts
  packages/sandbox-container/src/interpreter-service.ts
  packages/sandbox-container/src/mime-processor.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/services/interpreter-service.ts
  packages/sandbox-container/tests/handlers/interpreter-handler.test.ts
  packages/sandbox/Dockerfile
  tests/e2e/code-interpreter-workflow.test.ts
Due: biome-fix, format, validate-changesets

Close stream before releasing lock
  .changeset/twenty-doors-learn.md
Due: format, validate-changesets

close stream before releasing lock (#254)
  .changeset/twenty-doors-learn.md
  packages/sandbox/src/clients/interpreter-client.ts
  packages/sandbox/src/file-stream.ts
  packages/sandbox/src/sse-parser.ts
Due: biome-fix, format, validate-changesets

Fix executor mutex race condition and memory leak
  packages/sandbox-container/src/runtime/process-pool.ts
  tests/e2e/code-interpreter-workflow.test.ts
Due: biome-fix, format

Add changeset
  .changeset/fix-executor-mutex.md
Due: format, validate-changesets

Fix executor mutex race condition and memory leak (#258)
  .changeset/fix-executor-mutex.md
  packages/sandbox-container/src/runtime/process-pool.ts
  tests/e2e/code-interpreter-workflow.test.ts
Due: biome-fix, format, validate-changesets

fix: exclude src and tsconfig from npm package
  packages/sandbox/package.json
Due: format

build: bundle sandbox-container with Bun
  packages/sandbox-container/build.ts
  packages/sandbox-container/package.json
Due: biome-fix, format

feat: transpile TypeScript in process-pool using Bun.Transpiler
  packages/sandbox-container/src/runtime/process-pool.ts
Due: biome-fix, format

refactor: consolidate JS and TS to single executor
  packages/sandbox-container/src/runtime/executors/typescript/ts_executor.ts
  packages/sandbox-container/src/runtime/process-pool.ts
Due: biome-fix, format

chore: remove esbuild dependency
  package-lock.json
  packages/sandbox-container/package.json
Due: format

build: remove node_modules from Docker image
  packages/sandbox/Dockerfile
Due: none

feat: add Python-not-available error for lean image
  packages/sandbox-container/src/runtime/process-pool.ts
Due: biome-fix, format

feat: add multi-target Dockerfile for image variants
  packages/sandbox/Dockerfile
Due: none

build: update docker scripts to build both variants
  packages/sandbox/package.json
Due: format

fix: proper Python detection and CI updates for image variants
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox/package.json
  tests/e2e/test-worker/Dockerfile
  tests/integration/Dockerfile
Due: biome-fix, format

chore: add changeset for image optimization
  .changeset/image-optimization.md
  turbo.json
Due: format, validate-changesets

build: update pkg-pr-new workflow for image variants
  .github/workflows/pkg-pr-new.yml
Due: format

fix: check Python availability before reserving executor
  packages/sandbox-container/src/runtime/process-pool.ts
Due: biome-fix, format

test: add E2E test for base image Python error
  .github/workflows/pullrequest.yml
  packages/sandbox/package.json
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/helpers/wrangler-runner.ts
  tests/e2e/test-worker/Dockerfile.base
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

chore: simplify changeset description
  .changeset/image-optimization.md
Due: format, validate-changesets

Add PYTHON_NOT_AVAILABLE error code with proper HTTP 501 status
  .changeset/image-optimization.md
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/services/interpreter-service.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  tests/e2e/code-interpreter-workflow.test.ts
Due: biome-fix, format, validate-changesets

Run JS tests on base image and use dynamic version in error message
  packages/sandbox-container/src/runtime/process-pool.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/helpers/test-fixtures.ts
Due: biome-fix, format

Refactor container naming: base image default, Python explicit
  .github/workflows/pullrequest.yml
  scripts/cleanup-test-deployment.sh
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.base
  tests/e2e/test-worker/Dockerfile.python
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Fix Docker comment update to match plural 'Images'
  .github/workflows/pkg-pr-new.yml
Due: format

Fix Python unavailable test to expect 500 status
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Optimize Docker image size with lean and Python variants (#259)
  .changeset/image-optimization.md
  .github/workflows/pkg-pr-new.yml
  .github/workflows/pullrequest.yml
  .github/workflows/release.yml
  package-lock.json
  packages/sandbox-container/build.ts
  packages/sandbox-container/package.json
  packages/sandbox-container/src/runtime/executors/typescript/ts_executor.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/services/interpreter-service.ts
  packages/sandbox/Dockerfile
  packages/sandbox/package.json
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  scripts/cleanup-test-deployment.sh
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/helpers/wrangler-runner.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.python
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
  tests/integration/Dockerfile
  turbo.json
Due: biome-fix, format, validate-changesets

top level await
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/runtime/executors/javascript/node_executor.ts
  packages/sandbox-container/src/runtime/executors/shared/code-transformer.ts
  packages/sandbox-container/src/runtime/executors/shared/thenable.ts
  packages/sandbox-container/src/runtime/executors/typescript/ts_executor.ts
  packages/sandbox-container/tests/runtime/code-transformer.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
Due: biome-fix, format

Build both base and python images in release E2E tests
  .github/workflows/release.yml
Due: format

Update lockfile
  package-lock.json
Due: format

update based on the changes in the main (minus ts executor)
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/runtime/executors/javascript/node_executor.ts
  packages/sandbox-container/src/runtime/executors/shared/code-transformer.ts
  packages/sandbox-container/src/runtime/executors/shared/thenable.ts
  packages/sandbox-container/tests/runtime/code-transformer.test.ts
  packages/sandbox-container/tests/runtime/thenable.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
Due: biome-fix, format

small type fix
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox-container/src/runtime/executors/shared/code-transformer.ts
Due: biome-fix, format

fix some integration tests
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Fix /api/ping endpoint to return health status
  packages/sandbox-container/src/handlers/misc-handler.ts
Due: biome-fix, format

chore: Add changeset for ping endpoint fix
  .changeset/honest-facts-think.md
Due: format, validate-changesets
