Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

ci: forward NODE_VERSION through docker-bake.hcl + add changeset
  .changeset/node-version-build-arg.md
  docker-bake.hcl
Due: format, validate-changesets

feat: improve 5 lowest-scoring skill definitions
  .agents/skills/architecture/SKILL.md
  .agents/skills/coding-standards/SKILL.md
  .agents/skills/examples/SKILL.md
  .agents/skills/sandbox-bridge/SKILL.md
  .agents/skills/testing/SKILL.md
Due: format

Update .agents/skills/examples/SKILL.md
  .agents/skills/examples/SKILL.md
Due: format

Retry 503 upgrades on the RPC control connection
  .changeset/retry-rpc-503-upgrade.md
  docs/ERROR_HANDLING.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
Due: biome-fix, format, validate-changesets

Retry 503 upgrades on the RPC control connection (#669)
  .changeset/retry-rpc-503-upgrade.md
  docs/ERROR_HANDLING.md
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/container-connection.test.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
Due: biome-fix, format, validate-changesets

Add bridge test suite to CI (#652)
  .github/workflows/bridge.yml
  .github/workflows/pr-privileged.yml
  .github/workflows/reusable-bridge-e2e.yml
  bridge/worker/src/__tests__/middleware.test.ts
Due: format

Bump max e2e instances up to 50
  tests/e2e/test-worker/wrangler.template.jsonc
Due: none

Isolate Python-unavailable test on base-image sandbox
  tests/e2e/code-interpreter-workflow.test.ts
Due: format

Refactor e2e code intepreter tests (#672)
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Update Claude Code example to use token injection
  examples/claude-code/.dev.vars.example
  examples/claude-code/README.md
  examples/claude-code/src/index.ts
  examples/claude-code/worker-configuration.d.ts
Due: biome-fix, format

Escape arguments passed to exec in Claude Code example
  examples/claude-code/src/index.ts
Due: biome-fix, format

Add new tunnels API for sandboxes
  packages/sandbox/src/tunnels/cloudflare-api-client.ts
  packages/sandbox/src/tunnels/tunnels-handler.ts
  packages/sandbox/tests/tunnels-cloudflare-api-client.test.ts
Due: biome-fix, format

Add shared types for the new tunnel API
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Integrate the new `tunnels` api in the Sandbox interface
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Install `cloudflared` in the docker images
  packages/sandbox/Dockerfile
Due: none

Document cloudflared limitations behind WARP
  DOCKER_README.md
Due: format

Add e2e tests for the tunnel APIs
  tests/e2e/test-worker/index.ts
  tests/e2e/tunnel-named-workflow.test.ts
  tests/e2e/tunnel-quick-workflow.test.ts
Due: format

Add new `tunnel` service to container RPC interface
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/managers/tunnel-manager.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/tunnel-service.ts
  packages/sandbox-container/tests/services/tunnel-service.test.ts
Due: biome-fix, format

Inject auth credentials in OpenCode example
  examples/opencode/README.md
  examples/opencode/src/index.ts
  examples/opencode/wrangler.jsonc
Due: biome-fix, format

Use named Node Docker stage
  packages/sandbox/Dockerfile
Due: none

Use Node 22 in sandbox images
  .changeset/default-node-22.md
  AGENTS.md
  DOCKER_README.md
  docker-bake.hcl
  docs/STANDALONE_BINARY.md
  examples/collaborative-terminal/README.md
  packages/sandbox/Dockerfile
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/test-worker/Dockerfile.standalone
Due: format, validate-changesets

Use Node 24 as default runtime
  .changeset/default-node-22.md
  .changeset/default-node-24.md
  DOCKER_README.md
  docs/STANDALONE_BINARY.md
  packages/sandbox/Dockerfile
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/test-worker/Dockerfile.standalone
Due: format, validate-changesets

Inject auth credentials in OpenCode example (#675)
  examples/opencode/README.md
  examples/opencode/src/index.ts
  examples/opencode/wrangler.jsonc
Due: biome-fix, format

feat: add NODE_VERSION build arg to sandbox Dockerfile (#610) (#659)
  .agents/skills/sandbox-bridge/SKILL.md
  .changeset/default-node-24.md
  .changeset/node-version-build-arg.md
  DOCKER_README.md
  docker-bake.hcl
  docs/STANDALONE_BINARY.md
  examples/collaborative-terminal/README.md
  packages/sandbox/Dockerfile
  tests/e2e/standalone-binary-workflow.test.ts
  tests/e2e/test-worker/Dockerfile.standalone
Due: format, validate-changesets

Isolate claude-code example from network
  examples/claude-code/README.md
  examples/claude-code/src/index.ts
  examples/claude-code/wrangler.jsonc
Due: biome-fix, format

Inject credentials into HTTP requests in Claude Code example (#673)
  examples/claude-code/.dev.vars.example
  examples/claude-code/README.md
  examples/claude-code/src/index.ts
  examples/claude-code/worker-configuration.d.ts
  examples/claude-code/wrangler.jsonc
Due: biome-fix, format

Fix local backup/restore when using RPC transport
  .changeset/fix-local-backup-rpc-streaming.md
  packages/sandbox/src/sandbox.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Remove unused import in claude-code example
  examples/claude-code/src/index.ts
Due: biome-fix, format

Skip large backup test on websocket transport
  tests/e2e/backup-workflow.test.ts
Due: format

pass perf worker URL to CI
  .github/workflows/performance.yml
  tests/e2e/helpers/wrangler-runner.ts
  tests/perf/global-setup.ts
  turbo.json
Due: format

Add default-session-free exec mode
  .changeset/reset-shell-session.md
  docs/SESSION_EXECUTION.md
  docs/SESSION_EXECUTION_DEEP_DIVE.md
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Remove preserve shell state option
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add warn against mounting at /workspace
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Add readFile({ encoding: 'none' }) and move writeFileStream to client.files
  .changeset/readfile-none-encoding.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/file-client.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Add readFile({ encoding: 'none' }) and move writeFileStream to client.files (#683)
  .changeset/readfile-none-encoding.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox/src/clients/file-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/file-client.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Add enableDefaultSession flag for isolated/session executions
  .changeset/isolated-implicit-sessions.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/request-types.ts
  packages/shared/src/rpc-types.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Install `cloudflared` in container images
  DOCKER_README.md
  packages/sandbox/Dockerfile
Due: format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
