Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Remove process kill signal arguments
  .changeset/remove-default-session-option.md
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/opencode/opencode.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format, validate-changesets

Move process read sessions into options
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/get-sandbox.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Move backup session IDs into options
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/tests/rpc/sandbox-api-backup.test.ts
  packages/sandbox/tests/local-backup.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Refresh collaborative terminal IDs
  examples/collaborative-terminal/README.md
  examples/collaborative-terminal/app/components/Terminal.client.tsx
  examples/collaborative-terminal/app/routes/room.tsx
  examples/collaborative-terminal/app/types.ts
  examples/collaborative-terminal/workers/room.ts
  examples/collaborative-terminal/workers/types/protocol.ts
Due: biome-fix, format

Fix terminal CI setup
  .github/workflows/bridge.yml
  package-lock.json
  packages/sandbox/package.json
Due: format

Simplify explicit session routing
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format

Sync sandbox tar stream lockfile
  package-lock.json
Due: format

Reconcile terminal runtime stack
  packages/sandbox/src/backup/backup-service.ts
  packages/sandbox/src/backup/create.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Use new dedicated CI/CD workers.dev domain
  .github/workflows/performance.yml
  .github/workflows/pr-privileged.yml
  .github/workflows/release.yml
  .github/workflows/reusable-bridge-e2e.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-prerelease.yml
Due: format

Use new dedicated Cloudflare account for CI/CD
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/e2e/test-worker/wrangler.template.jsonc
Due: none

Update outdated docker actions
  .github/workflows/performance.yml
  .github/workflows/reusable-build.yml
Due: format

Configure dedicated Cloudflare account for CI/CD
  .github/workflows/performance.yml
  .github/workflows/pr-privileged.yml
  .github/workflows/release.yml
  .github/workflows/reusable-bridge-e2e.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-prerelease.yml
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/e2e/test-worker/wrangler.template.jsonc
Due: format

Harden terminal lifecycle handling
  packages/sandbox-container/src/pty.ts
  packages/sandbox-container/src/services/terminal-manager.ts
  packages/sandbox-container/tests/services/terminal-manager.test.ts
Due: biome-fix, format

Reconcile backup restore retries
  packages/sandbox/src/backup/restore-lifecycle.ts
  packages/sandbox/src/backup/restore-operation-store.ts
  packages/sandbox/tests/backup-restore-lifecycle.test.ts
  packages/sandbox/tests/restore-operation-store.test.ts
Due: biome-fix, format

Document session execution migration
  .changeset/remove-default-session-option.md
  docs/SESSION_EXECUTION.md
  packages/sandbox/src/bridge/openapi.ts
Due: biome-fix, format, validate-changesets

Add sandbox runtime protocol handshake
  .changeset/container-version-mismatch-error.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/errors.ts
  packages/sandbox/src/container-control/rpc-domain.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/version-skew.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format, validate-changesets

Expose runtime domain on container control client
  packages/sandbox/src/container-control/client.ts
Due: biome-fix, format

Revert sandbox runtime protocol handshake
  .changeset/container-version-mismatch-error.md
  packages/sandbox-container/src/control-plane/api.ts
  packages/sandbox-container/tests/rpc/sandbox-api-utils.test.ts
  packages/sandbox/src/container-control/client.ts
  packages/sandbox/src/container-control/errors.ts
  packages/sandbox/src/container-control/rpc-domain.ts
  packages/sandbox/src/errors/adapter.ts
  packages/sandbox/src/errors/classes.ts
  packages/sandbox/src/errors/index.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tests/rpc-client-retry.test.ts
  packages/sandbox/tests/rpc-sandbox-client.test.ts
  packages/sandbox/tests/version-skew.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/contexts.ts
  packages/shared/src/errors/index.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/errors/suggestions.ts
  packages/shared/src/index.ts
  packages/shared/src/rpc-types.ts
Due: biome-fix, format, validate-changesets

align kill signal implementation
  packages/sandbox/src/process.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Migrate OpenCode e2e worker to the lifecycle handle
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: format

Persist OpenCode desired-state across DO eviction
  .changeset/opencode-lifecycle.md
  examples/opencode/src/index.ts
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/tests/opencode/persistence.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Track the OpenCode server by a named process
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/lifecycle.test.ts
  packages/sandbox/tests/opencode/persistence.test.ts
  packages/sandbox/tests/opencode/server.test.ts
Due: biome-fix, format

Re-ensure OpenCode servers across container starts
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/src/opencode/sandbox.ts
  packages/sandbox/tests/opencode/registry.test.ts
Due: biome-fix, format

Add OpenCode client builder
  packages/sandbox/src/opencode/client.ts
  packages/sandbox/tests/opencode/client.test.ts
Due: biome-fix, format

Update OpenCode example to the lifecycle surface
  .changeset/opencode-lifecycle.md
  examples/opencode/src/index.ts
Due: biome-fix, format, validate-changesets

Make OpenCode re-ensure best-effort on container start
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/tests/opencode/registry.test.ts
Due: biome-fix, format

Remove deprecated OpenCode free-function surface
  .changeset/opencode-lifecycle.md
  packages/sandbox/src/opencode/index.ts
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/server.test.ts
Due: biome-fix, format, validate-changesets

Add curried OpenCode Worker proxy
  packages/sandbox/src/opencode/proxy.ts
  packages/sandbox/tests/opencode/proxy.test.ts
Due: biome-fix, format

Add OpenCode lifecycle handle
  packages/sandbox/src/opencode/lifecycle.ts
  packages/sandbox/tests/opencode/lifecycle.test.ts
Due: biome-fix, format

Test OpenCode persistence across DO eviction
  packages/sandbox/tests/opencode/eviction-fixture.ts
  packages/sandbox/tests/opencode/eviction-worker.ts
  packages/sandbox/tests/opencode/eviction.test.ts
  packages/sandbox/tests/wrangler.jsonc
  packages/sandbox/tsconfig.json
Due: biome-fix, format

Escape directory in OpenCode serve command
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/tests/opencode/eviction.test.ts
  packages/sandbox/tests/opencode/lifecycle.test.ts
  packages/sandbox/tests/opencode/persistence.test.ts
  packages/sandbox/tests/opencode/server.test.ts
Due: biome-fix, format

Align bridge worker vitest-pool-workers version
  bridge/worker/package.json
  package-lock.json
Due: format
