Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

Add input validation to setContainerTimeouts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: format

Simplify tests
  packages/sandbox/tests/sandbox.test.ts
Due: format

Fix data loss when persisting completed processes
  packages/sandbox-container/src/services/process-store.ts
Due: format

Fix list() directory check that prevented disk scanning
  packages/sandbox-container/src/services/process-store.ts
Due: format

Add comprehensive unit tests for ProcessStore
  packages/sandbox-container/tests/services/process-store.test.ts
Due: format

Add E2E tests for completed process retrieval and listing
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

Update bucket-mounting test to use new fetch pattern
  tests/e2e/bucket-mounting.test.ts
Due: format

Remove dot-prefix from process storage directory
  packages/sandbox-container/src/services/process-store.ts
  packages/sandbox-container/tests/services/process-store.test.ts
Due: format

Add bidirectional R2 verification to bucket mounting test
  PR-204-REVIEW-REPORT.md
  RESILIENCY-REVIEW-REPORT.md
  tests/e2e/bucket-mounting.test.ts
  tests/integration/src/endpoints/bucket.ts
  tests/integration/src/endpoints/index.ts
  tests/integration/src/index.ts
  tests/integration/wrangler.jsonc
Due: format

Add R2 bucket binding to E2E test worker
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
  tests/integration/src/endpoints/bucket.ts
  tests/integration/src/endpoints/index.ts
  tests/integration/src/index.ts
  tests/integration/wrangler.jsonc
Due: format

enable biome check on examples
  biome.json
  examples/code-interpreter/src/index.ts
  examples/typescript-validator/Dockerfile
  examples/typescript-validator/src/App.tsx
  examples/typescript-validator/src/components/CodeViewerSheet.tsx
  examples/typescript-validator/src/components/FlowDiagram.tsx
  examples/typescript-validator/tsconfig.json
Due: format

Add preview_bucket_name for local development
  tests/e2e/test-worker/wrangler.template.jsonc
Due: none

Improve container startup resiliency (#223)
  .changeset/container-resiliency.md
  PR-204-REVIEW-REPORT.md
  RESILIENCY-REVIEW-REPORT.md
  package-lock.json
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/env.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/build-test-workflow.test.ts
  tests/e2e/code-interpreter-workflow.test.ts
  tests/e2e/environment-workflow.test.ts
  tests/e2e/file-operations-workflow.test.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/keepalive-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/session-state-isolation-workflow.test.ts
  tests/e2e/streaming-operations-workflow.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/wrangler.template.jsonc
  tests/e2e/websocket-workflow.test.ts
Due: format, validate-changesets

Reorder imports and update lefthook config
  biome.json
  examples/code-interpreter/src/index.ts
  examples/typescript-validator/src/App.tsx
  examples/typescript-validator/src/components/CodeViewerSheet.tsx
  examples/typescript-validator/src/components/FlowDiagram.tsx
  examples/typescript-validator/vite.config.ts
  examples/typescript-validator/worker/compiler.ts
  examples/typescript-validator/worker/index.ts
  lefthook.yml
Due: format

enable biome check on examples (#225)
  biome.json
  examples/code-interpreter/src/index.ts
  examples/typescript-validator/Dockerfile
  examples/typescript-validator/src/App.tsx
  examples/typescript-validator/src/components/CodeViewerSheet.tsx
  examples/typescript-validator/src/components/FlowDiagram.tsx
  examples/typescript-validator/tsconfig.json
  examples/typescript-validator/vite.config.ts
  examples/typescript-validator/worker/compiler.ts
  examples/typescript-validator/worker/index.ts
  lefthook.yml
Due: format

Change bucket mounting to patch
  .changeset/bucket-mounting.md
Due: format, validate-changesets

Fix race condition in process status updates
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

Version Packages (#228)
  .changeset/bucket-mounting.md
  .changeset/container-resiliency.md
  .changeset/loose-bats-cross.md
  examples/claude-code/Dockerfile
  examples/code-interpreter/Dockerfile
  examples/minimal/Dockerfile
  examples/typescript-validator/Dockerfile
  package-lock.json
  packages/sandbox/CHANGELOG.md
  packages/sandbox/package.json
  packages/sandbox/src/version.ts
  tests/e2e/test-worker/Dockerfile
  tests/integration/Dockerfile
Due: format, validate-changesets

Update lockfile
  package-lock.json
Due: format

Clear activeMounts on container stop
  packages/sandbox/src/sandbox.ts
Due: format

Fix lockfile sync in Version Packages workflow
  .github/changeset-version.ts
  package-lock.json
Due: format

delete stray files generated by claude code
  PR-204-REVIEW-REPORT.md
  RESILIENCY-REVIEW-REPORT.md
Due: format

delete stray files generated by claude code (#230)
  PR-204-REVIEW-REPORT.md
  RESILIENCY-REVIEW-REPORT.md
Due: format

Update Dockerfile
  examples/openai-agents/Dockerfile
Due: none

remove dead code
  examples/openai-agents/src/index.ts
Due: format

openai agents shell example
  examples/openai-agents/Dockerfile
  examples/openai-agents/README.md
  examples/openai-agents/env.d.ts
  examples/openai-agents/index.html
  examples/openai-agents/package.json
  examples/openai-agents/public/favicon.ico
  examples/openai-agents/public/normalize.css
  examples/openai-agents/src/app.tsx
  examples/openai-agents/src/index.css
  examples/openai-agents/src/index.ts
  examples/openai-agents/tsconfig.json
  examples/openai-agents/vite.config.ts
  examples/openai-agents/wrangler.jsonc
  examples/typescript-validator/index.html
  examples/typescript-validator/src/index.css
  examples/typescript-validator/wrangler.jsonc
  package-lock.json
Due: format

Add file editing and improved logging to OpenAI agents example
  examples/openai-agents/Dockerfile
  examples/openai-agents/README.md
  examples/openai-agents/package.json
  examples/openai-agents/src/app.tsx
  examples/openai-agents/src/index.css
  examples/openai-agents/src/index.ts
  examples/openai-agents/src/logger.ts
  package-lock.json
Due: format

Improve error handling and logging utilities
  examples/openai-agents/src/index.ts
Due: format

remove logger from example
  examples/openai-agents/src/index.ts
  examples/openai-agents/src/logger.ts
Due: format

Update package.json
  examples/openai-agents/package.json
Due: format

Add OpenAI Agents adapters for Cloudflare Sandbox
  .changeset/lovely-friends-study.md
  examples/openai-agents/src/app.tsx
  examples/openai-agents/src/index.ts
  examples/openai-agents/src/types.ts
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/openai/index.ts
  packages/sandbox/tests/openai-shell-editor.test.ts
  packages/sandbox/tsdown.config.ts
Due: format, validate-changesets

Refactor types and remove unused dependency
  examples/openai-agents/env.d.ts
  examples/openai-agents/package.json
  examples/openai-agents/src/app.tsx
  examples/openai-agents/src/index.ts
  examples/openai-agents/src/types.ts
  package-lock.json
Due: format

Fix path resolution for absolute workspace paths
  packages/sandbox/src/openai/index.ts
  packages/sandbox/tests/openai-shell-editor.test.ts
Due: format

Create OPENAI_AGENTS.md
  docs/OPENAI_AGENTS.md
Due: format

Add path traversal protection to Editor operations
  examples/openai-agents/README.md
  packages/sandbox/src/openai/index.ts
  packages/sandbox/tests/openai-shell-editor.test.ts
Due: format

Refactor imports and fix useEffect dependencies
  examples/openai-agents/src/app.tsx
  examples/openai-agents/src/index.ts
  examples/openai-agents/vite.config.ts
  package-lock.json
Due: format

Update lovely-friends-study.md
  .changeset/lovely-friends-study.md
Due: format, validate-changesets

use a seesion id to key the sandbox instance
  examples/openai-agents/package.json
  examples/openai-agents/src/app.tsx
  examples/openai-agents/src/index.ts
  package-lock.json
Due: format

openai agents shell/apply_patch example (#221)
  .changeset/lovely-friends-study.md
  docs/OPENAI_AGENTS.md
  examples/openai-agents/Dockerfile
  examples/openai-agents/README.md
  examples/openai-agents/env.d.ts
  examples/openai-agents/index.html
  examples/openai-agents/package.json
  examples/openai-agents/public/favicon.ico
  examples/openai-agents/public/normalize.css
  examples/openai-agents/src/app.tsx
  examples/openai-agents/src/index.css
  examples/openai-agents/src/index.ts
  examples/openai-agents/tsconfig.json
  examples/openai-agents/vite.config.ts
  examples/openai-agents/wrangler.jsonc
  examples/typescript-validator/index.html
  examples/typescript-validator/src/index.css
  examples/typescript-validator/wrangler.jsonc
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/openai/index.ts
  packages/sandbox/tests/openai-shell-editor.test.ts
  packages/sandbox/tsdown.config.ts
Due: format, validate-changesets

Remove unused AsyncLocalStorage infrastructure
  CLAUDE.md
  package-lock.json
  packages/sandbox-container/src/config.ts
  packages/sandbox/src/openai/index.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/index.ts
  packages/shared/src/logger/index.ts
  packages/shared/tests/logger.test.ts
Due: format
