Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Rewrite changeset for end users
  .changeset/fix-ws-transport-reentrant-deadlock.md
Due: format, validate-changesets

only intercept when interceptHttps is true
  packages/sandbox-container/src/server.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

update changeset
  .changeset/load-runtime-intercept-ca-cert.md
Due: format, validate-changesets

Trust injected CA certificate on sandbox startup
  .changeset/load-runtime-intercept-ca-cert.md
  packages/sandbox-container/src/cert.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/tests/cert.test.ts
  packages/sandbox-container/tests/main.test.ts
Due: biome-fix, format, validate-changesets

Fix workflow test timing out
  tests/e2e/standalone-binary-workflow.test.ts
Due: format

immediately check cert file exists
  packages/sandbox-container/src/cert.ts
Due: biome-fix, format

hard exit if certificate fails to load
  packages/sandbox-container/src/cert.ts
  packages/sandbox-container/tests/cert.test.ts
Due: biome-fix, format

remove interceptHttps override
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

support multiple system CA bundles + fail-fast error handling
  packages/sandbox-container/src/cert.ts
  packages/sandbox-container/tests/cert.test.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

improve failure logs
  packages/sandbox-container/src/cert.ts
Due: biome-fix, format

Fix Go base image build failures
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
Due: none

Add runtime identity API
  .changeset/runtime-identity-api.md
  packages/sandbox-container/src/handlers/misc-handler.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/tests/handlers/misc-handler.test.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/utility-client.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  tests/e2e/runtime-identity-workflow.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/types.ts
Due: biome-fix, format, validate-changesets

Clarify runtime identity compatibility errors
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/tests/utility-client.test.ts
Due: biome-fix, format

Bump containers to 0.2.3
  .changeset/container-0-2-3.md
  packages/sandbox/package.json
Due: format, validate-changesets

Add TTL to performance tests output
  .github/workflows/performance.yml
  tests/perf/scripts/ingest-to-d1.ts
Due: format

REVERT! Required for fork.
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/changeset-publish.ts
  .github/changeset-version.ts
  .github/crane-copy-retry.sh
  .github/load-docker-images.sh
  .github/path-filters.yml
  .github/resolve-workspace-versions.ts
  .github/templates/pr-preview-comment.md
  .github/templates/pr-preview-main-comment.md
  .github/version-script.ts
  .github/workflows/bonk.yml
  .github/workflows/cleanup.yml
  .github/workflows/performance.yml
  .github/workflows/pr-privileged.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build.yml
  .github/workflows/reusable-e2e.yml
  .github/workflows/reusable-quality.yml
Due: format

Add basic example of using bridge with OpenAI Agents SDK
  bridge/examples/basic/.env.example
  bridge/examples/basic/AGENTS.md
  bridge/examples/basic/README.md
  bridge/examples/basic/main.py
Due: format

Add unmount verification to bucket mounting E2E test
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/test-worker/index.ts
  tests/e2e/test-worker/types.ts
Due: format

Update @cloudflare/containers to 0.3.0
  .changeset/containers-030.md
  package-lock.json
  packages/sandbox/package.json
Due: format, validate-changesets

Remove stale ts-expect-error comments
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Add backup/restore & mount performance tests
  tests/e2e/test-worker/index.ts
  tests/perf/helpers/constants.ts
  tests/perf/helpers/perf-sandbox-manager.ts
  tests/perf/scenarios/backup-restore.test.ts
  tests/perf/scenarios/bucket-mounting.test.ts
Due: format

Fix git clone timeout controls
  .changeset/git-clone-timeout.md
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/git-handler.ts
  packages/sandbox-container/src/managers/git-manager.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/managers/git-manager.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/git-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/index.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/git-client.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/git.ts
  packages/shared/src/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  tests/e2e/git-clone-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Update perf worker for new scenarios
  .github/workflows/performance.yml
  tests/e2e/test-worker/wrangler.perf.template.jsonc
Due: format

Use helper methods
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/perf/scenarios/backup-restore.test.ts
  tests/perf/scenarios/bucket-mounting.test.ts
Due: format

Remove expect from perf tests
  tests/perf/scenarios/backup-restore.test.ts
  tests/perf/scenarios/bucket-mounting.test.ts
Due: format

Update packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/git-service.ts
Due: biome-fix, format

Fix unmountBucket ignoring fusermount failures
  .changeset/fix-unmount-bucket.md
  packages/sandbox/Dockerfile
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/errors.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Update env variables
  .github/workflows/performance.yml
Due: format

use correct bucket binding
  tests/perf/scenarios/bucket-mounting.test.ts
Due: format

fix incorrect mount path
  tests/perf/scenarios/bucket-mounting.test.ts
Due: format

add perfEnv helper for env variables
  tests/perf/global-setup.ts
  tests/perf/helpers/get-worker-url.ts
  tests/perf/scenarios/backup-restore.test.ts
  tests/perf/scenarios/bucket-mounting.test.ts
Due: format

remove local backup/restore test
  tests/perf/scenarios/backup-restore.test.ts
Due: format

Add more complex example of using OpenAI Agents SDK
  bridge/examples/workspace-chat/.gitignore
  bridge/examples/workspace-chat/AGENTS.md
  bridge/examples/workspace-chat/README.md
  bridge/examples/workspace-chat/backend/.env.example
  bridge/examples/workspace-chat/backend/main.py
  bridge/examples/workspace-chat/backend/pyproject.toml
  bridge/examples/workspace-chat/backend/uv.lock
  bridge/examples/workspace-chat/frontend/index.html
  bridge/examples/workspace-chat/frontend/package-lock.json
  bridge/examples/workspace-chat/frontend/package.json
  bridge/examples/workspace-chat/frontend/public/favicon.ico
  bridge/examples/workspace-chat/frontend/src/client.tsx
  bridge/examples/workspace-chat/frontend/src/index.tsx
  bridge/examples/workspace-chat/frontend/src/styles.css
  bridge/examples/workspace-chat/frontend/tsconfig.json
  bridge/examples/workspace-chat/frontend/vite.config.ts
  bridge/examples/workspace-chat/script/clean
  bridge/examples/workspace-chat/script/start
Due: format

pass env variables to vitest
  tests/perf/global-setup.ts
  tests/perf/scenarios/backup-restore.test.ts
  turbo.json
  vitest.perf.config.ts
Due: format

fix local mount test
  tests/perf/scenarios/bucket-mounting.test.ts
Due: format

Add mount bucket performance tests
  .github/workflows/performance.yml
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/perf/helpers/constants.ts
  tests/perf/helpers/perf-sandbox-manager.ts
  tests/perf/scenarios/bucket-mounting.test.ts
  turbo.json
Due: format

change mount to last test
  .github/workflows/performance.yml
  tests/perf/scenarios/z-bucket-mounting.test.ts
Due: format

Publish sandbox images to CF Registry library
  .github/workflows/release.yml
  AGENTS.md
Due: format
