Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

feat: add file watching capabilities with inotify support (#324)
  .changeset/empty-poets-serve.md
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/watch-handler.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/routes/setup.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox-container/src/services/watch-service.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
  packages/sandbox-container/tests/services/watch-service.test.ts
  packages/sandbox/Dockerfile
  packages/sandbox/src/clients/index.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/clients/watch-client.ts
  packages/sandbox/src/file-stream.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/sse-parser.ts
  packages/sandbox/tests/sse-parser.test.ts
  packages/sandbox/tests/ws-transport.test.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
  packages/shared/src/index.ts
  packages/shared/src/sse.ts
  packages/shared/src/types.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/opencode-workflow.test.ts
  tests/e2e/process-lifecycle-workflow.test.ts
  tests/e2e/test-worker/index.ts
Due: biome-fix, format, validate-changesets

Fix lint errors in desktop example and biome config
  biome.json
  examples/desktop/package.json
  examples/desktop/src/index.css
Due: format

Add desktop E2E test Dockerfile and config generation
  tests/e2e/test-worker/Dockerfile.desktop
  tests/e2e/test-worker/generate-config.sh
Due: none

Add desktop image to CI build, push, and cleanup workflows
  .github/workflows/cleanup-stale.yml
  .github/workflows/cleanup.yml
  .github/workflows/pullrequest.yml
Due: format

Adopt canonical log lines across SDK and container
  packages/sandbox-container/src/handlers/pty-ws-handler.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/middleware/logging.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/logger/index.ts
  packages/shared/src/logger/logger.ts
  packages/shared/src/logger/types.ts
Due: biome-fix, format

Fix Go build: pin golang.org/x/net to Go 1.24-compatible version
  packages/sandbox-container/native/desktop-wrapper/go.mod
Due: none

Keep pretty logs on a single line
  packages/shared/src/logger/logger.ts
  packages/shared/tests/logger.test.ts
Due: biome-fix, format

Fix JS executor path resolution and spawn logs
  packages/sandbox-container/src/runtime/process-pool.ts
Due: biome-fix, format

Fix FFI type mismatch and clickCount handling
  packages/sandbox-container/src/services/desktop-service.ts
  packages/sandbox-container/src/workers/desktop-worker.ts
Due: biome-fix, format

Guard desktop stop in destroy() on container state
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Revert accidental backup and token doc changes
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add error resilience to desktop worker and manager
  packages/sandbox-container/src/managers/desktop-manager.ts
  packages/sandbox-container/src/services/desktop-service.ts
Due: biome-fix, format

Fix FFI out-pointer semantics and skip stream-url in CI
  packages/sandbox-container/src/workers/desktop-worker.ts
  tests/e2e/desktop-environment.test.ts
Due: biome-fix, format

feat: add global error handlers to prevent fragmented stack traces in logs
  .agents/skills/logging-best-practices/README.md
  .agents/skills/logging-best-practices/SKILL.md
  .agents/skills/logging-best-practices/rules/context.md
  .agents/skills/logging-best-practices/rules/pitfalls.md
  .agents/skills/logging-best-practices/rules/structure.md
  .agents/skills/logging-best-practices/rules/wide-events.md
  .claude/skills/logging-best-practices
  .pi/skills/logging-best-practices
  .windsurf/skills/logging-best-practices
  packages/sandbox-container/src/main.ts
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/src/server.ts
  skills-lock.json
Due: biome-fix, format

Finally get embedded vite with HMR working
  examples/vite-sandbox/sandbox-app/counter.js
  examples/vite-sandbox/sandbox-app/index.html
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/App.jsx
  examples/vite-sandbox/src/index.js
  examples/vite-sandbox/vite.config.js
  examples/vite-sandbox/wrangler.jsonc
Due: biome-fix, format

Reset manager state on start failure
  packages/sandbox-container/src/managers/desktop-manager.ts
Due: biome-fix, format

Stop forwarding SANDBOX_LOG_FORMAT to container
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Use pure-Go xgb path for GetScreenSize
  packages/sandbox-container/native/desktop-wrapper/main.go
Due: none

Upgrade robotgo to v1.0.1 with uniform error handling
  packages/sandbox-container/native/desktop-wrapper/go.mod
  packages/sandbox-container/native/desktop-wrapper/go.sum
  packages/sandbox-container/native/desktop-wrapper/main.go
  packages/sandbox-container/src/workers/desktop-worker.ts
Due: biome-fix, format

Remove scattered service-layer error logs in favor of wide events
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/interpreter-service.ts
  packages/sandbox-container/src/services/port-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/port-service.test.ts
Due: biome-fix, format

Add desktop image to release pipeline
  .github/workflows/release.yml
Due: format

Use experimental plugin to get everything working!
  examples/vite-sandbox/package.json
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/index.js
  examples/vite-sandbox/vite.config.js
  package-lock.json
Due: biome-fix, format

formatting
  examples/vite-sandbox/vite.config.js
Due: biome-fix, format

Fix heredoc commands hanging due to indentation
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/session.test.ts
Due: biome-fix, format

Add changeset for heredoc fix
  .changeset/fix-heredoc-indentation.md
Due: format, validate-changesets

add docker-bake.hcl for multi-image build configuration
  docker-bake.hcl
Due: none

add reusable-quality workflow with 3 parallel jobs
  .github/workflows/reusable-quality.yml
Due: format

set instance_type standard-4 for E2E test worker containers
  tests/e2e/test-worker/wrangler.template.jsonc
Due: none

add reusable-build workflow with bake and registry cache
  .github/workflows/reusable-build.yml
Due: format

add pr.yml composing reusable workflows with conditional execution
  .github/workflows/pr.yml
Due: format

add reusable-e2e workflow with parallel test jobs
  .github/workflows/reusable-e2e.yml
Due: format

rewrite release.yml to compose reusable workflows with crane copy
  .github/workflows/release.yml
Due: format

rewrite cleanup.yml to unify PR-close and daily sweep with per-step timeouts
  .github/workflows/cleanup.yml
Due: format

rewrite performance.yml with Docker cache, shared artifacts, stable worker name
  .github/workflows/performance.yml
Due: format

delete replaced workflows and cleanup script
  .github/workflows/cleanup-stale.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/pullrequest.yml
  .github/workflows/sync-docs.yml
  scripts/cleanup-test-deployment.sh
Due: format

remove unnecessary changeset (CI-only change)
  .changeset/ci-restructure.md
Due: format, validate-changesets

add changeset for CI restructure
  .changeset/ci-restructure.md
Due: format, validate-changesets

add desktop image variant to bake config and build pipeline
  .github/workflows/reusable-build.yml
  docker-bake.hcl
Due: format
