Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

feat: support CLAUDE_CODE_OAUTH_TOKEN for subscription auth
  examples/claude-code/src/index.ts
Due: biome-fix, format

docs: update .dev.vars.example for subscription auth option
  examples/claude-code/.dev.vars.example
Due: none

docs: document subscription auth and add usage example
  examples/claude-code/README.md
Due: format

feat: add /sub route for Claude.ai subscription auth
  examples/claude-code/src/index.ts
Due: biome-fix, format

docs: update .dev.vars.example for both auth routes
  examples/claude-code/.dev.vars.example
Due: none

docs: rewrite README to document both routes
  examples/claude-code/README.md
Due: format

fix: prevent stream controller race condition errors
  .bun-version
  .changeset/fix-stream-controller-race.md
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/handlers/process-handler.test.ts
  tests/e2e/stream-controller-race.test.ts
Due: biome-fix, format, validate-changesets

test: stabilize background streaming destroy assertion
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
Due: biome-fix, format

test: fix stream controller race e2e routes
  tests/e2e/stream-controller-race.test.ts
Due: format

split heavy tests into independent process
  .github/workflows/performance.yml
  package.json
  packages/sandbox/package.json
  tests/e2e/test-worker/wrangler.perf.template.jsonc
  tests/perf/heavy/backup-restore.test.ts
  tests/perf/heavy/bucket-mounting.test.ts
  tests/perf/helpers/constants.ts
  tests/perf/helpers/perf-sandbox-manager.ts
  turbo.json
  vitest.perf-heavy.config.ts
Due: format

Fix shellQuote to handle newlines and control characters
  bridge/src/__tests__/exec.test.ts
  bridge/src/__tests__/shellQuote.test.ts
  bridge/src/index.ts
Due: format

Mount backup archives from R2 during restore
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Mount backup archives from R2 during restore
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Retry lazy unmount for backup R2 mounts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Add changeset for backup restore mount
  .changeset/rude-poems-kneel.md
Due: format, validate-changesets

Handle binary file writes via base64 encoding in the bridge
  bridge/src/__tests__/persist.test.ts
  bridge/src/__tests__/unmount.test.ts
  bridge/src/__tests__/write.test.ts
  bridge/src/index.ts
Due: format

Use Filesystem capability in bridge examples
  bridge/examples/basic/README.md
  bridge/examples/basic/main.py
  bridge/examples/workspace-chat/README.md
  bridge/examples/workspace-chat/backend/main.py
Due: format

Add drag-and-drop file upload to workspace chat
  bridge/examples/workspace-chat/backend/main.py
  bridge/examples/workspace-chat/frontend/src/client.tsx
Due: format

DELETE calls destroy(), returns 204, releases pool
  bridge/src/__tests__/destroy.test.ts
  bridge/src/__tests__/helpers.ts
  bridge/src/index.ts
  bridge/src/warm-pool.ts
Due: format

Update OpenAPI spec for v1 routes, sessions, destroy
  bridge/src/openapi.ts
Due: format

Add session CRUD routes and X-Session-Id header support
  bridge/src/__tests__/helpers.ts
  bridge/src/__tests__/session.test.ts
  bridge/src/index.ts
Due: format

Add BridgeSandbox type for type-safe sandbox access
  bridge/src/index.ts
Due: format

Fix deploy and token scripts for robustness
  bridge/script/deploy
  bridge/script/integration
  bridge/script/token
Due: none

Update docs and tests for v1 API prefix
  bridge/AGENTS.md
  bridge/README.md
  bridge/harness/src/main.py
  bridge/script/integration
  bridge/src/__tests__/middleware.test.ts
  bridge/src/__tests__/session.test.ts
Due: format

Rename X-Session-Id to Session-Id in bridge
  bridge/AGENTS.md
  bridge/README.md
  bridge/examples/workspace-chat/backend/pyproject.toml
  bridge/examples/workspace-chat/backend/uv.lock
  bridge/src/__tests__/session.test.ts
  bridge/src/index.ts
  bridge/src/openapi.ts
Due: format

Stream deploy output and show target account
  bridge/script/deploy
Due: none

Add /v1/ prefix to all API routes
  bridge/src/__tests__/helpers.ts
  bridge/src/__tests__/hydrate.test.ts
  bridge/src/__tests__/middleware.test.ts
  bridge/src/__tests__/mount.test.ts
  bridge/src/__tests__/persist.test.ts
  bridge/src/__tests__/pty.test.ts
  bridge/src/__tests__/read.test.ts
  bridge/src/__tests__/unmount.test.ts
  bridge/src/__tests__/write.test.ts
  bridge/src/index.ts
Due: format

Fix type error in getSandbox
  bridge/src/index.ts
Due: format

Fix missing try/except in workspace_info_endpoint
  bridge/examples/workspace-chat/backend/main.py
Due: none

Improve error message when sandbox session is unavailable
  bridge/examples/workspace-chat/backend/main.py
Due: none

Reset sandbox and workspace when clearing chat
  bridge/examples/workspace-chat/backend/main.py
  bridge/examples/workspace-chat/frontend/src/client.tsx
Due: format

Collapse thinking messages with click-to-expand toggle
  bridge/examples/workspace-chat/frontend/src/client.tsx
Due: format

Handle exec timeouts in file browser endpoints gracefully
  bridge/examples/workspace-chat/backend/main.py
Due: none

Stream reasoning summary events to the frontend
  bridge/examples/workspace-chat/backend/main.py
Due: none

Remove python-dotenv in favor of uv built-in env loading
  bridge/examples/basic/main.py
  bridge/examples/workspace-chat/backend/main.py
  bridge/examples/workspace-chat/backend/pyproject.toml
Due: none

Align bridge dependency versions with root workspace
  bridge/package.json
  package-lock.json
Due: format

Remove redundant bridge scripts
  bridge/script/check
  bridge/script/format
  bridge/script/integration
  bridge/script/start
Due: none

Add Codex App Server example
  examples/codex-app-server/.dev.vars.example
  examples/codex-app-server/.gitignore
  examples/codex-app-server/Dockerfile
  examples/codex-app-server/README.md
  examples/codex-app-server/package.json
  examples/codex-app-server/public/index.html
  examples/codex-app-server/run-integration-tests.sh
  examples/codex-app-server/src/index.ts
  examples/codex-app-server/src/rpc.ts
  examples/codex-app-server/test-egress.mjs
  examples/codex-app-server/test.mjs
  examples/codex-app-server/tsconfig.json
  examples/codex-app-server/worker-configuration.d.ts
  examples/codex-app-server/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
