Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Add more tests and address Devin's comments
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/tests/runtime/process-pool-concurrency.test.ts
Due: biome-fix, format

Update e2e to prevent flakiness
  tests/e2e/parallel-context-creation.test.ts
Due: format

Solve race condition
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/tests/runtime/process-pool-concurrency.test.ts
Due: biome-fix, format

Fix HMR port handling and malformed JSONC in README
  examples/vite-sandbox/README.md
  examples/vite-sandbox/sandbox-app/vite.config.js
  examples/vite-sandbox/src/worker.js
Due: biome-fix, format

Replace per-run cleanup with capacity-aware LRU eviction
  .github/workflows/cleanup.yml
  .github/workflows/pr-privileged.yml
  .github/workflows/reusable-e2e.yml
Due: format

Move control port validation into the Durable Object
  packages/sandbox/src/pty/proxy.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Move control port validation into the Durable Object (#528)
  packages/sandbox/src/pty/proxy.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

Drop queued-run protection and remove nightly cache eviction
  .github/workflows/cleanup.yml
  .github/workflows/reusable-e2e.yml
Due: format

Retry WebSocket upgrade on cold start
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Fix WebSocket upgrade retry timeouts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Allow PR E2E workflow to read actions
  .github/workflows/pr-privileged.yml
Due: format

Revert "Allow PR E2E workflow to read actions"
  .github/workflows/pr-privileged.yml
Due: format

Expose process and onStart on OpencodeServer
  packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/types.ts
  packages/sandbox/tests/opencode/opencode.test.ts
Due: biome-fix, format

Add experimental OpenCode sandbox example
  examples/experimental/opencode/.dev.vars.example
  examples/experimental/opencode/.gitignore
  examples/experimental/opencode/Dockerfile.code-sandbox
  examples/experimental/opencode/Dockerfile.opencode-sandbox
  examples/experimental/opencode/opencode-sandbox/bun.lock
  examples/experimental/opencode/opencode-sandbox/cloudflare-sandbox/logger.ts
  examples/experimental/opencode/opencode-sandbox/cloudflare-sandbox/rpc.ts
  examples/experimental/opencode/opencode-sandbox/package.json
  examples/experimental/opencode/opencode-sandbox/plugins/cloudflare-sandbox.ts
  examples/experimental/opencode/opencode-sandbox/tools/bash.ts
  examples/experimental/opencode/opencode-sandbox/tools/edit.ts
  examples/experimental/opencode/opencode-sandbox/tools/glob.ts
  examples/experimental/opencode/opencode-sandbox/tools/grep.ts
  examples/experimental/opencode/opencode-sandbox/tools/list.ts
  examples/experimental/opencode/opencode-sandbox/tools/read.ts
  examples/experimental/opencode/opencode-sandbox/tools/write.ts
  examples/experimental/opencode/opencode-sandbox/tsconfig.json
  examples/experimental/opencode/package-lock.json
  examples/experimental/opencode/package.json
  examples/experimental/opencode/tsconfig.json
  examples/experimental/opencode/worker-configuration.d.ts
  examples/experimental/opencode/worker/src/index.ts
  examples/experimental/opencode/wrangler.jsonc
  package-lock.json
  package.json
Due: biome-fix, format

Add README and AGENTS to experimental opencode example
  examples/experimental/opencode/AGENTS.md
  examples/experimental/opencode/README.md
Due: format

Resolve CodeInterpreter client lazily via getter
  packages/sandbox/src/interpreter.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
Due: biome-fix, format

Add container startup to WebSocket upgrade path
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
Due: biome-fix, format

Accept client-getter in LocalMountSyncManager
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-mount-sync.test.ts
Due: biome-fix, format

Fix process tree kill grace period and test gaps
  docs/SESSION_EXECUTION_DEEP_DIVE.md
  packages/sandbox-container/src/session.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: biome-fix, format

Add inline comments at client resolution sites
  packages/sandbox/src/interpreter.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add changeset
  .changeset/fix-port-fallback-gaps.md
Due: format, validate-changesets

Use canonical logging and stop leaking error messages in responses
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format

Revert "Fix port fallback gaps for WebSocket transport and long-lived client holders (#535)"
  .changeset/fix-port-fallback-gaps.md
  packages/sandbox/src/interpreter.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
Due: biome-fix, format, validate-changesets

Revert "Retry WebSocket upgrades during cold start (#530)"
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Add capnweb as a dependency to SDK and container packages
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox/package.json
Due: format

Expose SessionManager in DI container
  packages/sandbox-container/src/core/container.ts
Due: biome-fix, format

Add native RPC API and capnweb WebSocket endpoint to container
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Support streaming file writes in container and update shared types
  packages/sandbox-container/src/services/file-service.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Add capnweb transport to SDK transport layer
  packages/sandbox/src/clients/transport/capnweb-transport.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/index.ts
  packages/sandbox/src/clients/transport/types.ts
Due: biome-fix, format

Add ContainerConnection and RPCSandboxClient
  packages/sandbox/src/clients/rpc-sandbox-client.ts
  packages/sandbox/src/container-connection.ts
Due: biome-fix, format

Add unit tests for capnweb transport and ContainerConnection
  packages/sandbox/tests/capnweb-transport.test.ts
  packages/sandbox/tests/container-connection.test.ts
Due: biome-fix, format

Integrate capnweb transport into Sandbox DO
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add E2E tests for capnweb transport
  tests/e2e/capnweb-transport.test.ts
Due: format

Add acronym casing style guide to AGENTS.md
  AGENTS.md
Due: format

Add missing writeFileStream interface to SandboxClient
  packages/sandbox/src/clients/sandbox-client.ts
Due: biome-fix, format

Add temporary pointer to capnweb branch with bun support
  package-lock.json
  packages/sandbox-container/package.json
  packages/sandbox/package.json
  tooling/typescript-config/bun.json
Due: format

Remove HTTP bridge now that all RPC endpoints call services directly
  packages/sandbox-container/src/rpc/sandbox-api.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/capnweb-transport.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/index.ts
  packages/sandbox/src/container-connection.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/capnweb-transport.test.ts
Due: biome-fix, format
