Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Block bucket mutations in credential proxy
  .changeset/restrict-credential-proxy-bucket-operations.md
  packages/sandbox/src/storage-mount/outbound/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets

Block bucket mutations in credential proxy
  .changeset/restrict-credential-proxy-bucket-operations.md
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets

Block bucket mutations in credential proxy (#920)
  .changeset/restrict-credential-proxy-bucket-operations.md
  packages/sandbox/src/storage-mount/outbound/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets

Block bucket mutations in credential proxy (#919)
  .changeset/restrict-credential-proxy-bucket-operations.md
  packages/sandbox/src/storage-mount/s3-credential-proxy-handler.ts
  packages/sandbox/tests/s3-credential-proxy-handler.test.ts
Due: biome-fix, format, validate-changesets

Add merge queue validation
  .github/path-filters.yml
  .github/workflows/merge-queue.yml
Due: format

Add merge queue validation (#921)
  .github/path-filters.yml
  .github/workflows/merge-queue.yml
Due: format

Fix File exists errors in restored backups
  .changeset/upgrade-fuse-overlayfs.md
  packages/sandbox/Dockerfile
  tests/e2e/backup-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.opencode
  tests/e2e/test-worker/Dockerfile.python
Due: format, validate-changesets

Fix File exists errors in restored backups (#922)
  .changeset/upgrade-fuse-overlayfs.md
  packages/sandbox/Dockerfile
  tests/e2e/backup-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.opencode
  tests/e2e/test-worker/Dockerfile.python
Due: format, validate-changesets

Use argv commands in restore recreate test
  tests/e2e/backup-workflow.test.ts
Due: format

Push version PR updates through the GitHub API
  .github/workflows/release.yml
Due: format

Fix File exists errors in restored backups (#923)
  .changeset/upgrade-fuse-overlayfs.md
  packages/sandbox/Dockerfile
  tests/e2e/backup-workflow.test.ts
  tests/e2e/test-worker/Dockerfile
  tests/e2e/test-worker/Dockerfile.opencode
  tests/e2e/test-worker/Dockerfile.python
Due: format, validate-changesets

Wait longer for published release state
  .github/stable-release-engine.ts
Due: format

Report response bodies for failed E2E requests
  tests/e2e/backup-workflow.test.ts
  tests/e2e/bucket-mounting.test.ts
  tests/e2e/file-watch-workflow.test.ts
  tests/e2e/helpers/test-fixtures.ts
  tests/e2e/process-lifecycle-workflow.test.ts
Due: format

Reapply inactivity timeouts in each Durable Object
  docs/about-sandboxes.md
  examples/artifact-workspace/src/index.ts
  examples/workspace/src/index.ts
Due: biome-fix, format

Log error details in examples
  docs/preview-a-web-app.md
  examples/artifact-workspace/src/index.ts
  examples/checkpoint-workspace/src/index.ts
  examples/preview-workspace/src/index.ts
  examples/workspace/src/index.ts
Due: biome-fix, format

Add a live preview workspace example
  README.md
  docs/about-sandboxes.md
  docs/preview-a-web-app.md
  examples/preview-workspace/Dockerfile
  examples/preview-workspace/README.md
  examples/preview-workspace/app/index.html
  examples/preview-workspace/app/package-lock.json
  examples/preview-workspace/app/package.json
  examples/preview-workspace/app/src/main.js
  examples/preview-workspace/app/vite.config.js
  examples/preview-workspace/src/index.ts
  examples/preview-workspace/wrangler.jsonc
  knip.json
  package.json
Due: biome-fix, format

Build the package before checking it
  package.json
Due: format

Stop killing shims that reported a file error
  packages/sandbox/src/files/command.ts
  packages/sandbox/src/files/read-file.ts
  packages/sandbox/src/files/write-file.ts
  packages/sandbox/src/shared/shim.ts
  packages/sandbox/tests/stat-file.test.ts
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Add a Pi coding agent example
  .gitignore
  README.md
  docs/run-a-coding-agent.md
  examples/coding-agents/README.md
  examples/coding-agents/pi/Dockerfile
  examples/coding-agents/pi/README.md
  examples/coding-agents/pi/src/index.ts
  examples/coding-agents/pi/wrangler.jsonc
  examples/coding-agents/shared/handler.ts
  examples/coding-agents/shared/outbound.ts
  examples/coding-agents/shared/sandbox.ts
  knip.json
  package-lock.json
  package.json
Due: biome-fix, format

Add a Codex coding agent example
  examples/coding-agents/README.md
  examples/coding-agents/codex/Dockerfile
  examples/coding-agents/codex/README.md
  examples/coding-agents/codex/src/index.ts
  examples/coding-agents/codex/wrangler.jsonc
  package.json
Due: biome-fix, format

Add a Claude Code coding agent example
  examples/coding-agents/README.md
  examples/coding-agents/claude-code/Dockerfile
  examples/coding-agents/claude-code/README.md
  examples/coding-agents/claude-code/src/index.ts
  examples/coding-agents/claude-code/wrangler.jsonc
  package.json
Due: biome-fix, format

Add an OpenCode coding agent example
  examples/coding-agents/README.md
  examples/coding-agents/opencode/Dockerfile
  examples/coding-agents/opencode/README.md
  examples/coding-agents/opencode/src/index.ts
  examples/coding-agents/opencode/wrangler.jsonc
  package.json
Due: biome-fix, format

Add a terminal workspace example
  README.md
  docs/open-a-terminal.md
  examples/terminal-workspace/Dockerfile
  examples/terminal-workspace/README.md
  examples/terminal-workspace/src/index.ts
  examples/terminal-workspace/src/page.ts
  examples/terminal-workspace/wrangler.jsonc
  package.json
Due: biome-fix, format

Show how to list a directory tree with Files
  docs/files.md
Due: format

Stop following caller signals after a shim exits
  docs/files.md
  docs/s3-mounts-api.md
  packages/sandbox/src/shared/shim.ts
  packages/sandbox/tests/mkdir.test.ts
  packages/sandbox/tests/read-directory.test.ts
  packages/sandbox/tests/read-file.test.ts
  packages/sandbox/tests/remove.test.ts
  packages/sandbox/tests/rename.test.ts
  packages/sandbox/tests/stat-file.test.ts
  packages/sandbox/tests/write-file.test.ts
Due: biome-fix, format

Add a background process example
  README.md
  docs/migrate/README.md
  docs/migrate/api-map.md
  docs/migrate/background-processes.md
  docs/run-background-processes.md
  examples/process-workspace/Dockerfile
  examples/process-workspace/README.md
  examples/process-workspace/src/index.ts
  examples/process-workspace/src/processes.ts
  examples/process-workspace/wrangler.jsonc
  package.json
Due: biome-fix, format

Add a guide for migrating from the Sandbox class
  README.md
  docs/migrate/README.md
  docs/migrate/api-map.md
  docs/migrate/commands-and-files.md
  docs/migrate/your-own-durable-object.md
Due: format

Document that exec users must be numeric uid:gid
  docs/files.md
  docs/open-a-terminal.md
  packages/sandbox/src/files/files.ts
Due: biome-fix, format

Keep terminal shells running across reconnects
  README.md
  docs/migrate/README.md
  docs/migrate/api-map.md
  docs/migrate/terminals.md
  docs/open-a-terminal.md
  examples/terminal-workspace/Dockerfile
  examples/terminal-workspace/README.md
  examples/terminal-workspace/src/index.ts
  examples/terminal-workspace/src/page.ts
Due: biome-fix, format

Stop logging command text and output
  .agents/skills/logging/SKILL.md
  .changeset/omit-command-text-from-logs.md
  packages/sandbox-container/src/security/security-service.ts
  packages/sandbox-container/src/services/execution-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/session.test.ts
  packages/sandbox/src/openai/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/openai-shell-editor.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
  packages/shared/src/logger/sanitize.ts
  packages/shared/tests/logger/canonical.test.ts
  packages/shared/tests/logger/sanitize.test.ts
Due: biome-fix, format, validate-changesets

Stop logging exec command text
  .agents/skills/logging/SKILL.md
  .changeset/omit-command-text-from-logs.md
  packages/sandbox-container/src/security/security-service.ts
  packages/sandbox/src/openai/index.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/openai-shell-editor.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/shared/src/index.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
  packages/shared/src/logger/sanitize.ts
  packages/shared/tests/logger/canonical.test.ts
  packages/shared/tests/logger/sanitize.test.ts
Due: biome-fix, format, validate-changesets

Say that only ports 80 and 443 are intercepted
  docs/run-a-coding-agent.md
  examples/coding-agents/README.md
  examples/coding-agents/shared/outbound.ts
Due: biome-fix, format

Say what replaces every removed API
  docs/migrate/api-map.md
Due: format

Add an example that backs up a directory to R2
  README.md
  docs/back-up-a-directory.md
  docs/migrate/README.md
  docs/migrate/api-map.md
  docs/migrate/backups.md
  examples/backup-workspace/Dockerfile
  examples/backup-workspace/README.md
  examples/backup-workspace/src/index.ts
  examples/backup-workspace/wrangler.jsonc
  package.json
Due: biome-fix, format

Add an example that shares ports and tunnels
  README.md
  docs/migrate/README.md
  docs/migrate/api-map.md
  docs/migrate/ports-and-tunnels.md
  docs/share-a-port.md
  examples/share-workspace/Dockerfile
  examples/share-workspace/README.md
  examples/share-workspace/src/index.ts
  examples/share-workspace/wrangler.jsonc
  package.json
Due: biome-fix, format

Add an example that changes outbound rules at runtime
  README.md
  docs/control-outbound-requests.md
  docs/migrate/README.md
  docs/migrate/api-map.md
  docs/migrate/outbound-network.md
  examples/outbound-workspace/Dockerfile
  examples/outbound-workspace/README.md
  examples/outbound-workspace/src/index.ts
  examples/outbound-workspace/src/rules.ts
  examples/outbound-workspace/wrangler.jsonc
  package.json
Due: biome-fix, format

Update Wrangler to 4.137.0
  docs/migrate/api-map.md
  docs/migrate/bucket-mounts.md
  docs/s3-mounts.md
  examples/artifact-workspace/README.md
  examples/artifact-workspace/worker-configuration.d.ts
  examples/coding-agents/README.md
  package.json
Due: biome-fix, format

Add a guide for moving bucket mounts
  docs/migrate/README.md
  docs/migrate/api-map.md
  docs/migrate/bucket-mounts.md
  docs/s3-mounts.md
  examples/artifact-workspace/README.md
Due: format

Accept an extra CA in local image builds
  README.md
  images/sandbox-tools/Dockerfile
  package.json
  packages/sandbox/tests/s3-mounts.integration.test.ts
Due: biome-fix, format
