Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Increase bonk workflow timeout to 25 minutes (#467)
  .github/workflows/bonk.yml
Due: format

Use correct path methods
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add shell option to PtyOptions for custom shell support
  packages/sandbox-container/src/handlers/pty-ws-handler.ts
  packages/sandbox-container/src/pty.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox/src/pty/proxy.ts
  packages/shared/src/pty-types.ts
Due: biome-fix, format

Simplify loop
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Fix transport timeout handling to avoid connection resets
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/base-transport.ts
  packages/sandbox/src/clients/transport/types.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add changeset
  .changeset/many-deers-dance.md
Due: format, validate-changesets

Add shell option to PTY (#469)
  .changeset/many-deers-dance.md
  packages/sandbox-container/src/handlers/pty-ws-handler.ts
  packages/sandbox-container/src/pty.ts
  packages/sandbox-container/src/server.ts
  packages/sandbox/src/pty/proxy.ts
  packages/shared/src/pty-types.ts
Due: biome-fix, format, validate-changesets

Pass session env vars to PTY on creation
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

Add backup exclude options and e2e coverage
  .changeset/backup-exclude-patterns.md
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

Deduplicate backup exclude patterns
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

refactor(backup): use gitignore defaults
  .changeset/backup-exclude-patterns.md
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format, validate-changesets

fix(backup): normalize prefix matching in gitignore resolution
  packages/sandbox-container/src/services/backup-service.ts
Due: biome-fix, format

fix(backup): list ignored files without collapsing dirs
  packages/sandbox-container/src/services/backup-service.ts
Due: biome-fix, format

fix(backup): scope gitignore excludes to backup dir
  packages/sandbox-container/src/services/backup-service.ts
Due: biome-fix, format

fix(backup): use wildcard mode for gitignore excludes
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format

fix(backup): restore relative exclude patterns
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format

Fix backup exclude path matching
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format

fix(backup): use null-delimited git ls-files output
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format

Fix Docker bake building from main instead of PR branch
  .github/workflows/reusable-build.yml
Due: format

Fix Docker bake building from main instead of PR branch (#473)
  .github/workflows/reusable-build.yml
Due: format

fix(backup): preserve special chars in gitignore paths without breaking mksquashfs format
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
Due: biome-fix, format

Remove conditional chaining
  packages/sandbox-container/src/services/session-manager.ts
Due: biome-fix, format

fix(sandbox): close activity tracking gaps in session and internal paths
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

test(sandbox): add tests for session and internal activity tracking paths
  packages/sandbox/tests/activity-guard.test.ts
Due: biome-fix, format

Fix keepAlive timeout reset
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format

fix(sandbox): wrap remaining untracked methods with activity guard
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/activity-guard.test.ts
Due: biome-fix, format

fix(sandbox): remove double activity tracking from exec() method
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/activity-guard.test.ts
Due: biome-fix, format

Update packages/sandbox/src/opencode/opencode.ts
  packages/sandbox/src/opencode/opencode.ts
Due: biome-fix, format

Fix sandboxes staying awake after disabling keepAlive
  .changeset/great-eagles-relate.md
Due: format, validate-changesets

Fix keepAlive timeout reset (#476)
  .changeset/great-eagles-relate.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets

Handle exec timeouts correctly (#450)
  .changeset/propagate-command-timeouts.md
  packages/sandbox-container/src/handlers/session-handler.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/clients/utility-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
  tests/e2e/command-timeout.test.ts
Due: biome-fix, format, validate-changesets

feat(backup): change useGitignore default to false and require git when enabled
  packages/sandbox-container/src/handlers/backup-handler.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/tests/services/backup-service.test.ts
  packages/sandbox/src/clients/backup-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/types.ts
  tests/e2e/backup-workflow.test.ts
Due: biome-fix, format

Update .changeset/backup-exclude-patterns.md
  .changeset/backup-exclude-patterns.md
Due: format, validate-changesets

Update tests/e2e/backup-workflow.test.ts
  tests/e2e/backup-workflow.test.ts
Due: format

Update packages/sandbox/tests/activity-guard.test.ts
  packages/sandbox/tests/activity-guard.test.ts
Due: biome-fix, format

[WIP] Add local R2 file syncing to sandbox
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/storage-mount/index.ts
  packages/sandbox/src/storage-mount/types.ts
  packages/sandbox/tests/local-mount-sync.test.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Review patches
  packages/sandbox/src/local-mount-sync.ts
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
