Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

Repro setup for egress issue
  examples/minimal/src/index.ts
  examples/minimal/worker-configuration.d.ts
  examples/minimal/wrangler.jsonc
  package-lock.json
  packages/sandbox/package.json
  packages/sandbox/src/index.ts
Due: biome-fix, format

Repro setup for egress issue
  examples/minimal/src/index.ts
Due: biome-fix, format

Propagate origin through container execute paths
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
Due: biome-fix, format

Santize logs of high-entropy values
  .changeset/exec-log-redaction.md
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox/src/clients/command-client.ts
  packages/shared/src/index.ts
  packages/shared/src/log-sanitize.ts
  packages/shared/tests/log-sanitize.test.ts
Due: biome-fix, format, validate-changesets

Add version.check severity matrix
  packages/sandbox/src/sandbox.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
Due: biome-fix, format

Mark container shell-outs as internal origin
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
Due: biome-fix, format

Add origin to process-client startProcess for completeness
  packages/sandbox/src/clients/process-client.ts
Due: biome-fix, format

Test logCanonicalEvent debug/warn dispatch and precedence
  packages/shared/tests/logger/canonical.test.ts
Due: biome-fix, format

Keep 5xx middleware logs at warn, fix process-client pattern
  packages/sandbox-container/src/middleware/logging.ts
  packages/sandbox/src/clients/process-client.ts
Due: biome-fix, format

Update changeset for picomatch version bump
  .changeset/fuzzy-avocados-rule.md
Due: format, validate-changesets

Fix middleware test expectations for 5xx at warn level
  packages/sandbox-container/tests/middleware/logging.test.ts
Due: biome-fix, format

Remove SANDBOX_LOG_FORMAT from perf wrangler template
  tests/e2e/test-worker/wrangler.perf.template.jsonc
Due: none

Fix some missed sinks
  .changeset/exec-log-redaction.md
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/clients/process-client.ts
  packages/shared/src/log-sanitize.ts
  packages/shared/tests/log-sanitize.test.ts
Due: biome-fix, format, validate-changesets

Remove the plan
  .devbox/plan.md
  capnweb-cleanup-plan.md
Due: format

Reduce log noise with origin-based severity and centralized policy (#521)
  packages/sandbox-container/src/core/types.ts
  packages/sandbox-container/src/handlers/execute-handler.ts
  packages/sandbox-container/src/middleware/logging.ts
  packages/sandbox-container/src/services/backup-service.ts
  packages/sandbox-container/src/services/file-service.ts
  packages/sandbox-container/src/services/git-service.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox-container/tests/middleware/logging.test.ts
  packages/sandbox-container/tests/services/file-service.test.ts
  packages/sandbox-container/tests/services/git-service.test.ts
  packages/sandbox-container/tests/services/process-service.test.ts
  packages/sandbox-container/tests/services/session-manager-locking.test.ts
  packages/sandbox/src/clients/command-client.ts
  packages/sandbox/src/clients/process-client.ts
  packages/sandbox/src/sandbox.ts
  packages/shared/src/index.ts
  packages/shared/src/logger/canonical.ts
  packages/shared/src/logger/canonical.types.ts
  packages/shared/src/logger/index.ts
  packages/shared/src/request-types.ts
  packages/shared/src/types.ts
  packages/shared/tests/logger/canonical.test.ts
  tests/e2e/test-worker/wrangler.perf.template.jsonc
Due: biome-fix, format

Update changeset
  .changeset/logging-wide-events.md
Due: format, validate-changesets

update changeset
  .changeset/update-containers-sdk.md
Due: format, validate-changesets

Make container control plane port configurable via SANDBOX_CONTROL_PORT env var
  packages/sandbox-container/src/config.ts
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/src/security/security-service.ts
  packages/sandbox-container/src/server.ts
Due: biome-fix, format

Stop per-run image deletion to restore Docker cache
  .github/workflows/cleanup.yml
  .github/workflows/pr-privileged.yml
Due: format

Add tests
  packages/sandbox-container/tests/config.test.ts
  packages/sandbox/tests/configurable-port.test.ts
  packages/sandbox/tests/request-handler.test.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
Due: biome-fix, format

Update Dockerfiles
  examples/claude-code/Dockerfile
  examples/openai-agents/Dockerfile
  packages/sandbox/Dockerfile
  tests/e2e/test-worker/Dockerfile.musl
  tests/e2e/test-worker/Dockerfile.standalone
Due: none

Propagate configurable control port through SDK and shared types
  packages/sandbox-container/src/config.ts
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/sandbox-client.ts
  packages/sandbox/src/clients/transport/factory.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/src/pty/proxy.ts
  packages/sandbox/src/request-handler.ts
  packages/sandbox/src/sandbox.ts
  packages/sandbox/src/security.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

Update existing tests
  packages/sandbox-container/tests/handlers/execute-handler.test.ts
  packages/sandbox-container/tests/handlers/file-handler.test.ts
  packages/sandbox-container/tests/handlers/git-handler.test.ts
  packages/sandbox-container/tests/handlers/interpreter-handler.test.ts
  packages/sandbox-container/tests/handlers/misc-handler.test.ts
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  packages/sandbox-container/tests/handlers/process-handler.test.ts
  packages/sandbox-container/tests/handlers/session-handler.test.ts
  packages/sandbox-container/tests/handlers/watch-handler.test.ts
  packages/sandbox-container/tests/security/security-service.test.ts
  packages/sandbox/tests/base-client.test.ts
  packages/sandbox/tests/command-client.test.ts
  packages/sandbox/tests/configurable-port.test.ts
  packages/sandbox/tests/desktop-client.test.ts
  packages/sandbox/tests/file-client.test.ts
  packages/sandbox/tests/git-client.test.ts
  packages/sandbox/tests/port-client.test.ts
  packages/sandbox/tests/process-client.test.ts
  packages/sandbox/tests/request-handler.test.ts
  packages/sandbox/tests/sandbox-error-handling.test.ts
  packages/sandbox/tests/sandbox.test.ts
  packages/sandbox/tests/security.test.ts
  packages/sandbox/tests/transport.test.ts
  packages/sandbox/tests/utility-client.test.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Bonk changes
  packages/sandbox-container/src/config.ts
  packages/sandbox-container/src/security/security-service.ts
  packages/sandbox-container/tests/security/security-service.test.ts
  packages/sandbox/Dockerfile
Due: biome-fix, format

Add e2e tests
  packages/sandbox-container/tests/handlers/port-handler.test.ts
  tests/e2e/control-port-workflow.test.ts
Due: biome-fix, format

Add changeset
  .changeset/configurable-control-port.md
Due: format, validate-changesets

Fix e2e tests
  tests/e2e/control-port-workflow.test.ts
Due: format

Update markdown files
  AGENTS.md
  docs/STANDALONE_BINARY.md
Due: format

Remove unneeded test + provide templating for control port in docker files
  docker-bake.hcl
  examples/claude-code/Dockerfile
  examples/openai-agents/Dockerfile
  packages/sandbox-container/tests/config.test.ts
  packages/sandbox/Dockerfile
  packages/sandbox/scripts/docker-local.sh
  tests/e2e/test-worker/Dockerfile.musl
  tests/e2e/test-worker/Dockerfile.standalone
Due: biome-fix, format

Make port configurable
  AGENTS.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
Due: biome-fix, format

Address bonk's comments
  examples/claude-code/Dockerfile
  examples/openai-agents/Dockerfile
  packages/sandbox/src/request-handler.ts
Due: biome-fix, format

Address Devin
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox-control-port.test.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Change changeset to patch
  .changeset/configurable-control-port.md
Due: format, validate-changesets

Address Devin comments
  packages/sandbox/src/clients/base-client.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

Fix missing import
  packages/sandbox-container/src/security/security-service.ts
Due: biome-fix, format

Fix parallel context creation serialization in process pool
  packages/sandbox-container/src/runtime/process-pool.ts
  packages/sandbox-container/tests/runtime/process-pool-concurrency.test.ts
Due: biome-fix, format

Use semaphores to clean up approach
  packages/sandbox-container/src/runtime/process-pool.ts
Due: biome-fix, format

Add more tests
  packages/sandbox-container/tests/runtime/process-pool-concurrency.test.ts
  tests/e2e/parallel-context-creation.test.ts
Due: biome-fix, format

Updatw test to pass CI
  tests/e2e/parallel-context-creation.test.ts
Due: format
