Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  commands:
    biome-fix:
      glob: '{packages,examples,sites}/**/*.{js,ts,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true

    format:
      glob: '*.{js,json,ts,tsx,md,yml,yaml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    validate-changesets:
      glob: '.changeset/*.md'
      run: node scripts/validate-changesets.js {staged_files}

pre-push:
  commands:
    typecheck:
      run: npm run typecheck

update http tests
  tests/e2e/pty-workflow.test.ts
Due: format

more test updates
  tests/e2e/pty-workflow.test.ts
Due: format

Remove official Claude plugins marketplace URL
  .github/workflows/claude-code-review.yml
Due: format

Remove official Claude plugins marketplace URL (#311)
  .github/workflows/claude-code-review.yml
Due: format

remove the plugin for review
  .github/workflows/claude-code-review.yml
Due: format

Add error handling to PTY callbacks and terminal operations
  packages/sandbox-container/src/managers/pty-manager.ts
Due: biome-fix, format

Improve PTY error handling based on code review
  packages/sandbox-container/src/handlers/pty-handler.ts
  packages/sandbox-container/src/managers/pty-manager.ts
Due: biome-fix, format

add structured exit codes
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  packages/shared/src/index.ts
  packages/shared/src/types.ts
Due: biome-fix, format

change fire and forget strategy
  packages/sandbox-container/src/core/container.ts
  packages/sandbox-container/src/handlers/pty-handler.ts
  packages/sandbox-container/src/services/process-service.ts
  packages/sandbox-container/src/services/session-manager.ts
  packages/sandbox-container/src/session.ts
  packages/sandbox/src/clients/pty-client.ts
  packages/sandbox/src/index.ts
  packages/shared/src/errors/codes.ts
  packages/shared/src/errors/status-map.ts
Due: biome-fix, format

add more e2e tests
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  tests/e2e/pty-workflow.test.ts
Due: biome-fix, format

more fixes and tests
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

fix ws
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  packages/sandbox/src/clients/pty-client.ts
Due: biome-fix, format

update error propagation
  packages/sandbox/src/clients/pty-client.ts
Due: biome-fix, format

update resizing tests
  packages/sandbox/src/clients/pty-client.ts
  tests/e2e/pty-workflow.test.ts
Due: biome-fix, format

add collab terminal example
  examples/collaborative-terminal/Dockerfile
  examples/collaborative-terminal/README.md
  examples/collaborative-terminal/index.html
  examples/collaborative-terminal/package.json
  examples/collaborative-terminal/src/App.tsx
  examples/collaborative-terminal/src/index.ts
  examples/collaborative-terminal/src/main.tsx
  examples/collaborative-terminal/tsconfig.json
  examples/collaborative-terminal/vite.config.ts
  examples/collaborative-terminal/wrangler.jsonc
  package-lock.json
Due: biome-fix, format

Potential fix for code scanning alert no. 40: Insecure randomness
  examples/collaborative-terminal/src/index.ts
Due: biome-fix, format

Potential fix for code scanning alert no. 41: Insecure randomness
  examples/collaborative-terminal/src/App.tsx
Due: biome-fix, format

Update dependency in examples
  examples/collaborative-terminal/package.json
Due: format

Add PTY listeners cleanup
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

minor nits
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  packages/sandbox/src/clients/transport/http-transport.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
Due: biome-fix, format

update tests setup
  packages/sandbox-container/tests/managers/pty-manager.test.ts
Due: biome-fix, format

Add logging for PTY listener registration errors and improve error handling
  packages/sandbox-container/src/handlers/pty-handler.ts
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  packages/sandbox/src/clients/pty-client.ts
Due: biome-fix, format

Enhance error handling and logging in WebSocketTransport and PtyHandler; add tests for PTY listener registration and cleanup behavior
  packages/sandbox-container/src/handlers/pty-handler.ts
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  packages/sandbox/src/clients/transport/ws-transport.ts
  packages/sandbox/tests/ws-transport.test.ts
Due: biome-fix, format

Add connection-specific PTY listener cleanup on WebSocket close
  packages/sandbox-container/src/handlers/ws-adapter.ts
  packages/sandbox-container/tests/handlers/ws-adapter.test.ts
Due: biome-fix, format

Remove outdated comment regarding connection cleanup functions in WebSocketAdapter
  packages/sandbox-container/src/handlers/ws-adapter.ts
Due: biome-fix, format

build.ts: resolve bun PATH robustly in Ubuntu snap
  packages/sandbox-container/build.ts
Due: biome-fix, format

update the testimonials
  sites/sandbox/src/sections/testimonials.tsx
Due: biome-fix, format

remove unused var
  sites/sandbox/src/sections/testimonials.tsx
Due: biome-fix, format

Fix error handling in PTY management by updating kill method to return success status and error messages
  packages/sandbox-container/src/handlers/pty-handler.ts
  packages/sandbox-container/src/managers/pty-manager.ts
  packages/sandbox-container/tests/managers/pty-manager.test.ts
  packages/sandbox/src/clients/pty-client.ts
  packages/sandbox/tests/pty-client.test.ts
Due: biome-fix, format

Add R2 backup for OpenCode sessions
  examples/opencode/src/backup.ts
  examples/opencode/src/index.ts
  examples/opencode/worker-configuration.d.ts
  examples/opencode/wrangler.jsonc
Due: biome-fix, format

fix: persist keepAlive setting to DO storage
  package-lock.json
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Fix: Renew activity timeout when keepAlive is enabled
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

Add keepAlive flag to Sandbox initialization and storage
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format

add more tests
  tests/e2e/keepalive-workflow.test.ts
Due: format

Create spicy-emus-jog.md
  .changeset/spicy-emus-jog.md
Due: format, validate-changesets

Fix keepAlive setting persistence in DO storage
  .changeset/early-bulldogs-train.md
Due: format, validate-changesets

fix: persist keepAlive setting to DO storage (#317)
  .changeset/early-bulldogs-train.md
  package-lock.json
  packages/sandbox/src/sandbox.ts
Due: biome-fix, format, validate-changesets

Add unit tests for keepAlive persistence, remove flaky E2E hibernation test
  packages/sandbox/tests/sandbox.test.ts
  tests/e2e/keepalive-workflow.test.ts
Due: biome-fix, format

Fix sleepAfter option via getSandbox() being ignored
  .changeset/fix-sleepafter-rpc-timing.md
  packages/sandbox/src/sandbox.ts
  packages/sandbox/tests/sandbox.test.ts
Due: biome-fix, format, validate-changesets
