Repository cloudflare/sandbox-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: biome-fix, format, validate-changesets

biome-fix:
  run: npx biome check --write {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

validate-changesets:
  run: node scripts/validate-changesets.js {staged_files}

Stop listing the classes that use the shim
  images/sandbox-tools/DOCKER_HUB.md
Due: format

Build the S3 tests' MinIO image from its release
  packages/sandbox/tests/fixtures/minio/Dockerfile
  packages/sandbox/tests/s3-gateway.integration.test.ts
  packages/sandbox/tests/s3-mounts.integration.test.ts
  packages/sandbox/tests/s3-native-local.integration.test.ts
Due: biome-fix, format

Let prereleases release from any branch
  .github/workflows/release.yml
  docs/releasing.md
Due: format

Set the version to 1.0.0-rc.0
  Cargo.lock
  crates/sandbox-tools/Cargo.toml
  package-lock.json
  packages/sandbox/package.json
Due: format

Point README docs links at the current pages
  examples/coding-agents/README.md
  examples/minimal/README.md
  examples/outbound-workspace/README.md
  examples/share-workspace/README.md
  examples/workspace/README.md
  packages/sandbox/README.md
Due: format

Share the mount table parser
  crates/sandbox-tools/src/main.rs
  crates/sandbox-tools/src/mountinfo.rs
  crates/sandbox-tools/src/s3_mount/linux_mount.rs
  crates/sandbox-tools/src/s3_mount/model.rs
Due: none

Keep restores from deleting files in mounts
  crates/sandbox-tools/src/directory_backup/restore.rs
  crates/sandbox-tools/src/directory_backup/sys.rs
  crates/sandbox-tools/src/mountinfo.rs
  crates/sandbox-tools/src/test_support.rs
  crates/sandbox-tools/tests/directory_backup.rs
  docs/testing.md
  images/sandbox-tools/Dockerfile
  package.json
  packages/sandbox/src/directory-backups/directory-backups.ts
Due: biome-fix, format

Check restore targets for mounts in one place
  crates/sandbox-tools/src/directory_backup/capture.rs
  crates/sandbox-tools/src/directory_backup/restore.rs
  crates/sandbox-tools/src/directory_backup/sys.rs
  crates/sandbox-tools/tests/directory_backup.rs
Due: none

Let backups work beside a catch-all intercept
  packages/sandbox/src/directory-backups/directory-backups.ts
  packages/sandbox/tests/directory-backups.test.ts
Due: biome-fix, format

Set the version to 1.0.0-rc.1
  Cargo.lock
  crates/sandbox-tools/Cargo.toml
  package-lock.json
  packages/sandbox/package.json
Due: format

Name the module classes in the singular
  docs/architecture.md
  docs/examples.md
  docs/s3-mount-design.md
  docs/shim-protocol.md
  examples/artifact-workspace/src/index.ts
  examples/backup-workspace/README.md
  examples/backup-workspace/src/index.ts
  package.json
  packages/sandbox/README.md
  packages/sandbox/src/directory-backup/contracts.ts
  packages/sandbox/src/directory-backup/directory-backup-gateway.ts
  packages/sandbox/src/directory-backup/directory-backup.ts
  packages/sandbox/src/directory-backup/gateway.ts
  packages/sandbox/src/directory-backup/protocol.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/s3-mount/contracts.ts
  packages/sandbox/src/s3-mount/credentials.ts
  packages/sandbox/src/s3-mount/gateway-policy.ts
  packages/sandbox/src/s3-mount/gateway.ts
  packages/sandbox/src/s3-mount/protocol.ts
  packages/sandbox/src/s3-mount/reconcile.ts
  packages/sandbox/src/s3-mount/request.ts
  packages/sandbox/src/s3-mount/route.ts
  packages/sandbox/src/s3-mount/s3-gateway.ts
  packages/sandbox/src/s3-mount/s3-mount.ts
  packages/sandbox/tests/directory-backup-gateway.test.ts
  packages/sandbox/tests/directory-backup.test.ts
  packages/sandbox/tests/fixtures/s3-native-local/worker.ts
  packages/sandbox/tests/packed-api.test.ts
  packages/sandbox/tests/public-api.test.ts
  packages/sandbox/tests/r2-bucket-double.ts
  packages/sandbox/tests/s3-gateway.integration.test.ts
  packages/sandbox/tests/s3-gateway.test.ts
  packages/sandbox/tests/s3-mount.integration.test.ts
  packages/sandbox/tests/s3-mount.test.ts
  packages/sandbox/tests/shim-contract.test.mjs
Due: biome-fix, format

Set the version to 1.0.0-rc.2
  Cargo.lock
  crates/sandbox-tools/Cargo.toml
  package-lock.json
  packages/sandbox/package.json
Due: format

Keep canceled restores from replacing the target
  crates/sandbox-tools/src/directory_backup/lifeline.rs
  crates/sandbox-tools/src/directory_backup/mod.rs
  crates/sandbox-tools/src/directory_backup/restore.rs
  crates/sandbox-tools/tests/directory_backup.rs
  docs/shim-protocol.md
  examples/backup-workspace/README.md
  packages/sandbox/src/directory-backup/contracts.ts
  packages/sandbox/src/directory-backup/directory-backup.ts
  packages/sandbox/src/directory-backup/protocol.ts
  packages/sandbox/src/shared/shim.ts
  packages/sandbox/tests/directory-backup.test.ts
Due: biome-fix, format

Set the version to 1.0.0
  Cargo.lock
  crates/sandbox-tools/Cargo.toml
  package-lock.json
  packages/sandbox/package.json
Due: format

Create a GitHub release for each version
  .github/workflows/release.yml
  docs/releasing.md
Due: format

Restore the required pull request checks
  .github/CODEOWNERS
  .github/workflows/pr-privileged.yml
  .github/workflows/pr.yml
  docs/testing.md
  package.json
Due: format

Deploy examples through one helper
  .github/workflows/pr-privileged.yml
  .github/workflows/pr.yml
  .gitignore
  docs/examples.md
  docs/testing.md
  package-lock.json
  package.json
  tools/example.ts
  tsconfig.json
Due: format

Make each coding agent a standalone template
  .github/workflows/pr.yml
  docs/examples.md
  docs/testing.md
  examples/coding-agents/README.md
  examples/coding-agents/claude-code/README.md
  examples/coding-agents/claude-code/src/index.ts
  examples/coding-agents/claude-code/src/runner/handler.ts
  examples/coding-agents/claude-code/src/runner/outbound.ts
  examples/coding-agents/claude-code/src/runner/sandbox.ts
  examples/coding-agents/codex/README.md
  examples/coding-agents/codex/src/index.ts
  examples/coding-agents/codex/src/runner/handler.ts
  examples/coding-agents/codex/src/runner/outbound.ts
  examples/coding-agents/codex/src/runner/sandbox.ts
  examples/coding-agents/opencode/README.md
  examples/coding-agents/opencode/src/index.ts
  examples/coding-agents/opencode/src/runner/handler.ts
  examples/coding-agents/opencode/src/runner/outbound.ts
  examples/coding-agents/opencode/src/runner/sandbox.ts
  examples/coding-agents/pi/README.md
  examples/coding-agents/pi/src/index.ts
  examples/coding-agents/pi/src/runner/handler.ts
  examples/coding-agents/pi/src/runner/outbound.ts
  examples/coding-agents/pi/src/runner/sandbox.ts
  examples/coding-agents/runner/handler.ts
  examples/coding-agents/runner/outbound.ts
  examples/coding-agents/runner/sandbox.ts
  knip.json
  tools/example.ts
  vite.config.ts
Due: biome-fix, format

Update source-map-js and undici
  examples/preview-workspace/app/package-lock.json
  openai/agents-api/package-lock.json
  openai/agents-api/package.json
  openai/agents-api/worker-configuration.d.ts
  package-lock.json
Due: format

Path conditions:
  biome-fix: any of: {packages,examples,sites}/**/*.{js,ts,tsx}
  format: any of: *.{js,json,ts,tsx,md,yml,yaml}
  validate-changesets: any of: .changeset/*.md
